<form action="{{ providerURL }}" method="POST">
    <button ng-if="enable" type="submit" class="btn btn-block jh-btn-social jh-btn-{{ provider }}">
        <span>Sign in with {{ label }}</span>
    </button>
    <button ng-if="!enable && label=='Google'" class="custom-button white-background-btn" style="margin-left: 7.5%;">Signup with <i class='fa fa-google-plus font-weight-800' aria-hidden='true'></i></button>
    <button ng-if="!enable && label=='Facebook'" class="custom-button white-background-btn" style="margin-left: 5%;">Signup with <i class='fa fa-facebook font-weight-800' aria-hidden='true'></i></button>
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>
