<div>
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h1>Activation</h1>

          <div class="alert alert-success" ng-show="vm.success">
              <strong>Your user has been activated.</strong> Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.
          </div>

          <div class="alert alert-danger" ng-show="vm.error">
              <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
          </div>

      </div>
  </div>
  <style>
    .cover
    {
        background:url('content/images/background.jpg') no-repeat center center;
        min-height:100%;
        background-size:cover;
    }
  </style>
</div>
