<style>
  .dimension-page .dimension-title {
    font-size: 26px;
    font-family: "Open Sans", sans-serif, "Arial";
    border: none;
    font-weight: 100;
    color: #3A4C60;
  }

  .pos-abs {
    position: absolute;
    top: 228px;
    right: 224px;
    border-radius: 15%;
    padding: 0px;
    font-size: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #e39c12;
    background-color: #fdb52a;
  }

  .dimension-page .caption-inside-row {
    margin: 0px;
  }

  .container {
    width: 98.5%
  }

  .dimension-page .avatar-img-01 {
    float: left;
  }

  .dimension-page .dimension-title ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(56, 75, 95, .5);
    font-size: 32px;
  }

  .dimension-page .dimension-title ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(56, 75, 95, .5);
  }

  .dimension-page .textSmallGrey ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(56, 75, 95, .5);
  }

  .dimension-page .textSmallGrey ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(56, 75, 95, .5);
  }

  .dimension-page .dimension-search .force-overflow {
    min-height: 450px;
  }

  .dimension-page #style-1::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #e3f0f6;
  }

  .dimension-page.dimension-page #style-1::-webkit-scrollbar {
    width: 9px;
    background-color: #bfdae8;
    border-radius: 2px;
  }

  .dimension-page #style-1::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #bfdbe9;
  }

  .dimension-page .icon-lft-18 {
    padding-left: 17px
  }

  .dimension-page .btn {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .pad-l-r {
    padding-left: 0px;
    padding-right: 0px
  }
  /*.carousel-inner>.item>a>img,
  .carousel-inner>.item>img,
  .img-responsive,
  .thumbnail>img,
  .thumbnail a>img {
    height: 204px;
  }*/

  @media screen and (max-width: 768px) {
    .side-collapse-container {
      width: 100%;
      position: relative;
      left: 0;
      transition: left .4s;
    }
    .side-collapse-container.out {
      left: 200px;
    }
    .side-collapse {
      top: 30px;
      bottom: 0;
      left: 0;
      /*width: 200px;*/
      width: 100%;
      position: fixed;
      overflow: hidden;
      transition: width .4s;
      z-index: 96;
      background-color: #039BE4;
    }
    .side-collapse.in {
      width: 0;
    }
  }
</style>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1916013815339318', status: true, cookie: true,
      xfbml: true
    });
  };
  (function () {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
    $(document).ready(function () {
      var sideslider = $('[data-toggle=collapse-side]');
      var sel = sideslider.attr('data-target');
      var sel2 = sideslider.attr('data-target-2');

      sideslider.click(function (event) {
        $(sel).toggleClass('in');
        $(sel2).toggleClass('out');

      });
      // $('#dimension-page').click(function () {
      //   $(sel).toggleClass('in');
      //   $(sel2).toggleClass('out');
      // });
    });

  }());

</script>
<!-- Moble header -->
<nav ng-if="hideinTablet&&  hideinSmallDesktop && hideinBigDesktop" class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
  style="background-color: #ffffff;   height: 44px;">
  <ul class="navbar-tab col-md-12 tabs" style="border: none;">
    <span ng-show="!viewCollaborators" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container"
      style="color:#2196F3;padding: 10px 0px 10px 10px;font-size: 22px;" class="glyphicon glyphicon-menu-hamburger fa-lg" class="navbar-toggle pull-left"></span>

    <li class=" cols">

    </li>

    <!-- <li class=" cols"> </li> -->

    <!-- <li class=" cols">
    </li> -->
    <!-- <li class=" cols">
    </li> -->
    <li class=" cols">
      <span style="color:#2196F3;padding: 10px 0px 10px 0px;font-size: 18px;" class="glyphicon glyphicon-arrow-left" ng-click=vm.previousStateFun();></span>
    </li>

    <li class=" cols">    <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
         ng-click="vm.save()" >Save</button></li>

         <li class=" cols" ng-if="!vm.editPage">    <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
              ng-if="!vm.editPage" ui-sref="goal.newmobile({dimensionId:vm.dimension.id})" >&#43;&#32;Goal</button></li>

    <li class=" cols" ng-if="!vm.editPage">    <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
         ng-if="!vm.editPage" ng-click="vm.deleteDimension();" >Delete</button></li>

         <!-- <li class=" cols" ng-if="!vm.editPage">
           <img style="padding: 10px 0px 10px 0px;" src="/content/images/breadcrumbs/plus_ic-white.png" ng-if="!vm.editPage" ui-sref="goal.newmobile({dimensionId:vm.dimension.id})"
             class="img-pad">
         </li> -->
    <!-- <li class=" cols" ng-if="!vm.editPage">
      <img style="padding: 10px 0px 10px 0px;" src="/content/images/goal-detail-edit-page/delete_ic-white.png" ng-if="!vm.editPage"
        ng-click="vm.deleteDimension();" class="img-pad">
    </li> -->
    <!-- <li class=" cols">
      <img style="padding: 10px 0px 10px 0px;" src="/content/images/breadcrumbs/save-icon-white.png" class="img-pad" ng-click="vm.save()">
    </li> -->


  </ul>
</nav>
<!--*****************************-->
<!--<div style="background-color: rgba(0,0,0,0.5);" class="navbar side-collapse in" ng-show="!viewCollaborators" data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container">
    <div style="width: 50%; height: 100%; background-color: #039be4">
    <nav role="navigation" class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li style="color:white;padding: 10px 0px 10px 0px;" ng-click="changeView('collaborators');">
             <div style="float: left;"><img style="height: 15px; padding-left: 5px; padding-right: 7px;" src="/content/images/responsive/add-collaborator.png"></div>Add collaborators</li>
            <li style="color:white;padding: 10px 0px 10px 0px;" ng-click="changeView('Description');">
            <div style="float: left;"><img style="height: 15px; padding-left: 5px; padding-right: 7px;" src="/content/images/responsive/description.png"></div>Description</li>
            <li style="color:white;padding: 10px 0px 10px 0px;" ng-click="changeView('Collection');">
            <div style="float: left;"><img style="height: 15px; padding-left: 5px; padding-right: 7px;" src="/content/images/responsive/collection.png"></div>Collection</li>
            <li style="color:white;padding: 10px 0px 10px 0px;" ng-click="changeView('Tags');">
            <div style="float: left;"><img style="height: 15px; padding-left: 5px; padding-right: 7px;" src="/content/images/responsive/tags.png"></div> Tags</li>
        </ul>
    </nav>
    </div>
</div>-->
<!--*******************-->
<div ng-if="hideinTablet && hideinSmallDesktop && hideinBigDesktop" style="background-color: rgba(0,0,0,0.5);" class="navbar side-collapse in hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
  data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container">
  <div style="width: 60%; height: 10%; background-color: #039be4">
    <nav role="navigation" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li style="color:white;padding: 10px 0px 10px 24px;" ng-click="vm.change()"><span class="glyphicon glyphicon-edit"> </span> Add/Remove Goals</li>
        <!-- <li style="color:white;padding: 10px 0px 10px 24px;" ui-sref="dimension"><span class="glyphicon glyphicon-edit"> </span> Folders</li> -->
      </ul>
    </nav>
  </div>
</div>
<div class="hide_for_mobile" style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
        <div>
          <!--<img style="cursor: pointer;" src=" " ui-sref="goal" data-toggle="tooltip" data-placement="bottom" title="Home" class="img-pad">
          <img src="/content/images/breadcrumbs/divider.png">-->
          <span class="breadcrumbs-txt" style="cursor: pointer;" ui-sref="dimension">My Library</span>
          <img src="/content/images/breadcrumbs/arrow.png">
          <span class="breadcrumbs-txt" ui-sref="dimension.edit({id:vm.goal.dimensionId})">{{vm.goal.dimensionName}}</span>
        </div>
      </div>
      <div class="subheader-float-rht">
        <!--<img src="/content/images/goal-detail-edit-page/delete_ic.png" ui-sref="dimension-delete({id:vm.dimension.id})" class="img-pad">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/breadcrumbs/save.png" class="img-pad">-->
        <img src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" uib-tooltip="Go Back" tooltip-placement="bottom" ng-click=vm.previousStateFun();>
        <!--<img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ui-sref="dimension.edit({id:vm.dimension.id})" data-toggle="tooltip"
          data-placement="bottom" title="Edit Dimension" class="img-pad">-->

          <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
               ng-click="vm.save()" >Save</button>

           <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
                    ng-if="!vm.editPage" ui-sref="goal.new({dimensionId:vm.dimension.id})" uib-tooltip="Add New Goal To Folder" tooltip-placement="bottom">Add Goal</button>

          <button type="button" style="padding-left:5px;padding-right:5px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
                         ng-if="!vm.editPage" ng-click="vm.deleteDimension();" uib-tooltip="Delete Folder"
                           tooltip-placement="bottom">Delete</button>

        <!-- <img src="/content/images/breadcrumbs/divider.png" ng-if="!vm.editPage" class="img-pad">

        <img src="/content/images/breadcrumbs/plus_ic.png" ng-if="!vm.editPage" ui-sref="goal.new({dimensionId:vm.dimension.id})"
          uib-tooltip="Add New Goal To Folder" tooltip-placement="bottom" class="img-pad">
          <span ng-if="!vm.editPage">Add Goal</span>
        <img src="/content/images/breadcrumbs/divider.png" ng-if="!vm.editPage" class="img-pad">

        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-if="!vm.editPage" ng-click="vm.deleteDimension();" uib-tooltip="Delete Folder"
          tooltip-placement="bottom" class="img-pad">
          <span ng-if="!vm.editPage">Delete</span>
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad"> -->



        <!-- <img src="/content/images/breadcrumbs/save-icon.png" class="img-pad" uib-tooltip="Save Folder" tooltip-placement="bottom"
          ng-click="vm.save()">
          <span >Save</span> -->

      </div>
    </div>
  </div>
</div>

<!-- Content Start Here -->
<div class="container" id="dimension-page">
  <div class="row dimension-page" style="padding-left: 5.6%; padding-right: 5.6%; padding-top: 52px;">
    <!-- Dimension Title Start Here -->
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="avatar-img avatar-img-01" uib-tooltip="Add/Edit Photo" tooltip-placement="bottom" style="width: 8.33333333%">
            <img ng-click="vm.selectAvatar()" class="img-circle imagefit hide_for_smallmobile" style="height: 115px; width:115px; border-radius:50%"
              no-cache-src="{{vm.logoPath}}" id="imgForGoal" err-src="/content/images/dimension-new-edit/Photo.png" />
            <img ng-click="vm.selectAvatar()" class="img-circle imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile"
              style="height: 70px; width:70px; border-radius:50%" no-cache-src="{{vm.logoPath}}" id="imgForGoal" err-src="/content/images/dimension-new-edit/Photo.png"
            />
          </div>
          <div class="avatar-title avatar-img-01 col-md-11 col-sm-11 col-xs-11">
            <div class="dimension-title  col-md-6 col-sm-12 col-xs-12" style="font-size:28px; color:#4a6076;padding-right: 1px">

              <input type="text" class="form-control hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
                     placeholder="Name of Folder"
                     ng-model="vm.dimension.name"
                     style="background-color: #f8fafb;
                    border: none; box-shadow: none; padding-top: 0px; font-size:14px; height: 36px; padding-left: 7px;">

               <input type="text" class="form-control  hide_for_mobile" placeholder="Name of Folder" ng-model="vm.dimension.name" style="background-color: #f8fafb;
                 border: none; box-shadow: none; padding-top: 0px; font-size:32px; height: 36px; padding-left: 7px">

            </div>
            <!-- <p class="textSmallGrey col-md-12 col-sm-12 col-xs-12" style="color:#717982; font-size:13px; margin-top:10px; padding-right: 0px;">
              <textarea class="form-control" rows="3" placeholder="Enter details of your Folder here.." ng-model="vm.dimension.details"
                style="background-color: #f8fafb;
                border: none;box-shadow: none; padding-bottom: 3px;"></textarea>
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Dimension Title Start Here -->
    <div class="row goal-dashboard-page" style="margin-top:10px; margin-bottom: 0px;padding-left:0px; padding-right:0px">
      <div class="col-md-12 col-sm-12 col-xs-12 mob-view dimension-search pad-l-r">
        <!-- Dimension search Start  -->
        <div class="col-md-3 no-pad " ng-hide="vm.status==0">
          <div class="add-pad" style="background-color: #eff7fb; border-radius: 6px;">
            <div class="input-group stylish-input-group" style="padding: 0px 0px 10px 0px;">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchGoalInDimension" style="height:32px; border-radius: 2px;">
              <span class="input-group-addon" style="padding-right: 4px; padding-top:0px; padding-bottom: 0px; border-radius: 2px; border: 1px solid #E8E8E8; border-left: none;">
                    <button type="submit"> <img src="/content/images/dimension-new-edit/search_light.png"> </button>
                    </span>
            </div>
            <div class="scrollbar" id="style-1">
              <div class="col-md-12 force-overflow" style="height:240px;">
                <div class="row" style="padding:10px 14px 1px 2px" ng-repeat="goal in vm.orderedData | filter:searchGoalInDimension">
                  <div><img class="img-circle pad-l-r imagefit" style="height:44px; width:44px; border-radius:50%; float:left;"
                      no-cache-src="https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg"
                      err-src="/content/images/no-img-template.jpg" />
                  </div>
                  <div style="float:left; margin-top: 5px; font-size: 15px; margin-left:10px">
                    <p style="margin-bottom:0px; color:#35383d; line-height: 18px;" uib-tooltip="{{goal.goalText}}" tooltip-placement="bottom"><span class="trim-info" style="max-width: 105px;line-height: 19px;">{{goal.goalText}}</span></p>
                    <p style="font-size:13px; line-height: 17px;"> <span style="color:#039be4">{{goal.metricAmount}}</span><span style="color:#6e7592"> / {{goal.metricTarget}}</span></p>
                  </div>
                  <div class="pull-right" style="margin-top: 10px;">
                    <span ng-show="goal.isCurrentDimension"><img src="/content/images/dimension-new-edit/dimen-check.png"></span>
                    <span ng-show="!goal.isCurrentDimension"><img ng-src="{{changeImg && '/content/images/dimension-new-edit/dimen-check.png' || '/content/images/dimension-new-edit/dimen-uncheck.png'}}" ng-init="changeImg=false" ng-click="vm.addGoalToDimension(goal,changeImg, $index);                    changeImg=!changeImg"></span>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:10px; border-radius: 2px; font-size:13px; height:30px; background-color:#d3e3ea; color:#506a78; border:solid 1px #c4d8e1"
              ng-click="vm.save()">Save</button>
          </div>
        </div>
        <!-- Dimension search End Here -->

        <div class="col-md-3 col-xs-6 col-sm-4 no-padd " ng-hide="vm.status==1" ng-repeat="goal in vm.addToCurrentDimension">
          <div class="thumbnail thumb-pos-r">
            <img ui-sref="goal-detail({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
              err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_mobile">
            <img ui-sref="goal-detail-mobile({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
              err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
            <div uib-tooltip="{{goal.goalStatus=='COLLABORATOR' && 'COLLABORATED GOAL' || 'SUPPORTED GOAL'}}" tooltip-placement="left"
              ng-class="{'corner-ticket-blue': goal.goalStatus=='COLLABORATOR', 'corner-ticket-brown': goal.goalStatus=='SUPPORTER'}">
              <img src="" ng-src="{{goal.goalStatus=='COLLABORATOR' && 'content/images/new-images-demo/user-ticket-ic.png' || 'content/images/new-images-demo/group-ticket-ic.png'}}"
                class="corner-icon-img">
            </div>
            <div class="caption">
              <div class="row caption-inside-row">

                <div class="left-align pull-left">
                  <div class="card-number-icon pull-left pos-rel" uib-tooltip="Goal Notification" tooltip-placement="bottom-left" style="margin-top: 1px; margin-right:0px"><img class="imgicon" src="content/images/gray_notification_ic.png">
                    <div class="pos-abs btn-warning" ng-show="goal.notificationsCount>0">{{goal.notificationsCount}}</div>
                  </div>
                  <div class="pull-right card-number-txt" uib-tooltip="Copy Goal" tooltip-placement="bottom" ng-click="vm.InspiredGoalFun(goal)"
                    style="margin-left: -2px; margin-top: -13px;"><img class="imgicon2" src="content/images/copybutton.png"></div>
                </div>

                <div class="left-align pull-right">
                  <div class="card-plus-ic pull-left">{{goal | goalPercentage:goal}} %</div>
                  <div class="canvas-margin">
                    <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                    <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                  </div>

                  <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}"
                    target="myCanvas{{$index}}0"></subgoalprogress>
                  <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{goal | goalPercentage:goal}}"
                    size="20" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}1"></subgoalprogress>
                </div>
              </div>

              <p ui-sref="goal-detail({id:goal.id})" class="card-title hide_for_mobile"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
              <p ui-sref="goal-detail-mobile({id:goal.id})" class="card-title hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
              <!-- <p class="card-description" uib-tooltip="Goal description" tooltip-placement="bottom"><span class="trim-info">{{goal.description || 'Add description to the goal'}}</span></p>
              <p style="cursor: pointer;" ui-sref="dimension.edit({id:goal.dimensionId})" ng-style="!goal.dimensionName && {'height':'22px'}"
                class="price-txt"><span class="trim-info" uib-tooltip="Folder name " tooltip-placement="bottom">{{goal.dimensionName}}</span></p> -->
              <!--<ng-pluralize count="goal.finishTime | dateRange:vm.today"  when="{'-1':'Behind', 1:'Day', 'other': 'Days'}"></ng-pluralize> left-->
              <!-- <p class="card-description destime">{{goal.finishTime | dateRange:vm.today || 'Add due date to the goal'}}</p> -->
              <!-- <p class="card-description destime">{{goal | convertIntoDate | dateRange:vm.today || 'Add due date to the goal'}} </p> -->
             <p class="card-description destime"></p>
              <div class="row caption-inside-row top-pad">
                <div class="left-align pull-left">
                  <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == false" ng-click="vm.markFavourite(goal.id)"
                    class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                    <img src="content/images/goals/like-01.png"></div>
                  <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == true" ng-click="vm.unMarkFavourite(goal.id)"
                    class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                    <img src="content/images/goals/like.png">
                  </div>
                  <div uib-tooltip="Share" tooltip-placement="bottom" uib-popover-template="share.templateUrl" popover-trigger="outsideClick" ng-click=" vm.share(goal)" popover-placement="top"
                    class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                    <img src="content/images/goals/share_ic.png"></div>
                  <div class="card-number-icon pull-left" style="padding-bottom: 2px;" uib-tooltip="Goal members" tooltip-placement="top"><img src="content/images/goal-detail-edit-page/connection_ic.png"></div>
                  <div class="pull-left card-number-txt1" style="padding-bottom: 0px;">{{goal.totalParticipants}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="shareInfo.html">
  <div id="myPopover8" style="width:100%; ">
    <div class="search-connection">
      <div class="input-group stylish-input-group" style="padding: 0px; cursor: pointer;">

        <p style="font-size: 12px;" ng-click="shareDialog(share.goal)">FACEBOOK</p>

        <!-- <p style="font-size: 12px;" socialshare="" socialshare-provider="twitter" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
          socialshare-url="{{share.goalURL}}" socialshare-hashtags="achieveon">
          TWITTER</p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="google" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
          socialshare-url="{{share.goalURL}}">
          GOOGLE+ </p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="linkedin">
          LINKEDIN </p> -->
      </div>

    </div>
  </div>
</script>
<!-- Content End Here-->
