<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
      <breadcrumbs></breadcrumbs>
    </div>
  </div>
</div>-->
<style>
  /* .goal-dimensions img {
    image-rendering: pixelated;
  } */

  .tabMenuUnderline {
    box-shadow: 0 17px 0 -9.6px #688697;
    border-radius: 18px;
    border-bottom: none;
  }

  .tabMenuPanel a:hover {
    text-decoration: none;
    border-bottom: none
  }
</style>

<!--<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div style="
              padding-top: 10px;
              padding-bottom: 10px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */">
      <div style="text-align: left; width: 100%;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;">
        <div>
          <img src="/content/images/goal-detail-edit-page/home_ic.png" ui-sref="goal" style="cursor: pointer;">
          <img src="/content/images/breadcrumbs/divider.png">
        </div>
      </div>
      <div style="float: right; width: 150px;">
        <img src="/content/images/breadcrumbs/plus_ic.png" style="cursor: pointer;" ui-sref="dimension.new" data-toggle="tooltip" data-placement="bottom" title="Add New Dimension">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/leftarrow.png" ng-hide=true style="cursor: pointer;">
        <img src="/content/images/goal-detail-edit-page/add-sub-goal.png" style="cursor: pointer;">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/save.png" ng-hide=true style="cursor: pointer;">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ui-sref="goal.edit({id:vm.goalId})" style="cursor: pointer;">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-click="vm.deleteGoal(vm.goalId)" style="cursor: pointer;">
      </div>
    </div>
  </div>
</div>-->
<!-- <div style="padding-top:20px; padding-bottom:0px;margin-top:-15px;margin-bottom:-10px;"  class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
  <a class="btn  btn-warning  btn-xs "  href="javascript:void(0);" onclick="startIntro2();">My Library Tour</a>
</div> -->

<div style="padding-top: 17px;"  class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">

</div>

<div class="container goal-dimensions" style="padding-left: 4.3%; padding-right: 4.3%;">

  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 no-padd tabMenuPanel">
      <!-- <a href="" class="tabMenu" ui-sref="featured-goal">DISCOVER</a> -->
      <a href="" class="tabMenu" ui-sref="goal">MY GOALS</a>
      <!--<a href="" class="tabMenu">RECENT ACTIVITY</a>-->
      <a href="" class="tabMenu tabMenuUnderline" ui-sref="dimension" id="step0">MY LIBRARY</a>

    </div>

    <div class="col-md-12 col-xs-12 col-sm-12 tabMenuPanel2">
      <button type="button" style="border-radius:5px;background:#2196F3;color:#ffffff" class="btn btn-sm card-btn-width " ui-sref="dimension.new">CREATE NEW FOLDER</button>
        <a class="btn  btn-warning  btn-sm "  style="background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" href="javascript:void(0);" onclick="startIntro2();">My Library Tour</a>
  </div>
  </div>

  <div class="row" style="margin-top:30px">
    <!--<div class="col-lg-3 col-md-6 col-sm-6">
      <div class="add-new" style="height: 352px;"> <div align="center"><img src="content/images/dimensions/add-new.png" width="100%" height="62"></div>
        <div class="title">Add New Dimension</div>
        <div class="subtitle">into your Life Goals</div> </div>
    </div>-->
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 no-padd"  ng-repeat="dimension in vm.dimensions track by dimension.id" id="step1">

      <div class="dash-panel pos-rel" style="margin-left:-8px;margin-right:-8px;" ui-sref="dimension.edit({id:dimension.id})" style="cursor: pointer;">
        <div ng-mouseenter="openDiv=true" ng-mouseleave="openDiv=false" class="image-bg-center">
          <img style="width:100%" class="imagefit" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/dimensions/' + dimension.imageGuid + '.jpg'}}"
            err-src="/content/images/defaultIMG.jpg" width="100%" height="200px">
          <div class="show-img-01" ng-show="openDiv==true">
            <!--src="content/images/dimensions/white-edit.png" onmouseover="hover(this);" onmouseout="unhover(this);"-->

            <!--<div ui-sref="dimension.edit({id:dimension.id})" class="photo-section-01"> <img src="content/images/dimensions/white-edit.png" onmouseover="this.src='content/images/dimensions/blue-edit.png'"
                  onmouseout="this.src='content/images/dimensions/white-edit.png'"></div>-->

            <!--<div class="photo-section-02"><img src="content/images/dimensions/white-camera.png" onmouseover="this.src='content/images/dimensions/blue-camera.png'"
                  onmouseout="this.src='content/images/dimensions/white-camera.png'"></div>-->
            <!--<div ng-show="dimension.goals.length<=0"  ui-sref="dimension.delete({id:dimension.id})" class="photo-section-03"><img src="content/images/dimensions/white-delete.png"  onmouseover="this.src='content/images/dimensions/blue-delete.png'"
                  onmouseout="this.src='content/images/dimensions/white-delete.png'" ng-disabled="dimension.goals.length>0"></div>
              <div ng-show="dimension.goals.length>0"  class="photo-section-02"><img src="content/images/dimensions/white-delete.png"></div>     -->
          </div>
        </div>
        <div class="panel-area div-area">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 no-padd" >
              <!--<div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>-->
            </div>
            <!--ng-if="dimension.dimensionGraph>0"-->
            <div class="col-md-12 col-sm-12 col-xs-12 no-padd" style="position:relative;">
              <div class="left-align pull-right" id="step4">
                <div class="card-plus-ic pull-left">{{dimension.dimensionGraph}}%</div>
                <div class="mar-canvas">
                  <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                  <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                </div>

                <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{dimension.dimensionGraph}}" size="40" target="myCanvas{{$index}}0"></subgoalprogress>
                <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{dimension.dimensionGraph}}"
                  size="20" target="myCanvas{{$index}}1"></subgoalprogress>
              </div>
            </div>
          </div>
          <div style="cursor: pointer;" class="title" ui-sref="dimension.edit({id:dimension.id})" data-toggle="tooltip" data-placement="bottom"
            title="{{dimension.name}}" id="step2"><span class="trim-info nameWidth">{{dimension.name}}</span></div>
          <!-- <div class="subtitle word-break" data-toggle="tooltip" data-placement="bottom" title="{{dimension.details}}" id="step3"><span class="trim-info">{{dimension.details || 'Add description'}}</span></div> -->
<div class="subtitle word-break"></div>
          <div class="inprogress">In Progress <span>{{dimension.pending}}</span></div>
          <div class="complete">Completed <span>{{dimension.completed}}</span></div>
          <!--<div ng-show="dimension.completed==0 && dimension.pending==0"><span>No Goals</span></div>-->
        </div>
      </div>
    </div>
    <!--<div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/career-goals.jpg" width="100%" height="204">
        <div class="panel-area">
        <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i><img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph2" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
          </div>
          </div>

          <div class="title">Career Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/religious-goals.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph3" style="height: 80px; width: 80%; position:absolute; top:-25px;"></div>
          </div>
          </div>
          <div class="title">Religious Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/books.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
             <div class="col-xs-6">
              <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
             </div>
             <div class="col-xs-6" style="position:relative;">
              <div id="graph4" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
            </div>
          </div>
          <div class="title">Books</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/guitar-sessions.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph5" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
          </div>
          </div>
          <div class="title">Guitar Sessions</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/tours.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph6" style="height: 80px; width: 65%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Tours & Adventure</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/learning.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph7" style="height: 80px; width: 80%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Learning Tutorials</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/family.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph8" style="height: 80px; width: 90%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Family Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/education.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph9" style="height: 80px; width: 90%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Educational Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/dreams.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph10" style="height: 80px; width: 65%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Dreams</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/teaching.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/gray_notification_ic.png"> <span class="numlabel label-success">25</span> </div>
          </div>

          <div class="col-xs-6" style="position:relative;">
          <div id="graph11" style="height: 80px; width: 80%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Teaching</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>-->
  </div>
</div>

<script type="text/javascript">
     function startIntro2(){
       var intro = introJs();
         intro.setOption('showProgress', true);
         intro.setOption('scrollToElement', true);
          intro.setOption('exitOnOverlayClick', false);

         intro.setOptions({
           steps: [
             {
              //  element: '#step0',
               intro: "<h3>My Library</h3>My Library contains all your folders. Within the Library you use folders to organize your goals. Five sample folders have been  pre-created for you. You can start using these pre-created folders. You can edit, create, delete folders and select different goals to put within each folder.",
               position: 'center'
             },

             {
               element: document.querySelector('#step1'),
               intro: "<h3>Folder</h3>This is a folder containing goals. You can create as many folders as you like and organize your goals within different folders.  To create a new folder click on the (+) from the top panel. ",
               position: 'right'
             },
             {
               element: '#step2',
               intro: "Folder name, you can edit folder name, description and image from within the folder. From within the folder you can also select the goals taht you want to save in this folder. ",
               position: 'right'
             },
            //  {
            //    element: '#step3',
            //    intro: "This is the short description for this folder. It is shown here for your easy reference.",
            //    position: 'bottom'
            //  },
             {
               element: '#step4',
               intro: "This is the percentage of goals completed within this folder.",
               position: 'bottom'
             }

           ]
         });
         intro.start();

        //  intro.setOption('doneLabel', 'See More').oncomplete(function() {
        //   window.location.href = '#/user-persona-profile';});

     }
   </script>























<!--<div>
    <h2>Dimensions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dimension.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Dimension
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Image Guid</span></th>
                    <th><span>Details</span></th>
                    <th><span>User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dimension in vm.dimensions track by dimension.id">
                    <td><a ui-sref="dimension-detail({id:dimension.id})">{{dimension.id}}</a></td>
                    <td>{{dimension.name}}</td>
                    <td>{{dimension.imageGuid}}</td>
                    <td>{{dimension.details}}</td>
                    <td>
                        {{dimension.userLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dimension-detail({id:dimension.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dimension.edit({id:dimension.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dimension.delete({id:dimension.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->
