<!--<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div style="
              padding-top: 5px;
              padding-bottom: 5px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */">
      <div style="text-align: left; width: 100%; 
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;">      
        <div>
          <img src="/content/images/goal-detail-edit-page/home_ic.png" ui-sref="goal" style="cursor: pointer;">
          <img src="/content/images/breadcrumbs/divider.png">
        </div>
      </div>
      <div style="float: right; width: 150px;">     
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ui-sref="dimension-delete({id:vm.dimension.id})" style="cursor: pointer;">   
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/save.png" style="cursor: pointer;">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ui-sref="dimension.edit({id:vm.dimension.id})" style="cursor: pointer;">   
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/plus_ic.png" style="cursor: pointer;" ui-sref="goal.new({dimensionId:vm.dimension.id})" data-toggle="tooltip" data-placement="bottom" title="Add New Dimension">     
      </div>
    </div>
  </div>
</div>-->
<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
        <div>
          <!--<img style="cursor: pointer;" src=" " ui-sref="goal" data-toggle="tooltip" data-placement="bottom" title="Home" class="img-pad">
          <img src="/content/images/breadcrumbs/divider.png">-->
          <span style="cursor: pointer;" ui-sref="dimension">FOLDERS</span>
        </div>
      </div>
      <div class="subheader-float-rht">
        <!--<img src="/content/images/goal-detail-edit-page/delete_ic.png" ui-sref="dimension-delete({id:vm.dimension.id})" class="img-pad">   
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/breadcrumbs/save.png" class="img-pad">-->
        <img src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom" title="Go Back"
          ng-click=vm.previousStateFun();>
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ui-sref="dimension.edit({id:vm.dimension.id})" data-toggle="tooltip"
          data-placement="bottom" title="Edit Dimension" class="img-pad">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/breadcrumbs/plus_ic.png" ui-sref="goal.new({dimensionId:vm.dimension.id})" data-toggle="tooltip"
          data-placement="bottom" title="Add New Goal To Dimension" class="img-pad">
      </div>
    </div>
  </div>
</div>
<div class="container container-fluid ">
  <div class="row dimension-detail-page dimension-details" style="padding-left: 4.3%; padding-right: 4.3%; margin-top:33px">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2" style="padding-right: 0px;">
          <img class="imagefit" ng-src="{{vm.logoPath}}" err-src="/content/images/blank_img.png" ng-click="vm.selectAvatar()" style="vertical-align: top; width:168px; height:148px;"
          />
        </div>
        <div class="col-md-10" style="margin-top: 15px; padding-left: 0px;">
          <div class="col-md-7" style="background-color: #f9fafc; font-weight: 100">
            <p class="heading-fontsize" class="break">{{vm.dimension.name}} ({{vm.dimension.goals.length}})</p>
          </div>
          <div class="col-md-12" style="background-color: #f9fafc; margin-top:10px">
            <p style="padding-bottom: 20px; padding-top: 10px;" class="break">{{vm.dimension.details}}</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div>
          <div class="col-md-3" ng-repeat="goal in vm.dimension.goals">
            <div class="thumbnail pos-rel">
              <div ng-mouseenter="openDiv=true" ng-mouseleave="openDiv=false" class="img-center">
                <img style="cursor: pointer;" class="imagefit" ui-sref="goal-detail({id:goal.id})" ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                  err-src="/content/images/no-img-template.jpg" width="191px" height="191px">
                <div class="show-img-01" ng-show="openDiv==true">
                  <div ng-click="vm.deleteGoal(goal,vm.dimension)" class="photo-section-03"><img src="content/images/dimensions/white-delete.png" onmouseover="this.src='content/images/dimensions/blue-delete.png'"
                      onmouseout="this.src='content/images/dimensions/white-delete.png'"></div>
                </div>
              </div>
              <!--<img  ng-src="{{$index==0 && 'content/images/profile/profile-02.jpg' || $index==1 && 'content/images/profile/profile-03.jpg' || $index==2 && 'content/images/profile/profile-04.jpg' || 'content/images/profile/profile-07.jpg'}}" width="100%" height="203px" class="img-top-radius">-->
              <div class="caption">
                <div class="row caption-inside-row">
                  <div class="left-align pull-left">
                    <!--<div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                  <div class="pos-abs btn-warning">11</div>
                </div>-->
                  </div>
                  <div class="left-align pull-right">
                    <div class="card-plus-ic pull-left">{{goal | goalPercentage:goal}}%</div>
                    <div style="display: inline-block">
                      <canvas id="myCanvas{{$index}}" style="border:none;"></canvas>
                    </div>
                    <subgoalprogress goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}"></subgoalprogress>
                  </div>
                </div>
                <p style="cursor: pointer;" ng-style="!goal.goalText && {'height':'18px'}" data-toggle="tooltip" data-placement="bottom"
                  title="{{goal.goalText}}" ui-sref="goal-detail({id:goal.id})" class="card-title"><strong>{{goal.goalText}}</strong></p>
                <p class="card-description" ng-style="!goal.description && {'height':'18px'}">{{goal.description}}</p>
                <!--<p style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Dimensions" class="price-txt">Raise 700$</p>-->
                <p class="card-description" ng-style="!goal.finishTime && {'height':'18px'}">{{goal | convertIntoDate:goal | dateRange:vm.today}}</p>
                <!--<div class="row caption-inside-row" style="padding-top: 6px;">
              <div class="left-align pull-left">
                <div class="card-number-icon pull-left "><img src="content/images/profile/like_ic.png"></div>
                <div class="pull-right card-number-txt1">0 Likes</div>
              </div>
              <div class="left-align pull-right">
                <div class="card-number-icon pull-left "><img src="content/images/profile/chat_ic.png"></div>
                <div class="pull-right card-number-txt1">0 Comments</div>
              </div>
            </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--<div>
    <h2><span>Dimension</span> {{vm.dimension.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.dimension.name}}</span>
        </dd>
        <dt><span>Image Guid</span></dt>
        <dd>
            <span>{{vm.dimension.imageGuid}}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
            <span>{{vm.dimension.details}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.dimension.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="dimension-detail.edit({id:vm.dimension.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>-->