<style>
.modal-dialog {
   width: 450px !important;
    margin: 30px auto;
}
.modal-content{border: none !important; box-shadow: none !important; border-radius: 4px !important;}
@media screen and (max-width:480px) {
.modal-dialog {
    width: 94% !important;
}
}
@media screen and (max-width:320px) {
.modal-dialog {
    width: 94% !important;
}
}
body{
  padding: 25px;
  background-color: black;
  color: gray;
}
.templateRoot{
    display: inline-block;
}
.hover-edit-trigger {
    padding: 3px;
}
.hover-edit-trigger:hover{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.edit-pencil{
    display: none;
    margin-left: 3px;
    padding: 3px;
    border-left: 1px solid #dcdcdc;
}
.hover-text-field:hover .edit-pencil{
    display: inline-block;
}
.edit-button-group{
    border: 1px solid #dcdcdc;
    border-top: none;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
}
.edit-button-group .glyphicon{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
}
.dimensions-modal .modal-img{ width: 50px; height: 50px; border-radius: 50%;}
</style>
                                 <!--ng-show="!vm.editPage"-->
<div class="dimensions-modal">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 5px 10px 5px 10px;">
     <div class="modal-header" align="center">
       <div>
         <!--<span><img src="content/images/add-new-sub-goal_ic.png"></span>-->
          <p class="pull-left" style="color:#97b9cb">CREATE OR EDIT A FOLDERS</p>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
       </div>
      </div>
      <div class="modal-header" align="center">
        <div>
          <div class="col-md-12 pad-lft-rht-0">                                                                                 
            <div ng-show="vm.editPage" class="col-md-2 col-sm-2 col-xs-2 pad-lft-0"><img src="content/images/default_img.png" class="img-responsive img-circle modal-img"  width="50px"></div>
            <div ng-show="!vm.editPage" class="col-md-2 col-sm-2 col-xs-2 pad-lft-0"><img ng-click="vm.selectAvatar()"   no-cache-src="{{vm.logoPath}}" err-src="/content/images/blank_img.png" class="img-responsive img-circle modal-img imagefit"  width="50px"></div>
            <div class="col-md-8 col-xs-8 pad-lft-rht-0" style="height:40px; padding-left:4px;">
              <!--<div class="form-group mar-top-btm-10">-->
               <div class="form-group" style="margin-top: 10px;"> 
                   <!--<div class="modal-header" align="center">-->
                <div ng-show="!openEdit && !vm.editPage" style="margin-top: 10px;">                 
                    <span class="pull-left" style="color:#97b9cb; font-size: 20px;"> {{vm.dimension.name}}</span>
                   <!--<div click-to-edit type="inputText" ng-model="vm.dimension.name"></div>-->
                   <!--<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>-->
                  
                 </div>
                <div ng-show="openEdit || vm.editPage">
                  <input type="text" class="form-control" name="" id="" ng-model="vm.dimension.name" placeholder="Folder Name" style="margin-top:10px"/>
                </div>
              </div>
            </div> 
            <div ng-show="!vm.editPage">           
            
             <span ng-show="vm.dimension.goals.length<=0 && !openEdit" class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px; cursor: pointer" ui-sref="dimension.delete({id:vm.dimension.id})"><img src="content/images/dimensions/white-delete.png"></span>
             <span ng-show="vm.dimension.goals.length>0 && !openEdit" class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px; cursor: pointer" ng-click="vm.showMessage();"><img src="content/images/dimensions/white-delete.png"></span>
              <span class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px;" ng-show="!openEdit" ng-click="openEdit=!openEdit"><img src="content/images/dimensions/white-edit.png"></span>             
             <span class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px;" ng-show="openEdit" ng-click="openEdit=!openEdit"><img src="content/images/dimensions/add-dim.png"></span>
           </div>
          </div>
        </div>
      </div>
      
      <!-- Begin # DIV Form -->
      <div id="div-forms"> 
        <!-- Begin # Login Form -->
        <form name="editForm" role="form" novalidate ng-submit="vm.save()">
          <div class="row pad-btm-20">
            <!--<div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-12 mar-top-20">
                  <input type="text" class="form-control" name="" id="" ng-model="vm.dimension.imageGuid" placeholder="Image Guid"/>
                </div>
              </div>
            </div>-->
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-sm-12 mar-top-20">
                  <textarea type="text" class="textboxRegular" name="description" ng-model="vm.dimension.details" placeholder="description" cols="25", rows="4" style="min-width: 100%; min-height: 80px;"></textarea>
                </div>
              </div>
            </div>
          </div>
         <div class="modal-header" align="center" ng-show="vm.orderedData.length>0">
          <div>
           <p class="pull-left" style="color:#97b9cb"> SELECT GOALS</p>
           <!--<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>-->
         </div>
        </div>
        <div class="modal-footer" ng-class="{scrollbar:vm.orderedData.length>3}" id="style-1" ng-show="vm.orderedData.length>0">
         <div class="force-overflow">
          <div class="row pad-border" ng-repeat="goal in vm.orderedData">
            <div class="col-md-12">
              <div class="col-md-2 col-xs-2 pad-lft-0"><img src="content/images/dimensions/life-goal.jpg" class="img-responsive img-circle modal-img"  width="50px"></div>
                <div class="col-md-7 col-xs-7 pad-lft-10">
                  <p class="post-title"><span class="post-name">{{goal.goalName}}</span> </p>
                  <p> <span class="post-blue">{{goal.dimensionName}}</span></p>
                </div>
                <span class="col-md-1 col-xs-1 pull-right pad-top-10" ng-show="goal.isCurrentDimension"><img src='content/images/dimensions/add-dim.png'/></span> 
                <span class="col-md-1 col-xs-1 pull-right pad-top-10" ng-show="!goal.isCurrentDimension"><img ng-src="{{changeImg && 'content/images/dimensions/add-dim.png' || 'content/images/dimensions/remove-dim.png'}}" ng-init="changeImg=false" ng-click="vm.addGoalToDimension(goal,changeImg); changeImg=!changeImg"/></span> 

                <!--<span class="col-md-1 col-xs-1 pull-right pad-top-10"><img ng-src="{{goal.isCurrentDimension == true && 'content/images/dimensions/add-dim.png' || 'content/images/dimensions/remove-dim.png'}}" ng-click="vm.addGoalToDimension();"/></span> -->
              </div>
            </div> 
            </div>
         </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top:10px; margin-bottom:5px"><span>{{vm.editPage ? 'CREATE' : 'UPDATE'}}</span></button>
        </form>
      </div>
      <!-- End # Login Form --> 
    </div>      
  </div>
</div>



<!--<form name="editForm" role="form" novalidate ng-submit="vm.save()" ng-show="vm.editPage">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDimensionLabel">Create or edit a Dimension</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dimension.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dimension.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.dimension.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imageGuid">Image Guid</label>
            <input type="text" class="form-control" name="imageGuid" id="field_imageGuid"
                    ng-model="vm.dimension.imageGuid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_details">Details</label>
            <textarea type="text" class="textboxRegular" name="description" ng-model="vm.dimension.details" cols="25", rows="4" style="min-width: 100%; min-height: 80px;"></textarea>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="vm.dimension.details"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.dimension.userId" ng-options="user.id as user.login for user in vm.users">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>-->
