<style>
    #goal-edit-page-delete input[type=text],
    input[type=password] {
        margin-top: 10px;
    }



    .goal-edit-page .modal-content {
        background-color: #FFF;
        border: 1px solid #bdc3c7;
        border-radius: 0px;
        outline: 0;
    }

    .goal-edit-page .modal-header {
        min-height: 16.43px;
        padding: 15px 15px 0\px 15px;
        border-bottom: 0px;
    }

    .modal-body {
        position: relative;
        padding: 5px 15px 5px 15px;
    }

    .goal-edit-page .modal-footer {
        padding: 15px 15px 15px 15px;
        text-align: left;
        border-top: 0px;
    }

    .goal-edit-page .glyphicon {
        top: 0px;
        font-size: 16px;
    }

    .goal-edit-page .form-control {
        border-radius: 0px;
    }

    .modal {
        background-color: rgba(134, 249, 216, 0.1);
    }

    .goal-edit-page .btn-lg,
    .btn-group-lg>.btn {
        padding: 5px 5px;
        font-size: 16px;
        line-height: 1.3333333;
        border-radius: 0px;
    }

    .carousel-indicators {
        display: none;
    }
</style>
<!-- BEGIN # MODAL LOGIN -->
<div>
    <div id="goal-edit-page-delete">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <div>
                    <p class="pull-left" style="color:#97b9cb"><span>Getting Start with Achieveon</p>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>                        </button>
                </div>
            </div>

            <!-- Begin # DIV Form -->


            <!-- Begin # Login Form -->

            <div class="modal-body">
                <div ng-cloak>
                    <div uib-carousel active="0" interval="5000" no-wrap="false">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <!-- <h4>Slide {{slide.id}}</h4> -->
                                <!-- <p>{{slide.text}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>

            <!-- End # Login Form -->


            <!-- End # DIV Form -->

        </div>
    </div>
</div>