<nav class="navbar navbar-default" style="background-color: #039BE4;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo" src="content/images/logo-lifeedge.png"/>
                <!--<span>Le</span> <span class="navbar-version">v{{VERSION}}</span>-->
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            Hello
        </div>
    </div>
</nav>
