<style>
     ::-webkit-input-placeholder {
        color: #f2f6f9
    }

    .media-left,
    .media-right,
    .media-body {
        display: table-cell;
        vertical-align: middle;
    }

    .dropdown-menu-center {
        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
    }

    .tooltip.customClass .tooltip-inner {
        min-width: 100px;
        height: 22px;
        background-color: #0996d9 !important;
        color: #fefefe
    }

    .tooltip.customClass .tooltip-arrow {
        background-color: #0996d9 !important;
        border-color: #0996d9 !important
    }

    .not-bg {
        margin-left: 15px;
        margin-right: 15px;
        background-color: #f6fafc;
    }


    .search-small ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(242, 246, 249, .5);
        font-size: 13px;
    }

    .dropdown-menu:before {
        position: absolute;
        top: -7px;
        left: 46%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: #f4f9fb;
        content: '';
    }

    .dropdown-menusetting:before {
        position: absolute;
        top: -7px;
        left: 81% !important;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: #f4f9fb;
        content: '';
    }

    .dropdown-menu1:before {
        position: absolute;
        top: -7px;
        left: 48%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: #f4f9fb;
        content: '';
    }

    .dropdown-menu1 {
        margin-top: 20px;
    }

    .invite .form-control {
        height: 32px!important;
        border: 1px solid #e8e8e8 !important;
        -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
        border-radius: 2px !important;
        padding: 4px 12px !important;
    }

    .invite ::-webkit-input-placeholder {
        color: #c0d0db
    }

    .pos-abs {
        position: relative
    }

    .nav-note {
        position: absolute;
        top: -2px;
        right: -10px;
        height: 18px;
        width: 88%;
        border-radius: 2px;
        border: 1px solid #e39c12;
        text-align: center;
        padding-top: 0px;
        line-height: 16px;
    }

    .dropdown-menu .active1 {
        color: #688697
    }

    @media only screen and (max-width: 767px) {
        .dropdown-menusetting {
            left: 0% !important;
        }
    }
</style>
<!--<a href="/"><img src="../../../content/images/logo-transparent.gif" /></a>-->
<div ng-switch="vm.isAuthenticated()">
    <!--<div ng-switch-when="false" ng-show="vm.currentPage" class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row" style="height: 68px;">
                <div class="col-md-3">
                    <a href="/"><img src="content/images/main-logo.png" style="margin-top:50px; height:auto;"/></a>
                </div>
                <div class="col-md-6" style="top: 75%; position: relative;">
                    <a href="/" style="cursor: pointer; color:#5d5e7c;" class="textWhite">HOW IT WORKS</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </div>
            </div>
        </div>
    </div>-->
    <div ng-switch-when="true">
        <nav class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" style="background-color: #ffffff;border: none;">
            <div class="search-small col-md-12 col-sm-12 col-xs-12">
                <div class="searchContainer">
                    <form ng-submit="vm.searchPattern()" style="color: white;">
                        <input type="text" name="search" placeholder="Search Goals, People..." ng-model="vm.searchText" class="search searchwidth">
                        <img src="content/images/navbar-search-magnifyingglass.png" type="submit" style="border-radius: 10px; margin-right: 3px;"
                            ng-click="vm.searchPattern()" />
                    </form>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-default hide_for_mobile" style="background-color: #039BE4; padding: 1px 18px 1px 38px; border:none; border-radius:0px"
            role="navigation">
            <!--<div class="container">-->
            <div class="navbar-header" style="margin-left: 19px;">
                <button type="button" class="navbar-toggle m-t-17" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a ui-sref="featured-goal" ng-click="vm.collapseNavbar()">
                <img class="logo" src="content/images/main-logo1.png"/>
            </a>
            </div>
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                <ul class="nav navbar-nav navbar-right" style="margin-top: 6px">
                    <li ng-init="vm.getpopup();" class="mob-pull-left" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                        <i uib-tooltip="Tour" tooltip-placement="bottom" tooltip-class="customClass" class="glyphicon glyphicon-info-sign"
                            style="color:white;font-size: 25px;margin-top: 21px;padding-right: 27px;" ng-click="vm.showinfo()"></i>
                    </li>

                    <li class="mob-pull-left" style="margin-top: 9px;" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                        <a ui-sref="goal" uib-tooltip="Home" tooltip-placement="bottom" tooltip-class="customClass" style="padding-bottom: 5px;">
                        <img src="content/images/home.png" style="cursor: pointer;" onmouseover="this.src='content/images/nav-hover-ic/home-hover.png'"
                         onmouseout="this.src='content/images/home.png'" border="0" alt=""/>
                    </a>
                    </li>
                    <!--Create New-->
                    <li class="dropdown mob-pull-left"  tooltip-class="customClass" tooltip-placement="right" uib-dropdown style="margin-top: 9px; margin-left: 19px;" ng-click="status.isopen=!status.isopen; openInvite=false; openNotification=false">

                        <span class="dropdown-toggle" is-open="status.isopen" uib-dropdown-toggle style="display: block; padding: 10px 6px;">
                           <img src="content/images/nav-hover-ic/add-goal-normal.png" onmouseover="this.src='content/images/nav-hover-ic/add-goal.png'"
                           onmouseout="this.src='content/images/nav-hover-ic/add-goal-normal.png'" border="0" alt=""/>
                        </span>
                        <ul class="dropdown-menu dropdown-menu-center" style="border-radius: 4px; -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175); box-shadow: 0 0px 12px rgba(0, 0, 0, .175); padding-top: 0px;
                               padding-bottom: 0px; border: none; margin-top: 5px; outline: 0px">
                            <li class="active1" style="text-align: left; border-bottom: 1px solid #e8ebef;
                               border-top-left-radius: 4px; border-top-right-radius: 4px;"><a ui-sref="goal.new" style="padding-bottom: 8px; font-size: 11px; text-transform: uppercase; background-color: #f4f9fb; color: #415561; padding-top: 10px;     border-top-left-radius: 4px; border-top-right-radius: 4px;">Create New Goal</a>
                            </li>
                            <li style="text-align: left;"><a ui-sref="dimension.new" style="padding-bottom: 8px; font-size: 11px; text-transform: uppercase; padding-bottom: 9px; padding-top: 6px;">Create New Folder</a></li>
                        </ul>
                    </li>
                    <li class="mob-pull-left" style="margin-top: 9px; margin-left: 18px;" ng-click="openNotification=false; openInvite=false; status.isopen=false"
                        uib-tooltip="My Connections" tooltip-class="customClass" tooltip-placement="bottom">
                        <a ui-sref="user-persona" ng-click="vm.collapseNavbar()">

                      <img src="content/images/nav-hover-ic/object-new.png"  onmouseover="this.src='content/images/nav-hover-ic/hover-object.png'"
                           onmouseout="this.src='content/images/nav-hover-ic/object-new.png'"  border="0" alt=""/>
                    </a>
                    </li>
                    <!--Notifications-->
                    <!--<a  ng-click="vm.collapseNavbar();"></a>-->
                    <!--ng-mouseover="openNotification = true" ng-mouseleave="openNotification = false"-->
                    <li class="dropdown dropdown-notifications open header-nav  mob-pull-left" style="margin-top: 21px; margin-right: 23px; margin-left: 27px;"
                        uib-tooltip="My Notifications" tooltip-class="customClass" tooltip-placement="bottom">
                        <span class="dropdown-toggle"> <img src="content/images/notification_bell_ic.png" ng-click="openNotification=!openNotification; openInvite=false; status.isopen=false" onmouseover="this.src='content/images/nav-hover-ic/hover-notification.png'"
                           onmouseout="this.src='content/images/notification_bell_ic.png'"
                         border="0" alt=""/>
                         </span>
                        <div class="nav-note btn-warning" ng-show="vm.notificationLength>0 && !openNotification" ng-click="openNotification=!openNotification; openInvite=false; status.isopen=false"><span>{{vm.notificationLength}}</span></div>
                        <div class="dropdown-container dropdown-menu-center" data-trigger="focus" ng-show="openNotification" style="margin-top: 18px;">

                            <div class="dropdown-toolbar" style="border-bottom: 1px solid #eee;">
                                <h3 class="dropdown-toolbar-title" style="text-align: left; font-size: 11px; width:80%; padding-top: 2px;
                                    font-weight: 400; color: #42535d; margin-left: 11px; text-transform: uppercase;">Notifications ({{vm.notificationLength || 0}})
                                    <img src="/content/images/00-cross-icon.png" ng-click="openNotification=!openNotification;" class="float-R" style="margin-right:-52px;padding-bottom: 5px;">
                                </h3>
                            </div>
                            <!--<hr style="background-color: #e4e9ed; margin:0px 15px 0px 15px;">-->
                            <ul class="dropdown-menu">
                                <li class="notification not-bg" ng-repeat="userNotification in vm.userNotifications">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="media-object" ui-sref="user-persona-detail({id:userNotification.senderId})"> <img ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+userNotification.senderGuid+'/profilepic.jpg'}}"
                                                    err-src="/content/images/goal_blank_logo.png" class="img-circle imagefit"
                                                    alt="Name" style="width: 34px; height: 34px; border-radius: 50%;" /> </div>

                                        </div>
                                        <div class="media-body">
                                            <div class=" pull-left"> <strong class="notification-title pull-left" ng-bind-html="userNotification.text"
                                                    style="width: 192px; font-size: 13px;color: #42535d;"></strong>

                                                <div class="notification-meta"> <small class="timestamp" style="color: #9ca7ad;">     <time am-time-ago="userNotification.createdOn"></time></small></div>
                                            </div>
                                            <div class="pull-right" ng-hide="userNotification.isReadOnly" ng-if="userNotification.notificationType != 'TESTIMONIAL'">
                                                <img ng-click="vm.connectionRequest(userNotification.id,'ACCEPTED')" src="content/images/notifications/right_ic.png">
                                                <img ng-click="vm.connectionRequest(userNotification.id,'REJECTED')" src="content/images/notifications/close_ic.png">
                                            </div>
                                            <div class="pull-right" ng-hide="userNotification.isReadOnly" ng-if="userNotification.notificationType == 'TESTIMONIAL'">
                                                <img ui-sref="user-persona-detail({id:userNotification.senderId})" src="content/images/notifications/right_ic.png">
                                                <img ng-click="vm.deleteNotification(userNotification.id)" src="content/images/notifications/close_ic.png">
                                            </div>
                                            <div class="pull-right" ng-show="userNotification.isReadOnly"><img ng-click="vm.deleteNotification(userNotification.id)" src="content/images/notifications/close_ic.png">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-footer text-center" style="border-top: none"> <a ui-sref="notification" ng-click="openNotification=!openNotification;" style=" font-size: 13px;">View All</a>
                                <!--color: #e0e9ef;-->
                            </div>
                        </div>
                    </li>

                    <!--Important-->
                    <!--<li style="margin-top: 9px">
                        <a ng-click="vm.inviteUsers()" uib-tooltip="Invite Friends" tooltip-class="customClass" tooltip-placement="bottom">
                        <img src="content/images/nav-hover-ic/message1.png" onmouseover="this.src='content/images/nav-hover-ic/message-hover.png'"
                        onmouseout="this.src='content/images/nav-hover-ic/message1.png'"
                        border="0" alt=""/>
                    </a>
                    </li>-->


                    <!-- INVITE PAGE DROPDOWN START -->

                    <li class="dropdown invite dropdown-notifications open header-nav  mob-pull-left" style="margin-top: 21px;">
                        <span class="dropdown-toggle;">
                            <img src="content/images/nav-hover-ic/message1.png" ng-click="openInvite=!openInvite; openNotification=false; status.isopen=false";
                            onmouseover="this.src='content/images/nav-hover-ic/message-hover.png'"
                            onmouseout="this.src='content/images/nav-hover-ic/message1.png'"
                            uib-tooltip="Invite Friends" tooltip-class="customClass"
                            tooltip-placement="bottom" border="0" alt=""/>
                        </span>
                        <div class="dropdown-menu1 dropdown-container dropdown-menu-center" ng-show="openInvite">
                            <div class="dropdown-toolbar" style="border: none; text-align: left; font-size: 11px; padding: 14px;">
                                <div style="border-bottom: 1px solid #eee; padding-bottom: 25px;">
                                    <p style="width:80%; float:left;text-transform: uppercase; padding-top: 2px; color: #42535d;
                                 padding-left: 12px;">Invite New Friend</p>
                                    <img src="/content/images/00-cross-icon.png" ng-click="openInvite=!openInvite;" class="float-R" style="padding-top: 5px;">
                                </div>
                                <!--<hr style="height: 1px; border-top: 1px solid #eee; margin-top: 16px; margin-bottom: 11px;">-->
                                <div class="mar-top-20 setting-col-md-9" style="margin-top: 0px !important;">
                                    <input type="email" class="form-control" name="" placeholder="Type email address" ng-model="vm.recipient">
                                    <div class="mar-top-20 setting-col-md-9" style="margin-top: 10px;">
                                        <textarea class="form-control" name="" id="" placeholder="Enter your message here..." ng-model="vm.content" style="height: 62px !important;"></textarea>
                                    </div>
                                    <div class="pull-right" style="margin-top: 10px; margin-bottom: 12px;">
                                        <!--<img ng-if="vm.recipient.length<=0"   ng-src="/content/images/01-Invitedisabled.png" >-->
                                        <img ng-show="vm.recipient.length>0" ng-src="/content/images/02-Inviteactive.png" ng-click="openInvite=!openInvite; vm.Invite()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- INVITE PAGE DROPDOWN END-->
                    <li class="search-small mob-pull-left mar-rht">
                        <div class="searchContainer">
                            <form ng-submit="vm.searchPattern()">
                                <input type="text" name="search" placeholder="Search Goals, People..." ng-model="vm.searchText" class="search searchWidth searchwidth">
                                <img src="content/images/navbar-search-magnifyingglass.png" type="submit" style="border-radius: 10px; margin-right: 3px;"
                                    ng-click="vm.searchPattern()" />
                            </form>
                        </div>
                    </li>
                    <li class="mob-pull-left" uib-tooltip="View/Edit Profile" tooltip-class="customClass" tooltip-placement="bottom">
                        <a ui-sref="user-persona-profile" ng-click="vm.collapseNavbar()">
                        <img class="imagefit img-circle" style="height: 34px; width:34px; margin-top: 6px; border-radius:50%" no-cache-src="{{vm.profilepic}}" err-src="content/images/userprofiles/default.png" />
                    </a>
                    </li>
                    <li class="mob-pull-left" style="margin-left: 1px; margin-right: 33px;">
                        <a ui-sref="user-persona-profile" ng-click="vm.collapseNavbar()" style="color: white; margin-top: 6px; font-size:14px; line-height: 18px; text-decoration: none;">
                       <span class="trim-info" style="max-width: 140px;"> {{vm.persona.firstname}} {{vm.persona.lastname}} </span><br/>
                       <span class="trim-info" style="font-size: 11px; max-width: 210px;"> {{vm.persona.occupation}} </span>
                    </a>
                    </li>
                    <li class="mob-pull-left" uib-tooltip="Settings" tooltip-class="customClass" tooltip-placement="top" style="margin-left: 5px; margin-right:6px" ng-class="{active: vm.$state.includes('account')}" uib-dropdown
                        class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu" style="padding: 0px; margin: 9px 10px 10px 10px; background-color: #039be4;">
                        <span style="padding-right: 1px;">
                            <img src="content/images/navbar-icon-settings.png"  tooltip-class="customClass" tooltip-placement="bottom"/>
                        </span>
                    </a>
                        <ul class="dropdown-menu dropdown-menusetting" uib-dropdown-menu>
                            <!--ui-sref-active="active"-->
                            <li ng-switch-when="true">
                                <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a href="http://achieveon.zendesk.com">
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                                <span>Help</span>
                            </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--</div>-->
        </nav>

<!--- Nav bar for Mobile -->
        <nav class="navbar navbar-default navbar-fixed-bottom hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" style="background-color: #039BE4;border:none;">
            <ul class="nav navbar-tab col-md-12 tabs" style="border: none;margin-bottom:-8px;">

                <li class=" cols" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                    <a ui-sref="goal">
                        <img src="content/images/home.png" style="cursor: pointer;" onmouseover="this.src='content/images/nav-hover-ic/home-hover.png'"
                         onmouseout="this.src='content/images/home.png'" border="0" alt=""/><figcaption style="color: #ffffff;font-size:10px">Home</figcaption>
                    </a>
                </li>
                <li class="cols dropdown" uib-dropdown ng-click="status.isopen=!status.isopen; openInvite=false; openNotification=false">
                    <span class="dropdown-toggle" is-open="status.isopen" uib-dropdown-toggle style="display: block;">
                        <img src="content/images/nav-hover-ic/add-goal-normal.png" onmouseover="this.src='content/images/nav-hover-ic/add-goal.png'"
                        onmouseout="this.src='content/images/nav-hover-ic/add-goal-normal.png'" border="0" alt=""/><figcaption style="color: #ffffff;font-size:10px">New</figcaption>
                     </span>
                    <ul class="dropdown-menu dropdown-menu-center" style="border-radius: 4px; -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175); box-shadow: 0 0px 12px rgba(0, 0, 0, .175); padding-top: 0px;
                            padding-bottom: 0px; border: none; margin-top: 5px; outline: 0px">
                        <li class="active1" style="text-align: left; border-bottom: 1px solid #e8ebef;
                            border-top-left-radius: 4px; border-top-right-radius: 4px;"><a ui-sref="goal.newmobile" style="padding-bottom: 8px; font-size: 11px; text-transform: uppercase; background-color: #f4f9fb; color: #415561; padding-top: 10px;     border-top-left-radius: 4px; border-top-right-radius: 4px;">Create New Goal</a>
                        </li>
                        <li style="text-align: left;"><a ui-sref="dimension.new" style="padding-bottom: 8px; font-size: 11px; text-transform: uppercase; padding-bottom: 9px; padding-top: 6px;">Create New Folder</a></li>
                    </ul>
                </li>
                <li class="cols" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                    <a ui-sref="user-persona" ng-click="vm.collapseNavbar()">
                     <img src="content/images/nav-hover-ic/object-new.png"  onmouseover="this.src='content/images/nav-hover-ic/hover-object.png'"
                   onmouseout="this.src='content/images/nav-hover-ic/object-new.png'"  border="0" alt=""/><figcaption style="color: #ffffff;font-size:10px">Connections</figcaption>
                  </a>
                </li>

                <li class="cols dropdown dropdown-notifications open header-nav">
                    <span class="dropdown-toggle"> <img src="content/images/notification_bell_ic.png" ui-sref="notification" ng-click="openNotification=!openNotification; openInvite=false; status.isopen=false" onmouseover="this.src='content/images/nav-hover-ic/hover-notification.png'"
                        onmouseout="this.src='content/images/notification_bell_ic.png'"
                      border="0" alt=""/><figcaption style="color: #ffffff;font-size:10px">Activity</figcaption>
                      </span>
                    <div class="nav-note btn-warning" ng-show="vm.notificationLength>0 && !openNotification"><span>{{vm.notificationLength}}</span></div>

                    <div class="dropdown-container dropdown-menu-center drop-up" data-trigger="focus" ng-show="openNotification" style="margin-top: 18px;">


                        <!-- <div class="dropdown-toolbar" style="border-bottom: 1px solid #eee;">
                            <h3 class="dropdown-toolbar-title" style="text-align: left; font-size: 11px; width:80%; padding-top: 2px;
                                 font-weight: 400; color: #ACD5EC; margin-left: 11px; text-transform: uppercase;">Notifications ({{vm.notificationLength || 0}})
                                <img src="/content/images/00-cross-icon.png" ng-click="openNotification=!openNotification;" class="float-R" style="margin-right:-52px;padding-bottom: 5px;">
                            </h3>
                        </div> -->

                        <!--<hr style="background-color: #e4e9ed; margin:0px 15px 0px 15px;">-->
                        <!-- <ul class="dropdown-menu ">
                            <li class="notification not-bg" ng-repeat="userNotification in vm.userNotifications">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="media-object" ui-sref="user-persona-detail({id:userNotification.senderId})"> <img ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+userNotification.senderGuid+'/profilepic.jpg'}}"
                                                err-src="/content/images/goal_blank_logo.png" class="img-circle imagefit" alt="Name"
                                                style="width: 34px; height: 34px; border-radius: 50%;" /> </div>

                                    </div>
                                    <div class="media-body">
                                        <div class="pull-left"> <strong class="notification-title pull-left not-text" ng-bind-html="userNotification.text"></strong>

                                            <div class="notification-meta"> <small class="timestamp" style="color: #9ca7ad;">     <time am-time-ago="userNotification.createdOn"></time></small>                                                </div>
                                        </div>
                                        <div class="pull-right" ng-hide="userNotification.isReadOnly" ng-if="userNotification.notificationType != 'TESTIMONIAL'">
                                            <img ng-click="vm.connectionRequest(userNotification.id,'ACCEPTED')" src="content/images/notifications/right_ic.png">
                                            <img ng-click="vm.connectionRequest(userNotification.id,'REJECTED')" src="content/images/notifications/close_ic.png">
                                        </div>
                                        <div class="pull-right" ng-hide="userNotification.isReadOnly" ng-if="userNotification.notificationType == 'TESTIMONIAL'">
                                            <img ui-sref="user-persona-detail({id:userNotification.senderId})" src="content/images/notifications/right_ic.png">
                                            <img ng-click="vm.deleteNotification(userNotification.id)" src="content/images/notifications/close_ic.png">
                                        </div>
                                        <div class="pull-right" ng-show="userNotification.isReadOnly"><img ng-click="vm.deleteNotification(userNotification.id)" src="content/images/notifications/close_ic.png">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> -->
                        <!-- <div class="dropdown-footer text-center" style="border-top: none"> <a ui-sref="notification" ng-click="openNotification=!openNotification;" style=" font-size: 13px;">View All</a>

                        </div> -->
                    </div>
                </li>

                <!-- <li class=" cols invite dropdown-notifications1 open header-nav">
                    <span class="dropdown-toggle;">
                        <img src="content/images/nav-hover-ic/message1.png" ng-click="openInvite=!openInvite; openNotification=false; status.isopen=false";
                        onmouseover="this.src='content/images/nav-hover-ic/message-hover.png'"
                        onmouseout="this.src='content/images/nav-hover-ic/message1.png'"
                        border="0" alt=""/>
                    </span>
                    <div class="dropdown-menu1 dropdown-container dropdown-menu-center drop-up" ng-show="openInvite">
                        <div class="dropdown-toolbar" style="border: none; text-align: left; font-size: 11px; padding: 14px;">
                            <div style="border-bottom: 1px solid #eee; padding-bottom: 25px;">
                                <p style="width:80%; float:left;text-transform: uppercase; padding-top: 2px; color: #42535d;
                             padding-left: 12px;">Invite New Friend</p>
                                <img src="/content/images/00-cross-icon.png" ng-click="openInvite=!openInvite;" class="float-R" style="padding-top: 5px;">
                            </div>

                            <div class="mar-top-20 setting-col-md-9" style="margin-top: 0px !important;">
                                <input type="email" class="form-control" name="" placeholder="Type email address" ng-model="vm.recipient">
                                <div class="mar-top-20 setting-col-md-9" style="margin-top: 10px;">
                                    <textarea class="form-control" name="" id="" placeholder="Enter your message here..." ng-model="vm.content" style="height: 62px !important;"></textarea>
                                </div>
                                <div class="pull-right" style="margin-top: 10px; margin-bottom: 12px;">
                                      <img ng-show="vm.recipient.length>0" ng-src="/content/images/02-Inviteactive.png" ng-click="openInvite=!openInvite; vm.Invite()">
                                </div>
                            </div>
                        </div>
                    </div>
                </li> -->

                <!-- <li class="cols" ng-init="vm.getpopup()" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                    <a>

                        <span style="color: white;font-size: 22px;top: 8px;" class="glyphicon glyphicon-info-sign" ng-click="vm.showmobileinfo()"></span>
                    </a>
                </li> -->
                <!-- <li class=" cols">
                    <a ng-click="vm.searchPattern()">
                        <span style="color: white;font-size: 22px;top: 8px;" class="glyphicon glyphicon-search"></span>
                    </a>
                </li> -->
                <li class="cols dropdown pointer" ng-class="{active: vm.$state.includes('account')}" uib-dropdown>
                    <a class="dropdown-toggle" ng-click="openInvite=false; openNotification=false; status.isopen=false" ; uib-dropdown-toggle
                        href="" style="background-color: #039be4;" id="account-menu">
                                <span style="color: white;font-size: 20px;top: 5px;" class="glyphicon glyphicon-cog"></span>
                            </a><figcaption style="color: #ffffff;font-size:10px;margin-top:-5px">Settings</figcaption>

                    <ul class="dropdown-menu-center drop-up dropdown-menusetting" style="background-color: #039be4;" uib-dropdown-menu>
                        <!--ui-sref-active="active"-->
                        <li>
                            <a ui-sref="user-persona-profile" ng-click="vm.collapseNavbar()" style="color: white; margin-top: 6px; font-size:14px; line-height: 18px; text-decoration: none;">
                            <img class="imagefit img-circle" style="height: 34px; width:34px; margin-top: 6px; border-radius:50%" no-cache-src="{{vm.profilepic}}" err-src="content/images/userprofiles/default.png" />

                           <span class="trim-info" style="max-width: 130px;display: block;"> {{vm.persona.firstname}} {{vm.persona.lastname}} </span>
                           <span class="trim-info" style="font-size: 11px; max-width: 130px;"> {{vm.persona.occupation}} </span>
                        </a>
                        </li>
                        <li>
                            <a ui-sref="settings" style="color: white; float: left;" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-cog"></span>&nbsp;
                                        <span>Account</span>
                                    </a>
                        </li>

                        <li ui-sref-active="active">
                            <a href="" style="color: white;    float: left;" ng-click="vm.logout()" id="logout">
                                        <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                        <span>Sign out</span>
                                    </a>
                        </li>
                        <!-- <li ui-sref-active="active">
                            <a href="http://achieveon.zendesk.com" style="color: white;    float: left;">
                                        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                                        <span>Help</span>
                                    </a>
                        </li> -->
                        <li  ng-init="vm.getpopup()" ng-click="openNotification=false; openInvite=false; status.isopen=false">
                            <a style="color: white;float: left;" ng-click="vm.showmobileinfo()">
                                <!-- <i class="glyphicon glyphicon-info-sign" style="color:white;font-size: 25px;" ng-click="vm.showmobileinfo()"></i> -->
                                <span  class="glyphicon glyphicon-info-sign" ></span>&nbsp;
                                <span>Tour</span>
                            </a>
                        </li>

                    </ul>


                </li>
            </ul>
        </nav>

    </div>
</div>
