<style>
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail>img,
    .thumbnail a>img {
        height: 206px;
    }

    .pad-r-r {
        padding-left: 0px;
        padding-right: 0px
    }

    .img-width-68 {
        width: 68px;
        height: 68px;
        border-radius: 50%;
    }

    .img-width-38 {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }

    .search-new .thumbnail {
        padding: 0;
        border: 1px solid #f3f7f9 !important
    }

    .search-new .thumbnail .caption {
        padding: 25px 21px 21px 20px;
        color: #333;
    }

    .search-new .pos-rel {
        position: relative;
    }

    .search-new .card-number-icon {
        padding: 0 6px 12px 0;
    }

    .search-new .pos-abs {
        position: absolute;
        top: -2px;
        right: -4px;
        border-radius: 15%;
        padding: 0;
        font-size: 11px;
        width: 18px;
        height: 18px;
        text-align: center;
        border: 1px solid #e39c12;
        background-color: #fdb52a;
    }

    .search-new .caption-inside-row {
        margin: 0;
    }

    .search-new .card-number-txt1 {
        padding: 2px 9px 14px 7px;
        color: #787069;
        font-size: 11px;
    }

    .search-new .card-description {
        color: #9ba2bf;
    }
</style>

<nav
class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
style="background-color: #ffffff;border: none;    height: 42px;">

  <div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
    <div class="container">
      <div class="subheader-lft">
        <div class="subheader-lft-01">
        </div>
        <div class="subheader-float-rht">
          <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
             ui-sref="goal">
        </div>
      </div>
    </div>
  </div>

</nav>

<div class="hide_for_mobile" style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
      </div>
      <div class="subheader-float-rht">
        <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
           ui-sref="featured-goal">

      </div>
    </div>
  </div>
</div>

<div class="container container-fluid">
    <div class="row goal-detail-page goal-dashboard-page" style="padding-left: 5.6%; padding-right: 5.6%; padding-top: 15px">
        <h2>Search Results</h2>
        <div class="row search-result-page">
            <div class="col-md-6 col-sm-12 col-xs-12 no-padding-left">
                <div class="col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="checkbox">
                        <label>
                <input type="checkbox" value="" ng-click="vm.switchUsers('people')"  ng-checked="vm.chkBox1" ng-disabled="vm.chkBox1">
                <img ng-src="{{vm.chkBox1 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad" style="padding-right: 3.9px;
    padding-left: 0px; margin-top: 1px;"><img src="content/images/connections/collaborat@2x.png" style="padding-right: 4.5px; margin-top: -3px;
    margin-left: 2.5px;"> People <span style="padding-left: 4px;">({{vm.personList.length}}) </span>
            </label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 no-pad">
                    <div class="checkbox">
                        <label>
                <input type="checkbox" value="" ng-click="vm.switchUsers('goals')"  ng-checked="vm.chkBox2" ng-disabled="vm.chkBox2">
                <img ng-src="{{vm.chkBox2 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad" style="padding-left: 2px;
    margin-top: -1px;">
                <img src="content/images/flags.png" style="padding-right: 5px; padding-left: 2px;"> Goals <span style="padding-left: 4px;">({{vm.goalList.length}})</span>
            </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 no-padding-left">
                <div class="col-md-5 col-sm-5 col-xs-5">

                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <!--<div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Location">
            <span class="input-group-addon">
            <button type="submit"> <img src="content/images/connections/location_ic@2x.png"> </button>
            </span>
            </div>-->
                </div>
            </div>`
        </div>
        <hr style="width:100%; background-color:#e5ebe1; margin-bottom:7px; margin-top:18px">

        <div class="row search-result-page">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">`
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-6 no-pad" ng-if="vm.chkBox1" ng-repeat="context in vm.userPersonas">
                                    <div class="row tab-row-pad no-pad-btm" style="background-color: #f8fafb; margin-left:0px; margin-right:5px;margin-top:10px" >
                                        <div class="pad-l-r" style="float:left"> <img style="cursor: pointer;" no-cache-src="https://s3-us-west-1.amazonaws.com/life-edge/user/{{context.profileGuid}}/profilepic.jpg"
                                                err-src="content/images/userprofiles/default.png" class="hide_for_smallmobile hide_for_bigmobile  img-responsive img-width-68"
                                                ui-sref="user-persona-detail({id:context.id})"> <img style="cursor: pointer;"
                                                no-cache-src="https://s3-us-west-1.amazonaws.com/life-edge/user/{{context.profileGuid}}/profilepic.jpg"
                                                err-src="content/images/userprofiles/default.png" class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop img-responsive img-width-38"
                                                ui-sref="user-persona-detail({id:context.id})"></div>
                                        <div class="col-md-8 col-xs-8" style=" padding-top: 4px;">
                                            <!-- padding-left: 19px; -->
                                            <!--<p class="card-title">{{context.firstname}} {{context.lastname}}</p>
                                            <p class="card-designation">{{context.occupation}}</p>-->

                                            <p class="card-title trim-info new-css" ui-sref="user-persona-detail({id:context.id})" style="color:#303752; font-size: 13px; margin-bottom: 0px;max-width: 100px;"><span uib-tooltip="{{context.firstname}} {{context.lastname}}" tooltip-placement="bottom"
                                                    tooltip-popup-close-delay='10'>{{context.firstname}} {{context.lastname}}</span></p>
                                            <p class="card-designation trim-info" style="color:#9ba2bf; font-size: 12px;max-width: 85px;"><span uib-tooltip="{{context.occupation}}" tooltip-placement="bottom"><span>{{context.occupation}}</span></p>
                                            <div class="row" style="padding-left: 10px;">
                                                <div class="left-align pull-left">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Goals search result-->
                                <div ng-if="vm.chkBox2">
                                    <div class="col-md-3 col-xs-6 col-sm-4 no-padd" ng-repeat="goal in vm.userPersonas">
                                        <div class="thumbnail thumb-pos-r" style="border: none;">

                                            <img style="cursor: pointer; width:100%;" ui-sref="goal-detail({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                                                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_mobile">
                                            <img style="cursor: pointer; width:100%;" ui-sref="goal-detail-mobile({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                                                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
                                            <div ng-class="{'corner-ticket-blue': goal.goalStatus=='COLLABORATOR', 'corner-ticket-brown': goal.goalStatus=='SUPPORTER'}">

                                                <img src="" ng-src="{{goal.goalStatus=='COLLABORATOR' && 'content/images/new-images-demo/user-ticket-ic.png' || 'content/images/new-images-demo/group-ticket-ic.png'}}"
                                                    class="corner-icon-img">
                                            </div>
                                            <div class="caption no-pad">
                                                <div class="row caption-inside-row">
                                                    <!--<div class="left-align pull-left">
                                                    <div class="pull-right card-number-txt" ng-click="vm.InspiredGoalFun(goal)"><img src="content/images/profile/inspire.png"></div>
                                                </div>-->
                                                    <div class="left-align pull-left">
                                                        <!--<div class="card-number-icon pull-left pos-rel" style="margin-top: 1px; margin-right:1px"><img src="content/images/gray_notification_ic.png">
                                                    <div class="pos-abs btn-warning">11</div>
                                                </div>-->
                                                        <div class="pull-right card-number-txt" ng-click="vm.InspiredGoalFun(goal)" style="margin-left: 0px;
                                    margin-top: -13px;"><img src="content/images/profile/inspire.png"></div>
                                                    </div>
                                                    <div class="left-align pull-right">
                                                        <div class="card-plus-ic pull-left">{{goal | goalPercentage:goal}} %</div>
                                                        <div class="canvas-margin">
                                                            <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                                                            <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                                                        </div>

                                                        <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}"
                                                            target="myCanvas{{$index}}0"></subgoalprogress>
                                                        <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{goal | goalPercentage:goal}}"
                                                            size="20" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}1"></subgoalprogress>
                                                    </div>
                                                </div>

                                                <p style="cursor: pointer; margin-top: 4px;" ui-sref="goal-detail({id:goal.id})" class="card-title hide_for_mobile"><strong><span class="trim-info" uib-tooltip="{{goal.goalText}}" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                                                <p style="cursor: pointer; margin-top: 4px;" ui-sref="goal-detail-mobile({id:goal.id})" class="card-title  hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"><strong><span class="trim-info" uib-tooltip="{{goal.goalText}}" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>

                                                <!-- <p class="card-description" style="margin-top: -6px;"><span class="trim-info">{{goal.description || 'Add description to the goal'}}</span></p> -->
                                                <!-- <p ng-style="!goal.dimensionName && {'height':'22px'}" style="cursor: pointer;" ui-sref="dimension.edit({id:goal.dimensionId})"
                                                    class="price-txt"><span class="trim-info" uib-tooltip="{{goal.dimensionName}}" tooltip-placement="bottom">{{goal.dimensionName}}</span></p> -->
                                                <!--<ng-pluralize count="goal.finishTime | dateRange:vm.today"  when="{'-1':'Behind', 1:'Day', 'other': 'Days'}"></ng-pluralize> left-->
                                                <p class="card-description" style="margin-top: -7px;">{{goal | convertIntoDate | dateRange:vm.today || 'Add due date to the goal'}}</p>
                                                <div class="row caption-inside-row" style="padding-top: 6px;">
                                                    <div class="left-align pull-left">

                                                        <div class="pull-left" style="padding-bottom: 8px;"><img src="content/images/goal-detail-edit-page/connection_ic.png"></div>
                                                        <div class="pull-right card-number-txt1" style="padding-bottom: 8px;">{{goal.totalParticipants}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left-align pull-right">
                                    <!--<div class="card-plus-ic pull-left blue-color">more...</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
