<style>
    .modal-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    a:visited {
        color: white;
    }

    #resetPassword .form-control {
        height: 40px !important;
        border-radius: 2px;
    }

    #resetPassword input {
        color: #f6f9fb;
        font-size: 15px;
        font-weight: 400;
        border: solid 1px rgba(255, 255, 255, .4) !important;
        height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }

    #resetPassword .form-group {
        margin-bottom: 10px !important;
    }

    #resetPassword .form-control:focus {
        border-color: #fff;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    }

    #resetPassword .form-group input::placeholder {
        color: #f6f9fb;
        font-size: 15px;
        font-weight: 400
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
    }

    .pos-abs {
        position: absolute;
        right: 12px;
        top: 2px
    }

    .pos-rel {
        position: relative
    }

    .cover {
        background: url('content/images/background.jpg') no-repeat center center;
        min-height: 100%;
        background-size: cover;
    }

    .help-block {
        color: #ffffff !important;
    }
</style>
<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Reset your password</h1>

            <div class="alert alert-danger" ng-show="vm.errorEmailNotExists">
                <strong>E-Mail address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" ng-hide="vm.success">
                <p>Enter the e-mail address you used to register.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success == 'OK'">
                <p>Check your e-mails for details on how to reset your password.</p>
            </div>

            <form ng-show="!vm.success" name="form" id="resetPassword" role="form" novalidate ng-submit="vm.requestReset()" show-validation>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail" ng-model="vm.resetAccount.email"
                        ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block" ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Reset</button>
            </form>

        </div>
    </div>
</div>