
<div>
    <h2><span>Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.comment.comment}}</span>
        </dd>
        <dt><span>Link Url</span></dt>
        <dd>
            <span>{{vm.comment.linkUrl}}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
            <span>{{vm.comment.imagePath}}</span>
        </dd>
        <dt><span>Video Path</span></dt>
        <dd>
            <span>{{vm.comment.videoPath}}</span>
        </dd>
        <dt><span>Creat Time</span></dt>
        <dd>
            <span>{{vm.comment.creatTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Post</span></dt>
        <dd>
            <a ui-sref="post-detail({id:vm.comment.postId})">{{vm.comment.postId}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.comment.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
