<!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/assets/stylesheets/pricing.css">-->
<style>
    .modal-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    a:visited {
        color: white;
    }

    #registrationform .form-control {
        height: 40px !important;
        border-radius: 2px;
    }

    #registrationform input {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400;
        border: solid 1px #ceced7 !important;
        height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }

    #registrationform .form-group {
        margin-bottom: 10px !important;
    }

    #registrationform .form-control:focus {
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    }

    #registrationform .form-group input::placeholder {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
    }

    .pos-abs {
        position: absolute;
        right: 12px;
        top: 2px
    }

    .pos-rel {
        position: relative
    }

    .cover {
        background: url('content/images/newloginandsignup/background.png') no-repeat center center;
        background-size: 100%;
    }

    .textcolor {
        color: #5d5e7c !important;
    }
    /*.help-block {
  color: #ffffff !important;
}*/

    .main-nav {
        margin: 2% 4%;
    }
</style>
<div>
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right" style="margin-top:25px;">
                <li class="nav-links"><a href="https://achieveon.wordpress.com/" target="_blank" style="color:#5d5e7c">BLOG</a></li>
                <li class="nav-links"><a href="#" style="color:#5d5e7c">PRICING</a></li>
                <li class="nav-links"><a href="http://achieveon.zendesk.com" target="_blank" style="color:#5d5e7c">HELP</a></li>
                <li class="nav-links login"><a ui-sref="home" style="color:#5d5e7c"><span>LOGIN</span> </a></li>
            </ul>
        </div>
    </nav>
</div>
<div ng-cloak style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
                        <h1 style="font-size: 36px; margin-bottom: 24px; color: #5d5e7c; font-family: 'Lato'; font-weight:800;">Contact us: <a style="font-size: 22px; margin-bottom: 24px; color: #60d4d6; font-family: 'Lato'; font-weight:800; "> info@achieveon.com</a>                            </h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" ng-show="vm.success">
                            your<strong> Message </strong>sent successfully
                        </div>
                        <div class="alert alert-danger" ng-show="vm.error">
                            <strong>Some error occurred!</strong> Please try again later.
                        </div>

                    </div>
                </div>
                <div id="registrationform" ng-show="!vm.success" style="margin-left: 22%; margin-right: 22%; color: #5d5e7c;">

                    <form name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control textcolor" id="firstName" name="firstName" placeholder="first name" ng-model="vm.registerAccount.firstName"
                                    ng-minlength=1 ng-maxlength=100 required>
                                <!--<span class="textSmallGrey">Username</span>-->
                                <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                                    <p class="help-block textcolor" ng-show="form.firstName.$error.required">
                                        Your first name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control textcolor" id="lastName" name="lastName" placeholder="last name" ng-model="vm.registerAccount.lastName"
                                    ng-minlength=3 ng-maxlength=100 required>
                                <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                                    <p class="help-block textcolor" ng-show="form.lastName.$error.required">
                                        Your last name is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="your e-mail" ng-model="vm.registerAccount.email"
                                    ng-minlength=5 ng-maxlength=50 ng-change="vm.registerAccount.login=vm.registerAccount.email"
                                    required>
                                <div ng-show="form.email.$dirty && form.email.$invalid">
                                    <p class="help-block textcolor" ng-show="form.email.$error.required">
                                        Your e-mail is required.
                                    </p>
                                    <p class="help-block textcolor" ng-show="form.email.$error.email">
                                        Your e-mail is invalid.
                                    </p>
                                    <p class="help-block textcolor" ng-show="form.email.$error.minlength">
                                        Your e-mail is required to be at least 5 characters.
                                    </p>
                                    <p class="help-block textcolor" ng-show="form.email.$error.maxlength">
                                        Your e-mail cannot be longer than 50 characters.
                                    </p>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="Message" name="Message" placeholder="Message" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Occupation'" ng-model="vm.registerAccount.Message" required>
                                <div ng-show="form.occupation.$dirty && form.occupation.$invalid">
                                    <p class="help-block textcolor" ng-show="form.Message.$error.required">
                                        Your Message name is required.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                            </div>
                        </div>

                        <div class="row" style="position: relative; top: 30px">

                            <div class="col-md-12" style="text-align: center;">
                                <button type="submit" ng-disabled="form.$invalid" ; style="width: 360px; height: 50px !important; border-radius:2px;" class="btn btn-primary-login"
                                    ng-click="vm.success=true">contact us</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
