<!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/assets/stylesheets/pricing.css">-->
<style>
    .modal-img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    a:visited {
        color: white;
    }

    #registrationform .form-control {
        height: 40px !important;
        border-radius: 2px;
    }

    #registrationform input {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400;
        border: solid 1px #ceced7 !important;
        height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }

    #registrationform .form-group {
        margin-bottom: 10px !important;
    }

    #registrationform .form-control:focus {
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    }

    #registrationform .form-group input::placeholder {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
    }

    .pos-abs {
        position: absolute;
        right: 12px;
        top: 2px
    }

    .pos-rel {
        position: relative
    }

    .cover {
        background: url('content/images/newloginandsignup/background.png') no-repeat center center;
        background-size: 100%;
    }

    .textcolor {
        color: #5d5e7c !important;
    }
    /*.help-block {
  color: #ffffff !important;
}*/

    .main-nav {
        margin: 2% 4%;
    }
</style>
<div>
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right" style="margin-top:25px;">
                <li class="nav-links"><a href="https://achieveon.wordpress.com/" target="_blank" style="color:#5d5e7c">BLOG</a></li>
                <li class="nav-links"><a href="#" style="color:#5d5e7c">PRICING</a></li>
                <li class="nav-links"><a href="http://achieveon.zendesk.com" target="_blank" style="color:#5d5e7c">HELP</a></li>
                <li class="nav-links login"><a ui-sref="home" style="color:#5d5e7c"><span>LOGIN</span> </a></li>
            </ul>
        </div>
    </nav>
</div>
<div ng-cloak style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
                        <h1 style="font-size: 36px; margin-bottom: 24px; color: #5d5e7c; font-family: 'Lato'; font-weight:800;">Contact us: <a style="font-size: 22px; margin-bottom: 24px; color: #60d4d6; font-family: 'Lato'; font-weight:800; "> info@achieveon.com</a>                            </h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" ng-show="vm.success">
                            your<strong> Message </strong>sent successfully
                        </div>
                        <div class="alert alert-danger" ng-show="vm.error">
                            <strong>Some error occurred!</strong> Please try again later.
                        </div>

                    </div>
                </div>
                <div id="registrationform" ng-show="!vm.success" style="margin-left: 22%; margin-right: 22%; color: #5d5e7c;">



                </div>
            </div>
        </div>
    </div>
</div>
