<div class="height-width-100-percent">
 <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>  
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-links"><a href="#">BLOG</a></li>
                <li class="nav-links"><a href="#">PRICING</a></li>
                <li class="nav-links"><a href="#">HELP</a></li>
                <li class="nav-links login"><a href="#"><span>LOGIN</span> </a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid parent-container no-padding">       
        <section id="BuildYourDream">
            <div class="row BYD-row margin-top-50">

                <div class="col-xs-12  col-sm-push-6 col-sm-6 col-md-push-9  col-md-3 col-lg-push-9 col-lg-3  BYD-col ">
                    <div class="margin-top-50 text-center">
                        <svg width="30%" height="30%" viewBox="0 0 60 60" style="border-radius: 200px;box-shadow: 0px 0px 30px rgba(10, 10, 10, 0.24)" class="shadowed-box">
                        <g>
                            <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
                                c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
                                C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/>
                            <path  d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                                S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" stroke="transparent"
                                   fill="transparent"/>
                    </svg>
                        <p class="gray-light font-weight-400">Watch the tour</p>

                    </div>
                </div>
                <div class="col-xs-12  col-sm-pull-6 col-sm-6 col-md-pull-2 col-md-8  col-lg-pull-2 col-lg-8  BYD-col ">
                    <section class="tBIGTitle">
                        <h1>
                            <div class="slidingVertical">
                                <span>Plan, Collaborate and <a style="color: #60d4d6">Achieve</a> goals</span>
                                <span>Build your <a style="color: #60d4d6">dream...</a></span>
                                <span>Create <a style="color: #fd5964">Influence</a>, Change the world..</span>
                            </div>
                        </h1>
                    </section>
                    <br><br>
                    <h3 class="BYD-sub-heading font-weight-200 latolight">AchieveOn helps you to accomplish <span class="latoitalic">your goals</span> <br>through the power of social collaboration.</h3>
                    <form>
                        <div class="row latoregular">
                            <div class="customform" style="margin-left: 1.5%;">
                                <input class="custom-input" type="text" placeholder="Email address">
                            </div>
                            <div class="customform tcustomform">
                                <input class="custom-input" type="password" placeholder="Password">
                            </div>
                            <div class="customsignup tcustomform">
                                <input class="custom-button sign-up" type="submit" value="Sign up for free">
                            </div>
                        </div>
                    </form>
                    <div class="row latoregular">
                        <div class="customlogin">
                            <button class="custom-button white-background-btn" style="margin-left: 7.5%;">Signup with <i class='fa fa-google-plus font-weight-800' aria-hidden='true'></i></button>
                        </div>
                        <div class="tcustomlogin">
                            <div class="customlogin">
                                <button class="custom-button white-background-btn">Signup with <i class="fa fa-facebook font-weight-800" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tcustomtagline">
                            <p class="terms">By clicking Sign up,<br> I agree to the <span>Terms of Service</span> and <span> Privacy Policy </span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="ManageLifeGoals">
            <svg class="MLG-bg" viewBox="0 0 100 100" style="position: absolute">
            <path d="M0 0 L100 0 L100 40 L0 70" style="fill: #e1f4f4; "></path>
        </svg>
            <svg class="MLG-bg-circles" style="position: absolute;">
            <defs>
                <filter id="blur" height="140%" x="-20%" y="-20%" width="140%">
                    <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                </filter>
            </defs>
            <circle cx="89%" cy="24%" r="10" stroke="#00d9da" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="9%" cy="37%" r="10" stroke="#0aa9ff" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="18%" cy="71%" r="10" stroke="#00d9da" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
        </svg>
            <div class="row MLG-row" style="margin:3%;">
                <div>
                    <div class="col-xs-8  col-sm-8  col-md-5 col-lg-offset-1 col-lg-5 col-lg-offset-1 MLG-col margin-top-50">
                        <h1 class="latobold" style="color: #3fb8ba;"><span>Manage your Life Goals</span></h1>
                        <h3 class="MLG-sub-heading font-weight-200 latolight">Plan goals for Education, Work, Health & Fitness, Travel and many other activities. Create detail planning with sub-goals.</h3>
                        <svg width="100%" height="9em">
                        <circle cx="40%" cy="20%" r="1%" stroke="#6c7d89" stroke-width="1" fill="#6c7d89" ></circle>
                        <line  stroke-dasharray="2,5" x1="40%" y1="22%" x2="40%" y2="100%" style="stroke: #6c7d89;stroke-width: 1;" ></line>
                    </svg>

                        <div class="tsubgoal">
                            <div class="card" style="width: 70%; margin-top: -5%; margin-left: -10%;">
                                <div class="card-block">
                                    <img src="/content/images/landingpage/subgoal1.png" width="100%">
                                </div>
                            </div>

                            <div class="card" style="width: 70%; margin-top: -5%; margin-left: -10%;">
                                <div class="tsubgoal2">
                                    <div class="card-block">
                                        <img src="/content/images/landingpage/subgoal2.png" width="100%">
                                    </div>
                                </div>
                                <!--tsubgoal2-->
                            </div>
                        </div>
                        <!--tsubgoal-->
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 MLG-col-right bigshow">
                        <div class="tbigcard">
                            <div class="slidingHorizontal">
                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card1.png" width="100%">
                    </div>
                    </span>
                                <!--card1-->

                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card2.png" width="100%">
                    </div>
                    </span>
                                <!--card2-->

                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card3.png" width="100%">
                    </div>
                    </span>
                                <!--card3-->


                            </div>
                            <!--card slider-->

                        </div>
                        <!--tbigcard-->
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 tbigshow">
                        <div class="tbigcard">
                            <div class="slidingHorizontal">
                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card1.png" width="100%">
                    </div>
                    </span>
                                <!--card1-->

                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card2.png" width="100%">
                    </div>
                    </span>
                                <!--card2-->

                                <span>
                    <div class="card">
                        <img src="/content/images/landingpage/card3.png" width="100%">
                    </div>
                    </span>
                                <!--card3-->


                            </div>
                            <!--card slider-->

                        </div>
                        <!--tbigcard-->
                    </div>

                </div>
        </section>
        <section style="margin: 2%" id="BuildYourDeramTeam">
            <div class="row BUDT-row">
                <div class="col-xs-2 col-sm-2 col-md-6  col-lg-6 ">
                    <svg class="BUDT-vertical-line" width="100%">
                    <circle cx="50%" cy="70%" r=".5%" stroke="#aaa6b6" stroke-width="1" fill="#aaa6b6"></circle>
                    <line stroke-dasharray="2, 5" x1="50%" y1="72%" x2="50%" y2="100%" style="stroke: #aaa6b6;stroke-width: 1;"></line>
                </svg>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-6  col-lg-6 BUDT-col-right">
                    <h1 class="BUDT-heroText latobold ">Build your Dream Team</h1>
                    <h3 class="BUDT-sub-heading font-weight-200 latolight">Invite friends, experts and people with similar interests to join your goals as <span class="latoregular">Supporters</span> and <span class="latoregular">Collaborators</span></h3>
                    <div style="margin-top: 6em;" class="latoregular">
                        <div class="row">
                            <div class="media BUDT-media float-R">
                                <div class="media-left">
                                    <img src="/content/images/landingpage/img-circle-02.png" class="media-object img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="font-weight: 400">Natalie Coughlin</h4>
                                    <p class="gray-light">Swim coach / Canyon Sharks</p>
                                    <div class="media-body-icons">
                                        <img src="/content/images/landingpage/home-controls.png" style="margin-right: 10%">
                                        <img src="/content/images/landingpage/home-connection.png" style="margin-right: 10%">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div class="media BUDT-media float-L">
                                <div class="media-left">
                                    <img src="/content/images/landingpage/circle-img-01.png" class="media-object img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="font-weight: 400">Alexa Brown</h4>
                                    <p class="gray-light">Athlete</p>
                                    <div class="media-body-icons">
                                        <img src="/content/images/landingpage/home-controls.png" style="margin-right: 10%">
                                        <img src="/content/images/landingpage/home-connection.png" style="margin-right: 10%">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top: 1em;">
                            <div class="media BUDT-media float-R margin-right-50">
                                <div class="media-left">
                                    <img src="/content/images/landingpage/img-circle-03.png" class="media-object img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="font-weight: 400">Amir Vodjdani</h4>
                                    <p class="gray-light">Trainer at River Oaks</p>
                                    <div class="media-body-icons">
                                        <img src="/content/images/landingpage/home-controls.png" style="margin-right: 10%">
                                        <img src="/content/images/landingpage/home-connection.png" style="margin-right: 10%">
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section style="margin: 2%" id="RealTimeCollaboration">
            <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-5  col-md-offset-1  col-lg-5 col-lg-offset-1 RTC-col">
                    <h1 class="RTC-heroText latobold ">Real-time Collaboration</h1>
                    <h3 class="RTC-sub-heading font-weight-200 latolight">Use posts and comments for discussion. Upload and share documents, pdf, picture, links which are called <span class="latoregular">"Collections"</span></h3>
                    <div class="card">
                        <div>
                            <img src="/content/images/landingpage/RecentActivity.png" width="100%">
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-6  col-lg-6">
                    <svg class="RTC-vertical-line" width="100%">
                    <circle cx="50%" cy="70%" r=".5%" stroke="#aaa6b6" stroke-width="1" fill="#aaa6b6"></circle>
                    <line stroke-dasharray="2, 5" x1="50%" y1="71%" x2="50%" y2="100%" style="stroke: #aaa6b6;stroke-width: 2;"></line>
                </svg>
                </div>
            </div>
        </section>
        <section style="margin: 2%" id="MoniterAndDriveSuccess">
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-offset-6  col-md-6 col-lg-offset-6 col-lg-6 MADS-col">
                    <h1 class="MADS-heroText latobold">Monitor and Drive Success</h1>
                    <h3 class="MADS-sub-heading font-weight-200 latolight">Use goal metrics to update status, check progress and align everyone to accomplish the goal with laser sharp focus.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5  col-lg-5 ">
                    <div class="row margin-all-10">
                        <div class="col-md-offset-4  col-md-2 col-xs-2 col-sm-2  col-lg-offset-4 col-lg-2">
                            <img src="/content/images/landingpage/circle4.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                            <img src="/content/images/landingpage/circle5.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                            <img src="/content/images/landingpage/circle6.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                            <img src="/content/images/landingpage/circle7.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>

                    </div>
                    <div class="row margin-all-10">
                        <div class="col-md-offset-6  col-md-2 col-xs-2 col-sm-2  col-lg-offset-6 col-lg-2">
                            <img src="/content/images/landingpage/circle8.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                            <img src="/content/images/landingpage/circle9.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                            <img src="/content/images/landingpage/circle10.png" class="img-circle" style="width: 60px;height: 60px">
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6 ">
                    <div style="width: 100%;height: 100px">
                        <div id="circularProgressbar" class="float-L" style="width:30%;">

                        </div>
                        <div class="latoregular" style="width:40%; margin-left: 35%;">
                            <p class="gray-light">TARGET</p>
                            <h3 class="gray-dark no-margin margin-bottom-10">&#x24;12000</h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="dropdown float-L  MADS-dropdown ">
                                        <button style="background: #F5FAFD" class="btn btn-primary dropdown-toggle btn-xs width-100 text-center gray-dark no-border margin-bottom-10 no-outline" type="button" data-toggle="dropdown">Currency
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">JavaScript</a></li>
                                        </ul>
                                        <input style="background: #F5FAFD" class="width-100 text-center gray-dark no-border margin-bottom-10" type="text" value="7,200" disabled/>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="dropdown float-L  MADS-dropdown">
                                        <button style="background: #F5FAFD" class="btn btn-primary dropdown-toggle btn-xs width-100 text-center gray-dark no-border margin-bottom-10 no-outline" type="button" data-toggle="dropdown">USD
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">JavaScript</a></li>
                                        </ul>
                                        <input style="background: #F5FAFD" class="width-100 text-center gray-dark no-border margin-bottom-10" type="text" value="10200" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="GetInspiration" style="margin-top: -20px;">
            <svg class="GI-bg thide" viewBox="0 0 100 100" style="position: absolute">
            <path d="M0 0 L100 20 L100 80 L0 100" style="fill: #00d9da; "></path>
        </svg>
            <svg height="1080" class="GI-bg tshow" viewBox="0 0 100 100" style="position: absolute">
            <path d="M0 0 L100 20 L100 80 L0 100" style="fill: #00d9da; "></path>
        </svg>
            <svg class="GI-bg-circles" style="position: absolute;">
            <defs>
                <filter id="blur" height="140%" x="-20%" y="-20%" width="140%">
                    <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                </filter>
            </defs>
            <circle cx="19%" cy="10%" r="10" stroke="#ff3a56" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="89%" cy="24%" r="10" stroke="white" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="9%" cy="37%" r="10" stroke="#0aa9ff" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="3%" cy="52%" r="10" stroke="#0aa9ff" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="8%" cy="71%" r="10" stroke="white" stroke-width="3" fill="transparent"  filter="" ></circle>
            <circle cx="78%" cy="78%" r="10" stroke="white" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="18%" cy="91%" r="10" stroke="#00d9da" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
            <circle cx="89%" cy="83%" r="10" stroke="#76728d" stroke-width="3" fill="transparent"  filter="url(#blur)" ></circle>
        </svg>
            <div class="row GI-row" style="padding: 10% 5%">
                <div class="col-xs-10 col-sm-10 col-md-offset-1 col-md-8  col-lg-offset-1 col-lg-8 GI-col">
                    <h1 class="GI-heroText latobold ">Get Inspiration</h1>
                    <h3 class="GI-sub-heading font-weight-200 latolight">Get Inspiration from Trending Dashboard..</h3>

                    <div class="card shadowed-box font-weight-200 GI-tab-box margin-top-50">
                        <ul class="nav nav-tabs no-border">
                            <li class="active"><a data-toggle="tab" href="#trending">TRENDING</a></li>
                            <li><a data-toggle="tab" href="#my-goals">MY GOALS </a></li>
                            <li><a data-toggle="tab" href="#dimensions">DIMENSIONS</a></li>
                            <li style="float: right">
                                <div class="dropdown GI-dropdown">
                                    <button class="btn btn-primary dropdown-toggle custom-button white-background-btn no-outline" type="button" data-toggle="dropdown" style="border:none">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Setting1</a></li>
                                        <li><a href="#">Setting2</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="trending" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="card">
                                            <img src="/content/images/landingpage/card4.png" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="card">
                                            <img src="/content/images/landingpage/card5.png" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="card">
                                            <img src="/content/images/landingpage/card6.png" width="100%">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="my-goals" class="tab-pane fade">

                            </div>
                            <div id="dimensions" class="tab-pane fade">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <svg class="GI-vertical-line" width="100%" style="margin-top: 110px;">
                    <circle cx="70%" cy="80%" r="1%" stroke="white" stroke-width="1" fill="white"></circle>
                    <line stroke-dasharray="2, 5" x1="70%" y1="81%" x2="70%" y2="100%" style="stroke: white;stroke-width: 2;"></line>
                </svg>
                </div>
            </div>

            <div class="row tinspirehide" style="margin-top: -100px;">

                <div class="col-xs-6 col-sm-6 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4">
                    <div class="margin-top-10 icon-with-circle-border ">
                        <img src="/content/images/landingpage/home-big-inspire-ic.png">
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6  col-lg-6">
                    <h3 style="width: 80%;" class="GI-sub-heading font-weight-200 latolight">Use the <span class="latoitalic">Inspire button</span> to create a copy of popular goals- these become your <span class="latoitalic" style="color:#006263">Inspired Goals</span></h3>
                </div>

            </div>

            <div class="row tinspireshow" style="margin-top: -100%;">

                <div class="col-xs-6 col-sm-6 col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4" style="padding-left: 20%;">
                    <div class="margin-top-10 icon-with-circle-border">
                        <img src="/content/images/landingpage/home-big-inspire-ic.png">
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6  col-lg-6">
                    <h3 style="width: 80%;" class="GI-sub-heading font-weight-200 latolight">Use the <span class="latoitalic">Inspire button</span> to create a copy of popular goals- these become your <span class="latoitalic" style="color:#006263">Inspired Goals</span></h3>
                </div>

            </div>

        </section>
        <section style="margin: 15% 5% 0% 5%" id="CreateInfluence">
            <div class="row CI-row ">
                <div class="col-xs-12 col-sm-12  col-md-6  col-md-offset-6 col-lg-offset-6 col-lg-6 ">
                    <h1 class="CI-heroText latobold ">Create Influence</h1>
                    <h3 class="CI-sub-heading gray-light font-weight-200 latolight">Create a global following of Collaborators and Supporters. Spread influence through your goals.</h3>
                </div>
            </div>
            <div class="row CI-row-2 padding-top-10">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="margin-top: 6em;">
                            <div class="card">
                                <img src="/content/images/landingpage/card7.png" width="100%">
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="margin-top: 6em;">
                            <div class="card">
                                <img src="/content/images/landingpage/card8.png" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row  CI-row-3">
                        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 col-md-offset-2 col-lg-offset-2 ">
                            <div class="margin-top-10 icon-with-circle-border  " style="background: #ff3a54">
                                <img src="/content/images/landingpage/create-influence-ic.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 ">
                            <svg class="CI-vertical-line" width="100%">
                                <circle cx="30%" cy="10%" r="1%" stroke="#aaa6b6" stroke-width="1" fill="#aaa6b6"></circle>
                                <line stroke-dasharray="5, 5" x1="30%" y1="10%" x2="30%" y2="100%" style="stroke: #aaa6b6;stroke-width: 2;"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                            <img class="snippet margin-top-10" src="/content/images/landingpage/collaborator.png" width="68%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top-50">
                <h3 class="gray-light float-L font-weight-200 latolight">Share goals on &nbsp; &nbsp; &nbsp;</h3>
                <ul style="list-style-type: none;">
                    <li style="display: inline"><img style="width: 40px;height: 80px;" src="/content/images/landingpage/fb.svg"></li>&nbsp;
                    <li style="display: inline"><img style="width: 40px;height: 80px;" src="/content/images/landingpage/tw.svg"></li>&nbsp;
                    <li style="display: inline"><img style="width: 40px;height: 80px;" src="/content/images/landingpage/ln.svg"></li>
                </ul>
                <svg width="50%" height="100px">
                <circle cx="50%" cy="10%" r="1%" stroke="#aaa6b6" stroke-width="1" fill="#aaa6b6"></circle>
                <line stroke-dasharray="5, 5" x1="50%" y1="10%" x2="50%" y2="100%" style="stroke: #aaa6b6;stroke-width: 2;"></line>
            </svg>
            </div>
        </section>
        <section style="margin: 0% 5%" id="DiscoverExperts">
            <div class="row">
                <div class="col-md-6 col-md-offset-1  col-lg-6 col-lg-offset-1 col-xs-6 col-sm-6">
                    <h1 class="DE-heroText latobold">Discover <span>experts</span> for your goals</h1>
                    <h3 class="DE-sub-heading latolight font-weight-200">Search People and Businesses with interesting Goals and offerings. Use testimonials and ratings to pick the right team</h3>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-2  col-lg-2 col-lg-offset-1  col-xs-2 ">
                    <div class="margin-top-10 icon-with-circle-border  " style="background: #00d9da">
                        <i class="fa fa-search  fa-3x  " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row margin-top-50 latoregular">
                <div class="col-md-4 col-md-offset-2  col-lg-4 col-lg-offset-2 col-xs-6 col-sm-6">
                    <div class="media custom-media margin-top-50">
                        <div class="media-left">
                            <img style="width: 150px;height: 150px;" src="/content/images/landingpage/circle1.png" class="media-object img-circle">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading" style="font-weight: 400">Lisa Marilyn Grey </h3>
                            <p class="gray-light">Fashion Designer,DKNY</p>
                            <ul style="list-style-type: none;padding: 0">
                                <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star-empty"></li>
                            <li style="display: inline"><span>4.1</span></li>
                            </ul>
                            <button class="btn btn-success">Add Connection</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-5  col-lg-5 col-xs-6 col-sm-6">
                    <h5 style="font-weight: 400;margin: 0;" class="gray-dark">Testimonials</h5>
                    <div class="media  ">
                        <div class="media-left" style="width: 10%;    vertical-align: top;">
                            <img src="/content/images/landingpage/circle2.png" class="media-object img-circle" style="height: 50px;width: 50px">
                        </div>
                        <div class="media-body" style="width: 90%">
                            <p class="media-heading font-weight-200 gray-light" style="font-weight: 400">I am pleased to write these lines for Lisa Marilyn Grey who had been interacting with me as representative of her organisation while I was working with TAFE .later this professional..</p>
                            <ul style="list-style-type: none;padding: 0">
                                <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star-empty"></li>
                            <li style="display: inline"><span class="float-R" style="color: #0090C6">Maro Theodorakis</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="media  ">
                        <div class="media-left" style="width: 10%;    vertical-align: top;">
                            <img src="/content/images/landingpage/circle3.png" class="media-object img-circle" style="height: 50px;width: 50px">
                        </div>
                        <div class="media-body" style="width: 90%">
                            <p class="media-heading font-weight-200 gray-light" style="font-weight: 400">Design and product management of new fashionable cycling vest label OZO clothing. An exciting role that's saw me designing outerwear and textile prints, sourcing fabrics and trims..</p>
                            <ul style="list-style-type: none;padding: 0">
                                <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow "></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star yellow"></li>
                            <li style="display: inline"><span class="glyphicon glyphicon-star-empty"></li>
                            <li style="display: inline"><span class="float-R" style="color: #0090C6">Chloe Mansueto</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <div class="panel panel-default margin-top-100" style="border:none; -webkit-box-shadow: none; box-shadow: none;">
            <div class="tinspirehide">
                <div class="panel-body" style="width: 50%;margin: auto; border: 1px solid #e7edf1; border-radius:5px;">
                    <div style="width: 60%;" class="float-L">
                        <h3 class="sign-up-heroText gray-dark latobold">Create your <span> free account </span> now </h3>
                        <h4 class="sign-up-sub-heading gray-light font-weight-400 latolight">AchieveOn is free to use for as long as you want.</h4>
                    </div>
                    <div style="width: 40%; margin-top: 30px" class="float-L">
                        <input class="custom-button width-100 sign-up" type="submit" value="Sign Up">
                    </div>
                </div>
            </div>
            <div class="tinspireshow">
                <div class="panel-body" style="width: 80%;margin: auto; border: 1px solid #e7edf1; border-radius:5px;">
                    <div style="width: 60%;" class="float-L">
                        <h3 class="sign-up-heroText gray-dark latobold">Create your <span> free account </span> now </h3>
                        <h4 class="sign-up-sub-heading gray-light font-weight-400 latolight">AchieveOn is free to use for as long as you want.</h4>
                    </div>
                    <div style="width: 40%; margin-top: 30px" class="float-L">
                        <input class="custom-button width-100 sign-up" type="submit" value="Sign Up">
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-center margin-top-50 no-border">
            <ul class="gray-light latolight" style="list-style-type: none;padding: 0; border: none;">
                <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;">BLOG</li>
                <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;">PRICING</li>
                <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;">HELP</li>
                <li style="display: inline; padding: 0px 10px;">CONTACT US</li>
            </ul>
            <h6 class="latolight gray-light">&copy;Copyright 2017 - AchieveOn Inc, All Rights Reserved</h6>
        </footer>
        </div>

        <script>
            AcieveOn.elementsPosition.init();
        </script>
</div>