<style>
  .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .hplr {
    padding-left: 2%;
    padding-right: 2%
  }
  /*.well {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }*/
</style>

<body style="margin-left:0px; margin-right:0px;" ng-cloak>
  <header id="home" class="welcome-area landing-page-css" style="height:700px">
    <div class="header-top-area hplr">
      <div class="container">
        <div class="row">
          <div class="col-md-3" style="padding-left: 3%">
            <div class="logo" style="margin-top:0px">
              <a href="index.html">
                <p><img src="content/images/Logo.png" style="width:auto !important"></p>
              </a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="mainmenu">
              <div class="navbar navbar-nobg">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-left">
                    <li><a class="smoth-scroll" href="https://achieveon.wordpress.com" target="_blank">BLOG</a> </li>
                    <li><a class="smoth-scroll" href="https://achieveon.zendesk.com" target="_blank">HELP</a> </li>
                    <li><a class="smoth-scroll" ui-sref="register">JOIN US</a> </li>
                    <!--<li><a class="smoth-scroll" href="#gallery">CONTACT US</a> </li>
                  <li><a class="smoth-scroll" href="#testimonial">PRICING</a> </li>-->
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <!--<li><a ><input type="email" class="form-control smoth-scroll" id="email_id" name="email_name" placeholder="Email"></a></li>
                  <li><a><input type="password" class="form-control smoth-scroll" id="pwd_id" name="pwd_name" placeholder="Password"></a></li>-->
                    <li style="padding-top:5px"><a class="smoth-scroll" ui-sref="home">LOGIN</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-image-area" data-stellar-background-ratio="0.6" style="position:relative">
      <div class="" style="position:absolute; bottom:0; z-index:111; width:100%"><img src="content/images/overlay.png" style="width:100%"></div>
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-12" style="text-align: center; padding-left: 10%; padding-right: 10%;">
                <!-- <div class="onee" style="float:left">
                 <iframe width="100%" height="200" src="https://www.youtube.com/embed/O91IWpPUfzM" frameborder="0" allowfullscreen style="border: 4px solid rgba(255, 255, 255, 0.1);"></iframe>
           </div> -->


                <div class="row" style="margin-bottom: 2%">
                  <div class="header-text text-center" style="margin-top: -60px;">
                    <h2 class="cd-headline clip is-full-width"> <span class="cd-words-wrapper1"> <b class="is-visible" style="font-size:45px">Become Successful</b> </span>                      </h2>
                    <!--<p>Connect with Dreamers, Experts and Professionals to create your success path</p>-->
                    <p>Your Goal Collaboration with Friends, Family and Experts</p>
                    <!--<a class="slide-btn smoth-scroll" href="#" style="border: 1px solid #57e14d; background-color: #57e14d; border-radius: 6px; padding: 8px 25px; height:40px" ui-sref="register">Become a Member!</a> </div>-->
                  </div>
                  <div class="col-md-6" style="text-align: center; border-right: 1px solid rgba(255, 255, 255, .5); padding-top: 16px">
                    <iframe width="98%" height="263" src="https://www.youtube.com/embed/O91IWpPUfzM" frameborder="0" allowfullscreen style=" border-radius: 6px"></iframe>
                  </div>
                  <div class="col-md-6" style="text-align: center">
                    <!--<div class="regist" style="background-color: rgba(255, 255, 255, .9); text-align: left;margin: 1% 10% 1% 15%; padding: 5%;
              width: 70%; border-radius: 3px;">-->
                    <!--<div class="regist" style="text-align: left;margin: 1% 10% 1% 15%; padding: 5%;
              width: 70%; border-radius: 3px;">-->
                    <!--<h5 style="margin-top: -13px;line-height: 21px; text-align: center">AchieveOn is currently Invitation only.<br/> Register below to receive an Invitation.</h5>-->
                    <!--<form style="margin-top: 27px;padding-bottom: 4px;">-->
                    <!--<div class="form-group">
                        <label for="email_id" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email_id" name="email_name" placeholder="name@domain.com" ng-model="vm.email">
                    </div>-->
                    <!--<div class="form-group" style="margin-top: 33px;text-align: center">  -->

                    <!--<button type="button" class="btn btn-primary" ng-click="vm.sendNotification()">Submit</button>-->
                    <span data-sumome-listbuilder-embed-id="9258f3134e095ad4e6dadc52894334261042591932989d2efe45583814eacd6b"></span>
                    <!--</div>    -->
                    <!--</form>-->
                    <!--</div>-->
                  </div>

                </div>
              </div>
            </div>
          </div>
  </header>
  <section class="about-us-area section-padding landing-page-css" style="padding-bottom: 0px">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/main/rocket_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px;"><span style="font-size: 30px; font-weight: 100 !important; color: #4e6171;">Create your</span> <span style="font-weight:700; font-size: 30px; 
                        color: #4e6171;">Life Goals</span> </p>
            <p style="font-size:18px; color:#7a8b95; padding:0px; font-weight: 400;">Sports, Career, School, Outdoor, Home Improvement & many others</p>
          </div>
        </div>
      </div>
      <style>
        .create-life-goals .col-md-3 {
          width: 24%;
          margin-right: 1%;
        }
      </style>
      <div class="row create-life-goals">
        <div class="row landing-page-css ">
          <div class="panel-body">
            <div class="col-md-3">
              <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/one.png" width="100%" height="203px" class="img-top-radius">
                <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                  <div class="row caption-inside-row">
                    <div class="left-align pull-left">
                      <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                        <div class="pos-abs btn-warning">11</div>
                      </div>
                    </div>
                    <div class="left-align pull-right">
                      <div class="card-plus-ic pull-left" style="padding-top: 5px">75%</div>
                      <canvas id="myCanvas0" style="border:none;"></canvas>
                      <subgoalprogress goal-Percent="75" size="30" color="#ff4852" target="myCanvas0"></subgoalprogress>
                    </div>
                  </div>
                  <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                    title="Goal Title" class="card-title"><strong>Office Work</strong></p>
                  <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                  <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">launch of 8 Products</p>
                  <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">2 days left</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/three.png" width="100%" height="203px" class="img-top-radius">
                <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                  <div class="row caption-inside-row">
                    <div class="left-align pull-left">
                      <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                        <div class="pos-abs btn-warning">25</div>
                      </div>
                    </div>
                    <div class="left-align pull-right">
                      <div class="card-plus-ic pull-left" style="padding-top: 5px">25%</div>
                      <canvas id="myCanvas1" style="border:none;"></canvas>
                      <subgoalprogress goal-Percent="25" size="30" color="#ff4852" target="myCanvas1"></subgoalprogress>
                    </div>
                  </div>
                  <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                    title="Goal Title" class="card-title"><strong>Cricket Match</strong></p>
                  <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                  <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Bi-weekly practise with team</p>
                  <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">7 days left</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/real_time_ph.png" width="100%" height="203px" class="img-top-radius">
                <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                  <div class="row caption-inside-row">
                    <div class="left-align pull-left">
                      <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                        <div class="pos-abs btn-warning">11</div>
                      </div>
                    </div>
                    <div class="left-align pull-right">
                      <div class="card-plus-ic pull-left" style="padding-top: 5px">50%</div>
                      <canvas id="myCanvas2" style="border:none;"></canvas>
                      <subgoalprogress goal-Percent="50" size="30" color="#ff4852" target="myCanvas2"></subgoalprogress>
                    </div>
                  </div>
                  <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                    title="Goal Title" class="card-title"><strong>Hiking Trip to Lalazar</strong></p>
                  <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                  <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Discussions & Bookings</p>
                  <p class="card-description" style="font-size: 9px; font-weight: 400;  margin-bottom: 0px">1 week left</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/robotics_ph.png" width="100%" height="203px" class="img-top-radius">
                <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                  <div class="row caption-inside-row">
                    <div class="left-align pull-left">
                      <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                        <div class="pos-abs btn-warning">11</div>
                      </div>
                    </div>
                    <div class="left-align pull-right">
                      <div class="card-plus-ic pull-left" style="padding-top: 5px">90%</div>
                      <canvas id="myCanvas3" style="border:none;"></canvas>
                      <subgoalprogress goal-Percent="90" size="30" color="#ff4852" target="myCanvas3"></subgoalprogress>
                    </div>
                  </div>
                  <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                    title="Goal Title" class="card-title"><strong>Robotics Update</strong></p>
                  <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                  <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Combine Study of PLC</p>
                  <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">5 days left</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="#" class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/organize_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="font-size:18px; color:#4e6171; padding:0px; margin-top:20px; font-weight: 400;">Organize your Goals more precisely by creating<span style="font-weight:700; font-size: 18px; 
                        color: #4e6171;"> Sub Goals</span></p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400; line-height: 10px;">Sub-goals have their own teams, timeline, due dates and collateral.</p>
          </div>
        </div>
      </div>
      <div class="row home-img-organize" style="text-align:center; padding-top: 2px;"> <img src="content/images/Subgoal1.png" width="68" height="68" style="margin-right: 5px"> <img src="content/images/Subgoal2.png"
          width="68" height="68" style="margin-right: 5px"> <img src="content/images/Subgoal3.png" width="68" height="68" style="margin-right: 5px">        <img src="content/images/Subgoal4.png" width="68" height="68" style="margin-right: 5px"> <img src="content/images/Subgoal5.png"
          width="68" height="68"> </div>
      <div class="row home-img-02" style="text-align:center; margin-top:5%"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>
  <section id="#" class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/like_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px;"><span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Inspire Others and Get</span>
              <span style="font-weight:700; font-size: 30px; color:#4e6171">Inspired</span>
            </p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400;">Change the world, become a source of inspiration with your goals. Your goals can inspire generations all over
              the world. Get inspired from others and become more successful.</p>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 13px;">
        <div class="container container-fluid">
          <div class="row ">
            <div class="panel-body">
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_01.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <div class="pos-abs btn-warning">12</div>
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">25%</div>
                        <canvas id="myCanvas9" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="25" size="30" color="#ff4852" target="myCanvas9"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" class="card-title"><strong>Marathon Running</strong></p>
                    <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Bi-weekly practise with team</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">7 days left</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2"> <img src="content/images/inspire.png" class="inspire-img"> </div>
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_02.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <!--<div class="pos-abs btn-warning">11</div>-->
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">0%</div>
                        <canvas id="myCanvas10" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="0" size="30" color="#ff4852" target="myCanvas10"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                      title="Goal Title" class="card-title"><strong>3 Reasons Why You Should..</strong></p>
                    <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Starting Soon..</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">12 weeks left</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2"> <img src="content/images/inspire.png" class="inspire-img"> </div>
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_03.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <div class="pos-abs btn-warning">15</div>
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">0%</div>
                        <canvas id="myCanvas11" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="0" size="30" color="#ff4852" target="myCanvas11"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                      title="Goal Title" class="card-title"><strong>How to Train for Marath..</strong></p>
                    <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Starting Soon..</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">2 weeks left</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row home-img-02" style="text-align:center;"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>
  <section id="#" class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/network_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px; padding:0px"><span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Build a </span> <span style="font-weight:700; font-size: 30px; color:#4e6171">Global Network</span>              <br>
              <span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">of Supporters & Collaborators</span></p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400;">Connect with real world experts, professionals, craftsman, educationist, mentors, scientists, social workers
              who will help you in your life's path.</p>
          </div>
        </div>
      </div>
      <div class="row global-network" style="text-align:center; margin-top: 35px;">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="col-md-4 col-xs-4"><img src="content/images/david_ph.png" class="img-responsive img-circle img-01" width="68" height="68"></div>
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-right: 0px;">
              <p class="post-title title"><span class="post-name">David Fincher</span></p>
              <p class="post-title title-sub"><span class="post-type"> Film maker </span></p>
              <p class="card-designation"><img src="content/images/user_01.png" class="user-ic"><span class="user-ic-value"> 07 </span><span class="user-ic-loc">California, USA</span></p>
            </div>
            <div class="col-md-2 col-xs-4 network" style="padding-top: 34px;"><img src="content/images/controls_ic.png" width="22"></div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4 col-xs-4"><img src="content/images/hsn_ph.png" class="img-responsive img-circle img-01" width="68" height="68"></div>
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-right: 0px;">
              <p class="post-title title"><span class="post-name">Hsn Talaal Tiwana</span></p>
              <p class="post-title title-sub"><span class="post-type"> Traveler </span></p>
              <p class="card-designation"><img src="content/images/user_01.png" class="user-ic"><span class="user-ic-value"> 07 </span><span class="user-ic-loc">California, USA</span></p>
            </div>
            <div class="col-md-2 col-xs-4 network" style="padding-top: 34px;"><img src="content/images/controls_ic.png" width="22"></div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4 col-xs-4"><img src="content/images/imtiaz_ph.png" class="img-responsive img-circle img-01" width="68" height="68"></div>
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-right: 0px;">
              <p class="post-title title"><span class="post-name">Imtiaz Ali</span></p>
              <p class="post-title title-sub"><span class="post-type"> Writer / Director </span></p>
              <p class="card-designation"><img src="content/images/user_01.png" class="user-ic"><span class="user-ic-value"> 07 </span><span class="user-ic-loc">California, USA</span></p>
            </div>
            <!--<div class="col-md-2 col-xs-4 network" style="padding-top: 34px;"><img src="content/images/controls_ic.png" width="22"></div>-->
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 25px;">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="col-md-4 col-xs-4"><img src="content/images/lisa_ph.png" class="img-responsive img-circle img-01" width="68" height="68"></div>
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-right: 0px;">
              <p class="post-title title"><span class="post-name">Lisa Ray</span></p>
              <p class="post-title title-sub"><span class="post-type"> Adventurer </span></p>
              <p class="card-designation"><img src="content/images/user_01.png" class="user-ic"><span class="user-ic-value"> 07 </span><span class="user-ic-loc">California, USA</span></p>
            </div>
            <div class="col-md-2 col-xs-4 network" style="padding-top: 34px;"><img src="content/images/controls_ic.png" width="22"></div>
          </div>
          <div class="col-md-4">
            <div class="col-md-4 col-xs-4"><img src="content/images/sarah_ph.png" class="img-responsive img-circle img-01" width="68" height="68"></div>
            <div class="col-md-6 col-xs-8" style="text-align: left; padding-right: 0px;">
              <p class="post-title title"><span class="post-name">Sarah Lauren</span></p>
              <p class="post-title title-sub"><span class="post-type"> Tour Guide </span></p>
              <p class="card-designation"><img src="content/images/user_01.png" class="user-ic"><span class="user-ic-value"> 07 </span><span class="user-ic-loc">California, USA</span></p>
            </div>
            <!--<div class="col-md-2 col-xs-4 network" style="padding-top: 34px;"><img src="content/images/controls_ic.png" width="22"></div>-->
          </div>
        </div>
      </div>
      <div class="row home-img-02" style="text-align:center; margin-top:5%"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>
  <section id="#" class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/collaborate_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px; padding:0px"><span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Collaborate </span> <span style="font-weight:700; font-size: 30px; color:#4e6171">real time</span>              <span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">to <br>
            Accomplish Goals</span></p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400;">All communication is centered in one place, it is real time and instantaneous. Free yourself from emails.</p>
          </div>
        </div>
      </div>
      <!--real time-->
      <div class="row home-img-new" style="text-align:center; margin-top: 35px; margin-left: 4%; margin-right: 4%;">
        <div class="col-md-12">
          <div class="col-md-4" style="margin-top: 130px; text-align: right;"> <img src="content/images/david_ph.png" width="68" height="68" class="img-01"> <img src="content/images/sarah_ph.png"
              width="68" height="68" class="img-01"> <img src="content/images/lisa_ph.png" width="68" height="68" class="img-01">            <img src="content/images/hsn_ph.png" width="68" height="68" class="img-01"> <img src="content/images/Subgoal4.png"
              width="68" height="68" class="img-01"> </div>
          <div class="col-md-4 ">
            <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/real_time_ph.png" width="100%" height="203px" class="img-top-radius">
              <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                <div class="row caption-inside-row">
                  <div class="left-align pull-left">
                    <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                      <div class="pos-abs btn-warning">25</div>
                    </div>
                  </div>
                  <div class="left-align pull-right">
                    <div class="card-plus-ic pull-left" style="padding-top: 5px">50%</div>
                    <canvas id="myCanvas4" style="border:none;"></canvas>
                    <subgoalprogress goal-Percent="50" size="30" color="#ff4852" target="myCanvas4"></subgoalprogress>
                  </div>
                </div>
                <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px; text-align:left" data-toggle="tooltip" data-placement="bottom"
                  title="Goal Title" class="card-title"><strong>Hiking Trip to Lalazar</strong></p>
                <p class="card-description" style="text-align:left; font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p>
                <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="text-align:left">Discussions & Bookings</p>
                <p class="card-description" style="text-align:left; font-size: 9px; font-weight: 400; margin-bottom: 0px">1 week left</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top: 130px; text-align: left;"> <img src="content/images/david_ph.png" width="68" height="68" class="img-01"> <img src="content/images/sarah_ph.png"
              width="68" height="68" class="img-01"> <img src="content/images/lisa_ph.png" width="68" height="68" class="img-01">            <img src="content/images/hsn_ph.png" width="68" height="68" class="img-01"> <img src="content/images/Subgoal4.png"
              width="68" height="68" class="img-01"> </div>
        </div>
      </div>
      <div class="row home-img-02" style="text-align:center;"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>
  <section id="#" class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/img-pop_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px; padding:0px"><span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Ensure Accountability<br>
            with </span> <span style="font-weight:700; font-size: 30px; color:#4e6171">well defined Metrics</span></p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400;">Track yourself and your team with realtime metrics. Gain transparency and accountability with metrics.</p>
          </div>
        </div>
      </div>
      <div class="row home-img-new" style="text-align:center; margin-left: 11%; margin-right: 11%;">
        <div class="col-md-12">
          <div class="col-md-3">
            <canvas id="myCanvas5" style="border:none;"></canvas>
            <subgoalprogress goal-Percent="17" size="80" color="#ff4852" target="myCanvas5"></subgoalprogress>
            <p style="font-weight: 400; line-height: 20px; font-size: 13px; color: #717982;">Purchasing of Equipment & Bookings</p>
          </div>
          <div class="col-md-3 ">
            <canvas id="myCanvas6" style="border:none;"></canvas>
            <subgoalprogress goal-Percent="78" size="80" color="#63e762" target="myCanvas6"></subgoalprogress>
            <p style="font-weight: 400; line-height: 20px; font-size: 13px; color: #717982;">Caluculating Travelling Expense</p>
          </div>
          <div class="col-md-3">
            <canvas id="myCanvas7" style="border:none;"></canvas>
            <subgoalprogress goal-Percent="33" size="80" color="#ff8c3f" target="myCanvas7"></subgoalprogress>
            <p style="font-weight: 400; line-height: 20px; font-size: 13px; color: #717982;">Camping & Gears of Hiking</p>
          </div>
          <div class="col-md-3">
            <canvas id="myCanvas8" style="border:none;"></canvas>
            <subgoalprogress goal-Percent="67" size="80" color="#f3dc5c" target="myCanvas8"></subgoalprogress>
            <p style="font-weight: 400; line-height: 20px; font-size: 13px; color: #717982;">Photography & Video</p>
          </div>
        </div>
      </div>
      <div class="row home-img-02" style="text-align:center;"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>
  <section class="about-us-area section-padding landing-page-css">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <div style="text-align:center"> <img src="content/images/link_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div>
            <p style="margin-top:35px;"><span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Create </span> <span style="font-weight:700; font-size: 30px; color:#4e6171">collateral</span>              <span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">with collections</span></p>
            <p style="font-size:14px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 400;">All valuable information communicated during the course of the goal completion is neatly stored for quick retrieval.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container container-fluid">
          <div class="row ">
            <div class="panel-body">
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
                <div class="goal-download" id="goal-edit-page-download">
                  <div class="modal-content" style="-webkit-box-shadow: 0px 0px 20px 3px rgb(220, 217, 217);
                      -moz-box-shadow: 0px 0px 20px 3px rgb(220, 217, 217);
                       box-shadow: 0px 0px 20px 0px rgb(220, 217, 217); border:none;">
                    <div class="modal-header" align="center">
                      <div>
                        <p class="pull-left" style="color:#97b9cb"><span><img src="content/images/attachment_ic.png" style="width:20px"></span> COLLECTIONS 23</p>
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                      </div>
                    </div>
                    <div id="div-forms">
                      <form id="login-form">
                        <div class="modal-footer scrollbar" id="style-1">
                          <div class="col-md-12 force-overflow" style="height:280px;">
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img src="content/images/goals/collection/file-pop_ic.png" style="width:15px; margin-right: 10px;"></span>                              Itinerary of the travelling
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/img-pop_ic(1).png" style="width:15px; margin-right: 10px;"></span>                              IMG_76375.jpg
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/img-pop_ic(1).png" style="width:15px; margin-right: 10px;"></span>                              DCM_2452622.jpeg
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/pdf-pop_icic.png" style="width:15px; margin-right: 10px;"></span>                              Route Map.pdf
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img src="content/images/goals/collection/file-pop_ic.png" style="width:15px; margin-right: 10px;"></span>                              Budget Details.docx
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/img-pop_ic(1).png" style="width:15px; margin-right: 10px;"></span>                              REC-00453.mp3
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/film-pop_ic.png" style="width:15px; margin-right: 10px;"></span>                              Trip-2014-reference.mp4
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
                              <span><img  src="content/images/goals/collection/file-pop_ic.png" style="width:15px; margin-right: 10px;"></span>                              Itinerary of the traelling
                              <span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>
                              <span class="pull-right"><img src="content/images/collection_item_download.png" style="width:28px"></span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 last">
                <div class="col-md-12" style="box-shadow: 0px 0px 20px 0px rgb(220, 217, 217); margin: 3.2% 1% 1% 9.5%;">
                  <div class="panel panel-default" style="border-color: #fff;">
                    <div class="panel-heading" style="padding-right:0px; background-color:#fff;border-color: #fff;">
                      <div class="panel-title-box">
                        <h3><img src="content/images/img_ic.png" style="width:9px; margin-right:5px"><span style="color:#97b9cb">IMG_76375.jpg</span></h3>
                      </div>
                      <ul class="panel-controls" style="margin-top: 2px;">
                        <li style="margin-top: -6px;"><a href="#" class="panel-fullscreen"><span><img src="content/images/lft_ic.png" style="width:13px"></span></a></li>
                        <li style="margin-top: -6px;"><a href="#" class="panel-refresh"><span><img src="content/images/rht_ic.png" style="width:13px"></span></a></li>
                        <li style="margin-left:15px; font-size:10px; color:#0a9ee8; font-weight:400; margin-top: 2px;"><span class="fa fa-cog"><img src="content/images/dwld.png" style="width:6px; margin-right:5px">Download</span></li>
                        <li style="padding-left: 10px; margin-top: -6px;"><a href="#" class="panel-refresh"><span><img src="content/images/cancel.png" style="width:6px"></span></a></li>
                      </ul>
                    </div>
                    <div class="panel-body" style="padding: 0px 0px 15px 0px;">
                      <div class="chart-holder" id="dashboard-line-1"> <img src="content/images/img_01.png" style="width:100%"> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="margin: 3.2% 1% 1% 9.5%; padding-right: 0px;">
                  <div class="pull-right"><img src="content/images/organize_ic.png"></div>
                </div>
              </div>
              <div class="col-md-2">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--<div class="copyright">
  <div class="container">
    <div class="row social" style="text-align: center; margin-top: 2%;">
      <div class="col-md-12"> <a href="#" style="margin-right: 5px;">About Us</a> <a href="#" style="margin-right: 5px;">Pricing</a> <a href="#" style="margin-right: 5px;"> Contact Us</a> </div>
      <div class="col-md-12">
        <p style="color:#90a8b5; font-size:12px; text-align: center;">Copyright 2017 - AchieveOn Inc, All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>-->
  <div class="scroll-to-up">
    <div class="scrollup"> <span class="lnr lnr-chevron-up"></span> </div>
  </div>
</body>

</html>
<script>
  var headertopoption = $(window);
  var headTop = $('.header-top-area');

  headertopoption.on('scroll', function () {
    if (headertopoption.scrollTop() > 200) {
      headTop.addClass('menu-bg');
    } else {
      headTop.removeClass('menu-bg');
    }
  });

</script>