<style>
  .container {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .hplr {
    padding-left: 2%;
    padding-right: 2%
  }
  /*.well {
    margin-left: 2% !important;
    margin-right: 2% !important;
  }*/
</style>



<div class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"
                data-toggle="collapse" data-target="#main-navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="nav-collapse collapse navbar-responsive-collapse" id="main-navigation" uib-collapse="navCollapsed">
            <ul class="nav" style="margin-top:25px;">
                <li class="nav-links" style="width:100%"><a ui-sref="works">HOW IT WORKS?</a></li>
                <li class="nav-links" style="width:100%"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <!-- <li class="nav-links" style="width:100%"><a ui-sref="pricing">PRICING</a></li> -->
                <li class="nav-links" style="width:100%"><a href="http://achieveon.zendesk.com/" target="_blank">HELP</a></li>
                <li class="nav-links login" style="width:100%"><a ui-sref="home"><span>LOGIN</span> </li>

                <!-- <li class="nav-links login" style="width:100%"><a ui-sref="home"><span>LOGIN</span> <a href="https://app74708979.auth0.com/login?client=Jua_YJvXI3n-ucbMEVGRaQO6wgc9iLZ1">2</a></li> -->
            </ul>
        </div>
    </nav>
</div>
<div class="hide_for_mobile">
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right" style="margin-top:25px;">
                <li class="nav-links"><a ui-sref="works">HOW IT WORKS?</a></li>
                <li class="nav-links"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <!-- <li class="nav-links"><a ui-sref="pricing">PRICING</a></li> -->
                <li class="nav-links"><a href="http://achieveon.zendesk.com/" target="_blank">HELP</a></li>
                <li class="nav-links login"><a ui-sref="home"><span>LOGIN</span> </a></li>

                <!-- <li class="nav-links login"><a ui-sref="home"><span>LOGIN</span> </a><a href="https://app74708979.auth0.com/login?client=Jua_YJvXI3n-ucbMEVGRaQO6wgc9iLZ1">2</li> -->
            </ul>

        </div>
    </nav>
</div>

<!---           -->
<body style="margin-left:0px; margin-right:0px;" ng-cloak>

  <header id="home" class="hide_for_mobile about-us-area  container-fluid parent-container no-padding welcome-area landing-page-css" style="height:600px">

    <div class=" welcome-image-area" data-stellar-background-ratio="0.6" style="position:relative">
       <div class="" style="position:absolute; bottom:0; z-index:111; width:100%"><img src="content/images/overlay.png" style="width:100%">
    </div>

      <div class="display-table">
        <div class="display-table-cell">
          <div class="container container-fluid">
            <div class="row">

              <div class="col-md-12 col-sm-12" style="text-align: center; padding-left: 10%; padding-right: 10%;">

                <div class="row" style="margin-bottom: 2%">

                  <div class="header-text text-center" style="margin-top: -80px;">
                    <h1 class="cd-headline clip is-full-width"> <span class="cd-words-wrapper1"> <b class="is-visible" style="font-size:42px;font-weight400">The Most Awesome Coaching Platform</b> </span></h1>
                    <p style="font-size:22px;font-weight:300"";>Where Coaches and Trainers plan and work with clients.</p>
                   <img src="/content/images/macachieveon.png" height="350px" padding-top="30px">
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
  </header>


  <header id="home" class="hide_for_bigdesktop hide_for_smalldesktop about-us-area  container-fluid parent-container no-padding welcome-area landing-page-css" style="height:400px">

    <div class=" welcome-image-area" data-stellar-background-ratio="0.6" style="position:relative">
       <div class="" style="position:absolute; bottom:0; z-index:111; width:100%"><img src="content/images/overlay.png" style="width:100%">
    </div>

      <div class="display-table">
        <div class="display-table-cell">
          <div class="container container-fluid">
            <div class="row">

              <div class="col-md-12 col-sm-12" style="text-align: center; padding-left: 10%; padding-right: 10%;">

                <div class="row" style="margin-bottom: 2%">

                 <div class="header-text text-center" style="margin-top: -150px;">
                   <h1 class="cd-headline clip is-full-width"> <span class="cd-words-wrapper1"> <b class="is-visible" style="font-size:30px;font-weight400">The Most Awesome Coaching Platform</b> </span></h1>
                   <p style="font-size:14px;font-weight:300"";>Where Coaches and Trainers plan and work with clients.</p>
                  <img src="/content/images/macachieveon.png" height="180px" padding-top="10px">
                </div>

                </div>

              </div>

            </div>
          </div>
        </div>
  </header>

    <!-- <h3 class="BYD-sub-heading font-weight-200 latolight" style="margin-left: 20.5%;margin-right: 20.5%;">
      From <span class="latoitalic">fitness</span> to life- goals. We supercharge your efforts with our innovative coaching platform.
    </h3> -->



  <!-- <form>

      <div class="row latoregular">


          <div class="customform" style="margin-left: 30.5%;">
              <input class="custom-input" type="text" ng-model="vm.email" placeholder="Email address">
          </div>
          <div class="customform tcustomform">
              <input class="custom-input" type="password" ng-model="vm.password" placeholder="Password">
          </div>
          <div class="customsignup tcustomform">
              <input class="custom-button sign-up" ng-click="vm.register()" type="submit" value="Sign up for free">
          </div>
      </div>
  </form> -->




  <p style="font-size:22px; color:#8ca4b2; padding:0px; margin-left: 15%; margin-right: 15%; font-weight: 400;">
    AchieveOn is Invite only. Signup to get Free invite and get ahead in the queue. <button type="button" style="border-radius:5px;background:#2196F3;color:#ffffff" class="btn-lg prefinery-form-cta" >Sign Up Now!</button>  </p>

  <div class="row latoregular" style="margin-left: 30.5%;">
    <br>
      <!-- <div class="customlogin">
          <jh-social-btn ng-provider="google"></jh-social-btn>
      </div>

      <div>
      </div>

      <div class="tcustomlogin">
          <div class="customlogin">
              <jh-social-btn ng-provider="facebook"></jh-social-btn>
          </div>
      </div> -->

      <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tcustomtagline">
          <p class="terms">By clicking Sign up,<br> I agree to the <span><a ui-sref="terms" target="_blank">Terms of Service</a></span> and <span> <a ui-sref="privacy" target="_blank">Privacy Policy</a> </span> </p>
   <br> <br>
      </div> -->
  </div>


  <section id="#" class="about-us-area section-padding landing-page-css" style="background-color:#f7f8fb;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <!-- <div style="text-align:center"> <img src="content/images/like_ic.png" alt="" class="img-responsive" style="width:auto; display: -webkit-inline-box;"></div> -->
            <p style="margin-top:50px;">
              <!-- <span style="font-size: 30px; font-weight: 100 !important; color:#4e6171">Inspire Others and Get</span> -->
              <span style="font-weight:700; font-size: 30px; color:#4e6171">STILL MANAGING YOUR CLIENTS WITH EMAILS AND TEXT MESSAGES?</span>
            </p>
            <p style="font-size:20px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 300;">Use AchieveOn's rich Goal Management and Collaboration features.
              Within seconds you will create plans (Goal Cards) for your clients. Save your time with re-use.
              Increase client satisfaction with progress tracking and accountability.
               </p>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 13px;margin-left:10px;margin-right:10px;">
        <div class="container container-fluid">
          <div class="row ">
            <div class="panel-body">
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_01.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <div class="pos-abs btn-warning">12</div>
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">25%</div>
                        <canvas id="myCanvas9" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="25" size="30" color="#ff4852" target="myCanvas9"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" class="card-title"><strong>Marathon Running</strong></p>
                    <!-- <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p> -->
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Bi-weekly practise with team</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">7 days left</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="col-md-2"> <img src="content/images/inspire.png" class="inspire-img"> </div>
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_02.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <!--<div class="pos-abs btn-warning">11</div>-->
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">0%</div>
                        <canvas id="myCanvas10" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="0" size="30" color="#ff4852" target="myCanvas10"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                      title="Goal Title" class="card-title"><strong>3 Reasons Why You Should..</strong></p>
                    <!-- <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p> -->
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Starting Soon..</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">12 weeks left</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="col-md-2"> <img src="content/images/inspire.png" class="inspire-img"> </div>
              <div class="col-md-3">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/inspire_03.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">
                    <div class="row caption-inside-row">
                      <div class="left-align pull-left">
                        <div class="card-number-icon pull-left pos-rel"><img src="content/images/gray_notification_ic.png">
                          <div class="pos-abs btn-warning">15</div>
                        </div>
                      </div>
                      <div class="left-align pull-right">
                        <div class="card-plus-ic pull-left" style="padding-top: 5px">0%</div>
                        <canvas id="myCanvas11" style="border:none;"></canvas>
                        <subgoalprogress goal-Percent="0" size="30" color="#ff4852" target="myCanvas11"></subgoalprogress>
                      </div>
                    </div>
                    <p style="cursor: pointer; font-size:13px; color: #303752; line-height: 24px;" data-toggle="tooltip" data-placement="bottom"
                      title="Goal Title" class="card-title"><strong>How to Train for Marathon</strong></p>
                    <!-- <p class="card-description" style="font-size: 10px; font-weight: 400; line-height: 7px;">Lorem ipsum dolor sit amet.</p> -->
                    <p data-toggle="tooltip" data-placement="bottom" title="Dimension Name" class="price-txt" style="font-size: 11px; font-weight: 400; margin-bottom: 0px">Starting Soon..</p>
                    <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px">2 weeks left</p>
                      <p class="card-description" style="font-size: 9px; font-weight: 400; margin-bottom: 0px"><br></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row home-img-02" style="text-align:center;"> <img src="content/images/Linking.png"> </div>
    </div>
  </section>

 <!-- Favourites Features  -->
  <section id="#" class="about-us-area section-padding landing-page-css" >
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <p style="margin-top:50px;">
              <span style="font-weight:700; font-size: 30px; color:#4e6171">FEATURES THAT YOU WILL LOVE</span>
            </p>
            <p style="font-size:20px; color:#8ca4b2; padding:0px; margin-top:10px; margin-left: 15%; margin-right: 15%; font-weight: 300;">
               Fast and responsive. A rich set of features that enables lightweight effective collaboration.
               </p>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row" style="padding-top: 13px;">
        <div class="container container-fluid">
          <div class="row ">
            <div class="panel-body">

              <div class="col-md-1"> </div>

              <div class="col-md-4">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/track1.png" width="100%" height="203px"  class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">

                    <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Goal Tracking</strong></p>
                    <br>
                    <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px">Monitor progress, check completion status with built-in tracking. Each goal and sub-goals can have compleletey unique tracking metrics.</p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-md-2"> </div>

              <div class="col-md-4">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/team.png" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">

                    <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Team Management</strong></p>
                    <br>
                    <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px">Easily assign team members to a goal. Members can be added as Collaborators with full rights or as Supporters with limited access.  </p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-md-1"> </div>
          </div>
       </div>

     <!-- Next Row -->
      <div class="row ">
       <div class="panel-body">
           <div class="col-md-1"> </div>
              <div class="col-md-4">
                <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/message.jpg" width="100%" height="203px" class="img-top-radius">
                  <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">

                    <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Rich Messaging</strong></p>
                    <br>
                    <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px">Send messages with videos, pictures and documents. Even capture live video. Attachments are automatically stored as collections for later retrieval.</p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="col-md-2"> </div>

                 <div class="col-md-4">
                   <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/gymphone.png" width="100%" height="150px" class="img-top-radius">
                     <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">

                       <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Access Anywhere</strong></p>
                       <br>
                       <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px">Remain engaged with your clients anywhere anytime. Quickly create plans on desktop and then follow up and respond using mobile. </p>
                       <br>
                     </div>
                   </div>
                 </div>

                 <div class="col-md-1"> </div>
               </div>
             </div>

        <!-- Next Row -->

        <div class="row ">
         <div class="panel-body">
             <div class="col-md-1"> </div>
                <div class="col-md-4">
                  <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/rickprofile.png" width="100%" height="203px" class="img-top-radius">
                    <div class="caption" style="padding-bottom: 1px; padding-top: 15px;">

                      <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Profile Builder</strong></p>
                      <br>
                      <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px"> Add your own profile page. Get full control over Testimonial Management. Best of all AchieveOn automatically builds and showcases your portfolio from your working goals.</p>
                      <br>
                    </div>
                  </div>
                </div>

                <div class="col-md-2"> </div>

                   <div class="col-md-4">
                     <div class="thumbnail"> <img style="cursor: pointer;" src="content/images/fbshare.png" width="100%" height="150px" class="img-top-radius">
                       <div class="caption" style="padding-bottom: 1px; padding-top: 15px;padding-bottom: 1px;">

                         <p style=";color: #303752; line-height: 24px; font-size: 20px; font-weight: 400;" class="card-title" align="center"><strong>Social Sharing</strong></p>
                         <br>
                         <p   class="price-txt" style="font-size: 16px; font-weight: 300; margin-bottom: 0px">Quickly share goals on emails with clients or friends. Or solicit  encouragement and support by sharing on social networks like FB and others.</p>
                         <br>
                       </div>
                     </div>
                   </div>

                   <div class="col-md-1"> </div>
                 </div>
               </div>

          <!-- Next Row -->



      <!-- <div class="row home-img-02" style="text-align:center;"> <img src="content/images/Linking.png"> </div> -->
    </div>
    </section>







  <footer class="text-center margin-top-50 no-border">
    <ul>
         <li style="display: inline;    padding: 0px 10px;"><a href="https://itunes.apple.com/us/app/achieveon/id1314209315?ls=1&mt=8"> <img src="/content/images/appstore_badge.png" width="200" height="65"> </li>
         <li style="display: inline;    padding: 0px 10px;"> <a href="https://play.google.com/store/apps/details?id=com.achieveon"> <img src="/content/images/googleplay_badge.svg" width="230" height="130">  </li>
    </ul>
      <ul class="gray-light latolight" style="list-style-type: none;padding: 0; border: none;">
          <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a ui-sref="works">HOW IT WORKS?</a></li>
          <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
          <!-- <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a ui-sref="pricing">PRICING</a></li> -->
          <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a href="http://achieveon.zendesk.com" target="_blank">HELP</a></li>
          <li style="display: inline; padding: 0px 10px;"><a ui-sref="contact" target="_blank">CONTACT US</a></li>
      </ul>
      <h6 class="latolight gray-light">&copy;Copyright 2017 - AchieveOn Inc, All Rights Reserved</h6>
        <h6><span>Beta</span> </h6>
  </footer>



  <div class="scroll-to-up">
    <div class="scrollup"> <span class="lnr lnr-chevron-up"></span> </div>
  </div>

</body>

</html>




<script>
  var headertopoption = $(window);
  var headTop = $('.header-top-area');

  headertopoption.on('scroll', function () {
    if (headertopoption.scrollTop() > 200) {
      headTop.addClass('menu-bg');
    } else {
      headTop.removeClass('menu-bg');
    }
  });

</script>
