<!--<link rel="stylesheet" href="/assets/stylesheets/pricing.css">-->
<style>
    .social-new .btn {
        height: 40px;
        margin-bottom: 10px
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: rgba(255, 255, 255, 0) !important;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .form-control:focus {
        border-color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    }

    .form-group input {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400;
        border: solid 1px #ceced7 !important;
        height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
    }

    .form-group input::placeholder {
        color: #5d5e7c;
        font-size: 15px;
        font-weight: 400
    }

    .form-group .btn {
        height: 40px !important;
        border-radius: 2px;
    }

    .pos-rel {
        position: relative
    }

    .pos-abs {
        position: absolute;
        right: 0;
        top: 2px
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
    }

    .cover {
        background: url('content/images/newloginandsignup/background_login.png') no-repeat center center;
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
    }

    .main-nav {
        margin: 2% 4%;
    }
</style>

<div class="hide_for_mobile">
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" data-toggle="collapse" data-target="#main-navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
        </div>
        <div class="nav-collapse collapse navbar-responsive-collapse" id="main-navigation" uib-collapse="navCollapsed">
            <ul class="nav" style="margin-top:25px;">
                <li class="nav-links" style="width:100%"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <li class="nav-links" style="width:100%"><a ui-sref="pricing">PRICING</a></li>
                <li class="nav-links" style="width:100%"><a href="http://achieveon.zendesk.com" target="_blank">HELP</a></li>
                <li class="nav-links login" style="width:100%"><a ui-sref="register"><span>Sign Up</span> </a></li>
            </ul>
        </div>
    </nav>
</div>


<div ng-cloak style="margin-top: 237px">
    <div class="row" style="margin-top: -200px">
        <div class="col-md-6 col-md-offset-3">
            <div>
                <div class="row">
                    <div class="col-md-12 hide_for_mobile" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
                        <h1 style="font-size: 43px; margin-bottom: 24px; color: #5d5e7c; font-family: 'Lato'; font-weight:800;">Welcome to <a style="font-size: 43px; margin-bottom: 24px; color: #60d4d6; font-family: 'Lato'; font-weight:800; "> AchieveOn!</a>                            </h1>
                        <p class="textWhiteLarger" style="font-family: 'Lato'; font-size: 17px; font-weight: 400; color: #5d5e7c; margin-bottom: 34px;">Nothing can stop the man with the right mental attitude from achieving his goal. <br/>~Thomas Jefferson</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" ng-show="vm.authenticationError">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!--Commented social login for now on 02-06-2017, after uncommenting adjust col-md-div-->
                    <div class="col-md-6 social-new hide_for_mobile">
                        <p class="textWhiteLarger hide_for_mobile hide_for_bigdesktop hide_for_smalldesktop hide_for_tablet" style="font-family: 'Lato'; font-size: 17px; text-align: center; font-weight: 400; color: #5d5e7c; margin-bottom: 25px;">Quick Sign in with
                        </p>
                        <!-- <jh-social ng-provider="google" style="height: 40px"></jh-social> -->
                        <jh-social ng-provider="facebook"></jh-social>
                        <!--<jh-social ng-provider="twitter"></jh-social> -->
                        <!-- jhipster-needle-add-social-button -->

                        <!--<p>&nbsp;</p>-->
                    </div>
                    <div class="col-md-6 login_mobile hide_for_mobile hide_for_bigdesktop hide_for_smalldesktop hide_for_tablet">
                        <p class="textWhiteLarger" style="font-family: 'Lato'; font-size: 17px; text-align: center; font-weight: 400; color: #5d5e7c; margin-bottom:10%; margin-top:15% ">OR USE YOUR EMAIL
                        </p>
                        <div class="login col-xs-6"><a ui-sref="register" style="float: right;"><span>Sign Up</span> </a></div>
                        <div class="login col-xs-6"><a ui-sref="home" style="float: left;"><span>Log In</span> </a></div>
                    </div>
                    <div class="col-md-6  social-new">
                        <form class="form" role="form" ng-submit="vm.login($event)">
                            <div class="form-group" style="margin-bottom: 10px;">
                                <input type="text" class="form-control" id="username" placeholder="Your Email" ng-model="vm.username">
                            </div>
                            <!-- onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"-->
                            <div class="form-group pos-rel" style="margin-bottom: 10px;">
                                <input type="password" class="form-control" id="password" placeholder="Your Password" ng-model="vm.password" ng-if="!vm.showPassword">
                                <span ng-if="!vm.showPassword" ng-click="vm.showPassword=!vm.showPassword" class="glyphicon glyphicon-eye-open form-control-feedback pos-abs"
                                    style="cursor: pointer; pointer-events: all;">
                           </span>

                                <input type="text" class="form-control" id="password" placeholder="Your Password" ng-model="vm.password" ng-if="vm.showPassword">
                                <span ng-if="vm.showPassword" ng-click="vm.showPassword=!vm.showPassword" class="glyphicon glyphicon-eye-close form-control-feedback"
                                    style="cursor: pointer; pointer-events: all;">
                          </span>
                            </div>
                            <div>
                                <button type="submit" class="btn loginbtn btn-primary-login" style="color: #fff; background-color: #60d4d6;
                             margin-bottom: 8px;  height: 40px; font-size: 17px; font-weight: 400; border: none">
                            Login
                          </button>
                            </div>
                            <div class="form-group">
                                <!--<input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>-->
                                <!--<span style="color: #61A9DB; font-weight: normal">Remember me</span>-->
                                <!--<span style="color: #fff; font-weight: normal" ng-click="vm.register()">Become a Memeber</span>-->
                                &nbsp;
                                <a class="forget" style="color: #61A9DB;" href="" ng-click="vm.requestResetPassword()">
                             Forgot your password?
                          </a>
                            </div>
                            <div class="row" style="position: relative; top: 30px">

                                <div class="col-md-12 hide_for_bigdesktop hide_for_smalldesktop hide_for_tablet" style="text-align: center;">

                                    <p style="font-size: 15px; font-weight: 400; color: #5d5e7c; margin-bottom:2%;padding-bottom: 3%; margin-top:2% ">Don't have an account?

                                    </p>
                                    <div class="login"><a ui-sref="register"><span>Sign Up</span> </a></div>
                                </div>
                            </div>
                        </form>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
