<!--<link rel="stylesheet" href="/assets/stylesheets/pricing.css">-->
<style>
    .main-nav {
        margin: 2% 4%;
    }
</style>
<div class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"
                data-toggle="collapse" data-target="#main-navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg" /></a>
        </div>
        <div class="nav-collapse collapse navbar-responsive-collapse" id="main-navigation" uib-collapse="navCollapsed">
            <ul class="nav" style="margin-top:25px;">
                <li class="nav-links" style="width:100%"><a ui-sref="works">HOW IT WORKS?</a></li>
                <li class="nav-links" style="width:100%"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <!--<li class="nav-links"><a href="#">PRICING</a></li>-->
                <li class="nav-links" style="width:100%"><a href="http://achieveon.zendesk.com/" target="_blank">HELP</a></li>
                <li class="nav-links login" style="width:100%"><a ui-sref="home"><span>LOGIN</span> </a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="hide_for_mobile">
    <nav class="navbar main-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
            <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg" /></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right" style="margin-top:25px;">
                <li class="nav-links"><a ui-sref="works">HOW IT WORKS?</a></li>
                <li class="nav-links"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <!--<li class="nav-links"><a href="#">PRICING</a></li>-->
                <li class="nav-links"><a href="http://achieveon.zendesk.com/" target="_blank">HELP</a></li>
                <li class="nav-links login"><a ui-sref="home"><span>LOGIN</span> </a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="height-width-100-percent">
    <div class="container-fluid parent-container no-padding">

        <div class="left-tile"></div>
        <div class="blue">
            <center>
                <p style="font-size:21px; margin-top:43px; margin-bottom:30px;">STAND UP</p>
            </center>
            <center>
                <p style="font-size:48px; font-weight:900; margin-bottom:20px;">Free</p>
            </center>
            <center>
                <p style="font-size:16px; font-weight:100; margin-bottom:10px;">recommended for</p>
            </center>
            <center>
                <p style="color: #103b67; font-size:16px; margin-bottom:20px;">Individuals, Trainers,<br> Coaches & Teams</p>
            </center>
            <div style="height: 225px;">
                <p style="width:80%; margin-left:10%; margin-right:10%; font-size:18px;">
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Create Goals</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Goal Tracking with Metrics</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Goal Posts & Comments</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Upload Images/Docs to Goals</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Add Collaborators/Supporters</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Display Your Profile</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Showcase Your Portfolio</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Search People & Goals</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Notifications</i><br>
                </p>
            </div>
            <center><button type="button" class="btn btn-custom btn-lg" style="margin-top: 10%;" ui-sref="register">SELECT THIS PLAN</button></center>
        </div>

        <div class="orange">
            <center>
                <p style="font-size:21px; margin-top:43px; margin-bottom:30px;">SPEED UP</p>
            </center>
            <center>
                <p style="font-size:48px; font-weight:900; margin-bottom:20px;">$14.99<span id="rate" class="customrate">/mo./user</span></p>
            </center>
            <center>
                <p style="font-size:16px; font-weight:100; margin-bottom:10px;">recommended for</p>
            </center>
            <center>
                <p style="color: #6c2a0c; font-size:16px; margin-bottom:20px;">Freelancers, Self-Employed<br> & Small Businesses</p>
            </center>
            <div style="height: 225px;">
                <p style="width:80%; margin-left:10%; margin-right:10%; font-size:18px;">
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;All <strong>
                    STAND UP</strong> Features Plus,</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Company Banner</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Testimonials</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Ratings</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Display Team Members</i><br>
                    <i class="fa fa-check-circle" aria-hidden="true"> &nbsp;&nbsp;Team Admin</i><br>
                </p>
            </div>
            <center><button type="button" class="btn btn-custom btn-lg" style="margin-top: 10%; color: #fd5964;" ui-sref="register">LIMITED SPECIAL 6 mo. FREE !</button></center>
        </div>
        <div class="right-tile"></div>

        <footer class="text-center margin-top-100">

            <ul class="gray-light latolight" style="list-style-type: none;padding: 0">
                <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a href="https://achieveon.wordpress.com/" target="_blank">BLOG</a></li>
                <li style="display: inline;border-right: 2px solid;    padding: 0px 10px;"><a href="http://achieveon.zendesk.com/" target="_blank">HELP</a></li>
            </ul>
            <h6 class="latolight gray-light">&copy;Copyright 2017 - AchieveOn Inc, All Rights Reserved</h6>
        </footer>
    </div>

</div>