

<div class="container-fluid parent-container no-padding">

<div class="terms-conditions">
<p style="text-align: center;"><span style="font-size: 20pt;"><strong><span style="font-family: Lato, sans-serif;">PRIVACY POLICY</span></strong></span></p>
<p style="text-align: left;"><span style="font-family: 'Open Sans','sans-serif';">Last updated August, 17, 2017</span></p>
<p><strong><span style="font-family: 'Open Sans','sans-serif';">AchieveOn, Inc.</span></strong><span style="font-family: 'Open Sans','sans-serif';"> (&ldquo;we&rdquo; or &ldquo;us&rdquo; or &ldquo;</span><span style="font-family: 'Open Sans','sans-serif';">our</span><span style="font-family: 'Open Sans','sans-serif';">&rdquo;) respects the privacy of our users (&ldquo;user&rdquo; or &ldquo;you&rdquo;). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website <strong>www.achieveon.com</strong> <strong>and our mobile application</strong>, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the &ldquo;</span><span style="font-family: 'Open Sans','sans-serif';">Site</span><span style="font-family: 'Open Sans','sans-serif';">&rdquo;).&nbsp;&nbsp; Please read this privacy policy carefully.&nbsp; IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE SITE. </span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We reserve the right to make changes to this Privacy Policy at any time and for any reason.&nbsp; We will alert you about any changes by updating the &ldquo;Last Updated&rdquo; date of this Privacy Policy.&nbsp; Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.&nbsp; </span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">COLLECTION OF YOUR INFORMATION</span></p>
<p><span style="font-family: 'Open Sans','sans-serif'; color: black;">We may collect information about you in a variety of ways.&nbsp; The information we may collect on the Site includes:</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Personal Data </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or our mobile application, or when you choose to participate in various activities related to the Site and our mobile application, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site and our mobile application.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Derivative Data </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site. If you are using our mobile application, this information may also include your device name and type, your operating system, your phone number, your country, your likes and replies to a post, and other interactions with the application and other users via server log files, as well as any other information you choose to provide.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Financial Data </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site or our mobile application. We store only very limited, if any, financial information that we collect. Otherwise, all financial information is stored by our payment processor, </span><span style="font-family: 'Open Sans','sans-serif';"><a href="https://stripe.com/us/privacy/"><span style="color: #1155cc;">Stripe,</span></a></span><span style="font-family: 'Open Sans','sans-serif';"> and you are encouraged to review their privacy policy and contact them directly for responses to your questions.]</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Facebook Permissions&nbsp; </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">The Site and our mobile application may by default access your </span><span style="font-family: 'Open Sans','sans-serif';"><a href="https://www.facebook.com/about/privacy/"><span style="color: #1155cc;">Facebook</span></a></span><span style="font-family: 'Open Sans','sans-serif';"> basic account information, including your name, email, gender, birthday, current city, and profile picture URL, as well as other information that you choose to make public. We may also request access to other permissions related to your account, such as friends, checkins, and likes, and you may choose to grant or deny us access to each individual permission. For more information regarding Facebook permissions, refer to the </span><span style="font-family: 'Open Sans','sans-serif';"><a href="https://developers.facebook.com/docs/facebook-login/permissions"><span style="color: #1155cc;">Facebook Permissions Reference </span></a></span><span style="font-family: 'Open Sans','sans-serif';">page.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Data From Social Networks </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">User information from social networking sites, such as Facebook, Google+, Instagram, LinkedIn, Twitter, including your name, your social network username, location, gender, birth date, email address, profile picture, and public data for contacts, if you connect your account to such social networks. If you are using our mobile application, this information may also include the contact information of anyone you invite to use and/or join our mobile application.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Mobile Device Data </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Third-Party Data </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Information from third parties, such as personal information or network friends, if you connect your account to the third party and&nbsp; grant the Site permission to access this information.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Data From Contests, Giveaways, and Surveys </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Mobile Application Information</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If you connect using our mobile application:</span></p>
<ul>
<li><em><span style="font-family: 'Open Sans','sans-serif';">Geo-Location Information.</span></em> <span style="font-family: 'Open Sans','sans-serif'; background: white;">We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our mobile application, to provide location-based services. If you wish to change our access or permissions, you may do so in your device&rsquo;s settings.</span></li>
<li><em><span style="font-family: 'Open Sans','sans-serif';">Mobile Device Access.</span></em> <span style="font-family: 'Open Sans','sans-serif';">We may request access or permission to certain features from your mobile device, including your mobile device&rsquo;s [bluetooth, calendar, camera, contacts, microphone, reminders, sensors, SMS messages, social media accounts, storage,] and other features. <span style="background: white;">If you wish to change our access or permissions, you may do so in your device&rsquo;s settings.</span></span></li>
<li><em><span style="font-family: 'Open Sans','sans-serif';">Mobile Device Data.</span></em> <span style="font-family: 'Open Sans','sans-serif'; background: white;">We may collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.</span></li>
<li><em><span style="font-family: 'Open Sans','sans-serif';">Push Notifications. </span></em><span style="font-family: 'Open Sans','sans-serif';">We may request to send you push notifications regarding your account or the Application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device&rsquo;s settings.</span></li>
</ul>
<p><span style="font-family: 'Open Sans','sans-serif';">USE OF YOUR INFORMATION </span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience.&nbsp; Specifically, we may use information collected about you via the Site [or our mobile application] to: </span></p>
<ul>
<li><span style="font-family: 'Open Sans','sans-serif';">Administer sweepstakes, promotions, and contests. </span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Assist law enforcement and respond to subpoena.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Compile anonymous statistical data and analysis for use internally or with third parties. </span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Create and manage your account.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site and our mobile application to you. </span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Email you regarding your account or order.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Enable user-to-user communications.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Fulfill and manage purchases, orders, payments, and other transactions related to the Site and our mobile application.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Generate a personal profile about you to make future visits to the Site and our mobile application more personalized.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Increase the efficiency and operation of the Site and our mobile application.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Monitor and analyze usage and trends to improve your experience with the Site and our mobile application.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Notify you of updates to the Site and our mobile applications.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Offer new products, services, mobile applications, and/or recommendations to you.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Perform other business activities as needed.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Process payments and refunds.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Request feedback and contact you about your use of the Site and our mobile application . </span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Resolve disputes and troubleshoot problems.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Respond to product and customer service requests.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Send you a newsletter.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Solicit support for the Site and our mobile application.</span></li>
</ul>
<p><span style="font-family: 'Open Sans','sans-serif';">DISCLOSURE OF YOUR INFORMATION</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We may share information we have collected about you in certain situations. Your information may be disclosed as follows:&nbsp; </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">By Law or to Protect Rights </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation.&nbsp; This includes exchanging information with other entities for fraud protection and credit risk reduction.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Third-Party Service Providers </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.&nbsp; </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Marketing Communications</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Interactions with Other Users </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If you interact with other users of the Site and our mobile application, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Online Postings</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">When you post comments, contributions or other content to the Site or our mobile applications, your posts may be viewed by all users and may be publicly distributed outside the Site and our mobile application in perpetuity. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Third-Party Advertisers</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may use third-party advertising companies to serve ads when you visit the Site or our mobile application. These companies may use information about your visits to the Site and our mobile application and other websites that are contained in web cookies in order to provide advertisements about goods and services of interest to you. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Affiliates </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may share your information with our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Business Partners </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may share your information with our business partners to offer you certain products, services or promotions. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Social Media Contacts&nbsp; </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If you connect to the Site [or our mobile application] through a social network, your contacts on the social network will see your name, profile photo, and descriptions of your activity. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Other Third Parties</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may share your information with advertisers and investors for the purpose of conducting general business analysis. We may also share your information with such third parties for marketing purposes, as permitted by law. </span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Sale or Bankruptcy </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity.&nbsp; If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party.&nbsp; You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations.&nbsp; If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.</span><span style="font-family: 'Open Sans','sans-serif'; color: black;">&nbsp;</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">TRACKING TECHNOLOGIES</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Cookies and Web Beacons</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site [and our mobile application to help customize the Site and our mobile application and improve your experience. When you access the Site or our mobile application, your personal information is not collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site&nbsp; or our mobile application. You may not decline web beacons. However, they can be rendered ineffective by declining all cookies or by modifying your web browser&rsquo;s settings to notify you each time a cookie is tendered, permitting you to accept or decline cookies on an individual basis.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site and our mobile application to help customize the Site and our mobile application and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Internet-Based Advertising</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">Additionally, we may use third-party software to serve ads on the Site and our mobile application, implement email marketing campaigns, and manage other interactive marketing initiatives.&nbsp; This third-party software may use cookies or similar tracking technology to help manage and optimize your online experience with us.&nbsp; For more information about opting-out of interest-based ads, visit the <a href="http://www.networkadvertising.org/choices/"><span style="color: #434343;">Network Advertising Initiative Opt-Out Tool</span></a> or <a href="http://www.aboutads.info/choices/"><span style="color: #434343;">Digital Advertising Alliance Opt-Out Tool</span></a>.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Website Analytics </span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">We may also partner with selected third-party vendors, such as[<a href="https://support.google.com/analytics/answer/6004245?hl=en"><span style="color: #434343;">Google Analytics</span></a>,] [<a href="https://heapanalytics.com/privacy"><span style="color: #434343;">Heap Analytics</span></a>, and others, to allow tracking technologies and remarketing services on the Site and our mobile application through the use of first party cookies and third-party cookies, to, among other things, analyze and track users&rsquo; use of the Site and our mobile application , determine the popularity of certain content and better understand online activity. By accessing the Site,our mobile application,, you consent to the collection and use of your information by these third-party vendors. You are encouraged to review their privacy policy </span><span style="font-family: 'Open Sans','sans-serif'; color: black;">and contact them directly for responses to your questions</span><span style="font-family: 'Open Sans','sans-serif';">. We do not transfer personal information to these third-party vendors. </span><span style="font-family: 'Open Sans','sans-serif'; color: black;">However, if you do not want any information to be collected and used by tracking technologies, you can visit the third-party vendor or the </span><span style="font-family: 'Open Sans','sans-serif';"><a href="http://www.networkadvertising.org/choices/"><span style="color: black;">Network Advertising Initiative Opt-Out Tool</span></a></span><span style="font-family: 'Open Sans','sans-serif'; color: black;"> or </span><span style="font-family: 'Open Sans','sans-serif';"><a href="http://www.aboutads.info/choices/"><span style="color: black;">Digital Advertising Alliance Opt-Out Tool</span></a></span><span style="font-family: 'Open Sans','sans-serif'; color: black;">.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser&rsquo;s cookies files may also clear certain opt-out cookies, plug-ins, or settings.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">THIRD-PARTY WEBSITES</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">The Site and our mobile application may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site or our mobile application, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site [or our mobile application].</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">SECURITY OF YOUR INFORMATION</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We use administrative, technical, and physical security measures to help protect your personal information.&nbsp; While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.&nbsp; Any information disclosed online is vulnerable to interception and misuse by unauthorized parties.&nbsp; Therefore, we cannot guarantee complete security if you provide personal information.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">POLICY FOR CHILDREN</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below. </span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">CONTROLS FOR DO-NOT-TRACK FEATURES&nbsp; </span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">Most web browsers and some mobile operating systems [and our mobile applications] include a Do-Not-Track (&ldquo;DNT&rdquo;) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected.&nbsp; No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online.&nbsp; If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy./</span><span style="font-size: 10.0pt; line-height: 115%; font-family: 'Open Sans','sans-serif';">Most web browsers and some mobile operating systems [and our mobile applications] include a Do-Not-Track (&ldquo;DNT&rdquo;) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. If you set the DNT signal on your browser, we will respond to such DNT browser signals.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">OPTIONS REGARDING YOUR INFORMATION</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Account Information</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">You may at any time review or change the information in your account or terminate your account by:</span></p>
<ul>
<li><span style="font-family: 'Open Sans','sans-serif';">Logging into your account settings and updating your account</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Contacting us using the contact information provided below</span></li>
</ul>
<p><span style="font-family: 'Open Sans','sans-serif';">Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</span></p>
<h2><span style="font-family: 'Open Sans','sans-serif';">Emails and Communications</span></h2>
<p><span style="font-family: 'Open Sans','sans-serif';">If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:</span></p>
<ul>
<li><span style="font-family: 'Open Sans','sans-serif';">Noting your preferences at the time you register your account with the Site or our mobile application</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Logging into your account settings and updating your preferences.</span></li>
<li><span style="font-family: 'Open Sans','sans-serif';">Contacting us using the contact information provided below</span></li>
</ul>
<p><span style="font-family: 'Open Sans','sans-serif';">If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly. </span></p>
<p><strong><span style="font-family: 'Open Sans','sans-serif';">CALIFORNIA PRIVACY RIGHTS</span></strong></p>
<p><span style="font-family: 'Open Sans','sans-serif';">California Civil Code Section 1798.83, also known as the &ldquo;Shine The Light&rdquo; law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</span></p>
<p><span style="font-family: 'Open Sans','sans-serif';">If you are under 18 years of age, reside in California, and have a registered account with the Site [or our mobile application], you have the right to request removal of unwanted data that you publicly post on the Site or our mobile application. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California.&nbsp; We will make sure the data is not publicly displayed on the Site [or our mobile application], but please be aware that the data may not be completely or comprehensively removed from our systems.</span></p>
<p><strong><span style="font-family: 'Open Sans','sans-serif';">CONTACT US</span></strong></p>
<p><span style="font-family: 'Open Sans','sans-serif';">If you have questions or comments about this Privacy Policy, please contact us at:</span></p>
<p><strong><span style="font-family: 'Open Sans','sans-serif';">AchieveOn, Inc.</span></strong></p>
<p><span style="font-family: 'Open Sans','sans-serif';">info@achieveon.com</span></p>
</div>

    <footer class="text-center margin-top-100">
            <h6 class="latolight gray-light">&copy;Copyright 2017 - AchieveOn Inc, All Rights Reserved</h6>
    </footer>
</div>
