
<div>
    <h2><span>Sub Post Comment</span> {{vm.subPostComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.subPostComment.comment}}</span>
        </dd>
        <dt><span>Link Url</span></dt>
        <dd>
            <span>{{vm.subPostComment.linkUrl}}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
            <span>{{vm.subPostComment.imagePath}}</span>
        </dd>
        <dt><span>Video Path</span></dt>
        <dd>
            <span>{{vm.subPostComment.videoPath}}</span>
        </dd>
        <dt><span>Creat Time</span></dt>
        <dd>
            <span>{{vm.subPostComment.creatTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.subPostComment.userId}}
        </dd>
        <dt><span>Sub Goal Post</span></dt>
        <dd>
            <a ui-sref="sub-goal-post-detail({id:vm.subPostComment.subGoalPostId})">{{vm.subPostComment.subGoalPostId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-post-comment-detail.edit({id:vm.subPostComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
