<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 ng-show="success">Registration with</h1>
            <h1 ng-show="error">Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <jh-social ng-if="vm.success" ng-provider="{{ vm.provider }}"></jh-social>
            <br/>
           <!-- <div class="alert alert-warning">
                If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>-->
        </div>
    </div>
</div>
