
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserCollaborateLabel">Create or edit a User Collaborate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userCollaborate.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userCollaborate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_role">Role</label>
            <select class="form-control" name="role" ng-model="vm.userCollaborate.role" id="field_role">
                <option value="OWNER">OWNER</option>
                <option value="COLLABORATOR">COLLABORATOR</option>
                <option value="FOLLOWER">FOLLOWER</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userCollaborate.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_goal">Goal</label>
            <select class="form-control" id="field_goal" name="goal" ng-model="vm.userCollaborate.goalId" ng-options="goal.id as goal.id for goal in vm.goals | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
