<div class="action_bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
              <ul class="nav-inline no_brd_lft">
                  <li><a><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
              </ul>
          </div>
          <div class="col-sm-6 text-right">
              <ul class="nav-inline no_brd_lft">
                  <li><a><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                  <li><a><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                  <li><a><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-7">
  </div>
</div>

<div class="container">
    <h2>Connections <span class="total_count">924</span></h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-6 text-left">
          <ul class="nav-inline no_brd m-t-sm">
              <li><label for="fltr1" class="cus_chkbox"><input id="fltr1" type="checkbox"/><span></span><i class="fa fa-user-o" aria-hidden="true"></i> Collaborators (11)</label></li>
              <li><label for="fltr2" class="cus_chkbox"><input id="fltr2" type="checkbox"/><span></span><i class="fa fa-users" aria-hidden="true"></i> Supporters (11)</label></li>
              <li><label for="fltr3" class="cus_chkbox"><input id="fltr3" type="checkbox"/><span></span><i class="fa fa-object-group" aria-hidden="true"></i> All (11)</label></li>
          </ul>
      </div>
      <div class="col-sm-6 text-right">
        <div class="row">
          <div class="col-md-5">
          <div class="ico_input">
            <input type="text" class="form-control" ng-model="" id="location" placeholder="Location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        </div>
        <div class="col-md-7">
            <form name="searchForm" class="form-inline">
                <div class="input-group pull-right" >
                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                    <span  class="input-group-btn width-min" >
                        <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                        <button class="btn btn-info" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 con_block" ng-repeat="userCollaborate in vm.userCollaborates track by userCollaborate.id">
        <div class="row">
            <div class="col-sm-4">
                <img src="content/images/connections/thumb.jpg" width="68" height="68" class="pull-left m-r">
            </div>
            <div class="col-sm-8">
                <div class="name">Hammad Ali</div>
                <div class="profession text-muted">Make Up Artist</div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <a href="javascript:;"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                            <span class="count">05</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="javascript:;"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            <a href="javascript:;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row m-t-lg">
    <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="user-collaborate.new" >
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs" >
                Create new User Collaborate
            </span>
        </button>
    </div>
    <div class="col-xs-8 no-padding-right">
    </div>
</div>
<div class="table-responsive">
    <table class="jh-table table table-striped">
        <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Role</span></th>
                <th><span>User</span></th>
                <th><span>Goal</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="userCollaborate in vm.userCollaborates track by userCollaborate.id">
                <td><a ui-sref="user-collaborate-detail({id:userCollaborate.id})">{{userCollaborate.id}}</a></td>
                <td>{{userCollaborate.role}}</td>
                <td>
                    {{userCollaborate.userLogin}}
                </td>
                <td>
                    <a ui-sref="goal-detail({id:userCollaborate.goalId})">{{userCollaborate.goalId}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="user-collaborate-detail({id:userCollaborate.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                        ui-sref="user-collaborate.edit({id:userCollaborate.id})"
                        class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm"></span>
                    </button>
                    <button type="submit"
                    ui-sref="user-collaborate.delete({id:userCollaborate.id})"
                    class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
            </div>
        </td>
    </tr>
</tbody>
</table>
</div>
</div>
