
<div>
    <h2><span>User Collaborate</span> {{vm.userCollaborate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Role</span></dt>
        <dd>
            <span>{{vm.userCollaborate.role}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.userCollaborate.userLogin}}
        </dd>
        <dt><span>Goal</span></dt>
        <dd>
            <a ui-sref="goal-detail({id:vm.userCollaborate.goalId})">{{vm.userCollaborate.goalId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-collaborate-detail.edit({id:vm.userCollaborate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
