<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div style="
              padding-top: 10px;
              padding-bottom: 10px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */">
      <div style="text-align: left; width: 100%; 
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;">
        <!--<div ng-repeat="item in breadcrumbsList">
          <img src="/content/images/breadcrumbs/dotsmenu.png" ng-if="$first">
          <img src="/content/images/breadcrumbs/arrow.png" ng-if="!$first">
          <a ui-sref="item.sref" style="color: #688799">{{item.name}}</span>
        </div>-->
      </div>
      <div style="float: right; width: 150px;">
        <img src="/content/images/breadcrumbs/leftarrow.png">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/save.png">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/delete.png">
        <img src="/content/images/breadcrumbs/divider.png">
      </div>
    </div>
  <!--</div>
</div>-->