
<div>
    <h2><span>User Network</span> {{vm.userNetwork.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Network Relation</span></dt>
        <dd>
            <span>{{vm.userNetwork.networkRelation}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.userNetwork.userLogin}}
        </dd>
        <dt><span>Network User</span></dt>
        <dd>
            {{vm.userNetwork.networkUserId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-network-detail.edit({id:vm.userNetwork.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
