

body {
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 28px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 17.5px 0px;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    padding: 0px 380px;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
}

.section-title h2:before {
    position: absolute;
    left: 50%;
    top: 56px;
    height: 10px;
    width: 74px;
    margin-left: -37px;
    background: #82B440;
    content: "";
    z-index: 1;
}

a.read-more {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background: #82B440;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader-area {
    position: fixed;
    background: #fff;
    z-index: 11000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #82B440;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1 {
    background-color: #82B440;
}

.dot2 {
    top: auto;
    background-color: #000;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/mainbg.jpg);
    background-size: cover;
    <!--z-index: 1;-->
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin-top: 60px;
}

.header-text h2 {
    color: #fff;
    font-size: 60px;
    margin-top: 10px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-text p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0px 300px;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 30px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.mainmenu .navbar-nav li {
    margin-right: 30px;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 400;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #82B440;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #000;
    border: none;
}

.menu-bg .logo {
    padding-top: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo a p {
    color: #fff;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding-top: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    padding-bottom: 22px;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #82B440;
}

a.slide-btn {
    margin: 0px 5px;
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

a.slide-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

a.slide-btn.other-btn {
    background: transparent;
}

a.slide-btn.other-btn:hover {
    background: #82B440;
}


/*
* ----------------------------------------------------------------------------------------
* HOMEPAGE SLIDER BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 100%;
}

.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div {
    height: auto;
}

.single-slide-item-table {
    display: table;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}

.single-slide-item:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.slide-1 {
    background: url(../images/bg/call.jpg) scroll 0 0;
    background-size: cover;
}

.slide-2 {
    background: url(../images/bg/mainbg.jpg) scroll 0 0;
    background-size: cover;
}

.slide-3 {
    background: url(../images/bg/testi-bg.jpg) scroll 0 0;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.right.slider-control {
    left: auto;
    right: -52px;
}

.left.slider-control {
    left: -52px;
}

.welcome-slider-area:hover .right.slider-control {
    right: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.welcome-slider-area:hover .left.slider-control {
    left: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.slider-control {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #82B440;
    font-size: 24px;
    width: 40px;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.slider-control:hover {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #82B440;
}

.carousel-indicators li {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin: 0;
    background: #82B440;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.carousel-indicators li.active {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* VIDEO BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-video-area {
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.welcome-video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-text {}

.about-text h2 {
    margin-bottom: 18px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 0;
}

.about-text h2 span {
    color: #fff;
}

.about-text p {
    margin-bottom: 20px;
}

.about-image img {
    border-radius: 5px;
}

.margin-top-c {
    margin-top: 50px;
}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {}

.single-service {
    padding: 30px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service:hover {
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    -webkit-transition: .3s;
    transition: .3s;
}

.single-service h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.service-icon i {
    font-size: 40px;
    color: #82B440;
}

.single-service p {
    margin-bottom: 0;
    color: #333;
}


/*
* ----------------------------------------------------------------------------------------
* 06.CALL TO ACTION CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.call-to-area {
    background: url(../images/bg/call.jpg);
    background-size: cover;
    padding: 200px 0px;
    position: relative;
    z-index: 1;
}

.call-to-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.call-to-area-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 400;
}

.call-to-area-text p {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
}

.call-to-area-text a {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

.call-to-area-text a:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* 07.KEY SKILL AREA CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.our-skill,
.skill-text {
    margin-top: 30px;
}

.progress-bar-text span {
    float: right
}

.progress-bar-text {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    color: #000;
}

.progress-bar {
    background: #ccc none repeat scroll 0 0;
    box-shadow: 0 0 0;
    height: 30px;
    margin: 0 0 20px;
    position: relative;
    width: 100%;
}

.progress-bar > span {
    background: #82B440 none repeat scroll 0 0;
    display: block;
    height: 100%;
    width: 0;
}

.skill-text h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
}

.skill-text h2:before {
    position: absolute;
    left: 0;
    top: 56px;
    height: 10px;
    width: 74px;
    background: #82B440;
    content: "";
    z-index: 1;
}


/*
* ----------------------------------------------------------------------------------------
* 08.VIDEO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.video-area {
    padding: 150px 0px;
    background: url(../images/bg/mainbg.jpg);
    position: relative;
    background-size: cover;
    z-index: 1;
}

.video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.video-area-text h2 {
    color: #fff;
    font-size: 18px;
}

.video-area-text i {
    font-size: 30px;
    border: 1px solid #82B440;
    color: #82B440;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    padding-left: 6px;
}

.mfp-iframe-holder {
    padding-top: 80px;
}


/*
* ----------------------------------------------------------------------------------------
* 09. PORTFOLIO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.gallery {}

.gallery .col-md-4 {
    padding: 0;
}

.gallery .item {
    padding: 0;
    margin: 0;
}

.gallery figure.effect-julia img {
    height: auto;
    width: 100%;
}

.gallery .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    background: #000;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.gallery figure.effect-bubba h2 {
    padding-top: 20%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
}

.gallery figure.effect-bubba p {
    font-size: 16px;
    text-transform: lowercase;
}

.gallery figure.effect-bubba p strong {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5px;
}

.gallery .item:hover figure.effect-bubba h2 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: .3s;
    transition: .3s;
}

.portfolio-more {
    margin-top: 40px;
}
figure.effect-bubba figcaption:before {
	border-top: 1px solid #82B440;
	border-bottom: 1px solid #82B440;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption:after {
	border-right: 1px solid #82B440;
	border-left: 1px solid #82B440;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}


/*
* ----------------------------------------------------------------------------------------
* 10.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: url(../images/bg/testi-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.testimonial-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.testimonial-area .section-title h2 {
    color: #fff;
}

.testimonial-area .section-title p {
    color: #fff;
}

.testimonial-list {
    margin-top: 30px;
}

.single-testi-des {
    padding: 30px;
    border-radius: 5px;
    padding: 0px 200px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 30px;
}

.single-testi-des p {
    color: #fff;
    font-size: 20px;
    font-style: italic;
}

.single-testimonial img {
    width: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.single-testimonial {
    margin-right: 30px;
    text-align: center;
}

.single-testimonial h6 {
    margin-top: 0px;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.testi-name {
    text-align: center;
}

.testi-name h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    color: #82B440;
}

.testi-name h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 0;
    color: #fff;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border: 1px solid #82B440;
    background: #82B440;
}


/*
* ----------------------------------------------------------------------------------------
* 11.TEAM CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.team-area {}

.team-image {
    position: relative;
}

.team-description {
    background: #82B440;
    padding: 20px 30px;
    position: absolute;
    left: auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    bottom: -90px;
    width: 100%;
    text-align: center;
    display: block;
}

.team-image img {
    width: 100%;
}

.single-team:hover .team-description,
.single-team:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.single-team:hover .team-description {
    bottom: 0px;
}

.team-description h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff;
    margin-bottom: 0px;
}

.team-description p {
    color: #fff;
}

.single-team,
.team-description {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    overflow: hidden;
}


/*
* ----------------------------------------------------------------------------------------
* 12.PRICING CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.pricing-area {
    background: #fafafa;
}

.pricing-box {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px;
    -webkit-transition: .3s;
    transition: .3s;
    background: #fff;
}

.pricing-box:hover {
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
}

.plan-price {
    padding: 20px 10px;
}

.plan-price h5 {
    color: #000;
    font-weight: 300;
    margin: 0;
}

.pricing-header .plan-title {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 30px;
}

.plan-price p {
    font-size: 40px;
    color: #000;
    font-weight: 900;
    margin: 0;
}

.plan-price p span {
    font-size: 16px;
    color: #ccc;
    font-weight: 300;
}

.plan-features {
    margin-top: 40px;
}

.plan-features li {
    margin: 0;
    padding-bottom: 15px;
    font-size: 16px;
}

.plan-features li span {
    font-weight: 700;
}

a.plan-more {
    margin-top: 30px;
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    font-weight: 600;
    background: #82B440;
}

a.plan-more:hover {
    color: #000;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
    background: transparent;
}


/*
* ----------------------------------------------------------------------------------------
* 13.ANY QUESTIONS CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.any-questions-area {}

#faq .panel-group .panel {
    margin-bottom: 8px;
}

#faq .panel-default {
    border: none;
}

#faq .panel-default>.panel-heading {
    background: #f0f0f0;
    color: #000;
}

#faq .panel-heading {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]:hover {
    color: #000;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]:after {
    content: "-";
    display: block;
    position: absolute;
    line-height: 1;
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed:after {
    content: "+";
    font-size: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 14.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.call-to-action-small-area {
    background: #82B440;
}

.call-to-action-small-area h2 {
    color: #fff;
    margin-top: 0;
}

.call-to-action-small-button {
    text-align: right;
}

a.call-to-more {
    margin: 0px 5px;
    display: inline-block;
    color: #000;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}


/*
* ----------------------------------------------------------------------------------------
* 15.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-area {}

.contact-details-list h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
}

.contact-details-list h2:before {
    position: absolute;
    left: 0;
    top: 56px;
    height: 10px;
    width: 74px;
    background: #82B440;
    content: "";
    z-index: 1;
}

.contact-details-list p {
    margin-bottom: 30px;
}

.single-contact {
    margin-bottom: 22px;
}

.single-contact h3 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-contact h3 i {
    margin-right: 20px;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 17px 7px 14px 15px;
    border: 1px solid #f2f2f2;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s
}

.form-control:focus {
    border-color: #82B440;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    border-radius: 0;
}

.contact-form input[type='submit']:hover {
    background: transparent;
    color: #000;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 16.MAP CSS STYLE
* ----------------------------------------------------------------------------------------
*/

#map {
    height: 600px;
}


/*
* ----------------------------------------------------------------------------------------
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #000;
    padding: 30px 0px;
}

.footer-text h6 {
    text-transform: capitalize;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    font-size: 16px;
}


/*
* ----------------------------------------------------------------------------------------
* 18.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-area {}

.single-blog {
    margin-right: 30px;
    margin-top: 30px;
    position: relative;
}

.single-blog h5 {
    font-weight: 300;
}

.single-blog h2 a {
    font-weight: 700;
    font-size: 22px;
    color: #333;
}

.single-blog h2 a:hover {
    color: #82B440;
}

.single-blog h5 {
    position: absolute;
    top: 0;
    left: 0;
    background: #82B440;
    color: #fff;
    display: inline-block;
    padding: 12px;
    margin: 0;
}

.blog-area .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #82B440;
}


/*
* ----------------------------------------------------------------------------------------
* PREVIEW CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.preview-body {
    background: #fafafa;
}

.preview-single-image img {
    width: 100%;
}

.preview-single-image {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.preview-single-image:hover {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.preview-single-image h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 30px 20px;
}

.preview-header-top-area {
    padding: 50px 0px;
}

.preview-header-top-area h2 {
    font-size: 80px;
    color: #82B440;
    text-transform: capitalize;
    font-weight: 900;
}

.preview-header-top-area p {
    color: #333;
    font-size: 30px;
    font-weight: 300;
}

.main h2 {
    color: #000;
}

.main {
    margin-bottom: 180px;
}