
<div>
    <h2><span>Entry</span> {{vm.entry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{vm.entry.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{vm.entry.notes}}</span>
        </dd>
        <dt><span>Activity</span></dt>
        <dd>
            <span>{{vm.entry.activity}}</span>
        </dd>
        <dt><span>Goal</span></dt>
        <dd>
            <a ui-sref="goal-detail({id:vm.entry.goal.id})">{{vm.entry.goal.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="entry-detail.edit({id:vm.entry.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
