
<div>
    <h2><span>User Work Place</span> {{vm.userWorkPlace.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Company Name</span></dt>
        <dd>
            <span>{{vm.userWorkPlace.companyName}}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.userWorkPlace.title}}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <span>{{vm.userWorkPlace.role}}</span>
        </dd>
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{vm.userWorkPlace.fromDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
            <span>{{vm.userWorkPlace.endDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-work-place-detail.edit({id:vm.userWorkPlace.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
