
<div>
    <h2><span>Sub Comment</span> {{vm.subComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Subcomment</span></dt>
        <dd>
            <span>{{vm.subComment.subcomment}}</span>
        </dd>
        <dt><span>Link Url</span></dt>
        <dd>
            <span>{{vm.subComment.linkUrl}}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
            <span>{{vm.subComment.imagePath}}</span>
        </dd>
        <dt><span>Video Path</span></dt>
        <dd>
            <span>{{vm.subComment.videoPath}}</span>
        </dd>
        <dt><span>Creat Time</span></dt>
        <dd>
            <span>{{vm.subComment.creatTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <a ui-sref="comment-detail({id:vm.subComment.commentId})">{{vm.subComment.commentId}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.subComment.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-comment-detail.edit({id:vm.subComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
