
<div>
    <h2><span>Post</span> {{vm.post.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.post.title}}</span>
        </dd>
        <dt><span>Link Url</span></dt>
        <dd>
            <span>{{vm.post.linkUrl}}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
            <span>{{vm.post.imagePath}}</span>
        </dd>
        <dt><span>Video Path</span></dt>
        <dd>
            <span>{{vm.post.videoPath}}</span>
        </dd>
        <dt><span>Creat Time</span></dt>
        <dd>
            <span>{{vm.post.creatTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Goal</span></dt>
        <dd>
            <a ui-sref="goal-detail({id:vm.post.goalId})">{{vm.post.goalGoalText}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.post.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="post-detail.edit({id:vm.post.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
