<style>
.modal-dialog {
    width: 350px !important;
}
#goal-edit-page-delete input[type=text], input[type=password] {
	margin-top: 10px;
}
.goal-edit-page .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}
.goal-edit-page .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 0\px 15px;
    border-bottom: 0px;
}
.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}
.goal-edit-page .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}
.goal-edit-page .glyphicon {
    top: 0px;
	font-size:16px;
}
.goal-edit-page .form-control {
  border-radius: 0px;
}
.modal {background-color: rgba(134, 249, 216, 0.1);}
.goal-edit-page .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.3333333;
   	border-radius: 0px;
}
</style>
<!-- BEGIN # MODAL LOGIN -->
<div>
  <div id="goal-edit-page-delete">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <div>
          <p class="pull-left" style="color:#97b9cb"><span><img src="content/images/delete_ic.png"></span> DELETE GOAL</p>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
        </div>
      </div>
      
      <!-- Begin # DIV Form -->
      <div id="div-forms"> 
        
        <!-- Begin # Login Form -->
        <form id="login-form">
          <div class="modal-body">
           <p style="text-align:center; color:#56798c">Are you sure? You want to delete your <span style="color:#56798c; font-weight:500">account</span> from <span style="color:#56798c; font-weight:500">Life Edge</span>?</p>
          </div>
          <div class="modal-footer">
            <div class="col-md-12">
             <!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Create Sub Goal</button>-->
              <div class="col-md-6">
             <button class="btn btn-success btn-md" style="width: 100%;" ng-click="vm.clear()">Yes, Delete</button>
             </div>
              <div class="col-md-6">
                <button class="btn btn-md" style="width: 100%; background-color:#e4eff5" ng-click="vm.clear()">No</button>
                </div>
            </div>
          </div>
        </form>
        <!-- End # Login Form --> 
        
      </div>
      <!-- End # DIV Form --> 
      
    </div>
  </div>
</div>
<!--<form name="deleteForm" ng-submit="vm.confirmDelete(vm.goal.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to delete this Goal?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
        </button>
    </div>
</form>-->
