<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<style>
  tags-input .tags .tag-item span {
    color: #3096e1
  }

  tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: none;
  }

  tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    height: 100%;
    border: none !important;
    box-shadow: none;
  }

  .account-setting-page .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: none;
    float: right;
    color: #b1ccdc;
    font-size: 12px;
  }

  .account-setting-page .form-control {
    color: #393c40;
  }
  /*Datepicker*/

  .uib-datepicker-popup .btn-success {
    background-image: url(/content/images/calender-img/calender-done.png) !important;
    background-repeat: no-repeat;
    background-color: #fff !important;
    border: none !important;
    width: 33px;
    height: 33px;
  }

  .uib-daypicker .btn {
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .uib-daypicker td:nth-child(1) span {
    color: #3aa4f2 !important;
  }

  .uib-daypicker th:nth-child(1) {
    color: #3aa4f2 !important;
  }

  .today-btn {
    border-radius: 4px !important;
  }

  .clear-btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    left: -2px;
    z-index: -1;
  }

  .uib-datepicker-popup.dropdown-menu {
    top: 9px !important;
    left: 9px !important;
    min-width: 201px;
    padding: 15px 14px 18px 14px;
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .uib-datepicker-popup.dropdown-menu {
      top: 9px !important;
      left: -36px !important;
      padding: 5px;
    }
  }
</style>

<nav
class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
style="background-color: #ffffff;border: none;    height: 42px;"
>
  <div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
    <div class="container">
      <div class="subheader-lft">
        <div class="subheader-lft-01">
        </div>
        <div class="subheader-float-rht">
          <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
             ui-sref="goal">
        </div>
      </div>
    </div>
  </div>

</nav>


<div class="container-fluid" style="margin-left: 5.0%; margin-right: 5.09%; margin-top: 1px;padding-bottom: 20px;">

  <div>
    <h2 class="setting-heading">Settings</h2>
  </div>
  <div class="row account-setting-page">
    <!-- ////////  RIGH HAND SIDE START ///////////// -->
    <div class="col-md-6 col-sm-6 col-xs-12 no-pad hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
      <div class="account-setting-lft" style="border-radius: 2px;">
        <div class="row tab-row-pad" style="padding: 19px 22px 19px 26px;">
          <div class="col-md-2 col-xs-4" style="padding-left: 0px;"> <img ng-click="vm.selectAvatar();" uib-tooltip="Add/Edit Photo" tooltip-placement="bottom" no-cache-src="{{vm.profilepic}}"
              err-src="/content/images/dimension-new-edit/Photo.png" class="imagefit img-responsive img-circle" width="85px">            </div>
          <div class="col-md-8 col-xs-8 no-pad " style="margin-top: 5px; ">
            <p ng-show="!openEdit" class="card-title col-xs-12 no-pad" style="margin-bottom: 0px;word-break: break-all;"><span class="col-xs-10 no-pad">{{vm.userPersonas.firstname}} {{vm.userPersonas.lastname}}</span>
              <span class="col-xs-2 no-pad"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="openEdit=!openEdit"></span></p>
            <div ng-show="openEdit">
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.firstname" placeholder="First name" style="margin-top:10px"
              />
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.lastname" placeholder="Last name" style="margin-top:10px"
              />
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.occupation" placeholder="Occupation" style="margin-top:10px"
              />
              <span class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px;" ng-click="openEdit=!openEdit"><img src="content/images/dimensions/remove-dim.png" onmouseout="this.src='content/images/dimensions/remove-dim.png'" onmouseover="this.src='content/images/dimensions/add-dim.png'"></span>
            </div>
            <p ng-show="!openEdit" class="col-xs-12 card-designation" style="padding-left: 1px;word-break: break-all;">{{vm.userPersonas.occupation}}</p>
          </div>
        </div>
        <hr class="setting-page-divider" style="margin-top: 12px; margin-left: 16px; margin-right: 32px;">
        <div id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 8px;">
              <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseFive=!vm.collapseFive"> <span class="title-color" style="letter-spacing: 0.1px;"><img src="content/images/Account-Settings/user-details_ic.png" class="set-title-img-mar" style="margin-top: -6px;
        margin-left: 1px; padding-right: 10.5px;"> USER DETAILS </span>
              <span class="pull-right" style="margin-top: 1px; margin-right: 6px;">
                  <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseFive">
                  <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseFive">
                </span>
             </a> </p>
            </div>
            <div uib-collapse="vm.collapseFive" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <div class="form-group ">
                      <label class="col-sm-3  col-xs-4   no-pad control-label mar-top-20 lable-color setting-col-md-3" style="margin-top: 25px !important;">Birth Date</label>
                      <div class="col-sm-9  col-xs-8  no-pad mar-top-20 setting-col-md-9" style="margin-top: 20px; margin-left: 5px">
                        <div class="input-group">
                          <input id="field_birthdate" type="text" name="birthdate" size="15" uib-datepicker-popup ng-model="vm.userPersonas.birthdate"
                            is-open="vm.datePickerOpenStatus.birthdate" datepicker-options="dateOptions" style="width:100%"
                            class="form-control" close-on-date-selection="false" />
                          <span class="input-group-btn">
                              <button type="button" class="textboxRegular"
                                      ng-click="vm.openCalendar($event,0)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                              </button>
                              </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3  no-pad   col-xs-4 control-label control-label mar-top-20 lable-color setting-col-md-3"
                        style="margin-top: 22px !important;">Address</label>
                      <div class="col-sm-9  col-xs-8  no-pad mar-top-20 setting-col-md-9" style="margin-top: 17px;  margin-left: 5px">
                        <textarea class="form-control" name="" id="" ng-model="vm.userPersonas.address"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="city" class="col-sm-3  col-xs-4  no-pad control-label control-label mar-top-20 lable-color setting-col-md-3"
                        style="margin-top: 25px !important;">City</label>
                      <div class="col-sm-9  col-xs-8  no-pad  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.city" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3  col-xs-4  no-pad control-label control-label mar-top-20 lable-color setting-col-md-3">Country</label>
                      <div class="col-sm-9  col-xs-8  no-pad mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.country" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3  col-xs-4  no-pad control-label control-label mar-top-20 lable-color setting-col-md-3">Zipcode</label>
                      <div class="col-sm-9  col-xs-8  no-pad mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.zipcode" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="setting-page-divider" style="margin-top: 15px; margin-left: 16px; margin-right: 32px;">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseSix=!vm.collapseSix"> <span class="title-color"><img src="content/images/new-images-demo/your-interest_ic.png" class="set-title-img-mar" style="margin-top: -2px;"> YOUR INTERESTS</span>
                <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
                  <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseSix">
                  <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseSix">
                </span>
                </a></p>

          </div>
          <div uib-collapse="vm.collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Interests</label>
                    <div class="col-sm-9 col-xs-9 mar-top-20 setting-col-md-9" style="margin-top: 7px;">
                      <div style="border:1px solid #e8e8e8; margin-top:16px;">
                        <tags-input ng-model="vm.userPersonas.interests" placeholder="Add a Interests" display-property="id" class="textboxRegular"
                          style="border:none"></tags-input>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Skills</label>
                    <div class="col-sm-9 col-xs-9 mar-top-20 setting-col-md-9" style="margin-top: 7px;">
                      <div style="border:1px solid #e8e8e8; margin-top:16px;">

                        <tags-input ng-model="vm.userPersonas.skills" placeholder="Add a skills" display-property="id" class="textboxRegular" style="border:none"></tags-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="setting-page-divider" style="margin-left: 16px; margin-right: 32px; margin-top: 15px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseSeven=!vm.collapseSeven">
                    <span class="title-color">
                      <img src="content/images/Account-Settings/educational-history_ic.png" class="set-title-img-mar">
                          EDUCATIONAL HISTORY
                    </span>
                    <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
                      <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseSeven">
                      <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseSeven">
                    </span>
                  </a>
            </p>
          </div>
          <div uib-collapse="vm.collapseSeven" class="panel-collapse collapse">
            <div class="panel-body" ng-repeat="edu in vm.userPersonas.userEducations">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Institution</label>
                    <div class="col-sm-9 col-xs-9 mar-top-20 setting-col-md-9">
                      <select id="institution" class="form-control" ng-model="edu.institution">
                            <option>SCHOOL</option>
                            <option>UNIVERSITY</option>
                            <option>COLLEGE</option>
                          </select>
                      <!--<input type="text" class="form-control" name="" id="" ng-model="edu.institution">-->
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Name</label>
                    <div class="col-sm-9 col-xs-9 mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <input type="text" class="form-control" name="" id="" ng-model="edu.name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Degree</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <select id="degree" class="form-control" ng-model="edu.degree">
                            <option>CERTIFICATE</option>
                            <option>DIPLOMA</option>
                            <option>BACHELORS</option>
                            <option>MASTERS</option>
                            <option>PHD</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-3 col-xs-3 mar-top-20 lable-color setting-col-md-3">Completion</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <div class="input-group">
                        <!--<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt.date"
                                is-open="dt.opened" datepicker-options="dateOptions" />-->
                        <input type="text" class="form-control" name="completion" size="15" datepicker-options="dateOptions" uib-datepicker-popup
                          ng-model="edu.completion" close-on-date-selection="false" is-open="edu.opened" style="width:100%" close-on-date-selection="false" />

                        <span class="input-group-btn">
                              <button type="button" class="textboxRegular"
                                      ng-click="vm.openCalendar($event, 1, edu)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                              </button>
                              </span>
                      </div>
                      <div class="add-more-inst" ng-show="$index>0" ng-click="vm.removeEducation($index)" style="color: red"> Remove </div>
                      <div class="pull-right add-more-inst" ng-click="vm.addEducation()"> <span style="text-decoration: underline">Add More Institution</span> <span class="title-color"><img src="content/images/Account-Settings/add-more_ic.png"></span>                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="setting-page-divider" style="margin-left: 16px; margin-right: 32px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseEight=!vm.collapseEight"> <span class="title-color"><img src="content/images/Account-Settings/mouse_ic.png" class="set-title-img-mar"> WORK PLACE</span>
                <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
                      <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseEight">
                      <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseEight">
                    </span>
                </a></p>
          </div>
          <div uib-collapse="vm.collapseEight" class="panel-collapse collapse">
            <div class="panel-body" ng-repeat="work in vm.userPersonas.userWorkPlaces">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="company" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Company</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="company" id="" ng-model="work.companyName" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Title</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="title" id="" ng-model="work.title" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Role</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="title" id="" ng-model="work.role" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="company" class="col-sm-3 col-xs-12 control-label mar-top-20 lable-color setting-col-md-9" style="padding-right:0px">Work History</label>
                    <div class="col-sm-4 col-xs-6 mar-top-20" style="margin-top: 0px;">
                      <label for="history" class="control-label lable-color setting-col-md-3">From</label>
                      <!--<input type="text" class="form-control" name="from" id="" ng-model="work.fromDate"/>-->
                      <div class="input-group">
                        <input id="field_fromDate" type="text" name="fromDate" size="15" uib-datepicker-popup close-on-date-selection="false" ng-model="work.fromDate" datepicker-options="dateOptions"
                          is-open="work.fromDateOpened" style="width:100%" />
                        <span class="input-group-btn">
                                <button type="button" class="textboxRegular"
                                        ng-click="vm.openCalendar($event, 2, work)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                                </button>
                                </span>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 mar-top-20" style="margin-top: 0px;">
                      <label for="history" class="control-label lable-color setting-col-md-3">To</label>
                      <!--<input type="text" class="form-control" name="to" id="" ng-model="work.endDate"/>-->
                      <div class="input-group">
                        <input id="field_endDate" type="text" name="endDate" size="15" uib-datepicker-popup close-on-date-selection="false" ng-model="work.endDate" datepicker-options="dateOptions"
                          is-open="work.endDateOpened" style="width:100%" />
                        <span class="input-group-btn">
                                <button type="button" class="textboxRegular"
                                        ng-click="vm.openCalendar($event, 3, work)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                                </button>
                                </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 col-xs-3"></div>
                    <div class="col-sm-9 col-xs-9 no-pad  pull-right">
                      <div class="add-more-inst" ng-show="$index>0" ng-click="vm.removeWorkPlace($index)" style="color: red"> Remove </div>
                      <div class="pull-right add-more-inst" ng-click="vm.addWorkPlaces()"><span style="text-decoration: underline"> Add More Work Places</span> <span class="title-color"><img src="content/images/Account-Settings/add-more_ic.png"></span>                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pad">
      <div class="account-setting-lft" style="border-radius: 2px;">
        <div id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" style="margin-top: 3px; padding-left: 13px;">
              <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseOne=!vm.collapseOne"> <span class="title-color">
                 <img src="content/images/Account-Settings/general-visibility_ic.png" class="set-title-img-mar" style="margin-top: -1px">
                 <span style="letter-spacing: 0.1px"> GENERAL VISIBILITY</span></span> <span class="pull-right" style="    margin-right: 6px; margin-top: 1px;"><img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseOne"><img src="/content/images/accord-arrow.png" ng-hide="vm.collapseOne"></span></a>                </p>
            </div>
            <div uib-collapse="vm.collapseOne">
              <div class="panel-body" style="padding-top: 0px;">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <div class="form-group">
                      <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Birth Date</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                        <select id="country" class="form-control" ng-model="vm.userPersonas.birthdayVisibility">
                          <option value="PUBLIC">Visible to Public</option>
                          <option value="PRIVATE">Visible to Myself</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="    margin-top: 24px !important;">Goals</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                        <select id="country" class="form-control" ng-model="vm.userPersonas.goalVisibility">
                          <option value="PUBLIC">Visible to Public</option>
                          <option value="PRIVATE">Visible to Myself</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="    margin-top: 25px !important;">Connections</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px;">
                        <select id="country" class="form-control" ng-model="vm.userPersonas.connectionVisibility">
                          <option value="PUBLIC">Visible to Public</option>
                          <option value="PRIVATE">Visible to Myself</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="setting-page-divider" style="margin-top: 14px; margin-left: 16px; margin-right: 32px;">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" style="padding-top: 8px; padding-left: 13px;">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseTwo=!vm.collapseTwo"> <span class="title-color" style="letter-spacing: 0.1px"><img src="content/images/Account-Settings/account-email_ic.png" class="set-title-img-mar" style="padding-right: 10px; margin-top: -2px;"> ACCOUNT EMAIL </span>
            <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
              <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseTwo">
              <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseTwo">
            </span>
            </a></p>
          </div>
          <div uib-collapse="vm.collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="    margin-top: 24px !important;">Email</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px;">
                      <input type="text" class="form-control" name="userLogin" id="userLogin" ng-model="vm.userPersonas.userLogin" readonly="readonly"
                      />
                    </div>
                  </div>
                  <a> <span class="pull-right light-blue" ui-sref="password" style="text-decoration: underline">Change Password</span> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <hr class="setting-page-divider" style="margin-top: 14px; margin-left: 16px; margin-right: 32px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseThree=!vm.collapseThree"> <span class="title-color"><img src="content/images/Account-Settings/credit-card_ic.png" class="set-title-img-mar"> CREDIT CARD PAYMENT</span>
            <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
              <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseTwo">
              <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseTwo">
            </span>
            </a></p>
          </div>
          <div uib-collapse="vm.collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Payment</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <select id="country" class="form-control" ng-disabled="true" ng-model="vm.userPersonas.payment">
                        <option>Credit Card</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Type</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <select id="country" class="form-control" ng-disabled="true" ng-model="vm.userPersonas.type">
                        <option>VISA</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 col-xs-3 mar-top-20 lable-color setting-col-md-3" style="padding-right: 0px;">Card Number</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 inline-input-pad setting-col-md-9">
                      <div class="col-sm-3 col-xs-3">
                        <input type="text" class="form-control" placeholder="000" ng-disabled="true">
                      </div>
                      <div class="col-sm-3 col-xs-3">
                        <input type="text" class="form-control" placeholder="000" ng-disabled="true">
                      </div>
                      <div class="col-sm-3 col-xs-3">
                        <input type="text" class="form-control" placeholder="1111" ng-disabled="true">
                      </div>
                      <div class="col-sm-3 col-xs-3">
                        <input type="text" class="form-control" placeholder="123" ng-disabled="true">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <hr class="setting-page-divider" style="margin-left: 16px; margin-right: 32px;">
        <div class="panel panel-default">
          <div class="panel-heading" style="margin-top: 2px;">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseFour=!vm.collapseFour"> <span class="title-color"><img src="content/images/Account-Settings/account-setting_ic.png" class="set-title-img-mar"> ACCOUNT TYPE</span>
            <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
              <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseFour">
              <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseFour">
            </span>
            </a></p>
          </div>
          <div uib-collapse="vm.collapseFour">
            <div class="panel-body" style="padding: 0px 8px 8px 8px">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Deletion</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <button type="button" class="btn btn-success add-btn-inside btn-prop" ui-sref="account.delete({id:vm.identity.id})" style="color:#2a88df">Delete my Account</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="padding-right: 0px">Account Type</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <select id="country" class="form-control" ng-model="vm.userPersonas.accountType">
                        <option>Free Standard Account</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Export Data</label>
                    <div class="col-sm-9 col-xs-9   mar-top-20 setting-col-md-9">
                      <select id="country" class="form-control" ng-readonly="true" ng-model="vm.userPersonas.exportData">
                        <option>All Data Export</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ////////  RIGH HAND SIDE START ///////////// -->
    <div class="col-md-6 col-sm-6 col-xs-12  hide_for_mobile">
      <div class="account-setting-lft" style="border-radius: 2px;">
        <div class="row tab-row-pad" style="padding: 19px 22px 19px 26px;">
          <div class="col-md-2 col-xs-4" style="padding-left: 0px;"> <img ng-click="vm.selectAvatar();" uib-tooltip="Add/Edit Photo" tooltip-placement="bottom" no-cache-src="{{vm.profilepic}}"
              err-src="/content/images/dimension-new-edit/Photo.png" class="imagefit img-responsive img-circle" width="85px">            </div>
          <div class="col-md-8 col-xs-8" style="margin-top: 5px;">
            <p ng-show="!openEdit" class="card-title" style="margin-bottom: 0px">{{vm.userPersonas.firstname}} {{vm.userPersonas.lastname}}<span class="pad-lft-30" style="padding-left: 32px; padding-top: 1px;"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="openEdit=!openEdit"></span></p>
            <div ng-show="openEdit">
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.firstname" placeholder="First name" style="margin-top:10px"
              />
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.lastname" placeholder="Last name" style="margin-top:10px"
              />
              <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.occupation" placeholder="Occupation" style="margin-top:10px"
              />
              <span class="col-md-1 col-xs-1 pull-right" style="color:#97b9cb; padding-top: 6px;" ng-click="openEdit=!openEdit"><img src="content/images/dimensions/remove-dim.png" onmouseout="this.src='content/images/dimensions/remove-dim.png'" onmouseover="this.src='content/images/dimensions/add-dim.png'"></span>
            </div>
            <p ng-show="!openEdit" class="card-designation" style="padding-left: 1px">{{vm.userPersonas.occupation}}</p>
          </div>
        </div>

        <hr class="setting-page-divider" style="margin-top: 12px; margin-left: 16px; margin-right: 32px;">
        <div id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 8px;">
              <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseFive=!vm.collapseFive"> <span class="title-color" style="letter-spacing: 0.1px;"><img src="content/images/Account-Settings/user-details_ic.png" class="set-title-img-mar" style="margin-top: -6px;
    margin-left: 1px; padding-right: 10.5px;"> USER DETAILS </span>
          <span class="pull-right" style="margin-top: 1px; margin-right: 6px;">
              <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseFive">
              <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseFive">
            </span>
         </a> </p>
            </div>
            <div uib-collapse="vm.collapseFive" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                    <div class="form-group ">
                      <label class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="margin-top: 25px !important;">Birth Date</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 20px; margin-left: 5px">
                        <div class="input-group">
                          <input id="field_birthdate" type="text" name="birthdate" size="15" uib-datepicker-popup close-on-date-selection="false" ng-model="vm.userPersonas.birthdate"
                            is-open="vm.datePickerOpenStatus.birthdate" datepicker-options="dateOptions" style="width:100%"
                            class="form-control" />
                          <span class="input-group-btn">
                          <button type="button" class="textboxRegular"
                                  ng-click="vm.openCalendar($event,0)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                          </button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3 col-xs-3 control-label control-label mar-top-20 lable-color setting-col-md-3" style="margin-top: 22px !important;">Address</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 17px;  margin-left: 5px">
                        <textarea class="form-control" name="" id="" ng-model="vm.userPersonas.address"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="city" class="col-sm-3 col-xs-3 control-label control-label mar-top-20 lable-color setting-col-md-3" style="margin-top: 25px !important;">City</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.city" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3 col-xs-3 control-label control-label mar-top-20 lable-color setting-col-md-3">Country</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.country" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="country" class="col-sm-3 col-xs-3 control-label control-label mar-top-20 lable-color setting-col-md-3">Zipcode</label>
                      <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;  margin-left: 5px">
                        <input type="text" class="form-control" name="" id="" ng-model="vm.userPersonas.zipcode" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="setting-page-divider" style="margin-top: 15px; margin-left: 16px; margin-right: 32px;">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseSix=!vm.collapseSix"> <span class="title-color"><img src="content/images/new-images-demo/your-interest_ic.png" class="set-title-img-mar" style="margin-top: -2px;"> YOUR INTERESTS</span>
            <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
              <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseSix">
              <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseSix">
            </span>
            </a></p>

          </div>
          <div uib-collapse="vm.collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Interests</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 7px;">
                      <div style="border:1px solid #e8e8e8; margin-top:16px;">
                        <tags-input ng-model="vm.userPersonas.interests" placeholder="Add a Interests" display-property="id" class="textboxRegular"
                          style="border:none"></tags-input>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Skills</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 7px;">
                      <div style="border:1px solid #e8e8e8; margin-top:16px;">

                        <tags-input ng-model="vm.userPersonas.skills" placeholder="Add a skills" display-property="id" class="textboxRegular" style="border:none"></tags-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="setting-page-divider" style="margin-left: 16px; margin-right: 32px; margin-top: 15px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseSeven=!vm.collapseSeven">
                <span class="title-color">
                  <img src="content/images/Account-Settings/educational-history_ic.png" class="set-title-img-mar">
                      EDUCATIONAL HISTORY
                </span>
                <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
                  <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseSeven">
                  <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseSeven">
                </span>
              </a>
            </p>
          </div>
          <div uib-collapse="vm.collapseSeven" class="panel-collapse collapse">
            <div class="panel-body" ng-repeat="edu in vm.userPersonas.userEducations">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Institution</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <select id="institution" class="form-control" ng-model="edu.institution">
                        <option>SCHOOL</option>
                        <option>UNIVERSITY</option>
                        <option>COLLEGE</option>
                      </select>

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Name</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <input type="text" class="form-control" name="" id="" ng-model="edu.name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="country" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Degree</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <select id="degree" class="form-control" ng-model="edu.degree">
                        <option>CERTIFICATE</option>
                        <option>DIPLOMA</option>
                        <option>BACHELORS</option>
                        <option>MASTERS</option>
                        <option>PHD</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-3 col-xs-3 mar-top-20 lable-color setting-col-md-3">Completion</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9" style="margin-top: 19px !important;">
                      <div class="input-group">

                        <input type="text" class="form-control" name="completion" size="15" datepicker-options="dateOptions" uib-datepicker-popup
                          ng-model="edu.completion" close-on-date-selection="false" is-open="edu.opened" style="width:100%" />

                        <span class="input-group-btn">
                          <button type="button" class="textboxRegular"
                                  ng-click="vm.openCalendar($event, 1, edu)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                          </button>
                          </span>
                      </div>
                      <div class="add-more-inst" ng-show="$index>0" ng-click="vm.removeEducation($index)" style="color: red"> Remove </div>
                      <div class="pull-right add-more-inst" ng-click="vm.addEducation()"> <span style="text-decoration: underline">Add More Institution</span> <span class="title-color"><img src="content/images/Account-Settings/add-more_ic.png"></span>                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="setting-page-divider" style="margin-left: 16px; margin-right: 32px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="vm.collapseEight=!vm.collapseEight"> <span class="title-color"><img src="content/images/Account-Settings/mouse_ic.png" class="set-title-img-mar"> WORK PLACE</span>
            <span class="pull-right" style="margin-top: 2px; margin-right: 6px;">
                  <img src="/content/images/accord-arrow-right.png" ng-show="vm.collapseEight">
                  <img src="/content/images/accord-arrow.png" ng-hide="vm.collapseEight">
                </span>
            </a></p>
          </div>
          <div uib-collapse="vm.collapseEight" class="panel-collapse collapse">
            <div class="panel-body" ng-repeat="work in vm.userPersonas.userWorkPlaces">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                  <div class="form-group">
                    <label for="company" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Company</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="company" id="" ng-model="work.companyName" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Title</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="title" id="" ng-model="work.title" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="title" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3">Role</label>
                    <div class="col-sm-9 col-xs-9  mar-top-20 setting-col-md-9">
                      <input type="text" class="form-control" name="title" id="" ng-model="work.role" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="company" class="col-sm-3 col-xs-3 control-label mar-top-20 lable-color setting-col-md-3" style="padding-right:0px">Work History</label>
                    <div class="col-sm-4 mar-top-20" style="margin-top: 0px;">
                      <label for="history" class="control-label lable-color setting-col-md-3">From</label>
                      <!--<input type="text" class="form-control" name="from" id="" ng-model="work.fromDate"/>-->
                      <div class="input-group">
                        <input id="field_fromDate" type="text" name="fromDate" size="15" uib-datepicker-popup  close-on-date-selection="false"ng-model="work.fromDate" datepicker-options="dateOptions"
                          is-open="work.fromDateOpened" style="width:100%" />
                        <span class="input-group-btn">
                            <button type="button" class="textboxRegular"
                                    ng-click="vm.openCalendar($event, 2, work)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                            </button>
                            </span>
                      </div>
                    </div>
                    <div class="col-sm-4 mar-top-20" style="margin-top: 0px;">
                      <label for="history" class="control-label lable-color setting-col-md-3">To</label>
                      <!--<input type="text" class="form-control" name="to" id="" ng-model="work.endDate"/>-->
                      <div class="input-group">
                        <input id="field_endDate" type="text" name="endDate" size="15" uib-datepicker-popup close-on-date-selection="false" ng-model="work.endDate" datepicker-options="dateOptions"
                          is-open="work.endDateOpened" style="width:100%" />
                        <span class="input-group-btn">
                            <button type="button" class="textboxRegular"
                                    ng-click="vm.openCalendar($event, 3, work)"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                            </button>
                            </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 col-xs-3"></div>
                    <div class="col-sm-9 col-xs-9  pull-right">
                      <div class="add-more-inst" ng-show="$index>0" ng-click="vm.removeWorkPlace($index)" style="color: red"> Remove </div>
                      <div class="pull-right add-more-inst" ng-click="vm.addWorkPlaces()"><span style="text-decoration: underline"> Add More Work Places</span> <span class="title-color"><img src="content/images/Account-Settings/add-more_ic.png"></span>                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group account-setting-page">
    <div class="col-sm-offset-2 col-sm-10 mar-top-20" style="padding-right: 0px;">
      <div class="pull-right">
        <button type="submit" class="btn btn-default set-btn" ui-sref="goal">Cancel</button>
        <button type="submit" class="btn btn-primary set-btn" ng-click="vm.updateSettings()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
