/*.showAnimation{*/
    /*-webkit-animation:showAnimation 2000ms ;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-webkit-animation-timing-function: linear;*/
    /*animation:showAnimation 2000ms;*/
    /*animation-fill-mode: forwards;*/
    /*animation-timing-function: linear;*/
/*}*/
/*@-webkit-keyframes showAnimation {*/
    /*0%   { x2 : 2% }*/
    /*100%   {x2 : 40% }*/
/*}*/

/*@keyframes showAnimation {*/
    /*0%   { x2 : 2% }*/
    /*100%   { x2 : 40% }*/
/*}*/