/*COLORS*/
.fb-blue{
  color:#4267b2;
}
.gray{
 color: gray;
}
.yellow{
  color: #FACD00;
}
.white-bg{
  background: white;
}
.fb-bg{
  background: #4267b2;
}
.green-bg{
 background: #00ff77;
}
.gray-bg{
 background: rgba(128, 128, 128, 0.26);
}
.light-gray-bg{
  background: rgba(233, 235, 238, 0.23);
}
.gray-dark{
  color: #76728d;
}
.gray-light{
  color: #aaa6b6;
}

/* margin - padding*/
.no-padding{
  padding: 0px 0px;
}
.no-margin{
  margin: 0px 0px;
}
.margin-top-10{
  margin-top:10px !important;
}
.margin-top-100{
  margin-top:100px !important;
}
.margin-top-50{
  margin-top:50px !important;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-bottom-50{
  margin-bottom:50px;
}
.margin-left-50{
  margin-left:50px;
}
.margin-left-10{
  margin-left:10px;
}
.margin-right-10{
  margin-right:10px;
}
.margin-right-50{
  margin-right:50px;
}
.margin-all-10{
  margin: 10px
}
.padding-top-10{
  padding-top:10px;
}
.padding-left-10{
  padding-left:10px;
}
.padding-right-10{
  padding-right:10px;
}
.padding-bottom-10{
  padding-bottom:10px;
}
.padding-all-10{
  padding: 10px
}
.padding-all-1-em{
  padding: 1em;
}

/* text align */
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/* border */
.no-border{
  border:0px solid;
}
.shadowed-box{
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 217, 216, 0.24);
}
.rounded-corner{
  border-radius: 30px;
  border: 0px;
}
.no-outline:focus {
  outline: 0px auto -webkit-focus-ring-color !important; 
  outline-offset: 0px !important ;
}

.border-bottom-gray{
  border-bottom: 1px solid rgba(128, 128, 128, 0.26)
}
.font-weight-200{
  font-weight: 200 !important;
  line-height: 1.5em;
}
.font-weight-400{
  font-weight: 400 !important;
}
.font-weight-800{
  font-weight: 800 !important;
}
/**/
.width-100{
  width: 100%;
}
.height-100{
  height: 100%;
}
.height-width-100-percent{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image:url(../images/Circles.png);
  background-repeat:no-repeat;
  background-size: 100%;
}
.float-R{
  float: right;
}
.float-L{
  float: left;
}

/**/

.center-fixed-reference-div{
  position:fixed;left: 50%;top: 50%;
}
.top-right-fixed-reference-div{
  position: fixed; left: 95%;top: 5%;
}
.top-left-fixed-reference-div{
  position: fixed; left: 5%;top: 5%;
}
.bottom-right-fixed-reference-div{
  position: fixed; left: 95%;top: 95%;

}
.bottom-left-fixed-reference-div {
  position: fixed; left: 5%;top: 95%;
}
.right-center-fixed-reference-div{
  position: fixed; left: 95%;top: 50%;
}
.left-center-fixed-reference-div {
  position: fixed; left: 5%;top: 50%;
}
.top-center-fixed-reference-div{
  position: fixed; left: 50%;top: 5%;
}
.bottom-center-fixed-reference-div{
  position: fixed; left: 50%;top: 95%;
}

