@media   screen and (max-width: 360px){
	.BYD-sub-heading,.MLG-sub-heading{
		font-size: 15px;
		line-height: 1em;
		width: 100%;

	}
	.MLG-col-right{
		margin-top: 0em;
	}
}

@media screen and (max-width: 360px) and (orientation: landscape){}

@media   screen and (min-width: 361px) and (max-width: 480px) {
	.BYD-sub-heading,.MLG-sub-heading{
		font-size: 15px;
		line-height: 1em;
		width: 100%;

	}
	.MLG-col-right{
		margin-top: 0em;
	}
}

@media   screen and (min-width: 361px) and (max-width: 480px) and (orientation: landscape){}

@media  screen and (min-width: 481px) and (max-width: 599px){
	.BYD-sub-heading,.MLG-sub-heading{
		font-size: 15px;
		line-height: 1em;
		width: 100%;
	}
	.MLG-col-right{
		margin-top: 0em;
	}
}

@media  screen and (min-width: 481px) and (max-width: 599px) and (orientation: landscape){}

@media  screen and  (min-width: 600px) and (max-width: 767px){
	.BYD-sub-heading,.MLG-sub-heading{
		font-size: 15px;
		line-height: 1em;
		width: 100%;

	}
	.MLG-col-right{
		margin-top: 0em;
	}
}

@media  screen and  (min-width: 600px) and (max-width: 767px) and (orientation: landscape){}

@media  screen and  (min-width: 768px) and (max-width: 959px){
	.BYD-sub-heading,.MLG-sub-heading{
		font-size: 15px;
		line-height: 1em;
		width: 100%;

	}
	#main-navigation ul.navbar-nav{
		width: 60%;
	}
	.MLG-col-right{
		margin-top: 0em;
	}
}

@media  screen and  (min-width: 768px) and (max-width: 959px) and (orientation: landscape){}

@media  screen and  (min-width: 960px) and (max-width: 1199px){
	#main-navigation ul.navbar-nav{
		width: 60%;
	}
}

@media  screen and  (min-width: 960px) and (max-width: 1199px) and (orientation: landscape){}

@media  only screen  and (min-width : 1200px){}

@media  only screen  and (min-width : 1200px) and (orientation: landscape) {}