@font-face {
    font-family: LatoLight;
    src: url(fonts/Lato-Light.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoItalic;
    src: url(fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(fonts/Lato-Regular.ttf);
}
.latoitalic{
    font-family: LatoItalic;
}
.latobold{
    font-family: LatoBold;
}
.latolight{
    font-family: LatoLight;
}
.latoregular{
    font-family: LatoRegular;
}


.main-nav{
    margin: 2% 4%;
}
/*NAVBAR-------*/
#nav-toggle span{
 background: black;
}
#main-navigation ul.navbar-nav{
    width: 35%;
}
.nav-links{
    width: 25%;
    text-align: center;
}
.nav-links:hover a{
    background: transparent !important;
    color: #ff3a54;
}
/*NAV ICONS ANIMATION*/
.nav-links:after {
    display:block;
    content: '';
    border-bottom: 2px solid #ff3a54;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.nav-links:hover:after {
    transform: scaleX(1);
}
.nav-links:after{
    transform-origin:  0% 50%;
}
/*NAV ICONS ANIMATION*/

.nav-links.login span{
    border: 1px solid;
    padding: 6px 12px;
    border-radius: 5px;
}
 .nav-links > *{
     color: #63577f;
     font-weight: 400;
     font-size: small;
 }

/*NAVBAR-------*/

/* BUILD YOUR DREAM SECTION*/
#BuildYourDream{
    margin: 0% 5%;
}
#BuildYourDream form{
    margin-bottom: 1em;
}
.BYD-col{
    margin-top: 8%;
    margin-bottom: 8%;
}
.BYD-heroText {
    color: #5f5b88;
}
.BYD-sub-heading{
    width: 70%;
    color: #5f5b88;
}


.BYD-heroText span {
    color:#00d9da;
}
.BYD-sub-heading span{
    color: #ff3a54;
    font-style: italic;
}

.custom-input{
    min-height: 3em;
    padding: 1em;
    border: 1px solid #e7edf1;
    font-size: 1.1em;
}
.custom-input::-webkit-input-placeholder {  color:    #aaa6b6;  }
.custom-input:-moz-placeholder { color:    #aaa6b6;  }
.custom-input::-moz-placeholder {  color:    #aaa6b6; }

.custom-button{
    min-height: 3em;
    letter-spacing: 1px;
    border: 1px solid #e7edf1;
    border-radius: 5px;
}

.custom-button.sign-up{
    background: #00d9da;
    color: white;
    font-weight: 400;
    min-height: 3.4em; 
}

.custom-button.white-background-btn{
    background: white;
    letter-spacing: 1px;
    padding: 1em;
    border: 1px solid #e7edf1;
    color:#aaa6b6 ;
    font-weight: 400;
    font-size: 1.1em;
    text-align: left;
}
.custom-button.social-media .fa{
    color:#76728d ;

}
#BuildYourDream .terms{
    color:#aaa6b6 ;
    font-weight: 400;
}
#BuildYourDream .terms span{
    color:#76728d ;
    font-weight: 400;
}

/* BUILD YOUR DREAM SECTION*/
/*Manage life goals section*/


#ManageLifeGoals .card{
    background: white;
 }
#ManageLifeGoals .card-block{
    padding: 1em;
}
.MLG-card-image{
    height: 15em;
    background-size: cover;
    background-position-x: center;
}
.MLG-col-right{
    margin-top: -10em;
}
.MLG-col-right .card{
    width: 60%;
    margin: auto;
}
.MLG-col-right .card .card-block .card-title{
    margin-top: 1.5em;
}

.MLG-sub-heading{
    color: #00504d;
}
.MLG-heroText span{
    color:#00d9da;
}
.MLG-sub-heading{
    width: 100%;
}
.MLG-sub-heading span{
    color: #ff3a54;
    font-style: italic;
}
.MLG-heroText{
    color: #5f5b88;
}
/*Manage life goals section*/

/*build your dream team*/

.BUDT-heroText{
    color: #ff3a54;
}

.BUDT-sub-heading{
    color: #00514e;
}
.BUDT-sub-heading span{
    color: #176262;
    font-weight: 400;
    font-style: bold;
}
.BUDT-media{
    width: 60%;
}
.BUDT-media .media-left{
    width: 20%;
    vertical-align: middle;
}
.BUDT-media .media-left img{
    width: 75px;
    height: 75px;
}
.BUDT-media .media-body{
    width: 80%;
    vertical-align: middle;
}
.BUDT-media .media-body .media-body-icons{
    width: 25%;
    text-align: center;
}
/*build your dream team*/
/*Real time collaboration*/
.RTC-heroText{
    color: #5f5b7e;
}

.RTC-sub-heading{
    color: #005351;
}

.RTC-col .card{
    background: white;
    width: 90%;
    margin: 1em 0em 2em 0em
}
.RTC-col .card-block{
    padding: 1em;
}

/*Real time collaboration*/

/*MoniterAndDriveSuccess*/
.MADS-heroText{
    color: #00d9da ;
}

.MADS-sub-heading{
    color: #005251;
}
.MADS-dropdown .dropdown-toggle:hover , .MADS-dropdown .dropdown-toggle:focus ,.MADS-dropdown .dropdown-toggle:active,.MADS-dropdown.open button{
    background: #F5FAFD;
    color: gray !important;
}

/*MoniterAndDriveSuccess*/
/*Get inspiration*/
.GI-heroText{
    color: white ;
}
.GI-card-image{
    height: 15em;
    background-size: cover;
    background-position-x: center;
}
.GI-sub-heading{
    color: white;
}
#GetInspiration .GI-tab-box{
    background: white;
}
.GI-tab-box .tab-content{
    margin: 1em 0em;
}
.GI-tab-box {
    padding: 2.5em;
}
.GI-tab-box .tab-content{
    min-height: 12em;
}
.GI-tab-box .tab-content .tab-pane .card{
    border:1px solid rgba(170, 166, 182, 0.14);
    border-radius: 5px;
}
.GI-tab-box .tab-content .tab-pane .card-block{
    padding: 1em;
}
.GI-tab-box ul.nav-tabs li a{
    color:#608699 !important;
    font-weight: 200 !important;
}
.GI-tab-box ul.nav-tabs li.active a{
    border: none !important;
    border-bottom: 4px solid #608699 !important;
}
.GI-tab-box ul.nav-tabs li .dropdown .dropdown-toggle:focus {
    background: white;
}
.GI-dropdown.open button{
    color: gray !important;
}

.icon-with-circle-border{
    padding: 30px;
    border-radius: 200px;
    float: left;
    height: 30px;
    width: 30px;
    display: table;
    color: white;
    border: 3px solid;
}

.social-media-icon-with-circle-border{
    padding: 10px;
    border-radius: 50%;
    float: left;
    height: 30px;
    width: 30px;
    display: table;
    color: white;
    border: 3px solid;
}


/*Get inspiration*/
/*Create influence*/
.CI-heroText{
    color: #ff3a54;
}
#CreateInfluence .snippet{
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
}
/*Create influence*/
/*DISCOVER EXPERTS*/
.DE-heroText span{
    color: #00d9da ;
}
.DE-sub-heading{
    color: #005251;
}
/*DISCOVER EXPERTS*/

/**/
.custom-media .media-left{
    width: 20%;
    vertical-align: middle;
}
.custom-media .media-left img{
    width: 55px;
    height: 55px;
}
.custom-media .media-body{
    width: 80%;
    vertical-align: middle;
}

.sign-up-heroText span{
    color: #00d9da ;
}

/*text rotate*/

/*Vertical Sliding*/
.slidingVertical{
    display: inline;
}
.slidingVertical span{
    font-family: LatoBold;
    animation: topToBottom 7.5s linear infinite 0s;
    -ms-animation: topToBottom 7.5s linear infinite 0s;
    -webkit-animation: topToBottom 7.5s linear infinite 0s;
    color: #5f5b88;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.slidingVertical span:nth-child(2){
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -moz-transform: translateY(-50px); }
    10% { opacity: 1; -moz-transform: translateY(0px); }
    25% { opacity: 1; -moz-transform: translateY(0px); }
    30% { opacity: 0; -moz-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-50px); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 1; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -ms-transform: translateY(-50px); }
    10% { opacity: 1; -ms-transform: translateY(0px); }
    25% { opacity: 1; -ms-transform: translateY(0px); }
    30% { opacity: 0; -ms-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}


/*Card Animation*/
/*Horizontal Sliding*/
.slidingHorizontal{
    display: inline;
}
.slidingHorizontal span{
    animation: leftToRight 7.5s linear infinite 0s;
    -ms-animation: leftToRight 7.5s linear infinite 0s;
    -webkit-animation: leftToRight 7.5s linear infinite 0s;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.slidingHorizontal span:nth-child(2){
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    width: 100%;
}
.slidingHorizontal span:nth-child(3){
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    width: 100%;
}



