
<div>
    <h2><span>Goal Likes</span> {{vm.goalLikes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Type</span></dt>
        <dd>
            <span>{{vm.goalLikes.type}}</span>
        </dd>
        <dt><span>Goal</span></dt>
        <dd>
            <a ui-sref="goal-detail({id:vm.goalLikes.goalId})">{{vm.goalLikes.goalId}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.goalLikes.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="goal-likes-detail.edit({id:vm.goalLikes.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
