
<div>
    <h2><span>Testimonial</span> {{vm.testimonial.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Text</span></dt>
        <dd>
            <span>{{vm.testimonial.text}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{vm.testimonial.rating}}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
            <span>{{vm.testimonial.createdOn | date:'medium'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.testimonial.status}}</span>
        </dd>
        <dt><span>Receiver</span></dt>
        <dd>
            {{vm.testimonial.receiverId}}
        </dd>
        <dt><span>Giver</span></dt>
        <dd>
            {{vm.testimonial.giverId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="testimonial-detail.edit({id:vm.testimonial.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
