
<div>
    <h2><span>Sub Goal Post</span> {{vm.subGoalPost.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.subGoalPost.title}}</span>
        </dd>
        <dt><span>Link Url</span></dt>
        <dd>
            <span>{{vm.subGoalPost.linkUrl}}</span>
        </dd>
        <dt><span>Image Path</span></dt>
        <dd>
            <span>{{vm.subGoalPost.imagePath}}</span>
        </dd>
        <dt><span>Video Path</span></dt>
        <dd>
            <span>{{vm.subGoalPost.videoPath}}</span>
        </dd>
        <dt><span>Create Time</span></dt>
        <dd>
            <span>{{vm.subGoalPost.createTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.subGoalPost.description}}</span>
        </dd>
        <dt><span>Sub Goal</span></dt>
        <dd>
            <a ui-sref="sub-goal-detail({id:vm.subGoalPost.subGoalId})">{{vm.subGoalPost.subGoalId}}</a>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.subGoalPost.userId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-goal-post-detail.edit({id:vm.subGoalPost.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
