
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubGoalPostLabel">Create or edit a Sub Goal Post</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subGoalPost.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subGoalPost.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.subGoalPost.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_linkUrl">Link Url</label>
            <input type="text" class="form-control" name="linkUrl" id="field_linkUrl"
                    ng-model="vm.subGoalPost.linkUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imagePath">Image Path</label>
            <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                    ng-model="vm.subGoalPost.imagePath"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_videoPath">Video Path</label>
            <input type="text" class="form-control" name="videoPath" id="field_videoPath"
                    ng-model="vm.subGoalPost.videoPath"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createTime">Create Time</label>
                <div class="input-group">
                    <input id="field_createTime" type="text" class="form-control" name="createTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.subGoalPost.createTime" is-open="vm.datePickerOpenStatus.createTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.subGoalPost.description"
                     />
        </div>

        <div class="form-group">
            <label for="field_subGoal">Sub Goal</label>
            <select class="form-control" id="field_subGoal" name="subGoal" ng-model="vm.subGoalPost.subGoalId" ng-options="subGoal.id as subGoal.id for subGoal in vm.subgoals"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.subGoalPost.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
