<div>
    <h2>Sub Goals</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sub-goal.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Sub Goal
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Subgoal Text</span></th>
                    <th><span>Status</span></th>
                    <th><span>Metric Amount</span></th>
                    <th><span>Metric Target</span></th>
                    <th><span>Metric Type</span></th>
                    <th><span>Metric Sub Type</span></th>
                    <th><span>Weightage</span></th>
                    <th><span>Creat Time</span></th>
                    <th><span>Goal</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subGoal in vm.subGoals track by subGoal.id">
                    <td><a ui-sref="sub-goal-detail({id:subGoal.id})">{{subGoal.id}}</a></td>
                    <td>{{subGoal.subgoalText}}</td>
                    <td>{{subGoal.status}}</td>
                    <td>{{subGoal.metricAmount}}</td>
                    <td>{{subGoal.metricTarget}}</td>
                    <td>{{subGoal.metricType}}</td>
                    <td>{{subGoal.metricSubType}}</td>
                    <td>{{subGoal.weightage}}</td>
                        <td>{{subGoal.creatTime | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="goal-detail({id:subGoal.goalId})">{{subGoal.goalId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sub-goal-detail({id:subGoal.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-goal.edit({id:subGoal.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-goal.delete({id:subGoal.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
