<!--<breadcrumbs></breadcrumbs>-->
<style>
.main-post .form-control{box-shadow:none !important;}
.main-post .textarea-bg{background-color: #fff; border: 1px; color: rgba(123, 125, 123, .7)}
.goal-detail-page .small-col-md-2{width:10.666667%; padding-left: 0px; padding-right: 0px}
.goal-detail-page .btn{border-radius: 2px}
.goal-detail-page .btn-success {
    color: #fff;
    background-color: #34ac44 !important;
    border-color: #169b28 !important;
}
tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 6px;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 100 16px Arial,sans-serif;
    color: #cac7c4;
    background-image: url(content/images/goals/cancel_btn.png);
    width: 18px;
    height: 17px;
    background-position: 2px 6px;
    background-repeat: no-repeat;
}
tags-input .tags .tag-item {
    margin: 2px;
    padding: 2px 10px;
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: none !important;

}
tags-input .tags .tag-item span{color:#3096e1}
tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: none;

}
tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    height: 100%;
}
</style>
<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div class="subheader-lft">
    <div class="subheader-lft-01">
        <div>
          <!--<img src="/content/images/goal-detail-edit-page/home_ic.png" data-toggle="tooltip" data-placement="bottom" title="Home" ui-sref="goal" style="cursor: pointer;">
          <img src="/content/images/breadcrumbs/divider.png">-->
          <span style="cursor: pointer;" ui-sref="dimension">My Library</span>
          <img src="/content/images/breadcrumbs/arrow.png">
          <span style="cursor: pointer;" ui-sref="dimension-detail({id:vm.dimensionId})">{{vm.goal.dimensionName}}</span> <img src="/content/images/breadcrumbs/arrow.png"> <span style="cursor: pointer;" ui-sref="goal-detail({id:vm.maingoalId})">{{vm.goal.goalName}}</span> <img src="/content/images/breadcrumbs/arrow.png"> {{vm.goal.subgoalText}}
        </div>
      </div>

   <div class="subheader-float-rht">
       <!--<img src="/content/images/goal-detail-edit-page/connection_ic.png" class="img-pad">-->
        <!--<img src="/content/images/breadcrumbs/divider.png" class="img-pad">-->
        <img src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom" title="Go Back" ng-click=vm.previousStateFun();>
        <!--<img src="/content/images/goal-detail-edit-page/add-sub-goal.png" class="img-pad">-->
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <!--<img src="/content/images/breadcrumbs/save.png" ng-hide=true class="img-pad">-->
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ng-click="vm.editSubGoalFun();" data-toggle="tooltip" data-placement="bottom" title="Edit Sub Goal" class="img-pad">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-click="vm.deleteGoal(vm.goal.id)" data-toggle="tooltip" data-placement="bottom" title="Delete Sub Goal" class="img-pad">
      </div>
    </div>
  </div>
</div>

<div class="container">


 <div class="row goal-detail-page" style="padding-left: 4.3%; padding-right: 4.3%; padding-top: 45px;">
  <div class="col-md-8">
    <div class="col-md-12" style="margin-bottom: 34px;">
        <div>
          <!--<div class="col-md-2 small-col-md-2">
          <img class="img-circle" style="height: 90px; padding: 10px;" src="content/images/userprofiles/one.jpg" />
          </div>
          <div class="col-md-2 small-col-md-2">
          <img class="img-circle" style="padding: 28px;" src="content/images/goals/rhs-arrow.png" />
          </div>-->
          <div class="col-md-8" style="padding-top: 10px; padding-left: 0px">
          <div class="goal-title">{{vm.goal.subgoalText}}</div>

          <!--<privacy is-Public=0 parent-Privacy = "vm.goal.privacy"></privacy> <span style="color: #C8D1DA;">|</span>-->

          <span class="textSmallGrey">Started On : {{vm.goal.startTime.toDateString()}}</span> <span style="color: #C8D1DA;"></span> <span style="color: #C8D1DA;">|</span>
          <span class="textSmallGrey">Due Date : {{vm.goal.finishTime.toDateString()}}</span>
          <!--<span class="textSmallGrey"><img src="content/images/goals/collection/inspire_ic.png" /></span>  -->
          </div>
        </div>
      </div>
    <div>
      <h4 class="new-heading post-text-bold" style="margin-bottom:4px;">Recent Activities </h4>
      <span style="color: #c5c5c5;">Have a look at recent happenings...</span> </div>
    <div class="row post-mar-top-10">
      <div class="col-md-12">
        <div class="main-post main-post-radius">
          <!--<div class="input-group">-->
            <!--<label ng-show="!vm.openTitle" class="pull-left" style="color: #474c48; font-size: 15px; font-weight: normal;">{{vm.post.title || 'Title of your post'}}</label> -->
            <!--<span ng-show="!vm.openTitle" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="vm.openTitle=!openTitle"></span>  -->
            <!--<div class="col-md-12">
              <div class="col-md-11">
                <input type="hidden" class="form-control" id="id" name="id" ng-model="vm.post.id"/>
                <input class="form-control" type="text" placeholder="Title of your post" ng-model="vm.post.title" ng-show="vm.openTitle"/>
              </div>
              <div class="col-md-1">
               <span ng-show="vm.openTitle" class="col-md-1 col-xs-1 pull-left"><img src="content/images/dimensions/add-dim.png" ng-click="vm.openTitle=!vm.openTitle"></span>
              </div>
            </div>-->
          <!--</div>-->
          <div class="input-group">
            <!--<label ng-show="!vm.openDescription" class="pull-left" style="color: #474c48; font-size: 15px; font-weight: normal;">{{vm.post.description || 'Description'}}</label> -->
            <!--<span ng-show="!vm.openDescription" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="vm.openDescription=!vm.openDescription"></span>  -->
            <!--<div class="col-md-12">-->
              <!--<div class="col-md-11">-->
                <textarea class="form-control textarea-bg" placeholder="Description" ng-model="vm.post.description"></textarea>
              <!--</div>     -->
              <!--<div class="col-md-1">
               <span ng-show="vm.openDescription" class="col-md-1 col-xs-1 pull-left"><img src="content/images/dimensions/add-dim.png" ng-click="vm.openDescription=!vm.openDescription"></span>
              </div> -->
            <!--</div>-->
          </div>
          <!--<div class="input-group">
            <label class="pull-left text-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>
            <textarea class="form-control" placeholder="Type your Text"></textarea>
          </div>-->
          <div class="main-post-footer">
            <div class="pull-left pos-rel">
              <!--<div class="photo-section"><img src="content/images/goals/camera_ic.png"></div>
              <div class="video-section"><img src="content/images/goals/video_ic.png"></div>-->
              <div class="link-section"><img src="content/images/goals/attachment_ic.png"></div>
              <!--<div class="video-section"><img src="content/images/goals/chat_ic.png"></div>-->
              <!--<div class="loaction-section"><img src="content/images/connections/location_ic@2x.png"></div>-->
            </div>
            <div class="pull-right post-mar-08">
              <button class="btn btn-success btn-md" style="width: 100%;" ng-click="vm.savePost('save');">Post</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 post-mar-10" ng-repeat="post in vm.posts">
        <div class="main-post post-bg">
          <div class="input-group post-wid-pad-10">
            <div class="row">
              <div class="col-md-8">
                <div class="col-md-2 col-xs-4"><img ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+post.userId+'/profilepic.jpg'}}" err-src="content/images/userprofiles/default.png" class="img-responsive img-circle imagefit"  width="85px"></div>
                <div class="col-md-9 col-xs-8">
                  <p class="post-title"><span class="post-name">{{post.userLogin || ''}}</span> <span class="post-type"> Posted </span> <span class="post-blue"></span></p>
                  <img src="content/images/goals/calender_ic.png"> <span style="color:#b0b3b6"> {{post.creatTime}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right">
                  <!--<p><img src="content/images/profile/desktop.png">Keep in comment 21 May, 2017</p>-->
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <p style="color:#585c59">{{post.description}}</p>
          </div>
          <div class="input-group" ng-show="imagePath">
            <img src="content/images/goals/goal-details/goal-detail.png" width="100%">
          </div>
          <!--<div class="input-group"> <span  style="color:#b0b3b6">Keep in comment Tags &nbsp;&nbsp; </span> <span class="post-blue"> abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; </div>-->
          <div class="row caption-inside-row post-mar-10">
            <!--<div class="left-align pull-left post-mar-lft-10">
              <div class="pull-left "><img src="content/images/goals/like_ic.png"></div>
              <div class="pull-right post-mar-lft-10" style="color:#5e5e5e">2,515</div>
            </div>-->
            <div class="left-align pull-left post-mar-lft-25" ng-click="openComments=!openComments">
              <div class="pull-left "><img src="content/images/goals/chat_ic.png"></div>
              <div class="pull-right" style="margin-left: 10px; color:#5e5e5e">{{post.subPostComments.length}}</div>
            </div>
          </div>
          <!--List of comments-->
          <div class="row comment-section" ng-repeat="comment in post.subPostComments" ng-show="openComments" style="padding-top: 7px; margin-left: 0px; margin-right: 0px;">
            <div class="col-md-10" style="height: 50px;">
              <div class="input-group stylish-input-group row" style="margin: 0px; padding: 0px;">
                <input type="text" class="form-control" ng-model="comment.comment" style="background-color:#f7f8fb; border:none" ng-if=editMsg>
                <span style="color: blue" ng-hide=editMsg>{{comment.firstName}}</span> &nbsp <span ng-hide=editMsg>{{comment.comment}}</span>
              <span ng-show="!editMsg" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="editMsg=!editMsg"></span>
             </div>
            </div>
            <div class="col-md-1" style="margin-top: 8px; margin-left:-23px; width: 10px;" ng-show=editMsg>
              <span class="glyphicon glyphicon-triangle-right" style="color: #34ac44" ng-if="comment.comment.length>0" ng-click="vm.saveComment('update',post.id, comment);"></span>
            </div>
            <div class="col-md-1" style="margin-top: 8px; margin-right:5px; width: 10px;" ng-show=editMsg>
              <span class="glyphicon glyphicon-trash" ng-click="vm.deleteComment(comment.id);"></span>
            </div>
          </div>
          <div class="comment-section" style="margin-top: 10px; margin-bottom: 5px;">
           <div class="row">
            <div class="col-md-11">
              <div class="input-group stylish-input-group row" style="margin: 0px;">
              <input type="text" class="form-control"  placeholder="Write a Comments..." ng-model="commentedData" style=" background-color:#f7f8fb; border:none">
              <!--<span class="input-group-addon" style="background-color:#f7f8fb !important;  border:none">
                 <button> <img src="content/images/goals/smily_ic.png"> </button>
              </span>               -->
            </div>
            </div>
            <div class="col-md-1" style="margin-top: 17px; margin-left:-24px">
              <span class="glyphicon glyphicon-triangle-right" style="color: #34ac44" ng-if="commentedData.length>0" ng-click="vm.saveComment('save',post.id,commentedData);"></span>
            </div>
          </div>
          </div>

        </div>
      </div>

      <!-- new code -->
      <!--<div class="col-md-12 post-mar-10">
        <div class="main-post post-bg">
          <div class="input-group post-wid-pad-10">
            <div class="row">
              <div class="col-md-8">
                <div class="col-md-2 col-xs-4"><img src="content/images/connections/thumb.jpg" class="img-responsive img-circle"  width="85px"></div>
                <div class="col-md-9 col-xs-8">
                  <p class="post-title"><span class="post-name">Baber Shaikh M</span> <span class="post-type"> Commented </span> <span class="post-blue"> </span></p>
                  <img src="content/images/goals/calender_ic.png"> <span style="color:#b0b3b6"> 23 Mins</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pull-right">
                  <p><img src="content/images/profile/desktop.png">Keep in comment 21 May, 2017</p>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <p style="color:#585c59">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>

          <div class="input-group"> <span  style="color:#b0b3b6">Keep in comment Tags &nbsp;&nbsp; </span> <span class="post-blue"> abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; </div>
          <div class="row caption-inside-row post-mar-10">
            <div class="left-align pull-left post-mar-lft-10">
              <div class="pull-left "><img src="content/images/goals/like_ic.png"></div>
              <div class="pull-right post-mar-lft-10" style="color:#5e5e5e">2,515</div>
            </div>
            <div class="left-align pull-left post-mar-lft-25">
              <div class="pull-left "><img src="content/images/goals/chat_ic.png"></div>
              <div class="pull-right" style="margin-left: 10px; color:#5e5e5e">500</div>
            </div>
          </div>

        </div>
      </div>-->
      <!-- new code -->
    </div>
  </div>
  <div class="col-md-4">

    <div class="col-md-12" style="text-align: right;" ng-if="vm.metricStatus=='yes'">
        <div style="display: inline-block">
          <canvas id="myCanvas" style="border:none;"></canvas>
        </div>
        <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="0" size="190" target="myCanvas"></goalprogress>
      </div>
      <div class="col-md-12" style="text-align: right;" ng-if="vm.metricStatus=='no'">
        <div style="display: inline-block">
          <canvas id="myCanvas" style="border:none;"></canvas>
        </div>
        <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="0" size="190" target="myCanvas"></goalprogress>
      </div>
      <div class="col-md-12 text-22" style="padding-left: 0px">
      <!--<span style="font-size: 14px;">{{vm.goal.metricType=='Other'?vm.goal.metricSubType:vm.goal.metricType}}</span> <span ng-show="!openMetricEdit" style="color: #049BE2" ng-click="openMetricEdit=!openMetricEdit">{{vm.goal.metricAmount}}</span> -->
      <span style="font-size: 14px;">{{vm.goal.metricSubType}}</span> <span ng-show="!openMetricEdit" style="color: #049BE2" ng-click="openMetricEdit=!openMetricEdit">{{vm.goal.metricAmount}}</span>
       <div class="col-md-12">
         <div class="col-md-6">
          <input class="form-control" type="text" ng-model="vm.goal.metricAmount" ng-show="openMetricEdit"/>
         </div>
         <div class="col-md-6">
          <span ng-show="openMetricEdit" class="col-md-1 col-xs-1 pull-left"><img src="content/images/dimensions/add-dim.png" ng-click="openMetricEdit=!openMetricEdit;vm.saveMetric()"></span>
         </div>
       </div>
       <span>&nbsp;/&nbsp;{{vm.goal.metricTarget}}</span>
      </div>

      <div ui-sref="goal.collection({id:vm.goal.id})" class="col-md-12" style="padding-left:0px; color: #5F7283; margin-bottom:20px; font-size: 14px;">
        <img src="content/images/icon-link.png" align="middle"><b>0</b> Collections
        <img src="content/images/horizontal-line.png" align="middle">
        <a><img src="content/images/icon-download.png" align="middle"></a>
        <a style="color: #049BE2">Download All</a>
        <!--<a href="#" style="color: #049BE2">View</a>-->
      </div>

    <div class="row goal-detail-page" style="margin-top:20px">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title"> <a class="accordion-toggle tab-anchor-text"  ng-click="isCollapsed = !isCollapsed"> <span  class="post-text-bold" style="font-size:16px;" >Description </span></a> </p>
          </div>
          <div uib-collapse="isCollapsed">
            <div class="panel-body" style="padding-top:0px">
              <div class="row">
                <div class="col-md-12">
                  <p style="text-align: justify">{{vm.goal.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">
          <p class="panel-title" style="font-weight: 600;"> Tags <br>
            <tags-input ng-model="vm.goal.tags" display-property="id" class="textboxRegular"></tags-input>
        </div>-->
        <!--<div uib-collapse="isCollapsedTag"> <a class="accordion-toggle tab-anchor-text" ng-click="isCollapsedTag = !isCollapsedTag"><span class="post-text-bold" style="font-size:16px;">Tags </span></a>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <p style="text-align: justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
        </div>-->
      <!--</div>      -->
    </div>
  </div>
</div>
</div>
<script>
  var defaultText = 'Click me and enter some text';
  function endEdit(e) {
    var input = $(e.target),
      label = input && input.prev();

    label.text(input.val() === '' ? defaultText : input.val());
    input.hide();
    label.show();
  }

  $('.clickedit').hide()
    .focusout(endEdit)
    .keyup(function (e) {
      if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
        endEdit(e);
        return false;
      } else {
        return true;
      }
    })
    .prev().click(function () {
      $(this).hide();
      $(this).next().show().focus();
    });
</script>


















<!--<div>
    <h2><span>Sub Goal</span> {{vm.subGoal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Subgoal Text</span></dt>
        <dd>
            <span>{{vm.subGoal.subgoalText}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.subGoal.status}}</span>
        </dd>
        <dt><span>Metric Amount</span></dt>
        <dd>
            <span>{{vm.subGoal.metricAmount}}</span>
        </dd>
        <dt><span>Metric Target</span></dt>
        <dd>
            <span>{{vm.subGoal.metricTarget}}</span>
        </dd>
        <dt><span>Metric Type</span></dt>
        <dd>
            <span>{{vm.subGoal.metricType}}</span>
        </dd>
        <dt><span>Metric Sub Type</span></dt>
        <dd>
            <span>{{vm.subGoal.metricSubType}}</span>
        </dd>
        <dt><span>Weightage</span></dt>
        <dd>
            <span>{{vm.subGoal.weightage}}</span>
        </dd>
        <dt><span>Creat Time</span></dt>
        <dd>
            <span>{{vm.subGoal.creatTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Goal</span></dt>
        <dd>
            <a ui-sref="goal-detail({id:vm.subGoal.goalId})">{{vm.subGoal.goalId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="sub-goal-detail.edit({id:vm.subGoal.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div-->
