
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubGoalLabel">Create or edit a Sub Goal</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subGoal.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subGoal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_subgoalText">Subgoal Text</label>
            <input type="text" class="form-control" name="subgoalText" id="field_subgoalText"
                    ng-model="vm.subGoal.subgoalText"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.subGoal.status" id="field_status">
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
                <option value="COMPLETE">COMPLETE</option>
                <option value="ARCHIVE">ARCHIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_metricAmount">Metric Amount</label>
            <input type="number" class="form-control" name="metricAmount" id="field_metricAmount"
                    ng-model="vm.subGoal.metricAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_metricTarget">Metric Target</label>
            <input type="number" class="form-control" name="metricTarget" id="field_metricTarget"
                    ng-model="vm.subGoal.metricTarget"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_metricType">Metric Type</label>
            <input type="text" class="form-control" name="metricType" id="field_metricType"
                    ng-model="vm.subGoal.metricType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_metricSubType">Metric Sub Type</label>
            <input type="text" class="form-control" name="metricSubType" id="field_metricSubType"
                    ng-model="vm.subGoal.metricSubType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_weightage">Weightage</label>
            <input type="number" class="form-control" name="weightage" id="field_weightage"
                    ng-model="vm.subGoal.weightage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creatTime">Creat Time</label>
                <div class="input-group">
                    <input id="field_creatTime" type="text" class="form-control" name="creatTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.subGoal.creatTime" is-open="vm.datePickerOpenStatus.creatTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creatTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.subGoal.description"
                     />
        </div>

        <div class="form-group">
            <label for="field_goal">Goal</label>
            <select class="form-control" id="field_goal" name="goal" ng-model="vm.subGoal.goalId" ng-options="goal.id as goal.id for goal in vm.goals"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
