<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<style>
    .modal-dialog {
        width: 297px !important;
    }

    @media only screen and (min-width: 320px) and (max-width: 360px) {
        .modal-content {
            width: 270px !important;
        }
    }

    #goal-edit-page-delete input[type=text],
    input[type=password] {
        margin-top: 10px;
    }
    /*.goal-edit-page .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}*/

    .goal-edit-page .modal-header {
        min-height: 16.43px;
        /*padding: 15px 15px 0px 15px;*/
        border-bottom: 0px;
    }

    .modal-body {
        position: relative;
        padding: 5px 15px 5px 15px;
    }

    .goal-edit-page .modal-footer {
        /*padding: 15px 15px 15px 15px;*/
        text-align: left;
        /*border-top: 0px;*/
    }

    .goal-edit-page .glyphicon {
        top: 0px;
        font-size: 16px;
    }

    .goal-edit-page .form-control {
        border-radius: 0px;
    }
    /*.modal {background-color: rgba(134, 249, 216, 0.1);}*/

    .goal-edit-page .btn-lg,
    .btn-group-lg>.btn {
        padding: 5px 5px;
        font-size: 16px;
        line-height: 1.3333333;
        border-radius: 0px;
    }

    .modal-backdrop.in {
        opacity: 0;
    }

    .modal {
        background-color: rgba(134, 249, 216, 0) !important;
        margin-top: 17%;
    }

    .modal-content {
        box-shadow: none !important;
    }

    .modal-body {
        border: 1px solid #c9e6f3;
    }

    @media only screen and (max-width: 767px) {

        .modal-dialog {
            margin-left: 9% !important;
        }
    }
</style>
<!-- BEGIN # MODAL LOGIN -->
<div>
    <div id="goal-edit-page-delete">
        <div class="modal-content">


            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body" style="min-height: 75px; background-color: #eaf8fe;">
                        <p style="text-align:center; color: #1683b7; font-size: 12px; padding-top: 20px; padding-bottom: 9px;">{{vm.message}}</p>
                    </div>

                </form>
                <!-- End # Login Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>