
</style>
  <div class="goal-download" id="goal-edit-page-download">
    <div class="modal-content">
      <div class="modal-header" align="center" style="background-color:none;">
        <div>
          <p class="pull-left" style="color:#97b9cb"><span><img src="content/images/goals/attachment_ic.png"></span>&nbsp; &nbsp; COLLECTIONS {{vm.collCount}}</p>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
        </div>
      </div>

      <!-- Begin # DIV Form -->
      <div id="div-forms">

        <!-- Begin # Login Form -->
        <form id="login-form">
          <div class="modal-footer scrollbar" id="style-1">
            <div class="col-md-12 force-overflow" style="height:280px;">
            <!--<div class="row" style="border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px;">
              <span><img src="content/images/goals/collection/collection_item_doc.png"></span> Itinerary of the traelling
              <span class="pull-right"><img src="content/images/goals/collection_item_delete.png"></span>
              <span class="pull-right"><img src="content/images/goals/collection_item_download.png"></span>
            </div>-->
            <div class="row" style="padding-bottom: 10px; padding-right: 10px;">

             <!--<div id="div-forms" >-->
                <form>
                  <div class="col-md-12">
                    <div class="row" ng-repeat="item in vm.collections.docs" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 5px; margin-left: 1px; margin-right: -10px;">
                      <span><img src="content/images/goals/collection/file-pop_ic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 170px;">{{item.name}}</span>
                      <!--<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>-->
                     <!--<span class="pull-right"><img src="content/images/goals/collection_item_delete.png"></span>-->
                     <span class="pull-right"><a ng-href="{{'https://s3-us-west-1.amazonaws.com/life-edge/'+item.key}}" download="{{item.key}}"><img src="content/images/goals/collection_item_download.png"></a></span>
                    </div>

                    <div class="row" ng-repeat="item in vm.collections.images" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 5px; margin-left: 1px; margin-right: -10px;">
                      <span><img  src="content/images/goals/collection/img-pop_ic(1).png" style="width:15px; margin-right: 10px;"></span>	<span class="trim-info" style="max-width: 170px;">{{item.name}}</span>
                      <!--<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>-->
                      <!--<span class="pull-right"><img src="content/images/goals/collection_item_delete.png"></span> -->
                      <span class="pull-right"><a ng-href="{{'https://s3-us-west-1.amazonaws.com/life-edge/'+item.key}}" download="{{item.key}}"><img src="content/images/goals/collection_item_download.png"></a></span>
                    </div>
                    <div class="row" ng-repeat="item in vm.collections.audios" style="text-align: justify; border-bottom: 1px solid #eff0f1 ;padding-bottom: 10px; padding-right: 5px; margin-left: 1px; margin-right: -10px;">
                      <span><img  src="content/images/goals/collection/pdf-pop_icic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 170px;">{{item.name}}</span>
                      <!--<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>-->
                      <!--<span class="pull-right"><img src="content/images/goals/collection_item_delete.png"></span> -->
                      <span class="pull-right"><a ng-href="{{'https://s3-us-west-1.amazonaws.com/life-edge/'+item.key}}" download="{{item.key}}"><img src="content/images/goals/collection_item_download.png"></a></span>
                    </div>


                    <div class="row" ng-repeat="item in vm.collections.videos" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 5px; margin-left: 1px; margin-right: -10px;">
                      <span><img  src="content/images/goals/collection/film-pop_ic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 170px;">{{item.name}}</span>
                      <!--<span class="pull-right"><img src="/content/images/new-images-demo/delete_new.jpg" style="width:28px"></span>-->
                      <!-- <span class="pull-right"><img src="content/images/goals/collection_item_delete.png"></span> -->
                      <span class="pull-right"><a ng-href="{{'https://s3-us-west-1.amazonaws.com/life-edge/'+item.key}}" download="{{item.key}}"><img src="content/images/goals/collection_item_download.png"></a></span>
                    </div>

                  </div>
                </form>
              <!--</div>-->
              <!--new-->
            </div>
            </div>
          </div>
        </form>
        <!-- End # Login Form -->

      </div>
      <!-- End # DIV Form -->

    </div>
  </div>
