<style>
  .tabMenuUnderline {
    box-shadow: 0 17px 0 -9.6px #688697;
    border-radius: 18px;
    border-bottom: none;
  }

  .tabMenuPanel a:hover {
    text-decoration: none;
    border-bottom: none
  }
</style>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1916013815339318', status: true, cookie: true,
      xfbml: true
    });
  };
  (function () {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

</script>




<div style="padding-top: 17px;"  class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
<nav class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" style="background-color: #ffffff;border: none;"">
    <div class="search-small col-md-12 col-sm-12 col-xs-12">
        <div class="searchContainer" >
            <form ng-submit="vm.searchPattern()" >
                <input type="text" name="search"  placeholder="Search Goals, People..." ng-model="vm.searchText" class="search searchwidth">
                <img src="content/images/navbar-search-magnifyingglass.png" type="submit" style="border-radius: 10px; margin-right: 3px;"
                    ng-click="vm.searchPattern()" />
            </form>
        </div>
    </div>
</nav>
</div>

<div class="container container-fluid">
  <div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 tabMenuPanel">
        <a href="" class="tabMenu tabMenuUnderline" ui-sref="featured-goal">DISCOVER</a>
        <a href="" class="tabMenu " ui-sref="goal">MY GOALS</a>

        <a href="" class="tabMenu" ui-sref="dimension">MY LIBRARY</a>
      </div>
    </div>
  </div>

  <div class="row goal-dashboard-page">
    <div class="panel-body">

      <div class="row">

        <div>
          <div class="col-md-3 col-xs-6 col-sm-4 no-padd" ng-repeat="goal in vm.goals track by $index" ng-cloak>
            <div class="thumbnail thumb-pos-r">
              <img ui-sref="goal-detail({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                err-src="/content/images/no-img-template.jpg"  class="img-top-radius imagefit hide_for_mobile">
              <img  ui-sref="goal-detail-mobile({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
              <div uib-tooltip="{{goal.goalStatus=='COLLABORATOR' && 'COLLABORATED GOAL' || 'SUPPORTED GOAL'}}" tooltip-placement="left"
                ng-class="{'corner-ticket-blue': goal.goalStatus=='COLLABORATOR', 'corner-ticket-brown': goal.goalStatus=='SUPPORTER'}">
                <img src="" ng-src="{{goal.goalStatus=='COLLABORATOR' && 'content/images/new-images-demo/user-ticket-ic.png' || 'content/images/new-images-demo/group-ticket-ic.png'}}"
                  class="corner-icon-img">
              </div>
              <div class="caption">
                <div class="row caption-inside-row">

                  <div class="left-align pull-left">
                    <div class="card-number-icon pull-left pos-rel" uib-tooltip="Goal Notification" tooltip-placement="bottom-left" style="margin-top: 1px; margin-right:10px"><img class="imgicon" src="content/images/gray_notification_ic.png">
                      <div class="pos-abs btn-warning" ng-show="goal.notificationsCount>0">{{goal.notificationsCount}}</div>
                    </div>


                    <div class="pull-right card-number-txt" uib-tooltip="Copy Goal" tooltip-placement="bottom" ng-click="vm.InspiredGoalFun(goal)"
                      style="margin-left: 0px;
          margin-top: -13px;"><img class="imgicon2" src="content/images/copybutton.png"></div>
                  </div>
                  <div class="left-align pull-right">
                    <div class="card-plus-ic pull-left">{{goal | goalPercentage:goal}} %</div>
                    <div class="canvas-margin">
                      <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                      <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                    </div>

                    <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}"
                      target="myCanvas{{$index}}0"></subgoalprogress>
                    <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{goal | goalPercentage:goal}}"
                      size="20" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}1"></subgoalprogress>
                  </div>
                </div>

                <p ui-sref="goal-detail({id:goal.id})"  class="card-title hide_for_mobile"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                <p ui-sref="goal-detail-mobile({id:goal.id})"  class="card-title hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                <!-- <p class="card-description" uib-tooltip="Goal description" tooltip-placement="bottom"><span class="trim-info">{{goal.description || 'Add description to the goal'}}</span></p>
                <p style="cursor: pointer;" ui-sref="dimension.edit({id:goal.dimensionId})" ng-style="!goal.dimensionName && {'height':'22px'}"
                  class="price-txt"><span class="trim-info" uib-tooltip="Folder name " tooltip-placement="bottom">{{goal.dimensionName}}</span></p> -->
                <!--<ng-pluralize count="goal.finishTime | dateRange:vm.today"  when="{'-1':'Behind', 1:'Day', 'other': 'Days'}"></ng-pluralize> left-->
                <!-- <p class="card-description destime">{{goal.finishTime | dateRange:vm.today || 'Add due date to the goal'}}</p> -->
                <p class="card-description destime"></p>
                <div class="row caption-inside-row top-pad">
                  <div class="left-align pull-left">
                    <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == false" ng-click="vm.markFavourite(goal.id)"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/like-01.png"></div>
                    <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == true" ng-click="vm.unMarkFavourite(goal.id)"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/like.png">
                    </div>
                    <div uib-tooltip="Share" tooltip-placement="bottom" uib-popover-template="share.templateUrl" popover-trigger="outsideClick" ng-click=" vm.share(goal)" popover-placement="top"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/share_ic.png"></div>
                    <div class="card-number-icon pull-left" style="padding-bottom: 2px;" uib-tooltip="Goal members" tooltip-placement="top"><img src="content/images/goal-detail-edit-page/connection_ic.png"></div>
                    <div class="pull-left card-number-txt1" style="padding-bottom: 0px;">{{goal.totalParticipants}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="shareInfo.html">
  <div id="myPopover8" style="width:100%; ">
    <div class="search-connection">
      <div class="input-group stylish-input-group" style="padding: 0px; cursor: pointer;">

        <p style="font-size: 12px;" ng-click="shareDialog(share.goal)">FACEBOOK</p>

        <p style="font-size: 12px;" socialshare="" socialshare-provider="twitter" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
          socialshare-url="{{share.goalURL}}" socialshare-hashtags="achieveon">
          TWITTER</p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="google" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
          socialshare-url="{{share.goalURL}}">
          GOOGLE+ </p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="linkedin">
          LINKEDIN </p>
      </div>

    </div>
  </div>
</script>
