<!--<div class="container">
  <div class="row">
    <div class="col-md-12">
      <breadcrumbs></breadcrumbs>
    </div>
  </div>
</div>-->
                
<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div style="
              padding-top: 10px;
              padding-bottom: 10px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */">
      <div style="text-align: left; width: 100%; 
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;">
        <!--<div ng-repeat="item in vm.breadcrumbsList">-->
          <!--<img src="/content/images/breadcrumbs/dotsmenu.png" ng-if="$first">
          <img src="/content/images/breadcrumbs/arrow.png" ng-if="!$first">-->
          <!--<a ui-sref="item.sref" style="color: #688799">{{item.name}}</span>-->
        <!--</div>-->
        <div>
          <!--<img src="/content/images/goal-detail-edit-page/home_ic.png" ui-sref="goal" style="cursor: pointer;">-->
          <!--<img src="/content/images/breadcrumbs/divider.png">-->
        </div>
      </div>
      <div style="float: right; width: 150px;">        
        <img src="/content/images/goal-detail-edit-page/connection_ic.png" style="cursor: pointer;">
        <!--<img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/leftarrow.png" ng-hide=true style="cursor: pointer;">
        <img src="/content/images/goal-detail-edit-page/add-sub-goal.png" style="cursor: pointer;">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/save.png" ng-hide=true style="cursor: pointer;">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ui-sref="goal.edit({id:vm.goalId})" style="cursor: pointer;">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-click="vm.deleteGoal(vm.goalId)" style="cursor: pointer;">        -->
      </div>
    </div>
  </div>
</div>
<div class="container goal-dimensions">                  
  
  <div class="row">
    <div class="col-md-12 tabMenuPanel">
      <a href="#" class="tabMenu" ui-sref="goal">GOALS</a>
      <!--<a href="#" class="tabMenu">RECENT ACTIVITY</a>-->
      <!--<a href="#" class="tabMenu tabMenuUnderline">DIMENSIONS</a>-->
      <a href="#" class="tabMenu tabMenuUnderline" ui-sref="dimensions">FOLDERS</a>
    </div>
  </div>
  
  <div class="row" style="margin-top:30px">
    <!--<div class="col-lg-3 col-md-6 col-sm-6">
      <div class="add-new" style="height: 352px;"> <div align="center"><img src="content/images/dimensions/add-new.png" width="100%" height="62"></div>
        <div class="title">Add New Dimension</div>
        <div class="subtitle">into your Life Goals</div> </div>
    </div>-->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel pos-rel">
        <div ng-mouseenter="openDiv=true" ng-mouseleave="openDiv=false">  
        <img src="content/images/dimensions/life-goal.jpg" width="100%" height="204">
          <div class="show-img-01" ng-show="openDiv==true">
            <!--src="content/images/dimensions/white-edit.png" onmouseover="hover(this);" onmouseout="unhover(this);"-->
            <div class="photo-section-01"> <img src="content/images/dimensions/white-edit.png" onmouseover="this.src='content/images/dimensions/blue-edit.png'"
                 onmouseout="this.src='content/images/dimensions/white-edit.png'"></div>
            <div class="photo-section-02"><img src="content/images/dimensions/white-camera.png" onmouseover="this.src='content/images/dimensions/blue-camera.png'"
                 onmouseout="this.src='content/images/dimensions/white-camera.png'"></div>
            <div class="photo-section-03"><img src="content/images/dimensions/white-delete.png" onmouseover="this.src='content/images/dimensions/blue-delete.png'"
                 onmouseout="this.src='content/images/dimensions/white-delete.png'"></div>
          </div>
        </div>  
        <div class="panel-area">
          <div class="row">
            <div class="col-xs-6">
              <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
            </div>          
            <div class="col-xs-6" style="position:relative;">
              <div class="left-align pull-right">
                <div class="card-plus-ic pull-left">75%</div>
                  <div style="display: inline-block">
                     <canvas id="myCanvas1" style="border:none;"></canvas>
                   </div>
                 <subgoalprogress goal-Percent="75"  size="40" color="{{goal | applyColor:goal}}" target="myCanvas1"></subgoalprogress>
               </div>
            </div>
          </div>
          <div class="title">Add New Folder</div>
          <div class="subtitle">into your Life Goals</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/career-goals.jpg" width="100%" height="204">
        <div class="panel-area">
        <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i><img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph2" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
          </div>
          </div>
          
          <div class="title">Career Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/religious-goals.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph3" style="height: 80px; width: 80%; position:absolute; top:-25px;"></div>
          </div>
          </div>
          <div class="title">Religious Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/books.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
             <div class="col-xs-6">
              <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
             </div>          
             <div class="col-xs-6" style="position:relative;">
              <div id="graph4" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
            </div>
          </div>
          <div class="title">Books</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/guitar-sessions.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph5" style="height: 80px; width: 90%; position:absolute; top:-25px;"></div>
          </div>
          </div>
          <div class="title">Guitar Sessions</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/tours.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph6" style="height: 80px; width: 65%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Tours & Adventure</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/learning.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph7" style="height: 80px; width: 80%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Learning Tutorials</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/family.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph8" style="height: 80px; width: 90%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Family Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/education.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph9" style="height: 80px; width: 90%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Educational Goals</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/dreams.jpg" width="100%" height="204">
        <div class="panel-area">
          <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph10" style="height: 80px; width: 65%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Dreams</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="dash-panel"> <img src="content/images/dimensions/teaching.jpg" width="100%" height="204">
        <div class="panel-area">
         <div class="row">
        <div class="col-xs-6">
          <div class="notify"> <i class="fa fa-fw fa-globe globe"></i> <img src="content/images/globe.png"> <span class="numlabel label-success">25</span> </div>
          </div>
          
          <div class="col-xs-6" style="position:relative;">
          <div id="graph11" style="height: 80px; width: 80%; position:absolute; top:-25px; right:0;"></div>
          </div>
          </div>
          <div class="title">Teaching</div>
          <div class="subtitle">Lorem ipsum dolor sit amet</div>
          <div class="inprogress">In Progress <span>25</span></div>
          <div class="complete">Completed <span>17</span></div>
        </div>
      </div>
    </div>
  </div>
</div>