<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.11.min.js"></script>
<style>
	.carousel {
		margin-bottom: 0;
		padding: 0 0px 30px 0px;
	}
	/* Reposition the controls slightly */

	.carousel-control {
		left: -12px;
	}

	.carousel-control.right {
		right: -12px;
	}
	/* Changes the position of the indicators */

	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-right: -19px;
	}
	/* Changes the colour of the indicators */

	.carousel-indicators li {
		background: #c0c0c0;
	}

	.carousel-indicators .active {
		background: #333333;
	}

	.row-fluid .span3 {
		width: 31.476923%;
		float: left;
		margin: 4px;
	}

	.lftt {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		width: 30px;
		height: 30px;
		/* padding-bottom: 13px; */
		/* vertical-align: super; */
		left: -13px;
		top: 33%;
	}



	.rhtt {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		width: 30px;
		height: 30px;
		right: -10px !important;
		top: 33%;
	}

	.upload-drop-zone {
		height: 200px;
		border-width: 2px;
		margin-bottom: 20px;
		width: 262px
	}
	/* skin.css Style*/

	.upload-drop-zone {
		color: #ccc;
		border-style: dashed;
		border-color: #ccc;
		line-height: 10px;
		text-align: center;
		border-width: 1px;
	}

	.upload-drop-zone.drop {
		color: #222;
		border-color: #222;
	}

	#file-chooser {
		display: none;
	}

	.pos-rel {
		position: relative
	}

	.modal-dialog {
		width: 354px;
		margin: 20px auto;
		height: 180px;
	}

	.modal-content {
		box-shadow: none;
		border-radius: 4px !important;
	}

	.modal-header {
		border: none !important;
		background-color: #FFF !important;
		border-radius: 2px;
	}

	.thumbnail {
		border: none
	}

	.thumbnail img {
		border-radius: 4px
	}

	.thumbnail {
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.thumbnail:hover .caption {
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform: translateY(-150px);
		-moz-transform: translateY(-150px);
		-ms-transform: translateY(-150px);
		-o-transform: translateY(-150px);
		padding: 0px
	}

	.thumbnail img {
		z-index: 4;
	}

	.thumbnail .caption {
		position: absolute;
		top: 150px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 100%;
	}

	.thumbnail .blur {
		background-color: rgba(56, 54, 54, 0.46);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
		left: 0;
	}

	.thumbnail .caption-text {
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top: 41px;
		width: 100%;
		left: 0;
	}

	.thumbnail .btn {
		border: none;
		background: none;
	}
</style>



<!-- line modal -->
<div ui-view="modal" id="squarespaceModal" tabindex="-1" role="dialog">
	<div>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" ng-click="vm.cancel();" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="lineModalLabel" style="font-size:14px; color:#c6c6c6"> <img src="/content/images/new-images-demo/img-up.png"> &nbsp; UPLOAD POST ATTACHMENT</h3>
			</div>
			<div class="modal-body" style="padding-bottom: 18.32%;">
				<div style="padding: 2% 8% 2% 10%;">
					<div ng-hide="image">
						<label ng-if="vm.FileNamePost==''" class="upload-drop-zone" for="file-chooser" id="drop-zone" style="padding-top: 16%; color:#fafafa; background-color: #fafafa;">
						<div><img ng-src="{{vm.post.imagePath}}" src="/content/images/new-images-demo/dummy-img.png"></div>
						<p  style="color:#7b7b7b; font-size:16px; margin-top:18px; font-weight: 400;">Upload Post Attachment</p>
						<p style="color:#9e9e9e; font-size:12px; margin-top:14px; line-height: 18px; margin-left: 49px; margin-right: 45px; font-weight: 400;">Browse it from your device</p>
						</label>
						<label ng-if="vm.FileNamePost!=''" ng-init="ifphoto=checktype(vm.post.imagePath.substr((vm.post.imagePath.lastIndexOf('.') + 1)));"
						 class="upload-drop-zone" for="file-chooser" id="drop-zone" style="color:#fafafa; background-color: #fafafa;">
							<img ng-if="ifphoto == true"  ng-src="{{vm.post.imagePath}}"  id="selectedImg"  style="height: 100%; width: 100%; object-fit: cover">
							<p ng-if="ifphoto == false"><span style="color:#3498DB; text-align:center; line-height:190px;" ng-href="{{vm.post.imagePath}}">{{vm.post.imagePath.split('/').pop().trim();}}</a></p>
						</label>
					</div>
					<div ng-show="image">
						<label class="upload-drop-zone" for="file-chooser" id="drop-zone" style="color:#fafafa; background-color: #fafafa;">
							<img  ng-show="fileName.substr((fileName.lastIndexOf('.') + 1)) == 'jpg' || fileName.substr((fileName.lastIndexOf('.') + 1)) == 'png'" id="selectedImg" src="{{image}}" style="height: 100%; width: 100%; object-fit: cover">
							<p ng-hide="fileName.substr((fileName.lastIndexOf('.') + 1)) == 'jpg' || fileName.substr((fileName.lastIndexOf('.') + 1)) == 'png'"><span style="color:#3498DB; text-align:center; line-height:190px;">{{fileName}}</span></p>
						</label>
						<div ng-if="vm.processPost>0" class="progress" style="margin-left: 6%; height:8px; margin-right: 6%">
							<uib-progressbar class="info" value="vm.processPost"></uib-progressbar>
						</div>
						<p ng-if="vm.processPost>0" style="color:#9e9e9e; font-size:12px; margin-top:14px;text-align: center;"><span style="color:#039be4">{{vm.processPost}} % </span>complete</p>
					</div>
				</div>
				<input type="file" id="file-chooser" my-upload>
				<input type="hidden" id="key" name="key" value="testing-123">
				<!-- Upload Finished -->
				<div ng-click="vm.upload();" id="upload" name="upload" class="active-click" style="position:absolute; right: 27px; bottom:37px;"><img ng-src="{{image && '/content/images/new-images-demo/done.png' || '/content/images/new-images-demo/deactive-tick.png'}}"></div>
			</div>
			<!--/well-->
		</div>
	</div>
</div>

<!-- slider end -->