<style>
  .goal-edit-page audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
    width: 100% !important;
  }

  .goal-edit-page .panel {
    box-shadow: none !important
  }

  .goal-edit-page .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    -webkit-box-shadow: !important;
    box-shadow: none !important;
  }

  .goal-edit-page .input-group-addon {
    border: 1px solid #E8E8E8;
  }

  .goal-edit-page .input-inside {
    font-weight: 600;
  }

  .goal-edit-page .canvas-height {
    height: 14px;
    padding: 0px 0px 0px 0px
  }

  tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 6px;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 100 16px Arial, sans-serif;
    color: #cac7c4;
    background-image: url(content/images/goals/cancel_btn.png);
    width: 18px;
    height: 17px;
    background-position: 2px 6px;
    background-repeat: no-repeat;
  }

  tags-input .tags .tag-item {
    margin: 2px;
    padding: 2px 10px;
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: none !important;
  }

  tags-input .tags .tag-item span {
    color: #3096e1
  }

  tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: none;
  }

  tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    height: 100%;
  }

/*.btn-success{background-image:url(/content/images/new-images-demo/search-deselected.png);
width: 25px;
height: 25px;
border-radius: 50%;
background-color: #fcfdfe !important;
    border-color: #fafbfd !important;
}*/
</style>
<!--ng-show="vm.showsubHeader"-->
<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
        <!--<div ng-repeat="item in vm.breadcrumbsList">-->
        <!--<img src="/content/images/breadcrumbs/dotsmenu.png" ng-if="$first">
          <img src="/content/images/breadcrumbs/arrow.png" ng-if="!$first">-->
        <!--<a ui-sref="item.sref" style="color: #688799">{{item.name}}</span>-->
        <!--</div>-->
        <div>
          <!--<img src="/content/images/goal-detail-edit-page/home_ic.png" ui-sref="goal" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Home">
          <img src="/content/images/breadcrumbs/divider.png">-->
        </div>
      </div>
      <div class="subheader-float-rht">
        <img src="/content/images/breadcrumbs/leftarrow.png" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom"
          title="Go Back" ng-click=vm.previousStateFun();>
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/save.png" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="{{vm.showToolTip}}"
          ng-click="vm.save()">
        <!--<img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-click="vm.deleteGoal(vm.goalId)" style="cursor: pointer;">        -->
      </div>
    </div>
  </div>
</div>
<!--<jhi-alert-error></jhi-alert-error>-->
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <input type="hidden" id="id" name="id" ng-model="vm.goal.id" />
  <input type="hidden" id="field_startTime" name="startTime" ng-model="vm.goal.startTime" />
  <input type="hidden" id="field_privacy" name="privacy" ng-model="vm.goal.privacy" />
  <!--<option value="PRIVATE">PRIVATE</option>
                <option value="NETWORK">NETWORK</option>
                <option value="PUBLIC">PUBLIC</option>
                <option value="PROMOTION">PROMOTION</option>-->
  <input type="hidden" id="field_creatTime" name="creatTime" ng-model="vm.goal.creatTime" />
  <!--<span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creatTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>-->

  <input type="hidden" id="field_user" name="user" ng-model="vm.goal.userId" />
  <div class="container">
    <div class="row" style="margin-top: 40px; margin-left: 3%; margin-right: 3%;">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8">
            <span class="textSmallGrey">Goal Title</span>
            <input type="text" class="textboxTitle goal-title" name="goalText" id="field_goalText" ng-model="vm.goal.goalText" style="width: 100%; font-weight: 100;"
            />
          </div>
          <div class="col-md-4">
            <span class="textSmallGrey">Target Date</span>
            <div class="input-group">
              <input id="field_finishTime" type="text" class="textboxRegular" name="finishTime" size="15" uib-datepicker-popup="{{dateformat}}"
                ng-model="vm.goal.finishTime" is-open="vm.datePickerOpenStatus.finishTime" style="width: 100%; font-size: 16px;"
              />
              <span class="input-group-btn">
              <button type="button" class="textboxRegular"
                      ng-click="vm.openCalendar('finishTime')"><i class="glyphicon glyphicon-calendar lightBlue"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="row goal-edit-page">
          <!--<div class="col-md-8">-->
          <privacy is-Public="{{vm.goal.privacy=='PRIVATE'?0:1}}" parent-Privacy="vm.goal.privacy"></privacy> <span style="color: #C8D1DA;">|</span> <span style="color: #C8D1DA; font-size: 12px;"> Started on:{{vm.goal.startTime.toDateString()}}</span>
          <!--<div class="col-md-12 mar-top-bot"> <img src="content/images/connections/collaborat@2x.png" style="float:left"> <span class="mid-span" style="float:left">
              <div class="switch">
                <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                <label for="cmn-toggle-4"></label>
              </div>
              </span>
              <img src="content/images/connections/supporters@2x.png"> | <span style="color: #c5c5c5; font-size: 12px;"> Started on:{{vm.goal.startTime.toDateString()}}</span>
            </div>-->
          <!--</div>-->
          <!--<div class="col-md-4">-->
          <!--<span class="textSmallGrey">Started On : {{vm.goal.startTime.toDateString()}}</span>-->
          <!--
            start time automatically set but still keeping calendar here for future
            <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
            -->
          <!--</div>-->
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row goal-edit-page">
          <div class="col-md-3">
            <span class="textSmallGrey">Metric Type</span>
            <select id="field_metricType" name="metricType" class="form-control input-inside" ng-options="metric.name as metric.name for metric in vm.metricTypes"
              ng-model="vm.goal.metricType" ng-init="vm.changeMetricSubTypeForGoal()" ng-change="vm.changeMetricSubTypeForGoal()">
            </select>
          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Metric Subtype</span>
            <select id="field_metricSubtype" name="metricSubtype" class="form-control input-inside" ng-model="vm.goal.metricSubType"
              ng-options="v for v in vm.subMetricValuesForGoal" ng-show="vm.goal.metricType!='Numeric'">
             </select>
            <input id="field_metricSubtypeOther" class="form-control input-inside" name="metricSubtypeOther" type="text" ng-model="vm.goal.metricSubType"
              ng-show="vm.goal.metricType=='Numeric'" />
          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Current</span>
            <input type="number" class="form-control input-inside" name="metricAmount" id="field_metricAmount" ng-model="vm.goal.metricAmount"
            />

          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Target</span>
            <input type="number" class="form-control input-inside" name="metricTarget" id="field_metricTarget" ng-model="vm.goal.metricTarget"
              ng-readonly="vm.goal.metricType=='Other'" />
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-3">
            <span class="textSmallGrey">Metric Type</span>
          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Metric Subtype</span>
          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Current</span>
          </div>
          <div class="col-md-3">
            <span class="textSmallGrey">Target</span>
          </div>
        </div>-->
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row goal-edit-page">
          <div class="col-md-6">
            <span class="textSmallGrey">Goal Dimension</span>
            <select class="form-control input-inside" ng-model="vm.goal.dimensionId" name="category" id="field_category" ng-options="item.id as item.name for item in vm.DIMENSIONS">
        </select>
          </div>
          <div class="col-md-3">
            <!--<span class="textSmallGrey">Goal Status</span>  ng-change="vm.goal.dimensionId = vm.dimensionItem.id"
            <select class="form-control" name="status" ng-model="vm.goal.status" id="field_status">
                  <option value="ACTIVE">ACTIVE</option>
                  <option value="COMPLETE">COMPLETE</option>
                  <option value="PAUSE">PAUSE</option>
                  <option value="ARCHIVE">ARCHIVE</option>
              </select>
          <input name="notebook" ng-model="vm.goal.notebook" id="field_notebook" type="hidden" value="GOOGLEDRIVE">-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6" style="text-align: center; padding-top: 14px;"><img ng-src="{{vm.logoPath}}" err-src="/content/images/goal_blank_logo.png" ng-click="vm.uploadImage()" style="vertical-align: top; width: 192px; height: 192px;"
            class="img-circle imagefit" /></div>
          <div class="col-md-6">
            <!--<goalprogress goal-Percent="0" subgoal-Percent="0"></goalprogress>  ng-show="vm.showCircle"-->
            <div class="col-md-12" ng-if="vm.metricStatus=='no'" id="metricDiv" style="text-align: center; margin-top: 15px;">
              <div style="display: inline-block">
                <canvas id="myCanvasMain" style="border:none;"></canvas>
              </div>
              <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="{{vm.totalOfSubGoals}}" size="190" target="myCanvasMain"></goalprogress>
            </div>
            <div class="col-md-12" ng-if="vm.metricStatus=='yes'" id="metricDiv1" style="text-align: center; margin-top: 15px;">
              <div style="display: inline-block">
                <canvas id="myCanvasMain" style="border:none;"></canvas>
              </div>
              <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="{{vm.totalOfSubGoals}}" size="190" target="myCanvasMain"></goalprogress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-12" style="text-align: center;">
      </div>
    </div>
    <!--SUB GOAls-->
    <!--<div class="row">
          <div class="col-md-12">
            <label class="control-label" for="field_category">Sub Goals 4</label>
            <img src="../../../content/images/icon_plus.png" ng-click="vm.addSubGoals()"/>
          </div>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
          <div ng-repeat="subgoal in vm.addSubGoalsCollection">
            <div class="col-md-3">
              <div class="panel panel-default">
                  <div class="panel-body" >{{subgoal.goalTitle}}</div>
              </div>
            </div>
          </div>
      </div>   -->
    <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-default">
            <div>
              <!--<p class="new-heading">Sub Goals 4 <a href="" role="button" ng-click="vm.addSubGoals()"><img src="content/images/icon_plus.png"></a> </p>-->
              <div class="col-md-12" style="margin-bottom: 6px; padding-left: 0px">
                <label class="control-label" for="field_category" style="margin-right: 20px;">Sub Goals</label>
                <img src="../../../content/images/icon_plus.png" ng-click="vm.createSubGoal(0,'no', $index)" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" ng-repeat="subgoal in vm.allSubGoals" style="margin-top:5px">
                <div class="col-md-12 col-xs-12 col-mar-bg-color mob-show" style="padding-bottom: 0px; padding-right:0px; padding-left:0px">
                  <div ng-click="vm.createSubGoal(subgoal,'yes', $index)">
                    <div class="col-md-3 col-xs-3 bor-right-align" style="padding-top: 7px; padding-bottom: 7px; font-weight: 100; color:#b3c1ca">{{subgoal.goalpercent}}%</div>
                    <div class="col-md-7 col-xs-7 pad-top" style="padding-top: 15px; font-size: 14px; color: #4d6c72;"><span ng-bind="subgoal.subgoalText"></span></div>
                  </div>
                  <!--<input type="hidden"  ng-model="subgoal.index" value=$index />-->
                  <div class="col-md-2 col-xs-2 align-center" style="padding-top: 15px" ng-click="vm.deleteSubGoal(subgoal, $index)"><img src="content/images/goals/delete_goal_new.png"></div>
                  <div class="col-md-12 canvas-height" z>
                    <canvas id="myCanvas{{$index}}" width="368" height="5"></canvas>
                    <subgoalprogressinedit goal-Percent="{{subgoal.goalpercent}}"  color="{{subgoal | applyColor:subgoal}}" target="myCanvas{{$index}}"></subgoalprogressinedit>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--DESCRIPTION-->
    <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-12">
        <label class="control-label" for="field_category">Description</label>
      </div>

      <div class="col-md-12">
        <textarea type="text" class="textboxRegular" name="description" ng-maxlength="4000"  ng-readonly="vm.goal.description.length>=4000 " id="field_description" ng-model="vm.goal.description" cols="60"
          , rows="8" style="min-width: 100%; min-height: 100px; width: 100%; font-size: 14px; color:#486c71; padding: 10px;">
          </textarea>
      </div>
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
    <!--TAGS-->
    <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-12">
        <label class="control-label" for="field_category">Tags </label>
      </div>
      <div class="col-md-12">
        <tags-input ng-model="vm.goal.tags" display-property="id" class="textboxRegular"></tags-input>
      </div>
      <div class="col-md-12">
        <hr/>
      </div>
    </div>

    <!--COLLECTIONS-->
    <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-12">
        <label class="control-label" for="field_category" style="padding-right: 20px">Collections</label>
        <img src="../../../content/images/icon_plus.png" ng-click="vm.uploadCollections()" />
      </div>
      <div class="col-md-12">
        <div style="height: 8px;"></div>
        <div class="goal-collections-div" ng-click="vm.manageCollections()" style="background-image: url(/content/images/goals/collections_images.png);">
          ({{vm.collections.images.length}})
        </div>
        <div class="goal-collections-div" ng-click="vm.manageCollections()" style="background-image: url(/content/images/goals/collections_videos.png);">
          ({{vm.collections.videos.length}})
        </div>
        <div class="goal-collections-div" ng-click="vm.manageCollections()" style="background-image: url(/content/images/goals/collections_audio.png);">
          ({{vm.collections.audios.length}})
        </div>
        <div class="goal-collections-div" ng-click="vm.manageCollections()" style="background-image: url(/content/images/goals/collections_docs.png);">
          ({{vm.collections.docs.length}})
        </div>
        <div class="goal-collections-div" ng-click="vm.manageCollections()" style="background-image: url(/content/images/goals/collections_links.png);">
          ({{vm.collections.links.length}})
        </div>
      </div>
      <div class="col-md-12">
        <hr/>
      </div>
    </div>

    <!--COLLABORATORS-->
    <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
      <div class="col-md-5">
        <label class="control-label" for="field_category">Collaborators</label>
        <br/>
        <span class="textSmallGrey">List of people supporting your goal as collaborators</span>
      </div>
      <div class="col-md-4 pull-right">
        <span uib-dropdown is-open="vm.collaboratorResultsShow">
              <!--<input type="input" id="collaborator_search" name="collaborators_search"
                    style="width: 300px;"
                    ng-model = "vm.collaboratorSearchQuery"
                    ng-change = "vm.searchCollaborators()"
                    ng-focus = "vm.collaboratorSearchQuery = ''"
                    ng-blur = "vm.collaboratorSearchQuery = 'Search Connections'"
                    />-->
              <div class="input-group stylish-input-group">
                  <input type="text" class="form-control" id="collaborator_search" name="collaborators_search"
                    ng-model = "vm.collaboratorSearchQuery"
                    ng-change = "vm.searchCollaborators()"
                    ng-focus = "vm.collaboratorSearchQuery = ''"
                    ng-blur = "vm.collaboratorSearchQuery = 'Search Connections'"
                  >
                  <span class="input-group-addon">
                  <button type="submit"> <img src="content/images/connections/search_ic@2x.png"> </button>
                  </span>
      </div>
      <span class="dropdown-menu" style="width: 330px !important;" uib-dropdown-menu aria-labelledby="collaborators_search">
                <span id="collaborator_results" ng-repeat="collaborator in vm.collaboratorResults">
                  <div>
                    <img class="img-circle" style="height: 50px;" ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+collaborator.networkUserId+'/profilepic.jpg'}}" err-src="content/images/userprofiles/default.png"/>
                    {{collaborator.firstName}} {{collaborator.lastName}}
                    <button type="button" class="btn btn-info btn-sm" ng-click="vm.addCollaboratorsFun(collaborator)">
                            <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    </div>
    </span>
    </span>
    </span>
  </div>
  <div class="col-md-12" ng-show="vm.addCollaborators.length>0">
    <p>&nbsp;</p>
    <!--<div id="collaborators" name="collaborators" ng-repeat="item in vm.addCollaborators">
              {{item.firstname}}
            </div>-->
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="collaborator in vm.addCollaborators">
          <div class="row tab-row-pad">
            <div class="col-md-4 col-xs-4"> <img ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+collaborator.networkUserId+'/profilepic.jpg'}}"
                err-src="content/images/userprofiles/default.png" class="img-responsive img-circle" width="85px"> </div>
            <div class="col-md-8 col-xs-8">
              <p class="card-title">{{collaborator.firstName}} {{collaborator.lastName}}</p>
              <p class="card-designation">{{collaborator.occupation}}</p>
              <div>
                <!--<div class="card-plus-ic pull-left" ui-sref="user-persona.edit({id:collaborator.id})"><span><img src="content/images/Accept.png" class="img-pad" width="20px"></span> </div>-->
                <!--<div class="card-delet-ic pull-left" style="margin-left: 8%" ui-sref="user-persona.delete({id:collaborator.id})"> <img src="content/images/connections/delete_ic@2x.png"></div>-->
                <div class="card-delet-ic pull-left" style="margin-left: 8%"> <img src="content/images/connections/delete_ic@2x.png" ng-click="vm.removeCollaboratorsFun($index, collaborator.id)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
  </div>

  <!--SUPPORTERS-->
  <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
    <div class="col-md-5">
      <label class="control-label" for="field_category">Supporters</label>
      <br/>
      <span class="textSmallGrey">List of people supporting your goal as supporters</span>
    </div>
    <div class="col-md-4 pull-right">

      <span uib-dropdown is-open="vm.supporterResultsShow">
              <!--<input type="input" id="supporter_search" name="supporters_search"
                    style="width: 300px;"
                    ng-model = "vm.supportersSearchQuery"
                    ng-change = "vm.searchSupporters()"
                    ng-focus = "vm.supportersSearchQuery = ''"
                    ng-blur = "vm.supportersSearchQuery = 'Search Connections'"
                    /> -->
              <div class="input-group stylish-input-group">
                  <input type="text" class="form-control" id="supporter_search" name="supporters_search"
                    ng-model = "vm.supportersSearchQuery"
                    ng-change = "vm.searchSupporters()"
                    ng-focus = "vm.supportersSearchQuery = ''"
                    ng-blur = "vm.supportersSearchQuery = 'Search Connections'"
                    >
                  <span class="input-group-addon">
                  <button type="submit"> <img src="content/images/connections/search_ic@2x.png"> </button>
                  </span>
    </div>
    <span class="dropdown-menu" style="width: 360px !important;" uib-dropdown-menu aria-labelledby="supporters_search">

                <span id="supporter_results" ng-repeat="supporter in vm.supportersResults">
                  <div>
                    <img class="img-circle" style="height: 50px;" ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+supporter.networkUserId+'/profilepic.jpg'}}" err-src="content/images/userprofiles/default.png"/>
                    {{supporter.firstName}} {{supporter.lastName}}
                    <button type="button" class="btn btn-info btn-sm" ng-click="vm.addSupportersFun(supporter)">
                            <span class="glyphicon glyphicon-plus"></span> Add
    </button>
  </div>
  </span>
  </span>
  </span>
  </div>
  <div class="col-md-12" ng-show="vm.addSupporters.length>0">
    <p>&nbsp;</p>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="supporter in vm.addSupporters">
          <div class="row tab-row-pad">
            <div class="col-md-4 col-xs-4"> <img ng-src="{{'http://s3-us-west-1.amazonaws.com/life-edge/user/'+supporter.networkUserId+'/profilepic.jpg'}}"
                err-src="content/images/userprofiles/default.png" class="img-responsive img-circle" width="85px"> </div>
            <div class="col-md-8 col-xs-8">
              <p class="card-title">{{supporter.firstName}} {{supporter.lastName}}</p>
              <p class="card-designation">{{supporter.occupation}}</p>
              <div>
                <!--<div class="card-plus-ic pull-left" ui-sref="user-persona.edit({id:supporter.id})"><span><img src="content/images/Accept.png" class="img-pad" width="20px"></span> </div>-->
                <div class="card-delet-ic pull-left" style="margin-left: 8%"> <img src="content/images/connections/delete_ic@2x.png" ng-click="vm.removeSupportersFun($index, supporter.id)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
  </div>

  </div>
  <div class="row goal-edit-page" style="margin-left: 3%; margin-right: 3%;">
    <div class="col-md-12">
      <div class="modal-footer" style="margin-top: 2px; border:none">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.redirectBack()" style="width:165px; border:none; margin-right: 14px;">
        <span>Cancel</span>
    </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" style="width:165px; border:none; margin-left: 17px;">
     <span>Save Changes</span>
    </button>
      </div>
    </div>
  </div>
</form>
</div>