<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.11.min.js"></script>
<!-- <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.11.min.js"></script>


<style>
.dimension {
	width: 100%;
	margin-bottom: 20px;
}
.modal-dialog {
    width: 35%;
}
</style>


<div class="modal-header">
    <button type="button" class="close" ng-click="cancel();">&times;</button>
    <h4 class="modal-title">Upload Goal Logo</h4>
</div>


<div class="modal-body">
	<form action="/s3/upload" method="POST">
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-5">
			<input type="file" id="file-chooser" />
			<input type="hidden" id="key" name="key" value="testing-123">
		</div>
		<div class="col-md-5">
			<input type="button" ng-click="uploadS3File(true)" id="upload" name="upload" value="Upload" />
		</div>
	</div>
	</form>
</div>

<div class="modal-header">
    <h4 class="modal-title">Or Select an Image</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'education.jpg');"><img id="profilePic1" src="content/images/dimensions/education.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'dreams.jpg');"><img id="profilePic2" src="content/images/dimensions/dreams.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'career-goals.jpg');"><img id="profilePic3" src="content/images/dimensions/career-goals.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'books.jpg');"><img id="profilePic4" src="content/images/dimensions/books.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'guitar-sessions.jpg');"><img id="profilePic5" src="content/images/dimensions/guitar-sessions.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'learning.jpg');"><img id="profilePic5" src="content/images/dimensions/learning.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'tours.jpg');"><img id="profilePic5" src="content/images/dimensions/tours.jpg" class="dimension modal-img" /></a></div>
		<div class="col-md-4"><a ng-click="vm.chooseAvatar(vm.dimension.id, 'life-goal.jpg');"><img id="profilePic6" src="content/images/dimensions/life-goal.jpg" class="dimension modal-img" /></a></div>
	</div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="cancel()">Cancel</button>
</div>-->
<!-- modal for drag and drop section start -->
<style>
    .carousel {
        margin-bottom: 0;
        padding: 0 0px 30px 0px;
    }
    /* Reposition the controls slightly */

    .carousel-control {
        left: -12px;
    }

    .carousel-control.right {
        right: -12px;
    }
    /* Changes the position of the indicators */

    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    /* Changes the colour of the indicators */

    .carousel-indicators li {
        background: #c0c0c0;
    }

    .carousel-indicators .active {
        background: #333333;
    }

    .row-fluid .span3 {
        width: 31.476923%;
        float: left;
        margin: 4px;
    }

    .lftt {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        /* padding-bottom: 13px; */
        /* vertical-align: super; */
        left: -13px;
        top: 33%;
    }



    .rhtt {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        right: -10px !important;
        top: 33%;
    }

    .upload-drop-zone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
        width: 262px
    }
    /* skin.css Style*/

    .upload-drop-zone {
        color: #ccc;
        border-style: dashed;
        border-color: #ccc;
        line-height: 10px;
        text-align: center;
        border-width: 1px;
    }

    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }

    #file-chooser {
        display: none;
    }

    .pos-rel {
        position: relative
    }

    .modal-dialog {
        width: 554px;
        margin: 30px auto;
    }

    .modal-content {
        box-shadow: none;
        border-radius: 4px !important;
    }

    .modal-header {
        border: none !important;
        background-color: #FFF !important;
        border-radius: 2px;
    }

    .thumbnail {
        border: none
    }

    .thumbnail img {
        border-radius: 4px
    }

    .thumbnail {
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .thumbnail:hover .caption {
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform: translateY(-150px);
        -moz-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
        -o-transform: translateY(-150px);
        padding: 0px
    }

    .thumbnail img {
        z-index: 4;
    }

    .thumbnail .caption {
        position: absolute;
        top: 150px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }

    .thumbnail .blur {
        background-color: rgba(56, 54, 54, 0.46);
        height: 300px;
        z-index: 5;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .thumbnail .caption-text {
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 300px;
        text-align: center;
        top: 41px;
        width: 100%;
        left: 0;
    }

    .thumbnail .btn {
        border: none;
        background: none;
    }
</style>



<!-- line modal -->
<div ui-view="modal" id="squarespaceModal" tabindex="-1" role="dialog">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="cancel();" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel" style="font-size:14px; color:#c6c6c6"> <img src="/content/images/new-images-demo/img-up.png"> &nbsp; UPLOAD GOAL IMAGE</h3>
            </div>
            <div class="modal-body" style="padding-bottom: 38.32%;">
                <div class="goal-adj-03" style="text-align: center">
                    <div ng-hide="myImage">
                        <label class="upload-drop-zone" for="file-chooser" id="drop-zone" style="padding-top: 16%; color:#fafafa; background-color: #fafafa;">
     <div><img src="/content/images/new-images-demo/dummy-img.png"></div>
     <p style="color:#7b7b7b; font-size:16px; margin-top:18px; font-weight: 400;">Add goal image</p>
     <p style="color:#9e9e9e; font-size:12px; margin-top:14px; line-height: 18px; margin-left: 49px; margin-right: 45px; font-weight: 400;">Browse it from your device</p>
    <!-- Progress Bar vm.process>0
    <div class="progress" style="margin-left: 6%; height:8px; margin-right: 6%">
      <uib-progressbar class="info" value="vm.process"></uib-progressbar>
    </div>
    <p style="color:#9e9e9e; font-size:12px; margin-top:14px;"><span style="color:#039be4">{{vm.process}} % </span>complete</p> -->
  </label>
                    </div>
                    <div ng-show="myImage">
                        <label class="upload-drop-zone" style="color:#fafafa; background-color: #fafafa;">
        <!-- <img id="selectedImg" ng-src="{{myCroppedImage}}" style="height: 100%; width: 100%; object-fit: cover"> -->
        <ui-cropper id="selectedImg" image="myImage" area-type="square"  area-init-size="{w:68, h:51}" result-image-size="{w:270, h:203}" area-min-size="{w:68, h:51}" init-max-area="true" result-image="myCroppedImage" live-view="blockingObject"></ui-cropper>
    </label>
                        <div class="progress" ng-if="vm.process>0" style="margin-left: 6%; height:8px; margin-right: 6%">
                            <uib-progressbar class="info" value="vm.process"></uib-progressbar>
                        </div>
                        <p ng-if="vm.process>0" style="color:#9e9e9e; font-size:12px; margin-top:14px;"><span style="color:#039be4">{{vm.process}} % </span>complete</p>

                    </div>
                    <input type="file" id="file-chooser" onchange="angular.element(this).scope().handleFileSelect()" my-upload/>
                    <input type="hidden" id="key" name="key" value="testing-123">
                    <!-- Upload Finished -->
                    <div class="js-upload-finished" style="text-align:center">
                        <p style=" color:#999999; font-size:14px; margin-bottom:20px">Or Select from the preset Images</p>
                    </div>
                    <div class="col-md-12" style="padding-left: 11px; padding-right: 7px;">
                        <!-- slider start -->

                        <div class="container" style="width:100%">
                            <div class="row">
                                <div class="span12">
                                    <div class="well pos-rel">
                                        <div class="myCarousel carousel slide">
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="row-fluid">
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic1" src="content/images/dimensions/education.jpg" alt="Image" style="max-width:100%;" />


                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'education.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="span3 thumbnail">

                                                            <img id="profilePic2" src="content/images/dimensions/dreams.jpg" alt="Image" style="max-width:100%;" />

                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'dreams.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic3" src="content/images/dimensions/career-goals.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'career-goals.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--/row-fluid-->
                                                </div>
                                                <!--/item-->

                                                <div class="item">
                                                    <div class="row-fluid">
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic1" src="content/images/dimensions/guitar-sessions.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'guitar-sessions.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic2" src="content/images/dimensions/learning.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'learning.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic3" src="content/images/dimensions/tours.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'tours.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="item">
                                                    <div class="row-fluid">
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic1" src="content/images/dimensions/books.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'books.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span3 thumbnail">
                                                            <img id="profilePic2" src="content/images/dimensions/life-goal.jpg" alt="Image" style="max-width:100%;" />
                                                            <div class="caption">
                                                                <div class="blur"></div>
                                                                <div class="caption-text">
                                                                    <a class=" btn" ng-click="vm.chooseAvatar(vm.dimension.id, 'life-goal.jpg');"><span ng-init="imgsrc='content/images/new-images-demo/deactive-tick.png'" ng-mouseover="imgsrc='content/images/new-images-demo/done.png'" ng-mouseout="imgsrc='content/images/new-images-demo/deactive-tick.png'"> <img src="{{imgsrc}}"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                            <!--/carousel-inner-->

                                            <a class="left carousel-control lftt" href=".myCarousel" data-slide="prev" style="background-image:none;">‹</a>
                                            <a class="right carousel-control rhtt" href=".myCarousel" data-slide="next" style="background-image:none;">›</a>
                                        </div>
                                        <!--/myCarousel-->
                                        <!--<input type="button" ng-click="uploadS3File(true)" id="upload" name="upload" value="Upload" />-->
                                        <div ng-click="uploadS3File(true);" id="upload" name="upload" class="active-click" style="position:absolute; right: 10px; bottom: -18px;"><img ng-src="{{image && '/content/images/new-images-demo/done.png' || '/content/images/new-images-demo/deactive-tick.png'}}"></div>
                                    </div>
                                    <!--/well-->
                                </div>
                            </div>
                        </div>

                        <!-- slider end -->

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>