
<!-- Modal used to display the threads dump -->
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.clear();">&times;</button>
    <h4 class="modal-title">Upload Profile Picture</h4>
</div>


<div class="modal-body">
	<form action="/s3/upload" method="POST">
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-5">
			<input type="file" fileread="uploadme.src"/>
			<input type="hidden" id="key" name="key" value="testing-123">
		</div>
		<div class="col-md-5">		
			<input type="button" ng-click="vm.upload()" id="upload" name="upload" value="Upload" />
		</div>
	</div>
	</form>
</div>
	
<div class="modal-header">
    <h4 class="modal-title">Or Select an Avatar</h4>
</div>
<div class="modal-body">	
	<div class="row">
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('male3-128.png');"><img id="profilePic1" src="content/images/avatars/male3-128.png" class="img-circle modal-img" /></a></div>
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('female1-128.png');"><img id="profilePic2" src="content/images/avatars/female1-128.png" class="img-circle modal-img" /></a></div>
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('malecostume-128.png');"><img id="profilePic3" src="content/images/avatars/malecostume-128.png" class="img-circle modal-img" /></a></div>
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('girl-128.png');"><img id="profilePic4" src="content/images/avatars/girl-128.png" class="img-circle modal-img" /></a></div>
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('supportfemale-128.png');"><img id="profilePic5" src="content/images/avatars/supportfemale-128.png" class="img-circle modal-img" /></a></div>
		<div class="col-md-3"><a ng-click="vm.chooseAvatar('matureman1-128.png');"><img id="profilePic6" src="content/images/avatars/matureman1-128.png" class="img-circle modal-img" /></a></div>
	</div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="vm.clear()" >Cancel</button>
</div>
