<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.11.min.js"></script>
<style>
	.carousel {
		margin-bottom: 0;
		padding: 0 0px 30px 0px;
	}
	/* Reposition the controls slightly */

	.carousel-control {
		left: -12px;
	}

	.carousel-control.right {
		right: -12px;
	}
	/* Changes the position of the indicators */

	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-right: -19px;
	}
	/* Changes the colour of the indicators */

	.carousel-indicators li {
		background: #c0c0c0;
	}

	.carousel-indicators .active {
		background: #333333;
	}

	.row-fluid .span3 {
		width: 31.476923%;
		float: left;
		margin: 4px;
	}

	.lftt {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		width: 30px;
		height: 30px;
		/* padding-bottom: 13px; */
		/* vertical-align: super; */
		left: -13px;
		top: 33%;
	}



	.rhtt {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		width: 30px;
		height: 30px;
		right: -10px !important;
		top: 33%;
	}

	.upload-drop-zone {
		height: 200px;
		border-width: 2px;
		margin-bottom: 20px;
		width: 262px
	}
	/* skin.css Style*/

	.upload-drop-zone {
		color: #ccc;
		border-style: dashed;
		border-color: #ccc;
		line-height: 10px;
		text-align: center;
		border-width: 1px;
	}

	.upload-drop-zone.drop {
		color: #222;
		border-color: #222;
	}

	#file-chooser {
		display: none;
	}

	.pos-rel {
		position: relative
	}

	.modal-dialog {
		width: 354px;
		margin: 20px auto;
	}

	.modal-content {
		box-shadow: none;
		border-radius: 4px !important;
	}

	.modal-header {
		border: none !important;
		background-color: #FFF !important;
		border-radius: 2px;
	}

	.thumbnail {
		border: none
	}

	.thumbnail img {
		border-radius: 4px
	}

	.thumbnail {
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.thumbnail:hover .caption {
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform: translateY(-150px);
		-moz-transform: translateY(-150px);
		-ms-transform: translateY(-150px);
		-o-transform: translateY(-150px);
		padding: 0px
	}

	.thumbnail img {
		z-index: 4;
	}

	.thumbnail .caption {
		position: absolute;
		top: 150px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 100%;
	}

	.thumbnail .blur {
		background-color: rgba(56, 54, 54, 0.46);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
		left: 0;
	}

	.thumbnail .caption-text {
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top: 41px;
		width: 100%;
		left: 0;
	}

	.thumbnail .btn {
		border: none;
		background: none;
	}
</style>



<!-- line modal -->
<div ui-view="modal" id="squarespaceModal" tabindex="-1" role="dialog">
	<div>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" ng-click="cancel();" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="lineModalLabel" style="font-size:14px; color:#c6c6c6"> <img src="/content/images/attachment_ic.png"> &nbsp; UPLOAD FILES</h3>
			</div>
			<div class="modal-body" style="padding-bottom: 9.32%;">
				<form action="/s3/upload" method="POST">
					<div style="padding: 2% 2% 2% 10%;">
						<label class="upload-drop-zone" for="file-chooser" id="drop-zone" style="padding-top: 16%; color:#fafafa; background-color: #fafafa;">
						<div><img src="/content/images/new-images-demo/dummy-img.png"></div>
						<p style="color:#7b7b7b; font-size:16px; margin-top:18px; font-weight: 400;">Add Collections</p>
						<p style="color:#9e9e9e; font-size:12px; margin-top:14px; line-height: 18px; margin-left: 49px; margin-right: 45px; font-weight: 400;">Browse it from your device</p>
						<!-- Progress Bar -->
						<div ng-if="vm.process>0" class="progress" style="margin-left: 6%; height:8px; margin-right: 6%">
						<uib-progressbar class="info" value="vm.process"></uib-progressbar>
						</div>
                      <p ng-if="vm.process>0" style="color:#9e9e9e; font-size:12px; margin-top:14px;"><span style="color:#039be4">{{vm.process}} % </span>complete</p>
					</label>

					</div>
					<input type="file" id="file-chooser" />
					<input type="hidden" id="key" name="key" value="testing-123">
				</form>

				<div id="div-forms" >
					<form>
						<div class="col-md-12">
							<div class="row" ng-repeat="item in vm.collections.docs" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px; margin-left: 16px; margin-right: -3px;">
								<span><img src="content/images/goals/collection/file-pop_ic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 150px;">{{item.name}}</span>
								<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>

							</div>

							<div class="row" ng-repeat="item in vm.collections.images" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px; margin-left: 16px; margin-right: -3px;">
								<span><img  src="content/images/goals/collection/img-pop_ic(1).png" style="width:15px; margin-right: 10px;"></span>	<span class="trim-info" style="max-width: 150px;">{{item.name}}</span>
								<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>

							</div>
							<div class="row" ng-repeat="item in vm.collections.audios" style="text-align: justify; border-bottom: 1px solid #eff0f1 ;padding-bottom: 10px; padding-right: 10px; margin-left: 16px; margin-right: -3px;">
								<span><img  src="content/images/goals/collection/pdf-pop_icic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 150px;">{{item.name}}</span>
								<span class="pull-right"><img src="content/images/collection_item_delete.png" style="width:28px"></span>

							</div>


							<div class="row" ng-repeat="item in vm.collections.videos" style="text-align: justify; border-bottom: 1px solid #eff0f1 ; padding-bottom: 10px; padding-right: 10px; margin-left: 16px; margin-right: -3px;">
								<span><img  src="content/images/goals/collection/film-pop_ic.png" style="width:15px; margin-right: 10px;"></span> <span class="trim-info" style="max-width: 150px;">{{item.name}}</span>
								<span class="pull-right"><img src="/content/images/new-images-demo/delete_new.jpg" style="width:28px"></span>

							</div>

						</div>
					</form>
				</div>

				<div ng-click="uploadS3File(false)" id="upload" name="upload" class="active-click" style="text-align: right; padding-right: 14px;"><img src="/content/images/new-images-demo/done.png" style="margin-top: 22px;"></div>

			</div>
		</div>
		<!--/well-->
	</div>
</div>


<!-- slider end -->
