<style>
#login-modal .modal-dialog {
    width: 350px;
}
#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}
.goal-edit-page .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}
.goal-edit-page .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 0\px 15px;
    border-bottom: 0px;
}
.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}
.goal-edit-page .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}
.goal-edit-page .glyphicon {
    top: 0px;
	font-size:16px;
}
.goal-edit-page .form-control {
  border-radius: 0px;
}
.modal {background-color: rgba(134, 249, 216, 0.1);}
.goal-edit-page .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.3333333;
   	border-radius: 0px;
}
.goal-edit-page .modal-header {
    padding: 15px 15px 0px 15px;
    border-bottom: none;
}

</style>
<!-- BEGIN # MODAL LOGIN -->
<div>
  <div>
    <div class="modal-content goal-edit-page">
      <div class="modal-header" align="center">
        <div>
          <p class="pull-left" style="color:#97b9cb"><span><img src="content/images/add-new-sub-goal_ic.png"></span> ADD NEW SUB GOAL</p>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.close(vm.subGoal)"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
        </div>
      </div>
      
      <!-- Begin # DIV Form -->
      <div id="div-forms"> 
        
        <!-- Begin # Login Form -->
        <form id="login-form">
          <div class="modal-body">
            <span class="textSmallGrey">Sub Goal Title</span>
            <input type="text" class="form-control" id="goalTitle"  ng-model="vm.subGoal.subgoalText">
           <div class="input-group">
                <span class="textSmallGrey">Target Date</span> 
                <div class="clear:both;"></div>
                <input id="field_finishTime" type="text"  name="finishTime" size="15"
                    uib-datepicker-popup="{{dateformat}}" ng-model="vm.subGoal.finishTime"
                    is-open="vm.datePickerOpenStatus.finishTime" style="width:100%"/>
                <span class="input-group-btn">
                 <button type="button" class="textboxRegular" 
                        ng-click="vm.openCalendar('finishTime')" style="margin-top: 20px;"><i class="glyphicon glyphicon-calendar lightBlue"></i>
                 </button>
                </span>
            </div>           
             <span class="textSmallGrey">Metric Type</span> 
             <select id="field_metricType" name="metricType" class="form-control input-inside" 
                  ng-options="metric.name as metric.name for metric in vm.metricTypes"  ng-model="vm.subGoal.metricType"
                  ng-init="vm.changeMetricSubType()" ng-change="vm.changeMetricSubType()"
                   >
             </select>
             <span class="textSmallGrey">Metric Subtype</span> 
             <select id="field_metricSubtype" name="metricSubtype" class="form-control input-inside"                  
                  ng-model="vm.subGoal.metricSubType"          
                  ng-options="v for v in vm.subMetricValues"
                  ng-show="vm.subGoal.metricType!='Numeric'"
                  >
             </select> 
             <input id="field_metricSubtypeOther" class="form-control input-inside" name="metricSubtypeOther" type="text"                  
                 ng-model="vm.subGoal.metricSubType"
                 ng-show="vm.subGoal.metricType=='Numeric'"
                
                 />
              <span class="textSmallGrey">Current Value</span>    
             <input type="number" class="form-control" name="metricAmount" id="field_metricAmount"
                    ng-model="vm.subGoal.metricAmount"/>   

              <span class="textSmallGrey">Target Value</span>            
             <input type="number" class="form-control" name="metricTarget" id="field_metricTarget"
                    ng-model="vm.subGoal.metricTarget" ng-readonly="vm.subGoal.metricType=='Other'" />

               <span class="textSmallGrey">Description</span>        
              <textarea type="text" class="textboxRegular" name="description" id="field_description"
               ng-model="vm.subGoal.description"
                  cols="60", rows="8" style="min-width: 100%; min-height: 100px; width: 100%"></textarea>                    
           </div> 
          <div class="modal-footer">
            <div class="col-md-12">
             <button type="submit" ng-show="vm.showLabel=='no'" class="btn btn-primary btn-lg btn-block" ng-click="vm.addSubGoal(vm.subGoal)">Create Sub Goal</button>
             <button type="submit" ng-show="vm.showLabel=='yes'" class="btn btn-primary btn-lg btn-block" ng-click="vm.editSubGoal(vm.subGoal)">Update Sub Goal</button>              
            </div>
          </div>
        </form>
        <!-- End # Login Form --> 
        
      </div>
      <!-- End # DIV Form --> 
      
    </div>
  </div>
</div>
<!-- END # MODAL LOGIN --> 
