<div class="container-fluid">
        <div class="row goal-edit-page">
          <div class="col-md-6 no-padding-left bor-bot">
            <div class="row">
              <div class="col-md-7 col-bg-color">
                <p class="heading-fontsize">23 Days Trakking at fairy...</p>
              </div>
              <div class="col-md-4 col-bg-color" style="margin-left: 1%;">
                <div class="input-group">
                  <input id="field_finishTime" type="text" class="textboxRegular" name="finishTime" size="15"
                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.goal.finishTime"
                   is-open="vm.datePickerOpenStatus.finishTime"/>
                  <span class="input-group-btn">
                  <button type="button" class="textboxRegular" 
                    ng-click="vm.openCalendar('finishTime')"><i class="glyphicon glyphicon-calendar lightBlue"></i></button>
                  </span> </div>
              </div>
              <div class="col-md-12 mar-top-bot"> <img src="content/images/connections/collaborat@2x.png" style="float:left"> <span class="mid-span" style="float:left">
                <div class="switch">
                  <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                  <label for="cmn-toggle-4"></label>
                </div>
                </span> <img src="content/images/connections/supporters@2x.png"> | <span style="color: #c5c5c5;">Started on: 25 Jan 2016</span> </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <select id="field_metricType" name="metricType" class="form-control" 
                              style="display: inline; width: 150px;"
                              ng-model="vm.selectedMetricType"
                              ng-options="t.name for t in vm.metricTypes"
                              ng-change="vm.selectedMetricSubType=vm.selectedMetricType.values[0]"
                              >
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select id="field_metricSubtype" name="metricSubtype" class="form-control" 
                              style="display: inline; width: 150px;"
                              ng-model="vm.selectedMetricSubType"          
                              ng-options="v for v in vm.selectedMetricType.values"
                              ng-show="vm.selectedMetricType.name!='Other'"
                              >
                      </select>
                      <input id="field_metricSubtypeOther" name="metricSubtypeOther" type="input" 
                        style="display: inline; width: 150px; " 
                        ng-model="vm.selectedMetricSubTypeOther"
                        ng-show="vm.selectedMetricType.name=='Other'"
                        ng-change="vm.selectedMetricSubType=vm.selectedMetricSubTypeOther"
                        >
                    </div>
                    <div class="col-md-3">
                      <input type="number" class="form-control" name="metricAmount" id="field_metricAmount"
                        ng-model="vm.goal.metricAmount"
                        />
                    </div>
                    <div class="col-md-3">
                      <input type="number" class="form-control" name="metricTarget" id="field_metricTarget"
                       ng-model="vm.goal.metricTarget"
                     />
                    </div>
                  </div>
                  <div class="col-md-12 field-info">Define goal metrics to track your success</div>
                </div>
                <div class="col-md-3">
                  <div class="col-md-12">
                    <select class="selectpicker btn-default" style="width: 100%;">
                      <option>Currency</option>
                      <option>Ketchup</option>
                      <option>Relish</option>
                    </select>
                  </div>
                  <div class="col-md-12 field-info">Define dimension</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 no-padding-left">
            <div class="row">
              <div class="col-md-6 font-center"><img src="content/images/goal_blank_logo.png" style="vertical-align: top;"></div>
              <div class="col-md-6 font-center"> 
                <!--<goalprogress goal-Percent="0" subgoal-Percent="0"></goalprogress>-->
                <div class="col-md-12 font-center">
                  <div style="display: inline-block">
                    <canvas id="myCanvas" style="border:none;"></canvas>
                  </div>
                  <goalprogress goal-percent="8" subgoal-percent="4" size="218" target="myCanvas"></goalprogress>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row goal-edit-page">
          <div class="panel-group">
            <div class="panel panel-default">
              <div>
                <p class="new-heading">Sub Goals 4 <a href="#" role="button" data-toggle="modal" data-target="#login-modal"><img src="content/images/icon_plus.png"></a> </p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-12 col-mar-bg-color">
                    <div class="col-md-2 bor-right-align">100%</div>
                    <div class="col-md-8 pad-top">Purchasing of equipment...</div>
                    <div class="col-md-2 align-center">x</div>
                  </div>
                  <hr style="border:2px red solid">
                </div>
                <div class="col-md-4">
                  <div class="col-md-12 col-mar-bg-color">
                    <div class="col-md-2 bor-right-align">100%</div>
                    <div class="col-md-8 pad-top">Purchasing of equipment...</div>
                    <div class="col-md-2 align-center">x</div>
                  </div>
                  <hr style="border:2px red solid">
                </div>
                <div class="col-md-4">
                  <div class="col-md-12 col-mar-bg-color">
                    <div class="col-md-2 bor-right-align">100%</div>
                    <div class="col-md-8 pad-top">Purchasing of equipment...</div>
                    <div class="col-md-2 align-center">x</div>
                  </div>
                  <hr style="border:2px red solid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>