    
<!-- Modal used to display the threads dump -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title"><span class="textBlueLight">COLLECTIONS</span></h4>
</div>

<div class="modal-body">
  <div >
      <li ng-repeat="item in vm.collections.docs">
        {{item.name}}
      </li>
      <li ng-repeat="item in vm.collections.images">
        {{item.name}}
      </li>
      <li ng-repeat="item in vm.collections.videos">
        {{item.name}}
      </li>
      <li ng-repeat="item in vm.collections.audios">
        {{item.name}}
      </li>
      <li ng-repeat="item in vm.collections.links">
        {{item.name}}
      </li>
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="cancel()" >Done</button>
</div>
