<style>
  .tabMenuUnderline {
    box-shadow: 0 17px 0 -9.6px #688697;
    border-radius: 18px;
    border-bottom: none;
  }

  .tabMenuPanel a:hover {
    text-decoration: none;
    border-bottom: none
  }


</style>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1916013815339318', status: true, cookie: true,
      xfbml: true
    });
  };
  (function () {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

</script>

<!-- <div style="padding-top:20px; padding-bottom:0px;margin-top:-15px;margin-bottom:-10px;"  class=" hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop ">
  <a  class="btn  btn-warning  btn-xs "   href="javascript:void(0);" onclick="startIntro1();">My Goals Tour</a>
</div> -->


<div style="padding-top: 17px;"  class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
 <!-- <nav class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" style="background-color: #ffffff;border: none;"">
    <div class="search-small col-md-12 col-sm-12 col-xs-12">
        <div class="searchContainer" >
            <form ng-submit="vm.searchPattern()" >
                <input type="text" name="search"  placeholder="Search Goals, People..." ng-model="vm.searchText" class="search searchwidth">
                <img src="content/images/navbar-search-magnifyingglass.png" type="submit" style="border-radius: 10px; margin-right: 3px;"
                    ng-click="vm.searchPattern()" />
            </form>
        </div>
    </div>
 </nav> -->
</div>


<div class="container container-fluid">
  <div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 tabMenuPanel">
        <!-- <a href="" class="tabMenu" ui-sref="featured-goal" id="step5">DISCOVER</a> -->
        <a href="" class="tabMenu tabMenuUnderline" ui-sref="goal" id="step0">MY GOALS</a>
        <a href="" class="tabMenu" ui-sref="dimension" id="step6">MY LIBRARY</a>


      </div>


        <div class="col-md-12 col-xs-12 col-sm-12 tabMenuPanel2">
          <button type="button" style="border-radius:5px;background:#2196F3;color:#ffffff" class="btn btn-sm card-btn-width hide_for_mobile" ui-sref="goal.new">CREATE NEW GOAL</button>
          <button type="button" style="border-radius:5px;background:#2196F3;color:#ffffff" class="btn btn-sm card-btn-width hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" ui-sref="goal.newmobile">CREATE NEW GOAL</button>
            <a class="btn  btn-warning  btn-sm "  style="background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;"  href="javascript:void(0);" onclick="startIntro1();">My Goals Tour</a>
      </div>

    </div>
  </div>

  <div class="row goal-dashboard-page">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-4 no-padd" >
       <div class="thumbnail thumbnail-border" id="step1">
            <!--<div class="col-md-12 card-mar-top" ng-if="vm.mainGoal">
              <div style="display: inline-block">
                  <canvas id="mainCanvas" style="border:none;"></canvas>
                </div>
                <allgoalsprogress goal-Percent="{{vm.mainGoal}}"  size="180" target="mainCanvas"></allgoalsprogress>
              </div>-->
            <div class="col-md-12 col-xs-12 col-sm-12 card-mar-top" ng-if="vm.goals.length>0">
              <div style="display: inline-block">
                <canvas class="hide_for_smallmobile" id="mainCanvas" style="border:none;"></canvas>
                <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="mainCanvas2" style="border:none;"></canvas>

              </div>
              <allgoalsprogress class="hide_for_smallmobile" goal-Percent="{{vm.mainGoal}}" size="180" target="mainCanvas"></allgoalsprogress>
              <allgoalsprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{vm.mainGoal}}"
                size="120" target="mainCanvas2"></allgoalsprogress>

            </div>
            <!--If no goals available displaying empty circle-->
            <div class="col-md-12 col-xs-12 col-sm-12 card-mar-top no-pad" ng-if="vm.goals.length<=0">
              <div style="display: inline-block">
                <canvas class="hide_for_smallmobile" id="mainCanvas1" style="border:none;"></canvas>
                <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="mainCanvas3" style="border:none;"></canvas>
              </div>
              <idleGoals class="hide_for_smallmobile" goal-Percent="{{vm.staticPercent}}" size="180" target="mainCanvas1"></idleGoals>
              <idleGoals class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{vm.staticPercent}}"
                size="120" target="mainCanvas3"></idleGoals>
            </div>
            <!--<div class="caption card-mar-top-2" style="padding: 6px 6px 67px 6px;">-->
            <div class="caption card-mar-top-2 card-pad">
              <!-- <p class="card-description" ></p> -->
              <div class="row caption-inside-row">
                <div class="col-md-12 col-xs-12 col-sm-12 card-mar-top-10 no-pad" style="margin-top:1px">
                  <div class="left-align pull-left">
                    <div class="pull-left card-bullet-01"></div>
                    <div class="pull-right card-pad-new card-txt-color" >IN PROGRESS</div>
                  </div>
                  <div class="left-align pull-right font_size">
                    <div class="pull-right" style="color:#71799a"><strong>{{vm.incompletedGoals}}</strong></div>
                  </div>
                </div>
              </div>

              <div class="row caption-inside-row">
                <div class="col-md-12 col-xs-12 col-sm-12 card-mar-top-10 no-pad">
                  <div class="left-align pull-left">
                    <div class="pull-left card-bullet-02"></div>
                    <div class="pull-right card-pad-new card-txt-color">COMPLETED</div>
                  </div>

                  <div class="left-align pull-right font_size">

                    <div class="pull-right" style="color:#71799a"><strong>{{vm.completedGoals}}</strong></div>
                  </div>
                </div>
              </div>

              <!--<div class="row caption-inside-row">
                <div class="col-md-12 card-mar-top-10">
                 <div class="left-align pull-left">
                    <div class="pull-left card-bullet-03"></div>
                    <div class="pull-right card-pad-new">IDLE GOALS</div>
                  </div>
                  <div class="left-align pull-right">
                    <div class="pull-right"><strong>10</strong></div>
                 </div>
                </div>
              </div>-->
              <div class="row caption-inside-row">
                <div class="col-md-12 col-xs-12 col-sm-12 card-mar-top-10 no-pad">
                  <div class="left-align pull-left">
                    <div class="pull-left card-bullet-04"></div>
                    <div class="pull-right card-pad-new card-txt-color"  d>TOTAL GOALS</div>
                  </div>
                  <div class="left-align pull-right font_size">
                    <div class="pull-right" style="color:#71799a"><strong>{{vm.goals.length}}</strong></div>
                  </div>
                </div>
              </div>

              <!-- <div class="row caption-inside-row">
                <div class="col-md-12 col-xs-12 col-sm-12 card-btn-mar-22">
                  <button type="button" class="btn btn-success card-btn-width hide_for_mobile" ui-sref="goal.new">CREATE NEW GOAL</button>
                  <button type="button" class="btn btn-success card-btn-width hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" ui-sref="goal.newmobile">CREATE NEW GOAL</button>
                </div>
              </div> -->
            </div>
          </div>
        </div>



        <div>
          <div class="col-md-3 col-xs-6 col-sm-4 no-padd" ng-repeat="goal in vm.goals track by $index" ng-cloak id="step2">
            <div class="thumbnail thumb-pos-r" >
              <img  ui-sref="goal-detail({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_mobile">
              <img ui-sref="goal-detail-mobile({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
              <div uib-tooltip="{{goal.goalStatus=='COLLABORATOR' && 'COLLABORATED GOAL' || 'SUPPORTED GOAL'}}" tooltip-placement="left"
                ng-class="{'corner-ticket-blue': goal.goalStatus=='COLLABORATOR', 'corner-ticket-brown': goal.goalStatus=='SUPPORTER'}">
                <img src="" ng-src="{{goal.goalStatus=='COLLABORATOR' && 'content/images/new-images-demo/user-ticket-ic.png' || 'content/images/new-images-demo/group-ticket-ic.png'}}"
                  class="corner-icon-img">
              </div>
              <div class="caption">
                <div class="row caption-inside-row">

                  <div class="left-align pull-left">
                    <div class="card-number-icon pull-left pos-rel" uib-tooltip="Goal Notification" tooltip-placement="bottom-left" style="margin-top: 1px; margin-right:10px"><img class="imgicon" src="content/images/gray_notification_ic.png">
                      <div class="pos-abs btn-warning" ng-show="goal.notificationsCount>0">{{goal.notificationsCount}}</div>
                    </div>


                    <div class="pull-right card-number-txt" uib-tooltip="Copy Goal" tooltip-placement="bottom" ng-click="vm.InspiredGoalFun(goal)"
                      style="margin-left: -6px; margin-top: -13px;"><img class="imgicon2" src="content/images/copybutton.png"></div>
                  </div>
                  <div class="left-align pull-right" id="step4">
                    <div class="card-plus-ic pull-left" >{{goal | goalPercentage:goal}} %</div>
                    <div class="canvas-margin">
                      <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                      <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                    </div>

                    <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}"
                      target="myCanvas{{$index}}0"></subgoalprogress>
                    <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{goal | goalPercentage:goal}}"
                      size="20" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}1"></subgoalprogress>
                  </div>
                </div>

                <p  ui-sref="goal-detail({id:goal.id})" class="card-title hide_for_mobile" id="step3"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                <p   ui-sref="goal-detail-mobile({id:goal.id})" class="card-title hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" id="step3"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                <!-- <p class="card-description" uib-tooltip="Goal description" tooltip-placement="bottom"><span class="trim-info">{{goal.description || 'Add description to the goal'}}</span></p> -->
                <!-- <p style="cursor: pointer;" ui-sref="dimension.edit({id:goal.dimensionId})" ng-style="!goal.dimensionName && {'height':'22px'}"
                  class="price-txt"><span class="trim-info" uib-tooltip="Folder name " tooltip-placement="bottom">{{goal.dimensionName}}</span></p> -->
                <!--<ng-pluralize count="goal.finishTime | dateRange:vm.today"  when="{'-1':'Behind', 1:'Day', 'other': 'Days'}"></ng-pluralize> left-->
                <!-- <p class="card-description destime">{{goal.finishTime | dateRange:vm.today || 'Add due date to the goal'}}</p> -->
                <p class="card-description destime"></p>
                <div class="row caption-inside-row top-pad">
                  <div class="left-align pull-left">
                    <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == false" ng-click="vm.markFavourite(goal.id)"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/like-01.png"></div>
                    <div uib-tooltip="Favorite Goal" tooltip-placement="top-left" ng-show="goal.favourite == true" ng-click="vm.unMarkFavourite(goal.id)"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/like.png">
                    </div>
                    <div uib-tooltip="Share" tooltip-placement="bottom" uib-popover-template="share.templateUrl" popover-trigger="outsideClick" ng-click=" vm.share(goal)" popover-placement="top"
                      class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                      <img src="content/images/goals/share_ic.png"></div>
                    <div class="card-number-icon pull-left" style="padding-bottom: 2px;" uib-tooltip="Goal members" tooltip-placement="top"><img src="content/images/goal-detail-edit-page/connection_ic.png"></div>
                    <div class="pull-left card-number-txt1" style="padding-bottom: 0px;">{{goal.totalParticipants}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/ng-template" id="shareInfo.html">
  <div id="myPopover8" style="width:100%; ">
    <div class="search-connection">
      <div class="input-group stylish-input-group" style="padding: 0px; cursor: pointer;">

        <p style="font-size: 12px;" ng-click="shareDialog(share.goal)">FACEBOOK</p>

        <!-- <p style="font-size: 12px;" socialshare="" socialshare-provider="twitter" socialshare-text="Please join me at AchieveOn to help achieve goals."
          socialshare-url="{{share.goalURL}}" socialshare-hashtags="achieveon">
          TWITTER</p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="google" socialshare-text="Please join me at AchieveOn to help achieve goals."
          socialshare-url="{{share.goalURL}}">
          GOOGLE+ </p>
        <p style="font-size: 12px;" socialshare="" socialshare-provider="linkedin">
          LINKEDIN </p> -->
      </div>

    </div>
  </div>
</script>

<script type="text/javascript">
     function startIntro1(){
       var intro = introJs();
         intro.setOption('showProgress', true);
         intro.setOption('scrollToElement', true);
          intro.setOption('exitOnOverlayClick', false);

         intro.setOptions({
           steps: [
             {
              //  element: '#step0',
               intro: "<h3>My Goals Dashboard</h3>My Goals page shows all goals where you are owner, collaborator or supporter. Four sample goals are pre-created for you. You can start using these goals and edit them or you can also create new goals. "
             },
             {
                element: document.querySelector('#step1'),
               intro: "<h3>Summary Chart</h3>See summary of all your goals.",
               position: 'auto'
             },
            //  {
            //     element: '#step1a',
            //    intro: "<h3>Create Goal</h3>Click and create goal in seconds.",
            //    position: 'auto'
            //  },
             {
               element: '#step2',
               intro: "<h3>Goal Card</h3>This is your Goal Card. You do all your work inside the goal card. You can edit this goal by clicking on the image or the title.",
               position: 'bottom'
             },
             {
               element: '#step3',
               intro: "Title of the goal.",
               position: 'bottom'
             },
             {
               element: '#step4',
               intro: "Track the completion percentage of the goal. A quick way to see how you are doing.",
               position: 'bottom'
             },
            //  {
            //    element: '#step5',
            //    intro: "<h3>Discover Dashboard</h3>Discover trending goals from other users.",
            //    position: 'bottom'
            //  },
             {
               element: '#step6',
               intro: '<h3>My Library Dashboard</h3>My Library contains all your folders. You use folders within the library to organize your goals. You can create folders for Training, Clients, Career, Health, Education, Travel and many other categories.',
               position: 'bottom'
             }
           ]
         });
         intro.start();

        //  intro.setOption('doneLabel', 'See More').oncomplete(function() {
        //   window.location.href = '#/dimensions';});

     }
   </script>
