<!--<breadcrumbs></breadcrumbs>-->
<style>
  .main-post .form-control {
    box-shadow: none !important;
  }

  .main-post .textarea-bg {
    background-color: #fff;
    border: 1px;
    color: rgba(123, 125, 123, .7)
  }

  .goal-detail-page .small-col-md-2 {
    width: 10.666667%;
    padding-left: 0px;
    padding-right: 0px
  }

  .goal-detail-page .btn {
    border-radius: 2px
  }

  .goal-detail-page .btn-success {
    color: #fff;
    background-color: #34ac44 !important;
    border-color: #169b28 !important;
  }

  tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 6px;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 100 16px Arial, sans-serif;
    color: #cac7c4;
    background-image: url(content/images/goals/cancel_btn.png);
    width: 18px;
    height: 17px;
    background-position: 2px 6px;
    background-repeat: no-repeat;
  }

  tags-input .tags .tag-item {
    margin: 2px;
    padding: 2px 10px;
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: none !important;
  }

  tags-input .tags .tag-item span {
    color: #3096e1
  }

  tags-input .tags.focused {
    outline: 0;
    -webkit-box-shadow: none;
  }

  tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    height: 100%;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
</style>
<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
        <div>
          <!--<img src="/content/images/goal-detail-edit-page/home_ic.png" data-toggle="tooltip" data-placement="bottom" title="Home" ui-sref="goal" style="cursor: pointer;">-->
          <!--<img src="/content/images/breadcrumbs/divider.png">-->
          <span style="cursor: pointer;" ui-sref="dimension">FOLDERS</span>
          <img src="/content/images/breadcrumbs/arrow.png">
          <span style="cursor: pointer;" ui-sref="dimension-detail({id:vm.goal.dimensionId})">{{vm.goal.dimensionName}}</span>
          <img src="/content/images/breadcrumbs/arrow.png"> {{vm.goal.goalText}}
        </div>
      </div>

      <!--<div ng-repeat="item in vm.breadcrumbsList">-->
      <!--<img src="/content/images/breadcrumbs/dotsmenu.png" ng-if="$first">
          <img src="/content/images/breadcrumbs/arrow.png" ng-if="!$first">-->
      <!--<a ui-sref="item.sref" style="color: #688799">{{item.name}}</span>-->
      <!--</div>-->
      <div class="subheader-float-rht">
        <img src="/content/images/breadcrumbs/leftarrow.png" ng-show="!viewCollaborators" class="img-pad" data-toggle="tooltip" data-placement="bottom"
          title="Go Back" ng-click=vm.previousStateFun();>
        <img src="/content/images/breadcrumbs/leftarrow.png" ng-show="viewCollaborators" class="img-pad" data-toggle="tooltip" data-placement="bottom"
          title="Go Back" ng-click="viewCollaborators=!viewCollaborators">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad" ng-if="!viewCollaborators">
        <img src="/content/images/goal-detail-edit-page/connection_ic.png" data-toggle="tooltip" data-placement="bottom" title="View Collaborators"
          class="img-pad" ng-click="viewCollaborators=!viewCollaborators" ng-hide="viewCollaborators">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad" ng-if="!viewCollaborators">
        <img src="/content/images/goal-detail-edit-page/edit_ic.png" ng-if="!viewCollaborators" ui-sref="goal.edit({id:vm.goalId,isInspire:false})"
          data-toggle="tooltip" data-placement="bottom" title="Edit Goal" class="img-pad">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad" ng-if="!viewCollaborators">
        <img src="/content/images/goal-detail-edit-page/add-sub-goal.png" ng-if="!viewCollaborators" ng-click="vm.createSubGoal(0,'no')"
          data-toggle="tooltip" data-placement="bottom" title="Add Sub Goal" class="img-pad">
        <img src="/content/images/breadcrumbs/divider.png" class="img-pad" ng-if="!viewCollaborators">
        <img src="/content/images/goal-detail-edit-page/delete_ic.png" ng-if="!viewCollaborators" ng-click="vm.deleteGoal(vm.goalId)"
          data-toggle="tooltip" data-placement="bottom" title="Delete Goal" class="img-pad">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row goal-detail-page" style="padding-left: 4.3%; padding-right: 4.3%; padding-top: 11px;">

    <div class="row">
      <div class="col-md-12">
        <div style="padding: 20px 20px 20px 0px">
          <div class="col-md-2 small-col-md-2">
            <img class="img-circle imagefit" style="height: 90px; width:90px; padding: 10px;" ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + vm.goal.imageGuid + '/logo/goallogo.jpg'}}"
              err-src="/content/images/goal_blank_logo.png" />
          </div>
          <div class="col-md-10" style="padding-top: 10px">
            <div class="goal-title">{{vm.goal.goalText}}</div>

            <!--<privacy is-Public="{{vm.goal.privacy=='PRIVATE'?0:1}}" parent-Privacy = "vm.goal.privacy"></privacy> <span style="color: #C8D1DA;">|</span>-->

            <!--<span class="textSmallGrey">Started On : {{vm.goal.startTime.toDateString()}}</span> <span style="color: #C8D1DA;">|</span>-->
            <span class="textSmallGrey"><img src="content/images/goals/calender_ic.png"/> Due : {{vm.goal.finishTime.toDateString()}}</span>
            <span class="textSmallGrey"></span>
            <privacy is-Public="{{vm.goal.privacy=='PRIVATE'?0:1}}" parent-Privacy="vm.goal.privacy"></privacy>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="padding-top:10px">
        <div class="row" style="padding: 20px 20px 20px 0px">

          <div class="col-md-4">
            <div class="row" style="padding-top: 30px;  border: 1px solid #eef4eb;">{{vm.mainGoal.color}}
              <div class="col-md-12" ng-if="vm.metricStatus=='yes'">
                <div style="display: inline-block">
                  <canvas id="myCanvas" style="border:none;"></canvas>
                </div>
                <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="{{vm.totalOfSubGoals}}" size="190" target="myCanvas"></goalprogress>
              </div>
              <div class="col-md-12" style="text-align: right;" ng-if="vm.metricStatus=='no'">
                <div style="display: inline-block">
                  <canvas id="myCanvas" style="border:none;"></canvas>
                </div>
                <goalprogress goal-Percent="{{vm.mainGoal}}" subgoal-Percent="{{vm.totalOfSubGoals}}" size="190" target="myCanvas"></goalprogress>
              </div>
              <div class="col-md-12">
                &nbsp;
              </div>


            </div>
            <div id="accordion" style="padding-top:10px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p class="panel-title"> <a class="accordion-toggle tab-anchor-text" ng-click="isCollapsed = !isCollapsed"> <span  class="post-text-bold" style="font-size:16px;" >Description </span></a>                    </p>
                </div>
                <div uib-collapse="isCollapsed">
                  <div class="panel-body" style="padding-top:0px">
                    <div class="row">
                      <div class="col-md-12">
                        <p style="text-align: justify">{{vm.goal.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ui-sref="goal.collection({id:vm.goalId})" class="col-md-12" style="padding-left:0px; padding-top:10px; color: #5F7283; margin-bottom:20px; font-size: 14px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div><span class="post-text-bold" style="font-size:16px;">Collections </span></div>
                  <img src="content/images/icon-link.png" align="middle"><b>0</b> Collections
                  <img src="content/images/horizontal-line.png" align="middle">
                  <a><img src="content/images/icon-download.png" align="middle"></a>
                  <a style="color: #049BE2">Download All</a>
                  <!--<a href="#" style="color: #049BE2">View</a>-->
                </div>
              </div>
            </div>
            <div style="padding-top:10px;">
              <div class="panel panel-default">
                <div class="panel-heading">

                  <p class="panel-title" style="font-weight: 600;"> Tags <br>
                    <tags-input ng-model="vm.goal.tags" display-property="id" class="textboxRegular"></tags-input>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6" >
            <div class="col-md-6" ng-repeat="subgoal in vm.allSubGoals" style="margin-bottom:20px">
              <div class="col-md-12 col-xs-12 col-mar-bg-color mob-show" style="padding-bottom: 0px; padding-right:0px; padding-left:0px;border: 1px solid #eef4eb;">
                <div ng-click="vm.createSubGoal(subgoal,'yes', $index)">
                  <div class="col-md-12 col-xs-12 bor-right-align" style="padding-top: 7px;  font-weight: 600; font-size: 23px">{{subgoal.goalpercent}} %</div>
                  <div class="col-md-12 col-xs-12 pad-top bor-right-align" style="padding-top: 7px; font-size: 16px; color: #4d6c72;"><span ng-bind="subgoal.subgoalText"></span></div>
                </div>

                <!--<input type="hidden"  ng-model="subgoal.index" value=$index />-->
                <!--<div class="col-md-2 col-xs-2 align-center" style="padding-top: 15px" ng-click="vm.deleteSubGoal(subgoal, $index)"><img src="content/images/goals/delete_goal_new.png"></div>-->
                <div class="col-md-12 canvas-height">
                  <canvas id="myCanvas{{$index}}" width="230" height="5">
                    <subgoalprogressinedit goal-Percent="{{subgoal.goalpercent}}" color="{{subgoal | applyColor:subgoal}}" target="myCanvas{{$index}}"></subgoalprogressinedit>
                  </canvas>
                </div>
                <div class="col-md-12 col-xs-12 bor-right-align" style="padding-top: 7px; padding-bottom: 7px;"><span class="textSmallGrey"><img src="content/images/goals/calender_ic.png"/> Due : {{subgoal.finishTime}}</span></div>
              </div>
            </div>

            <div class="row goal-detail-page" ng-if="!viewCollaborators" style="padding-left: 4.3%; padding-right: 4.3%;">

              <div class="col-md-12">
                <h4 class="new-heading post-text-bold" style="margin-bottom:4px;padding-top: 20px;">Recent Activities </h4>
                <span style="color: #c5c5c5;">Have a look at recent happenings...</span> </div>
              <div class="row post-mar-top-10">
                <div class="col-md-12" style="padding-top: 20px;">
                  <div class="main-post main-post-radius">
                    <!--<div class="input-group">-->
                    <!--<label ng-show="!vm.openTitle" class="pull-left" style="color: #474c48; font-size: 15px; font-weight: normal;">{{vm.post.title || 'Title of your post'}}</label> -->
                    <!--<span ng-show="!vm.openTitle" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="vm.openTitle=!openTitle"></span>  -->
                    <!--<div class="col-md-12">
                      <div class="col-md-11">
                        <input type="hidden" class="form-control" id="id" name="id" ng-model="vm.post.id"/>
                        <input class="form-control" type="text" placeholder="Title of your post" ng-model="vm.post.title" ng-show="vm.openTitle"/>
                      </div>
                      <div class="col-md-1">
                      <span ng-show="vm.openTitle" class="col-md-1 col-xs-1 pull-left"><img src="content/images/dimensions/add-dim.png" ng-click="vm.openTitle=!vm.openTitle"></span>
                      </div>
                    </div>-->
                    <!--</div>-->
                    <div class="input-group">
                      <!--<label ng-show="!vm.openDescription" class="pull-left" style="color: #474c48; font-size: 15px; font-weight: normal;">{{vm.post.description || 'Description'}}</label> -->
                      <!--<span ng-show="!vm.openDescription" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="vm.openDescription=!vm.openDescription"></span>  -->
                      <!--<div class="col-md-12">-->
                      <!--<div class="col-md-11">-->
                      <textarea class="form-control textarea-bg" placeholder="Description" ng-model="vm.post.description" style="resize : none;"></textarea>
                      <!--</div>     -->
                      <!--<div class="col-md-1">
                        <span ng-show="vm.openDescription" class="col-md-1 col-xs-1 pull-left"><img src="content/images/dimensions/add-dim.png" ng-click="vm.openDescription=!vm.openDescription"></span>
                        </div> -->
                      <!--</div>-->
                    </div>
                     <!--<div class="input-group">
                        <label class="pull-left text-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</label>
                        <textarea class="form-control" placeholder="Type your Text"></textarea>
                      </div>-->
                    <div class="main-post-footer">
                      <div class="pull-left pos-rel">
                        <!--<div class="photo-section"><img src="content/images/goals/camera_ic.png"></div>
                        <div class="video-section"><img src="content/images/goals/video_ic.png"></div>-->
                        <div class="link-section"><img src="content/images/goals/attachment_ic.png"></div>
                        <!--<div class="video-section"><img src="content/images/goals/chat_ic.png"></div>-->
                        <!--<div class="loaction-section"><img src="content/images/connections/location_ic@2x.png"></div>-->
                      </div>
                      <div class="pull-right post-mar-08">
                        <button class="btn btn-success btn-md" style="width: 100%;" ng-click="vm.savePost('save');">Post</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 post-mar-10" ng-repeat="post in vm.posts">  
                  <div class="main-post post-bg">
                    <div class="input-group post-wid-pad-10">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="col-md-3 col-xs-4"><img ng-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+post.userId+'/profilepic.jpg'}}"
                              err-src="content/images/userprofiles/default.png" class="img-responsive img-circle imagefit" style="width:50px ; height:50px"></div>
                          <div class="col-md-9 col-xs-8">
                            <p class="post-title"><span class="post-name">{{post.userLogin}}</span> <span class="post-type"> Posted </span>
                              <span class="post-blue"></span>
                            </p>
                            <img src="content/images/goals/calender_ic.png"> <span style="color:#b0b3b6"> {{post.creatTime}}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="pull-right">
                            <!--<p><img src="content/images/profile/desktop.png">Keep in comment 21 May, 2017</p>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="input-group">
                      <p style="color:#585c59">{{post.description}}</p>
                    </div>
                    <div class="input-group" ng-show="imagePath">
                      <img src="content/images/goals/goal-details/goal-detail.png" width="100%">
                    </div>
                    <!--<div class="input-group"> <span  style="color:#b0b3b6">Keep in comment Tags &nbsp;&nbsp; </span> <span class="post-blue"> abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; </div>-->
                    <div class="row caption-inside-row post-mar-10">
                      <!--<div class="left-align pull-left post-mar-lft-10">
                  <div class="pull-left "><img src="content/images/goals/like_ic.png"></div>
                  <div class="pull-right post-mar-lft-10" style="color:#5e5e5e">2,515</div>
                        </div>-->
                      <div class="left-align pull-left post-mar-lft-25" ng-click="openComments=!openComments">
                        <div class="pull-left "><img src="content/images/goals/chat_ic.png"></div>
                        <div class="pull-right" style="margin-left: 10px; color:#5e5e5e">{{post.comments.length}}</div>
                      </div>
                    </div>
                    <!--List of comments-->
                    <div class="row comment-section" ng-repeat="comment in post.comments" ng-show="openComments" style="padding-top: 7px; margin-left: 0px; margin-right: 0px;">
                      <div class="col-md-10" style="height: 50px;">
                        <div class="input-group stylish-input-group row" style="margin: 0px; padding: 0px;">
                          <input type="text" class="form-control" ng-model="comment.comment" style="background-color:#f7f8fb; border:none" ng-if=editMsg>
                          <span style="color: blue" ng-hide=editMsg>{{comment.firstName}}</span> &nbsp <span ng-hide=editMsg>{{comment.comment}}</span>
                          <span ng-show="!editMsg" class="col-md-1 col-xs-1 pull-right"><img src="content/images/Account-Settings/user-pencil_ic.png" ng-click="editMsg=!editMsg"></span>
                        </div>
                      </div>
                      <div class="col-md-1" style="margin-top: 8px; margin-left:-23px; width: 10px;" ng-show=editMsg>
                        <span class="glyphicon glyphicon-triangle-right" style="color: #34ac44" ng-if="comment.comment.length>0" ng-click="vm.saveComment('update',post.id,comment);"></span>
                      </div>
                      <div class="col-md-1" style="margin-top: 8px; margin-right:5px; width: 10px;" ng-show=editMsg>
                        <span class="glyphicon glyphicon-trash" ng-click="vm.deleteComment(comment.id);"></span>
                      </div>
                    </div>
                    <div class="comment-section" style="margin-top: 10px; margin-bottom: 5px;">
                      <div class="row">
                        <div class="col-md-11">
                          <div class="input-group stylish-input-group row" style="margin: 0px;">
                            <input type="text" class="form-control" placeholder="Write a Comments..." ng-model="commentedData" style=" background-color:#f7f8fb; border:none">
                            <!--<span class="input-group-addon" style="background-color:#f7f8fb !important;  border:none">
                 <button> <img src="content/images/goals/smily_ic.png"> </button>
                  </span>               -->
                          </div>
                        </div>
                        <div class="col-md-1" style="margin-top: 17px; margin-left:-24px">
                          <span class="glyphicon glyphicon-triangle-right" style="color: #34ac44" ng-if="commentedData.length>0" ng-click="vm.saveComment('save',post.id,commentedData);"></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- new code -->
                  <!--<div class="col-md-12 post-mar-10">
                    <div class="main-post post-bg">
                      <div class="input-group post-wid-pad-10">
                        <div class="row">
                          <div class="col-md-8">
                            <div class="col-md-2 col-xs-4"><img src="content/images/connections/thumb.jpg" class="img-responsive img-circle"  width="85px"></div>
                            <div class="col-md-9 col-xs-8">
                              <p class="post-title"><span class="post-name">Baber Shaikh M</span> <span class="post-type"> Commented </span> <span class="post-blue"> </span></p>
                              <img src="content/images/goals/calender_ic.png"> <span style="color:#b0b3b6"> 23 Mins</span>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="pull-right">
                              <p><img src="content/images/profile/desktop.png">Keep in comment 21 May, 2017</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input-group">
                        <p style="color:#585c59">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      </div>

                      <div class="input-group"> <span  style="color:#b0b3b6">Keep in comment Tags &nbsp;&nbsp; </span> <span class="post-blue"> abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; <span class="post-blue">abcdef</span>&nbsp; </div>
                      <div class="row caption-inside-row post-mar-10">
                        <div class="left-align pull-left post-mar-lft-10">
                          <div class="pull-left "><img src="content/images/goals/like_ic.png"></div>
                          <div class="pull-right post-mar-lft-10" style="color:#5e5e5e">2,515</div>
                        </div>
                        <div class="left-align pull-left post-mar-lft-25">
                          <div class="pull-left "><img src="content/images/goals/chat_ic.png"></div>
                          <div class="pull-right" style="margin-left: 10px; color:#5e5e5e">500</div>
                        </div>
                      </div>

                    </div>
                  </div>-->
                <!-- new code -->
              </div>

            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  var defaultText = 'Click me and enter some text';
  function endEdit(e) {
    var input = $(e.target),
      label = input && input.prev();

    label.text(input.val() === '' ? defaultText : input.val());
    input.hide();
    label.show();
  }

  $('.clickedit').hide()
    .focusout(endEdit)
    .keyup(function (e) {
      if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
        endEdit(e);
        return false;
      } else {
        return true;
      }
    })
    .prev().click(function () {
      $(this).hide();
      $(this).next().show().focus();
    });

</script>