<!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
<!--<link rel="stylesheet" href="/assets/stylesheets/pricing.css">-->
<style>
  .modal-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:visited {
    color: white;
  }

  #registrationform .form-control {
    height: 40px !important;
    border-radius: 2px;
  }

  #registrationform input {
    color: #5d5e7c;
    font-size: 15px;
    font-weight: 400;
    border: solid 1px #ceced7 !important;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
  }

  #registrationform .form-group {
    margin-bottom: 10px !important;
  }

  #registrationform .form-control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
  }

  #registrationform .form-group input::placeholder {
    color: #5d5e7c;
    font-size: 15px;
    font-weight: 400
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
  }

  .pos-abs {
    position: absolute;
    right: 12px;
    top: 2px
  }

  .pos-rel {
    position: relative
  }

  .cover {
    background: url('content/images/newloginandsignup/background.png') no-repeat center center;
    background-size: 100%;
  }

  .textcolor {
    color: #5d5e7c !important;
  }
  /*.help-block {
  color: #ffffff !important;
}*/

  .main-nav {
    margin: 2% 4%;
  }
</style>


<div class="hide_for_bigdesktop hide_for_smalldesktop hide_for_tablet">
  <nav class="navbar main-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="nav-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"
        data-toggle="collapse" data-target="#main-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg"/></a>
    </div>
    
    <div class="nav-collapse collapse navbar-responsive-collapse" id="main-navigation" uib-collapse="navCollapsed">
      <ul class="nav" style="margin-top:25px;">
        <li class="nav-links" style="width:100%"><a href="https://achieveon.wordpress.com/" target="_blank" style="color:#5d5e7c">BLOG</a></li>
        <!-- <li class="nav-links" style="width:100%"><a ui-sref="pricing" style="color:#5d5e7c">PRICING</a></li> -->
        <li class="nav-links" style="width:100%"><a href="http://achieveon.zendesk.com" target="_blank" style="color:#5d5e7c">HELP</a></li>
        <li class="nav-links login" style="width:100%"><a ui-sref="home" style="color:#5d5e7c"><span>LOGIN</span> </a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="hide_for_mobile">
  <nav class="navbar main-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="nav-toggle" data-toggle="collapse" data-target="#main-navigation">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
      <a class="navbar-brand" href="#"><img src="/content/images/landingpage/logo.jpg" /></a>
    </div>
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="nav navbar-nav navbar-right" style="margin-top:25px;">
        <li class="nav-links"><a href="https://achieveon.wordpress.com/" style="color:#5d5e7c" target="_blank">BLOG</a></li>
        <!-- <li class="nav-links"><a ui-sref="pricing" style="color:#5d5e7c">PRICING</a></li> -->
        <li class="nav-links"><a href="http://achieveon.zendesk.com/" target="_blank" style="color:#5d5e7c">HELP</a></li>
        <li class="nav-links login"><a ui-sref="home" style="color:#5d5e7c"><span>LOGIN</span> </a></li>
      </ul>
    </div>
  </nav>
</div>
<div ng-cloak style="margin-top: 5%; margin-bottom: 5%;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="row hide_for_mobile">
          <div class="col-md-12" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
            <h1 style="font-size: 43px; margin-bottom: 24px; color: #5d5e7c; font-family: 'Lato'; font-weight:800;">Welcome to <a style="font-size: 43px; margin-bottom: 24px; color: #60d4d6; font-family: 'Lato'; font-weight:800; "> AchieveOn!</a>              </h1>
            <p class="textWhiteLarger" style="font-family: 'Lato'; font-size: 17px; font-weight: 400; color: #5d5e7c; margin-bottom: 34px;">Nothing can stop the man with the right mental attitude from achieving his goal. <br/>~Thomas Jefferson</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" ng-show="vm.success">
              <strong>Registration saved!</strong> Please check your email for confirmation, and <a href="/#/home" style=" font-weight: bold; color: inherit">proceed to login</a>
            </div>
            <div class="alert alert-danger" ng-show="vm.error">
              <strong>Registration failed!</strong> Please try again later.
            </div>
            <div class="alert alert-danger" ng-show="vm.errorUserExists">
              <strong>Email name already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
              <strong>E-mail is already in use!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="vm.doNotMatch">
              The password and its confirmation do not match!
            </div>
          </div>
        </div>
        <div id="registrationform" class="registration" ng-show="!vm.success">
          <form name="form" role="form" novalidate ng-submit="vm.register()" show-validation>
            <input type="hidden" id="login" name="login" ng-model="vm.registerAccount.login">
            <input type="hidden" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword">
            <input type="hidden" name="logo" id="logo" ng-model="vm.registerAccount.logo">
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="text" class="form-control textcolor" id="firstName" name="firstName" placeholder="first name" ng-model="vm.registerAccount.firstName"
                  ng-minlength=1 ng-maxlength=100 required>
                <!--<span class="textSmallGrey">Username</span>-->
                <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                  <p class="help-block textcolor" ng-show="form.firstName.$error.required">
                    Your first name is required.
                  </p>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control textcolor" id="lastName" name="lastName" placeholder="last name" ng-model="vm.registerAccount.lastName"
                  ng-minlength=3 ng-maxlength=100 required>
                <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                  <p class="help-block textcolor" ng-show="form.lastName.$error.required">
                    Your last name is required.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="your e-mail" ng-model="vm.registerAccount.email"
                  ng-minlength=5 ng-maxlength=50 ng-change="vm.registerAccount.login=vm.registerAccount.email" required>
                <div ng-show="form.email.$dirty && form.email.$invalid">
                  <p class="help-block textcolor" ng-show="form.email.$error.required">
                    Your e-mail is required.
                  </p>
                  <p class="help-block textcolor" ng-show="form.email.$error.email">
                    Your e-mail is invalid.
                  </p>
                  <p class="help-block textcolor" ng-show="form.email.$error.minlength">
                    Your e-mail is required to be at least 5 characters.
                  </p>
                  <p class="help-block textcolor" ng-show="form.email.$error.maxlength">
                    Your e-mail cannot be longer than 50 characters.
                  </p>
                </div>
                <div ng-show="form.login.$dirty && form.login.$invalid">
                  <p class="help-block textcolor" ng-show="form.login.$error.required">
                    Your username is required.
                  </p>
                  <p class="help-block textcolor" ng-show="form.login.$error.minlength">
                    Your username is required to be at least 1 character.
                  </p>
                  <p class="help-block textcolor" ng-show="form.login.$error.maxlength">
                    Your username cannot be longer than 50 characters.
                  </p>
                  <p class="help-block textcolor" ng-show="form.login.$error.pattern">
                    Your username can only contain lower-case letters and digits.
                  </p>
                </div>
              </div>
              <div class="col-md-12 form-group pos-rel">
                <input type="password" class="form-control" id="password" name="password" placeholder="password" ng-model="vm.registerAccount.password"
                  ng-minlength=4 ng-maxlength=50 ng-change="vm.confirmPassword=vm.registerAccount.password" ng-if="!vm.showPassword"
                  required>
                <span ng-if="!vm.showPassword" ng-click="vm.showPassword=!vm.showPassword" class="glyphicon glyphicon-eye-open form-control-feedback pos-abs"
                  style="cursor: pointer; pointer-events: all;"> </span>
                <input type="text" class="form-control" id="password" name="password" placeholder="password" ng-model="vm.registerAccount.password"
                  ng-minlength=4 ng-maxlength=50 ng-change="vm.confirmPassword=vm.registerAccount.password" ng-if="vm.showPassword"
                  required>
                <span ng-if="vm.showPassword" ng-click="vm.showPassword=!vm.showPassword" class="glyphicon glyphicon-eye-close form-control-feedback pos-abs"
                  style="cursor: pointer; pointer-events: all;"> </span>
                <div ng-show="form.password.$dirty && form.password.$invalid">
                  <p class="help-block textcolor" ng-show="form.password.$error.required">
                    Your password is required.
                  </p>
                  <p class="help-block textcolor" ng-show="form.password.$error.minlength">
                    Your password is required to be at least 4 characters.
                  </p>
                  <p class="help-block textcolor" ng-show="form.password.$error.maxlength">
                    Your password cannot be longer than 50 characters.
                  </p>
                </div>
                <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="occupation" name="occupation" placeholder="occupation" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Occupation'" ng-model="vm.registerAccount.occupation" required>
                <div ng-show="form.occupation.$dirty && form.occupation.$invalid">
                  <p class="help-block textcolor" ng-show="form.occupation.$error.required">
                    Your occupation name is required.
                  </p>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 uplodform form-group">
                <form name="upload" class="form" data-ng-submit="addFile()">
                  <div class="row" style="position: relative; width: 100%;">
                    <div>

                      <a href="#" id="fileSelect1" ng-click="vm.selectAvatar();">
                    <img id="profilePic" no-cache-src="{{vm.profilePic}}"
                    class="imagefit img-circle modal-img"/></a>


                      <a href="#" id="fileSelect2" ng-click="vm.selectAvatar();">
					<span > Upload Profile Photo Or Select Avatar</span>
                  </a>

                      <!--<span style="color: white">&nbsp;&nbsp;Or&nbsp;&nbsp;</span>
                <a href ng-click="vm.createSubGoal()" id="avatarSelect">
                  Select Avatar
                </a>-->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row" style="position: relative; top: 30px">

              <div class="col-md-12 hide_for_mobile" style="text-align: center;">
                <button type="submit" ng-disabled="form.$invalid || vm.waitingForUpload" style="height: 50px !important; border-radius:2px;"
                  class="btn btn-primary-login" ng-click="vm.register()">Sign Up</button>
                <p style="margin-top:2%;">Need to login ? <a ui-sref="home" style="color: red;"> Click here</a></p>
              </div>

              <div class="col-md-12 hide_for_bigdesktop hide_for_smalldesktop hide_for_tablet" style="text-align: center;">
                <button type="submit" ng-disabled="form.$invalid || vm.waitingForUpload" style="height: 50px !important; border-radius:2px;"
                  class="btn btn-primary-login" ng-click="vm.register()">Sign Up</button>
                <p style="font-size: 15px; font-weight: 400; color: #5d5e7c; padding-left:10px;margin-bottom:2%;padding-bottom: 3%; margin-top:2% ">Already have an account?
                </p>
                <div class="login"><a ui-sref="mobile_login"><span>Log In</span> </a></div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var fileSelect1 = document.getElementById("fileSelect1");
  var fileSelect2 = document.getElementById("fileSelect2")
  fileElem = document.getElementById("fileElem");

  fileSelect1.addEventListener("click", function (e) {
    e.preventDefault(); // prevent navigation to "#"
  }, false);

  fileSelect2.addEventListener("click", function (e) {
    e.preventDefault(); // prevent navigation to "#"
  }, false);

</script>
