<head>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<style>
  .modal-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:visited {
    color: white;
  }

  #registrationform .form-control {
    height: 40px !important;
    border-radius: 2px;
  }

  #registrationform input {
    color: #f6f9fb;
    font-size: 15px;
    font-weight: 400;
    border: solid 1px rgba(255, 255, 255, .4) !important;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
  }

  #registrationform .form-group {
    margin-bottom: 10px !important;
  }

  #registrationform .form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0), 0 0 8px rgba(102, 175, 233, .0);
  }

  #registrationform .form-group input::placeholder {
    color: #f6f9fb;
    font-size: 15px;
    font-weight: 400
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #e7edf2 inset !important;
  }

  .pos-abs {
    position: absolute;
    right: 12px;
    top: 2px
  }

  .pos-rel {
    position: relative
  }

  .cover {
    background: url('content/images/newloginandsignup/background.png') no-repeat center center;
  
    background-size: 100%;
  }

  .help-block {
    color: #ffffff !important;
  }
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100692531-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<div ng-cloak>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="row">
        <div class="col-md-12" style="text-align: center; margin-top: 50px; margin-bottom: 30px;">
          <h1 style="font-size: 43px; margin-bottom: 24px; color: #5d5e7c; font-family: 'Lato'; font-weight:800;">Welcome to <a style="font-size: 43px; margin-bottom: 24px; color: #60d4d6; font-family: 'Lato'; font-weight:800; "> AchieveOn!</a> </h1>
          <p class="textWhiteLarger" style="font-family: 'Lato'; font-size: 17px; font-weight: 400; color: #5d5e7c; margin-bottom: 34px;">Nothing can stop the man with the right mental attitude from achieving his goal. <br/>~Thomas Jefferson</p>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" >
              <center><strong>Registration saved!</strong> Please check your email for confirmation, and <a href="/#/home" style=" font-weight: bold; color: inherit">proceed to login</a></center>
            </div>
           
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


