<nav
class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
style="background-color: #ffffff;border: none;    height: 42px;"
>
  <div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
    <div class="container">
      <div class="subheader-lft">
        <div class="subheader-lft-01">
        </div>
        <div class="subheader-float-rht">
          <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
             ui-sref="goal">
        </div>
      </div>
    </div>
  </div>

</nav>


<div class="hide_for_mobile" style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
      </div>
      <div class="subheader-float-rht">
        <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
           ui-sref="goal">
      </div>
    </div>
  </div>
</div>



<div class="panel panel-default notifications" style="border: none; margin-left: 4.8%; margin-right: 4.8%; margin-top: 0px;">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h2 class="mb-0 main-title">Notifications ({{vm.notificationLen || 0}})</h2>
        </h3>
    </div>
    <div class="panel-body list-group list-group-contacts" style="padding-left:0px; padding-right: 10px">
        <div class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;" ng-repeat="notification in vm.notifications">
            <img ng-src="{{notification.notificationType == 'COLLABORATOR' ? 'content/images/notifications/COLLABORATOR.png' :notification.notificationType
                                                  == 'SUPPORTER' ? 'content/images/notifications/SUPPORTER.png' : notification.notificationType== 'FRIEND' ? 'content/images/notifications/FRIEND.png':'/content/images/goal_blank_logo.png'}}"
                err-src="/content/images/goal_blank_logo.png" class="pull-left connection-type-space" />
            <img ui-sref="user-persona-detail({id:notification.senderId})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+notification.senderGuid+'/profilepic.jpg'}}"
                err-src="/content/images/goal_blank_logo.png" class="pull-left imagefit hide_for_mobile" style="width:53px; height: 53px; margin-right: 12px;"
            />
            <img ui-sref="user-persona-detail({id:notification.senderId})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/user/'+notification.senderGuid+'/profilepic.jpg'}}"
                err-src="/content/images/goal_blank_logo.png" class="pull-left imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
                style="width:30px; height: 30px; margin-right: 2px;" />
            <p ng-bind-html="notification.text"></p>
            <div class="list-group-controls" ng-hide="notification.isReadOnly" style="margin-top: 20px;"> <img ng-click="vm.connectionRequest(notification.id,'ACCEPTED')" src="content/images/notifications/right_ic.png"
                    style="width:30px"> <img ng-click="vm.connectionRequest(notification.id,'REJECTED')" src="content/images/notifications/close_ic.png"
                    style="width:30px"> </div>
            <div class="list-group-controls" ng-show="notification.isReadOnly" style="margin-top: 20px;"> <img ng-click="vm.deleteNotification(notification.id)" src="content/images/notifications/close_ic.png" style="width:30px">                </div>
        </div>

        <!--<a href="#" class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;">
         <img src="content/images/notifications/users_ic.png" class="pull-left connection-type-space"/>
          <img src="content/images/notifications/1_ph.png" class="pull-left"  style="width:53px; margin-right: 12px;"/>
          <span class="contacts-title">Namira Salim</span>
          <p>is now supporting your goal <u style="color: #049BE2">Historical Collection of Events </u></p>
          <p class="time">3 Mins ago</p>
    </a>

    <a href="#" class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;">
        <img src="content/images/notifications/connection_ic.png" class="pull-left connection-type-space"/>
        <img src="content/images/notifications/2_ph.png" class="pull-left"  style="width:53px; margin-right: 12px;"/>
        <span class="contacts-title">Daniyal Shah</span>
        <p>Added you as connection</p>
        <p class="time">9 Days ago</p>
       <div class="list-group-controls" style="margin-top: 20px;"> <img src="content/images/notifications/Accept.png" style="width:30px"> <img src="content/images/notifications/close_ic.png" style="width:30px"> </div>
    </a>

    <a href="#" class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;">
        <img src="content/images/notifications/time_ic.png" class="pull-left connection-type-space"/>
        <img src="content/images/notifications/3_ph.png" class="pull-left"  style="width:53px; margin-right: 12px;"/>
        <span class="contacts-title">Hiking trip to Islamabad</span>
        <p>Due date missed on 20-04-2017</p>
        <p class="time">12 Days ago</p>
    </a>

    <a href="#" class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;">
        <img src="content/images/notifications/supporter_ic.png" class="pull-left connection-type-space"/>
        <img src="content/images/notifications/4_ic.png" class="pull-left"  style="width:53px; margin-right: 12px;"/>
        <span class="contacts-title">Ghulam Hussain</span>
        <p>Added you as supporter in <u style="color: #049BE2">Fund raising for Cancer Research $50k</u></p>
        <p class="time">15 Days ago</p>
       <div class="list-group-controls" style="margin-top: 20px;"> <img src="content/images/notifications/Accept.png" style="width:30px"> <img src="content/images/notifications/close_hover.png" style="width:30px"> </div>
    </a>

    <a href="#" class="list-group-item" style="height: 93px; padding-top: 25px; padding-left: 3%;">
        <img src="content/images/notifications/chat_ic.png" class="pull-left connection-type-space"/>
        <img src="content/images/notifications/icon.png" class="pull-left"  style="width:53px; margin-right: 12px;"/>
        <span class="contacts-title">Baber Sheik M.</span>
        <p>Added 14 new photos in your goal<u style="color: #049BE2">23 Days Trekking at Fairy Meadows</u></p>
        <p class="time">2 Days ago</p>
    </a> -->
    </div>
</div>
















<!--<div>
    <h2>Notifications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Notification
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificationType"><span>Notification Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text"><span>Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdOn"><span>Created On</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isUnread"><span>Is Unread</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHidden"><span>Is Hidden</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sender"><span>Sender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiver"><span>Receiver</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notification in vm.notifications track by notification.id">
                    <td><a ui-sref="notification-detail({id:notification.id})">{{notification.id}}</a></td>
                    <td>{{notification.notificationType}}</td>
                    <td>{{notification.text}}</td>
                        <td>{{notification.createdOn | date:'mediumDate'}}</td>
                    <td>{{notification.isUnread}}</td>
                    <td>{{notification.isHidden}}</td>
                    <td>
                        {{notification.senderId}}
                    </td>
                    <td>
                        {{notification.receiverId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-detail({id:notification.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification.edit({id:notification.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification.delete({id:notification.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>-->
