
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationLabel">Create or edit a Notification</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notification.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notification.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notificationType">Notification Type</label>
            <select class="form-control" name="notificationType" ng-model="vm.notification.notificationType" id="field_notificationType">
                <option value="CONNECTION">CONNECTION</option>
                <option value="POST">POST</option>
                <option value="GOAL">GOAL</option>
                <option value="COMMENT">COMMENT</option>
                <option value="LIKE">LIKE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.notification.text"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdOn">Created On</label>
                <div class="input-group">
                    <input id="field_createdOn" type="text" class="form-control" name="createdOn" uib-datepicker-popup="{{dateformat}}" ng-model="vm.notification.createdOn" is-open="vm.datePickerOpenStatus.createdOn"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdOn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isUnread">Is Unread</label>
            <input type="checkbox" class="form-control" name="isUnread" id="field_isUnread"
                    ng-model="vm.notification.isUnread"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isHidden">Is Hidden</label>
            <input type="checkbox" class="form-control" name="isHidden" id="field_isHidden"
                    ng-model="vm.notification.isHidden"
                     />
        </div>

        <div class="form-group">
            <label for="field_sender">Sender</label>
            <select class="form-control" id="field_sender" name="sender" ng-model="vm.notification.senderId" ng-options="user.id as user.firstName for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_receiver">Receiver</label>
            <select class="form-control" id="field_receiver" name="receiver" ng-model="vm.notification.receiverId" ng-options="user.id as user.firstName for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
