
<div>
    <h2><span>Notification</span> {{vm.notification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Notification Type</span></dt>
        <dd>
            <span>{{vm.notification.notificationType}}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
            <span>{{vm.notification.text}}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
            <span>{{vm.notification.createdOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Is Unread</span></dt>
        <dd>
            <span>{{vm.notification.isUnread}}</span>
        </dd>
        <dt><span>Is Hidden</span></dt>
        <dd>
            <span>{{vm.notification.isHidden}}</span>
        </dd>
        <dt><span>Sender</span></dt>
        <dd>
            {{vm.notification.sender}}
        </dd>
        <dt><span>Receiver</span></dt>
        <dd>
            {{vm.notification.receiver}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="notification-detail.edit({id:vm.notification.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
