<div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
  <div class="container">
    <div style="
              padding-top: 10px;
              padding-bottom: 10px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */">
      <div style="text-align: left; width: 100%; 
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;">
        <!--<div ng-repeat="item in vm.breadcrumbsList">
          <img src="/content/images/breadcrumbs/dotsmenu.png" ng-if="$first">
          <img src="/content/images/breadcrumbs/arrow.png" ng-if="!$first">       
          <a style="color: #688799">{{item.name}}</a>
        </div>-->
      </div>
      <div style="float: right; width: 150px;">
        <img src="/content/images/breadcrumbs/leftarrow.png">
        <img src="/content/images/breadcrumbs/divider.png">
        <!--<img src="/content/images/breadcrumbs/save.png">-->
        <img src="/content/images/Account-Settings/account-email_ic.png">
        <img src="/content/images/breadcrumbs/divider.png">
        <img src="/content/images/breadcrumbs/delete.png" ui-sref="goal.delete({id:vm.goalId})">
        <img src="/content/images/breadcrumbs/divider.png">
      </div>
    </div>
  </div>
</div>
<div class="container container-fluid">
 <h2>Connections 952</h2>  
 <div class="row bor-pad-bott-1 add-connection-goal">
    <div class="col-md-6 no-padding-left"> 
        <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox"  ng-click="vm.switchUsers('collaborators')"  ng-checked="vm.chkBox1" ng-disabled="vm.chkBox1">
                <img ng-src="{{vm.chkBox1 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad"> Collaborators ({{vm.collaborators.length}}) 
            </label>
        </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
            <label>
                <input type="checkbox"  ng-click="vm.switchUsers('supporters')"  ng-checked="vm.chkBox2" ng-disabled="vm.chkBox2">
                <img ng-src="{{vm.chkBox2 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad"> Supporters ({{vm.supporters.length}}) 
            </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
            <label>
                <input type="checkbox"  ng-click="vm.switchUsers('all')"  ng-checked="vm.chkBox3" ng-disabled="vm.chkBox3">               
                <!--<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> -->
                <!--<img src="content/images/green-check.png" class="img-pad"> All ({{vm.allUsers.length}}) -->
             <img ng-src="{{vm.chkBox3 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad"> Friends ({{vm.allUsers.length}}) 
            </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 no-padding-left">
        <div class="col-md-5">
            <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Location">
            <span class="input-group-addon">
            <button type="submit"> <img src="content/images/connections/location_ic@2x.png"> </button>
            </span> </div>
        </div>
        <div class="col-md-7">
            <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search">
            <span class="input-group-addon">
            <button type="submit"> <img src="content/images/connections/search_ic@2x.png"> </button>
            </span> </div>
        </div>
    </div>
 </div>
 <div class="row add-connection-goal">
  <div class="panel-group" id="accordion">
   <div class="panel panel-default">    
    <div id="collapseOne" class="panel-collapse collapse in">
     <div class="panel-body">
      <div class="row">                  
      <div class="col-md-3"  style="padding-left: 0px;">
        <div class="row tab-row-pad">
            <div class="col-md-4 col-xs-4"> <img src="content/images/connections/thumb.jpg" class="img-responsive img-circle"  width="85px"> </div>
            <div class="col-md-8 col-xs-8">
            <p class="card-title">Baber Shaikh M</p>
            <p class="card-designation">Journalist</p>
            <div class="left-align pull-left">
                <div class="card-number-icon pull-left "><img src="content/images/connections/collaborat@2x.png"></div>
                <div class="pull-right card-number-txt">01</div>
            </div>
            <div class="left-align pull-right" style="float:right">
                <div class="card-plus-ic pull-left"  ng-click="openConnection = !openConnection"><img src="content/images/checkinPlus.png"></div>
                <div class="card-delet-ic pull-right"> <img src="content/images/connections/delete_ic@2x.png"></div>
            </div>
            <div ng-show="openConnection">
             <privacy is-Public=0 parent-Privacy = "vm.goal.privacy"></privacy>
             <img src="content/images/connections/back_ic.png">
            </div>
            </div> 
        </div>
        </div>
       <div class="col-md-9 pad-left-0">
           <!--repeating the loop-->
        <div class="col-md-4 pad-left-0" ng-repeat="i in [1, 2, 3, 4]">                 
            <div class="row tab-row-pad">
              <div class="col-md-4 col-xs-4 pad-left-0">
                <div class="pdf-thumb-box" ng-click="check = !check" >
                    <a>
                        <div class="pdf-thumb-box-overlay">
                            <span class="fa-stack fa-lg">
                            <img ng-show="check" src="content/images/connections/face_check.png">
                            </span>
                        </div>
                    <img class="img-responsive" src="content/images/connections/face_ic.png">
                    </a>
                 <div class="plus-ic pos-abs" ng-show="vm.goal.privacy=='PUBLIC'"><img src="content/images/connections/check-ic.png"></div>
                </div>
             </div>
             <div class="col-md-8 col-xs-8 pad-left-0">
                <p class="card-title">Baber Shaikh M {{$index}}</p>
                <p class="card-designation"><span class="">240$</span> / <span class="">1000$</span></p>
             </div>
            </div>                     
         </div>
       </div>       
      </div>  
     </div>
    </div>
  </div>
 </div>
</div>
</div>