<!-- BEGIN # MODAL LOGIN -->
<style>
  .bootstrap-select>.dropdown-toggle {
    width: 100px !important;
    padding-right: 25px;
    z-index: 1;
  }
</style>
<div>
  <div>
    <div class="modal-content goal-download" style="padding: 5px 10px 5px 10px;">
      <div class="modal-header" align="center">
        <div>
          <p class="pull-left" style="color:#97b9cb"><span><img src="content/images/add-new-sub-goal_ic.png"></span>&nbsp;&nbsp;ADD NEW CONNECTION</p>
          <button type="button" class="close pull-right" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove"></span> </button>
        </div>
      </div>
      <div id="div-forms">
        <form>
          <div class="modal-footer">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div style="float:left"><img no-cache-src="{{vm.profilepic || 'content/images/connections/thumb.jpg'}}" width="65px" height="65px" class="img-responsive img-circle imagefit"></div>
                  <div class="col-md-8 col-xs-8">
                    <p class="post-title"><span class="post-name" style="font-weight:bold">{{vm.userPersonas.firstname}} {{vm.userPersonas.lastname}}</span>                      </p>
                    <p class="card-designation">{{vm.userPersonas.occupation}}</p>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <!--<div class="col-md-12">
                    <div class="col-md-12">
                      <div class="row" style="margin-top:20px; padding-bottom: 20px; padding-right: 10px;">
                        <div class="col-md-1" style="text-align:center">AS</div>
                        <div class="col-md-5">
                          <input type="text" class="form-control" name="subgoalText" id="field_subgoalText" placeholder="FRIEND" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row" style="margin-top:20px; padding-bottom: 20px; padding-right: 10px;">
                        <div class="col-md-1" style="text-align:center">AND</div>
                        <div class="col-md-5">
                          <select id="userType" name="userType" class="form-control" ng-model="vm.collaborate.role">
                        <option value="">--Select--</option>
                        <option value="SUPPORTER">Supporter</option>                        
                        <option value="COLLABORATOR">Collaborator</option>  
                      </select>
                        </div>
                        <div class="col-md-1" style="text-align:center">FOR</div>
                        <div class="col-md-5">
                          <select class="form-control" id="field_goal" name="goal" ng-model="goalName" ng-options="goal.goalText for goal in vm.goals"
                            ng-change="vm.selectedGoal(goalName)">
                        <option value="">--Select--</option>
                       </select>
                        </div>
                      </div>
                    </div>
                  </div>-->

                <!--<div class="col-md-12" style="padding-bottom: 20px; padding-right: 10px;">
                  <textarea type="text" class="textboxRegular" placeholder="Enter your message.." name="description" id="field_description"
                    ng-model="vm.goal.description" cols="60" , rows="8" style="width: 100%; min-height: 100px;"></textarea>
                </div>-->
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top:10px" ng-click="vm.addConnection();">Add Connection</button>
                <!--<button type="submit" ng-show="open" ng-click="vm.clear();" class="btn btn-primary btn-lg btn-block" style="margin-top:10px">Close</button>-->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--</div>-->