<style>

</style>
<div class="goal-download" id="goal-edit-page-download">
  <div class="modal-content" style="padding-bottom: 20px">
    <div class="modal-header" align="center">
      <div style="text-align: left; padding-bottom: 10px;">
        <span style="color:powderblue">INVITE NEW FRIENDS</span>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close" ng-click="vm.clear()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
      </div>
    </div>
    <!-- Begin # DIV Form -->
    <div id="div-forms" style="border-top: 1px solid #e2e2e2; padding-top:10px">
      <!-- Begin # Login Form -->
      <form id="login-form">

        <div class="input-group stylish-input-group" style="background-color: rgba(255,255,255,0);">
          <input type="text" ng-model="vm.recipient" class="form-control">
          <span class="input-group-addon">
              <!--<button type="submit"> <img src="content/images/Account-Settings/account-email_ic.png"> </button>-->
            </span>
        </div>
        <textarea type="text" class="textboxRegular" placeholder="Vamsi would like you to invite to life edge." name="description"
          id="field_description" ng-model="vm.content" cols="60" , rows="8" style="margin-top: 5px; width: 100%; min-height: 100px;"></textarea>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" ng-click="vm.Invite()" class="btn btn-primary btn-lg btn-block" style="margin-top:10px">Invite</button>
          </div>
          <div class="col-md-4"></div>

        </div>
      </form>
      <!-- End # Login Form -->

    </div>
    <!-- End # DIV Form -->

  </div>
</div>