<style>
    .half {
        position: relative;
    }


    .half:before {

        content: "\e006";
        /* put here default icon code*/
        width: 47%;
        display: block;
        position: absolute;
        overflow: hidden;
    }

    .half:after {
        content: "\e007";
        /* put here icon-empty code*/
    }

    .half-heart:before {

        content: "\e005";
        /* put here default icon code*/
        width: 57%;
        display: block;
        position: absolute;
        overflow: hidden;
    }

    .half-heart:after {
        content: "\e143";
        /* put here icon-empty code*/
    }
</style>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1916013815339318', status: true, cookie: true,
            xfbml: true
        });
    };
    (function () {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());

</script>
<div class="profile-page">
    <div class="hide_for_mobile" style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;">
        <div class="container">
            <div class="subheader-lft">
                <div class="subheader-lft-01">
                    <div>
                        <!--<img src="/content/images/goal-detail-edit-page/home_ic.png" data-toggle="tooltip" data-placement="bottom" title="Home" ui-sref="goal" style="cursor: pointer;">         -->
                    </div>
                </div>
                <div class="subheader-float-rht">
                    <img src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom" title="Go Back"
                        ng-click=vm.previousStateFun();>
                    <!--<img src="/content/images/breadcrumbs/divider.png" class="img-pad" ng-show="vm.userPersonas.id == vm.identity.id ">
                    <img src="/content/images/breadcrumbs/save-icon.png" ng-show="vm.userPersonas.id == vm.identity.id " class="img-pad" uib-tooltip="Save/Update information"
                        tooltip-placement="bottom" ng-click="vm.updateSettings()">-->
                    <img src="/content/images/breadcrumbs/divider.png" class="img-pad">
                    <!--<img src="/content/images/breadcrumbs/pics.png" ng-show="vm.userPersonas.id == vm.identity.id " class="img-pad">
             <img src="/content/images/breadcrumbs/divider.png" class="img-pad">  -->
                    <img src="/content/images/breadcrumbs/reco.png" class="img-pad" uib-tooltip="Testimonials" tooltip-placement="bottom" ng-click="vm.tesmonialDialog()">
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop" style="background-color: #ffffff;height: 44px;">
        <ul class=" navbar-tab col-md-12 tabs" style="border: none;">

            <li class=" cols"></li>

            <li class=" cols">  </li>

            <li class=" cols">
                <!-- <span style="color:white;padding: 10px 0px 10px 0px;" class="glyphicon glyphicon-arrow-left" ng-click=vm.previousStateFun();></span> -->
              <span style="color:#2196F3;padding: 10px 0px 10px 0px;font-size: 18px;" class="glyphicon glyphicon-arrow-left" ng-click=vm.previousStateFun();></span>
            </li>

            <li class=" cols">
                <!-- <img style="padding: 10px 0px 10px 0px;" src="/content/images/breadcrumbs/reco-white.png" class="img-pad" ng-click="vm.tesmonialDialog()"> -->
                <button type="button" style="padding-left:3px;padding-right:3px;background-color:#ffffff;border-radius:5px;border-color:#2196F3;color:#2196F3;" class="btn-sm"
                            ng-click="vm.tesmonialDialog()">Testimonials</button>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" style="margin-left: 3.8%; margin-right: 3.8%; ">
        <div class="height_div" style="width: 100%; background-image:url('{{vm.bannerPath}}');background-repeat:no-repeat;background-size: cover;object-fit: cover;">
            <div class="row public-profile-page profile-02 do-padding">
                <div class="col-md-9 col-sm-9 col-xs-12 no-pad">
                    <div class="row tab-row-pad add-padd">
                        <div class="pad-l-r" style="float:left;">
                            <img no-cache-src="{{vm.profilepic}}" class="imagefit img-responsive img-width-165 hide_for_mobile">
                            <img no-cache-src="{{vm.profilepic}}" class="imagefit img-responsive img-width-85 hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-8 no-pad" style="padding-left:12px">
                            <p class="card-title trim-info-name"><span>{{vm.userPersonas.firstname ||'Add your firstname'}}</span>
                                <span> {{vm.userPersonas.lastname ||'Add your lastname'}}</span>
                            </p><br>
                            <p class="card-designation trim-info-name" style="color: white;">{{vm.userPersonas.occupation ||'Add your occupation'}}</p>
                            <p>
                                <ul style="list-style-type: none;padding: 0; width: 100%; margin-top: 10px;">
                                    <li style="display: inline" ng-show="vm.totalrate > 0 && vm.totalrate < 1"><span ng-class="vm.totalrate > 0 && vm.totalrate < 1 ? 'glyphicon glyphicon-star half yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                    <li style="display: inline"><span ng-class="vm.totalrate >=1 ? 'glyphicon glyphicon-star yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                      <li style="display: inline" ng-show="vm.totalrate > 1 && vm.totalrate < 2"><span ng-class="vm.totalrate > 1 && vm.totalrate < 2 ? 'glyphicon glyphicon-star half yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                      <li style="display: inline" ><span ng-class="vm.totalrate >=2 ? 'glyphicon glyphicon-star yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                        <li style="display: inline" ng-show="vm.totalrate > 2 && vm.totalrate < 3"><span ng-class="vm.totalrate > 2 && vm.totalrate < 3 ? 'glyphicon glyphicon-star half yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                        <li style="display: inline" ><span ng-class="vm.totalrate >=3 ? 'glyphicon glyphicon-star yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                          <li style="display: inline" ng-show="vm.totalrate > 3 && vm.totalrate < 4"><span ng-class="vm.totalrate > 3 && vm.totalrate < 4 ? 'glyphicon glyphicon-star half yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                                <li style="display: inline" ><span ng-class="vm.totalrate >=4 ? 'glyphicon glyphicon-star yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                                  <li style="display: inline" ng-show="vm.totalrate > 4 && vm.totalrate < 5"><span ng-class="vm.totalrate > 4 && vm.totalrate < 5 ? 'glyphicon glyphicon-star half yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                                  <li style="display: inline" ng-show="vm.totalrate == 1 || vm.totalrate == 2 || vm.totalrate == 3 || vm.totalrate == 4 || vm.totalrate ==0"><span ng-class="vm.totalrate >=5 ? 'glyphicon glyphicon-star yellow testimonial-staron' : 'glyphicon glyphicon-star-empty testimonial-white'"></li>
                                                                 <li style="display: inline;color: white; margin-left: 15px;"><span>{{vm.totalrate| number:1 }}</span></li>
                                </ul>
                            </p>
                            <!--<p class="card-designation" ng-if="vm.userPersonas.birthdayVisibility=='PUBLIC' && vm.userPersonas.birthdate">Age <span class="blue-color">{{vm.userPersonas.birthdate| ageFilter}}  Years</span></p>-->
                            <div class="add-btn" ng-if="vm.isFriend">
                                <button type="button" class="btn btn-success add-btn-inside" ng-click="vm.openConnection()" style="height:30px;">Add Connection</button>
                            </div>
                            <div class="add-btn" ng-if="!vm.isFriend">
                                <ul class="nav navbar-nav" ng-click="isReplyFormOpen = !isReplyFormOpen">
                                    <li class="dropdown" ng-class="{open : isReplyFormOpen}">
                                        <a ng-if="vm.status=='ACCEPTED' || vm.status=='REQUEST SENT'" href="" class="dropdown-toggle" data-toggle="dropdown" style="text-align: center; padding: 5px 5px; background-color:#00aa49; color:#fff; border-radius: 4px;font-size: 12px;"
                                            aria-expanded="{{true ? isReplyFormOpen : false}}">
                                 <span ng-if="vm.status=='ACCEPTED'" class="glyphicon glyphicon-ok pull-left" style="padding-right:8px"></span>
                                  <!--{{vm.status=='ACCEPTED'?'FRIEND':'REQUEST SENT'}} -->
                                 <span ng-if="vm.status=='ACCEPTED'"> CONNECTED </span>
                                 <span ng-if="vm.status!='ACCEPTED'"> {{vm.status}} </span>
                                  <span ng-if="vm.status=='ACCEPTED'" class="glyphicon glyphicon-triangle-bottom pull-right"></span></a>
                                        <ul style="font-size: 12px;" class="dropdown-menu" ng-if="vm.status=='ACCEPTED'">
                                            <li><a ng-click="vm.closeConnection()">UnFriend</a></li>
                                        </ul>
                                        <a ng-if="vm.status=='APPROVE'" href="" ng-click="vm.connectionRequest(vm.senderId,'ACCEPTED')" class="dropdown-toggle col-md-6"
                                            data-toggle="dropdown" style="text-align: center; " aria-expanded="{{true ? isReplyFormOpen : false}}">

                                 APPROVE
                                 </a>
                                        <a ng-if="vm.status=='APPROVE'" href="" ng-click="vm.connectionRequest(vm.senderId,'REJECTED')" class="dropdown-toggle col-md-6"
                                            data-toggle="dropdown" style="text-align: center;" aria-expanded="{{true ? isReplyFormOpen : false}}">

                                 REJECTED
                                 </a>
                                    </li>
                                </ul>
                                <!--<ul class="nav navbar-nav">
                                    <li class="dropdown open">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-ok pull-left" style="padding-right:10px"></span> Friends <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">UnFriend</a></li>
                                        </ul>
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-12 col-sm-12 col-xs-12 no-pad pad-l-r public-profile-page" style="margin-top:11px">
            <div class="col-md-5 tab-row-pad hide_for_mobile" style="padding-left: 15px; padding-right: 35px;">
                <p style="font-size: 16px; color:#000; margin-bottom: 0px">Testimonials</p>
                <div class="Testimonials-01" style="padding-top: 12px; padding-bottom: 10px;" ng-repeat="receiver in vm.testimonialReceiver|limitTo:2">
                    <div class="pad-l-r" ui-sref="user-persona-detail({id:receiver.giverId})" style="float: left; margin-right: 15px;cursor:pointer;">
                    <img ng-src="https://s3-us-west-1.amazonaws.com/life-edge/user/{{receiver.giverProfileGuid}}/profilepic.jpg"
                            err-src="content/images/userprofiles/default.png" class="imagefit img-responsive" style="width:53px; height:53px; border-radius: 50%;">                        </div>
                    <div class="abc" style="float:left; width:80%">
                        <!-- <p style="color:#9fa5a3;">{{receiver.text}} </p> -->
                        <p style="color:#9fa5a3;"> <span style="word-break: break-all;" ng-bind-html="vm.newLineToBR(receiver.text,'')"> </span></p>
                        <div class="star" style="padding-top:4px">
                            <div class="pull-left">
                                <ul style="list-style-type: none;padding: 0; width: 100%; font-size: 15px; margin-top: 10px;">
                                    <li style="display: inline"><span ng-class="receiver.rating>=1 ? 'glyphicon glyphicon-star yellow testimonial-staroff' : 'glyphicon glyphicon-star-empty testimonial-staroff'"></li>
                                    <li style="display: inline"><span ng-class="receiver.rating>=2 ? 'glyphicon glyphicon-star yellow testimonial-staroff' : 'glyphicon glyphicon-star-empty testimonial-staroff'"></li>
                                    <li style="display: inline"><span ng-class="receiver.rating>=3 ? 'glyphicon glyphicon-star yellow testimonial-staroff' : 'glyphicon glyphicon-star-empty testimonial-staroff'"></li>
                                    <li style="display: inline"><span ng-class="receiver.rating>=4 ? 'glyphicon glyphicon-star yellow testimonial-staroff' : 'glyphicon glyphicon-star-empty testimonial-staroff'"></li>
                                    <li style="display: inline"><span ng-class="receiver.rating>=5 ? 'glyphicon glyphicon-star yellow testimonial-staroff' : 'glyphicon glyphicon-star-empty testimonial-staroff'"></li>

                                    </ul>
                                </div>
                                <div class="pull-right " style="cursor:pointer;" ui-sref="user-persona-detail({id:receiver.giverId})"><span style="color:#0f85c2">{{receiver.giverFirstName}} {{receiver.giverLastName}}</span></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

                <div class="pull-right" style="padding-top: 22px;" ng-click="vm.tesmonialDialog()"><span style="color:#aeb2b1; text-decoration: underline;">See All Testimonials</span></div>
            </div>

            <div class="col-md-7 tab-row-pad pad-27" style="">
                <div>
                    <p ng-if="false" style="font-size: 13px; color: #838e88;"><img src="content/images/profile/desktop.png" style="margin-right:10px"> Last Login &nbsp;&nbsp; {{vm.userPersonas.lastlogin}}</p>
                    <p ng-if="vm.userPersonas.country || vm.userPersonas.city ||vm.userPersonas.zipcode"><img src="content/images/connections/location_ic@2x.png">&nbsp;&nbsp; <span class="blue-color"> {{vm.userPersonas.city}}
                            <span class="blue-color" ng-if="vm.userPersonas.country">,</span>{{vm.userPersonas.country}}
                        <span class="blue-color" ng-if="vm.userPersonas.zipcode">,</span>{{vm.userPersonas.zipcode}} </span>
                    </p>
                </div>
                <div style="padding-top:15px;">
                    <!--<p>Interests <span class="blue-color">Modeling</span> / <span class="blue-color">Designers</span> / <span class="blue-color">Fashion</span></p>-->
                    <p ng-if="vm.skills" style="font-size: 13px; color: #4a5652; margin-bottom: 7px;"><span style="color:#4a5652">Skilled at</span> &nbsp;&nbsp;<span class="blue-color">{{vm.skills}}</span></p>
                    <p ng-if="vm.interests" style="font-size: 13px; color: #4a5652;"><span style="color:#4a5652">Interests</span> &nbsp;&nbsp;<span class="blue-color">{{vm.interests}}</span></p>
                    <!--<p style="font-size: 15px; color: #4a5652;">About &nbsp;&nbsp;<span class="blue-color">{{vm.aboutText}}</span></p>-->
                </div>
                <div style="padding-top:15px;">
                    <div class="accordion-group">
                        <div class="accordion-heading" style="height: 31px; clear: both;font-size: 16px;">
                            <span class="pull-left">About</span>
                        </div>
                        <div class="accordion-inner" style="color:#7b7d7b; font-size:13px; line-height: 24px;">
                            <span style="word-break: break-all;" ng-bind-html="vm.newLineToBR(vm.userPersonas.aboutText,'')">
                                </span>
                            <p style="text-align:center; margin-top:20px"><img src="/content/images/new-images-demo/new-more.png"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div style="clear:both;"></div>
        <div class="row goal-dashboard-page no-pad" ng-show="vm.userPersonas.goalVisibility=='PUBLIC'" style="margin:0% 0% 0% 0%">
            <div class="panel-body" style="margin-top: 1px">
                <p class="heading-title" style="font-size: 28px;font-weight: 100;color: #97a8b1;">My Work <span style="color:#6e828c">&nbsp;&nbsp;{{vm.otherUserGoals.length}}</span></p>
                <div class="row" style="margin-top:30px">
                    <div class="col-md-3 col-xs-6 col-sm-4 no-padd" ng-repeat="goal in vm.otherUserGoals">
                        <div class="thumbnail thumb-pos-r">

                            <img ui-sref="goal-detail({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_mobile">
                            <img ui-sref="goal-detail-mobile({id:goal.id})" no-cache-src="{{'https://s3-us-west-1.amazonaws.com/life-edge/goal/' + goal.imageGuid + '/logo/goallogo.jpg'}}"
                                err-src="/content/images/no-img-template.jpg" class="img-top-radius imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop">

                            <div uib-tooltip="{{goal.goalStatus=='COLLABORATOR' && 'COLLABORATED GOAL' || 'SUPPORTED GOAL'}}" tooltip-placement="left"
                                ng-class="{'corner-ticket-blue': goal.goalStatus=='COLLABORATOR', 'corner-ticket-brown': goal.goalStatus=='SUPPORTER'}">
                                <img src="" ng-src="{{goal.goalStatus=='COLLABORATOR' && 'content/images/new-images-demo/user-ticket-ic.png' || 'content/images/new-images-demo/group-ticket-ic.png'}}"
                                    class="corner-icon-img">
                            </div>
                            <div class="caption">
                                <div class="row caption-inside-row">

                                    <div class="left-align pull-left">
                                        <div class="card-number-icon pull-left pos-rel" uib-tooltip="Goal Notification" tooltip-placement="bottom-left" style="margin-top: 1px; margin-right:1px"><img class="imgicon" src="content/images/gray_notification_ic.png">
                                            <div class="pos-abs btn-warning" ng-show="goal.notificationsCount>0">{{goal.notificationsCount}}</div>
                                        </div>


                                        <div class="pull-right card-number-txt" uib-tooltip="Copy Goal" tooltip-placement="bottom" ng-click="vm.InspiredGoalFun(goal)"
                                            style="margin-left: 0px;margin-right: -5px;
                                            margin-top: -13px;"><img class="imgicon2" src="content/images/copybutton.png"></div>
                                    </div>
                                    <div class="left-align pull-right">
                                        <div class="card-plus-ic pull-left">{{goal | goalPercentage:goal}} %</div>
                                        <div class="canvas-margin">
                                            <canvas class="hide_for_smallmobile" id="myCanvas{{$index}}0" style="border:none;"></canvas>
                                            <canvas class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" id="myCanvas{{$index}}1" style="border:none;"></canvas>
                                        </div>

                                        <subgoalprogress class="hide_for_smallmobile" goal-Percent="{{goal | goalPercentage:goal}}" size="40" color="{{goal | applyColor:goal}}"
                                            target="myCanvas{{$index}}0"></subgoalprogress>
                                        <subgoalprogress class="hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile" goal-Percent="{{goal | goalPercentage:goal}}"
                                            size="20" color="{{goal | applyColor:goal}}" target="myCanvas{{$index}}1"></subgoalprogress>
                                    </div>
                                </div>

                                <p ui-sref="goal-detail({id:goal.id})" class="card-title hide_for_mobile"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>

                                <p ui-sref="goal-detail-mobileid:goal.id})" class="card-title hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"><strong><span class="trim-info" uib-tooltip="Goal Title" tooltip-placement="bottom">{{goal.goalText || 'Add name to the goal'}}</span></strong></p>
                                <!-- <p class="card-description" uib-tooltip="Goal description" tooltip-placement="bottom"><span class="trim-info">{{goal.description || 'Add description to the goal'}}</span></p>
                                <p style="cursor: pointer;" ui-sref="dimension.edit({id:goal.dimensionId})" ng-style="!goal.dimensionName && {'height':'22px'}"
                                    class="price-txt"><span class="trim-info" uib-tooltip="Folder name " tooltip-placement="bottom">{{goal.dimensionName}}</span></p> -->
                                <!--<ng-pluralize count="goal.finishTime | dateRange:vm.today"  when="{'-1':'Behind', 1:'Day', 'other': 'Days'}"></ng-pluralize> left-->
                                <!-- <p class="card-description destime">{{goal | convertIntoDate | dateRange:vm.today || 'Add due date to the goal'}}</p> -->
                                <p class="card-description destime"></p>
                                <div class="row caption-inside-row top-pad">
                                    <div class="left-align pull-left">
                                        <div uib-tooltip="Favourite Goal" tooltip-placement="top-left" ng-show="goal.favourite == false" ng-click="vm.markFavourite(goal.id)"
                                            class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                                            <img src="content/images/goals/like-01.png"></div>
                                        <div uib-tooltip="Favourite Goal" tooltip-placement="top-left" ng-show="goal.favourite == true" ng-click="vm.unMarkFavourite(goal.id)"
                                            class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                                            <img src="content/images/goals/like.png">
                                        </div>
                                        <div uib-popover-template="share.templateUrl" popover-trigger="outsideClick" ng-click=" vm.share(goal)" popover-placement="top"
                                            class="card-number-icon pull-left" style="padding-bottom: 2px;padding-right: 20px;">
                                            <img src="content/images/goals/share_ic.png"></div>
                                        <div class="card-number-icon pull-left" style="padding-bottom: 2px;" uib-tooltip="Goal members" tooltip-placement="top"><img src="content/images/goal-detail-edit-page/connection_ic.png"></div>
                                        <div class="pull-left card-number-txt1" style="padding-bottom: 0px;">{{goal.totalParticipants}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="shareInfo.html">
    <div id="myPopover8" style="width:100%; ">
        <div class="search-connection">
            <div class="input-group stylish-input-group" style="padding: 0px; cursor: pointer;">
                <p style="font-size: 12px;" ng-click="shareDialog(share.goal)">FACEBOOK</p>

                <p style="font-size: 12px;" socialshare="" socialshare-provider="twitter" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
                    socialshare-url="{{share.goalURL}}" socialshare-hashtags="achieveon">
                    TWITTER</p>
                <p style="font-size: 12px;" socialshare="" socialshare-provider="google" socialshare-text="Please join me at AchieveOn is a community to help achieve goals."
                    socialshare-url="{{share.goalURL}}">
                    GOOGLE+ </p>
                <p style="font-size: 12px;" socialshare="" socialshare-provider="linkedin">
                    LINKEDIN </p>
            </div>

        </div>
    </div>
</script>
