

<nav
class="navbar navbar-default navbar-fixed-top hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop"
style="background-color: #ffffff;border: none;    height: 42px;">

  <div style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
    <div class="container">
      <div class="subheader-lft">
        <div class="subheader-lft-01">
        </div>
        <div class="subheader-float-rht">
          <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
             ng-click=vm.previousStateFun();>
        </div>
      </div>
    </div>
  </div>

</nav>

<div class="hide_for_mobile" style="background-color: #F9FAFC; border-bottom: solid 1px #E9F1F4;" >
  <div class="container">
    <div class="subheader-lft">
      <div class="subheader-lft-01">
      </div>
      <div class="subheader-float-rht">
        <img style="cursor: pointer;" src="/content/images/breadcrumbs/leftarrow.png" class="img-pad" data-toggle="tooltip" data-placement="bottom"
          title="Go Back" ng-click=vm.previousStateFun();>

      </div>
    </div>
  </div>
</div>

<div class="container connection-container-page">

  <div class="row" style="padding-left: 5.6%; padding-right: 5.6%; padding-top: 50px;">
    <div class="row">
      <h2>Connections ({{vm.userFriends.length}})</h2>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 mob-view pad-l-r">

      <div class="row connection-page" style="margin-bottom: 13px">
        <div class="col-md-7 no-padding-left">
          <div class="col-md-4 col-sm-4 no-pad">
            <div class="checkbox" style="color:#7b8990; font-size:13px; margin-top: 9px;">
              <label>

                <input type="checkbox"  ng-click="vm.switchUsers('collaborators')"  ng-checked="vm.chkBox1" ng-disabled="vm.chkBox1">
                <img ng-src="{{vm.chkBox1 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad" style="padding-right: 3.9px; padding-left: 0px; margin-top: 1px;"> <img src="content/images/Collaborator/collab-01.png" style="padding-right: 4.5px; margin-top: -3px;    margin-left: 2.5px;"> Collaborators <span style="padding-left:4px">({{vm.collaborators.length}}) </span>
            </label>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="padding-right: 0px; padding-left: 0px; margin-left: -3px;">
            <div class="checkbox" style="color:#7b8990; font-size:13px">
              <label>
                <input type="checkbox"  ng-click="vm.switchUsers('supporters')"  ng-checked="vm.chkBox2" ng-disabled="vm.chkBox2">
                <img ng-src="{{vm.chkBox2 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad" style="padding-left:2px; margin-top: -1px;"> <img src="content/images/Collaborator/support-01.png" style="   padding-right: 5px; padding-left: 2px;"> Supporters <span style="padding-left:4px">({{vm.supporters.length}})</span>
            </label>
            </div>
          </div>
          <div class="col-md-4 col-sm-4" style="padding-left: 0px; margin-left: -3px;">
            <div class="checkbox" style="color:#7b8990; font-size:13px">
              <label>
                <input type="checkbox"  ng-click="vm.switchUsers('all')"  ng-checked="vm.chkBox3" ng-disabled="vm.chkBox3">
                <!--<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> -->
                <!--<img src="content/images/green-check.png" class="img-pad"> All ({{vm.allUsers.length}}) -->
             <img ng-src="{{vm.chkBox3 ? 'content/images/green-check.png' : 'content/images/gray-check.png'}}" class="img-pad"  style="padding-right: 5px; padding-left: 2px;"> <img src="content/images/Collaborator/all-01.png" style="   padding-right: 3px;"> All <span style="padding-left:4px">({{vm.userFriends.length}})</span>
            </label>
            </div>
          </div>
        </div>
        <div class="col-md-5 no-padding-left hide_for_mobile">
          <div class="col-md-4"></div>
          <div class="col-md-8 col-sm-12 col-xs-8 mar-search">
            <div class="input-group stylish-input-group" style=" margin-top: 3.3px;">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchUser" style="font-size: 13px;; border: 1px solid #eef4eb; border-right: none; padding-left: 9px; padding-top: 1px;">
              <span class="input-group-addon" style="border: 1px solid #eef4eb;">
                <button type="submit" style="padding-bottom: 0px;"> <img src="content/images/connections/search_ic@2x.png" style="margin-right:-8px"> </button>
                </span> </div>
          </div>
        </div>
      </div>

    </div>
    <hr style="width:100%; background-color:#e5ebe1; margin-bottom:0px; margin-top:18px;margin-left:10px">
    <div class="col-md-12 col-sm-12 col-xs-12 no-pad pad-l-r collaborators">
      <div class="col-md-3 col-sm-4 col-xs-6 no-pad" ng-repeat="userPersona in vm.userPersonas  | filter:searchUser" style="margin-bottom: 8px; margin-top: 30.5px;">
        <div class="row tab-row-pad" style="background-color: #f8fafb; margin-left:0px; margin-right:5px;" >

          <div class="col-md-4 col-xs-4 no-pad" style="cursor: pointer; float:left" class="pad-l-r" ui-sref="user-persona-detail({id:userPersona.networkUserId})">
            <img no-cache-src="https://s3-us-west-1.amazonaws.com/life-edge/user/{{userPersona.profileGuid}}/profilepic.jpg" err-src="/content/images/goal_blank_logo.png"
              class="img-responsive img-circle imagefit hide_for_smallmobile" width="68px" style="width:68px; height:68px; border-radius:50%;">
            <img no-cache-src="https://s3-us-west-1.amazonaws.com/life-edge/user/{{userPersona.profileGuid}}/profilepic.jpg" err-src="/content/images/goal_blank_logo.png"
              class="img-responsive img-circle imagefit hide_for_tablet hide_for_bigdesktop hide_for_smalldesktop hide_for_bigmobile"
              width="38px" style="width:38px; height:38px; border-radius:50%;"> </div>

          <div class="col-md-8 col-xs-8 no-pad add-pad">
            <p class="card-title trim-info" ui-sref="user-persona-detail({id:userPersona.networkUserId})" style="color:#303752;cursor:pointer; font-size: 13px; margin-bottom: 0px; line-height: 16px; line-height: 19px;"><span uib-tooltip="{{userPersona.firstName}} {{userPersona.lastName}}" tooltip-placement="bottom" tooltip-popup-close-delay='10'>{{userPersona.firstName}} {{userPersona.lastName}}</span></p>
            <p class="card-designation" style="color:#9ba2bf; font-size: 12px"><span uib-tooltip="{{userPersona.occupation}}" tooltip-placement="bottom"><span class="trim-info">{{userPersona.occupation}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 hide_for_mobile hide_for_tablet" style="padding-top:10px">
      <div class="row" style="padding: 20px 20px 20px 0px">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
     function startIntro(){
       var intro = introJs();
         intro.setOption('showProgress', true);
         intro.setOption('scrollToElement', true);

         intro.setOptions({
           steps: [
             {
               intro: "Your profile card. You can update your image, background banner, occuption, skills, interest, locaiton and add details about yourself. Your public goals are shown in here as well."
             },

             {
               element: document.querySelector('#step1'),
               intro: "Edit your nameWidth.",
               position: 'right'
             },
             {
               element: document.querySelectorAll('#step2')[0],
               intro: "Edit your occupation.",
               position: 'bottom'
             },
             {
               element: '#step3',
               intro: "Add your skills and interests.",
               position: 'bottom'
             },
             {
               element: '#step4',
               intro: 'Say something about yourself',
               position: 'bottom'
             }
           ]
         });
         intro.start();

         intro.setOption('doneLabel', 'See More').oncomplete(function() {
          window.location.href = '#/goal';});

     }
   </script>
