
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserPersonaLabel">Create or edit a User Persona</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userPersona.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userPersona.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="vm.userPersona.firstname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="vm.userPersona.lastname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                    ng-model="vm.userPersona.occupation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_experties">Experties</label>
            <input type="text" class="form-control" name="experties" id="field_experties"
                    ng-model="vm.userPersona.experties"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_experience">Experience</label>
            <input type="number" class="form-control" name="experience" id="field_experience"
                    ng-model="vm.userPersona.experience"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_interestedIn">Interested In</label>
            <input type="text" class="form-control" name="interestedIn" id="field_interestedIn"
                    ng-model="vm.userPersona.interestedIn"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthdate">Birthdate</label>
                <div class="input-group">
                    <input id="field_birthdate" type="text" class="form-control" name="birthdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userPersona.birthdate" is-open="vm.datePickerOpenStatus.birthdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.userPersona.country"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.userPersona.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="vm.userPersona.gender" id="field_gender">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notebook">Notebook</label>
            <select class="form-control" name="notebook" ng-model="vm.userPersona.notebook" id="field_notebook">
                <option value="DROPBOX">DROPBOX</option>
                <option value="GOOGLEDRIVE">GOOGLEDRIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastlogin">Lastlogin</label>
                <div class="input-group">
                    <input id="field_lastlogin" type="text" class="form-control" name="lastlogin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userPersona.lastlogin" is-open="vm.datePickerOpenStatus.lastlogin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastlogin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthdayVisibility">Birthday Visibility</label>
            <select class="form-control" name="birthdayVisibility" ng-model="vm.userPersona.birthdayVisibility" id="field_birthdayVisibility">
                <option value="PRIVATE">PRIVATE</option>
                <option value="NETWORK">NETWORK</option>
                <option value="PUBLIC">PUBLIC</option>
                <option value="PROMOTION">PROMOTION</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_goalVisibility">Goal Visibility</label>
            <select class="form-control" name="goalVisibility" ng-model="vm.userPersona.goalVisibility" id="field_goalVisibility">
                <option value="PRIVATE">PRIVATE</option>
                <option value="NETWORK">NETWORK</option>
                <option value="PUBLIC">PUBLIC</option>
                <option value="PROMOTION">PROMOTION</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_connectionVisibility">Connection Visibility</label>
            <select class="form-control" name="connectionVisibility" ng-model="vm.userPersona.connectionVisibility" id="field_connectionVisibility">
                <option value="PRIVATE">PRIVATE</option>
                <option value="NETWORK">NETWORK</option>
                <option value="PUBLIC">PUBLIC</option>
                <option value="PROMOTION">PROMOTION</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accountType">Account Type</label>
            <input type="text" class="form-control" name="accountType" id="field_accountType"
                    ng-model="vm.userPersona.accountType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_exportData">Export Data</label>
            <input type="text" class="form-control" name="exportData" id="field_exportData"
                    ng-model="vm.userPersona.exportData"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_payment">Payment</label>
            <input type="text" class="form-control" name="payment" id="field_payment"
                    ng-model="vm.userPersona.payment"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cardType">Card Type</label>
            <input type="text" class="form-control" name="cardType" id="field_cardType"
                    ng-model="vm.userPersona.cardType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cardNumber">Card Number</label>
            <input type="text" class="form-control" name="cardNumber" id="field_cardNumber"
                    ng-model="vm.userPersona.cardNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_company">Company</label>
            <input type="text" class="form-control" name="company" id="field_company"
                    ng-model="vm.userPersona.company"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userPersona.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
