
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserEducationLabel">Create or edit a User Education</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userEducation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userEducation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_institution">Institution</label>
            <select class="form-control" name="institution" ng-model="vm.userEducation.institution" id="field_institution">
                <option value="SCHOOL">SCHOOL</option>
                <option value="COLLEGE">COLLEGE</option>
                <option value="UNIVERSITY">UNIVERSITY</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.userEducation.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_degree">Degree</label>
            <select class="form-control" name="degree" ng-model="vm.userEducation.degree" id="field_degree">
                <option value="BACHELORS">BACHELORS</option>
                <option value="MASTERS">MASTERS</option>
                <option value="PHD">PHD</option>
                <option value="DIPLOMA">DIPLOMA</option>
                <option value="CERTIFICATE">CERTIFICATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_completion">Completion</label>
                <div class="input-group">
                    <input id="field_completion" type="text" class="form-control" name="completion" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userEducation.completion" is-open="vm.datePickerOpenStatus.completion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userEducation.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
