
<div>
    <h2><span>User Education</span> {{vm.userEducation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Institution</span></dt>
        <dd>
            <span>{{vm.userEducation.institution}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.userEducation.name}}</span>
        </dd>
        <dt><span>Degree</span></dt>
        <dd>
            <span>{{vm.userEducation.degree}}</span>
        </dd>
        <dt><span>Completion</span></dt>
        <dd>
            <span>{{vm.userEducation.completion | date:'mediumDate'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.userEducation.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="user-education-detail.edit({id:vm.userEducation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
