
.add-new {
	background: #eef7fe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 130px 20px 15px;
	position: relative;
	margin-bottom: 50px;
}
.add-new:before {
	content: "";
	background: #d1e7f4;
	width: 93%;
	height: 15px;
	position: absolute;
	left: 10px;
	top: -10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
}
.add-new:after {
	content: "";
	background: #b6d6eb;
	width: 86%;
	height: 15px;
	position: absolute;
	left: 20px;
	top: -18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -2;
}
.add-new .title {
	font-size: 17px;
	font-weight: 700;
	color: #6f8997;
	margin-top: 90px;
}
.add-new .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.dash-panel {
	background: #eef7fe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 0;
	position: relative;
	margin-bottom: 50px;
}
.dash-panel:before {
	content: "";
	background: #d1e7f4;
	width: 93%;
	height: 15px;
	position: absolute;
	left: 10px;
	top: -10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
}
.dash-panel:after {
	content: "";
	background: #b6d6eb;
	width: 86%;
	height: 15px;
	position: absolute;
	left: 20px;
	top: -18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -2;
}
.dash-panel .title {
	font-size: 17px;
	font-weight: 700;
	color: #303752;
	margin-top: 15px;
}
.dash-panel .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.dash-panel .inprogress, .dash-panel .complete {
	font-size: 13px;
	font-weight: 400;
	color: #303752;
}
.dash-panel .inprogress span, .dash-panel .complete span {
	font-size: 13px;
	font-weight: 700;
	padding: 0 10px;
}
.dash-panel img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.panel-area {
	padding: 20px 20px;
}
.notify {
	position: relative;
}
.globe {
	color: #a0cce0;
	font-size: 30px;
}
.numlabel {
	font-size: 11px;
	line-height: 12px;
	padding: 2px 2px;
	position: absolute;
	left: 15px;
	top: 9px;
	border: 1px solid #ed9500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}
.label-success {
	background-color: #ffae00;
}
.canvasjs-chart-credit {
	display: none;
}
.graphic {
	height: 80px;
	width: 80%;
	position: absolute;
	top: -26px;
	right: 0;
}
/*Profile*/


.profile-panel {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f3f7f9;
	padding: 0 0;
	position: relative;
	margin-bottom: 50px;
}
.profile-panel .title {
	font-size: 17px;
	font-weight: 700;
	color: #303752;
	margin-top: 15px;
}
.profile-panel .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.profile-panel .budget {
	font-size: 15px;
	font-weight: 400;
	color: #303752;
}
.profile-panel .days {
	font-size: 12px;
	font-weight: 400;
	color: #a7adc6;
	padding: 10px 0;
}
.profile-panel .likes, .profile-panel .Comments {
	font-size: 12px;
	font-weight: 400;
	color: #787069;
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
.profile-panel img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tipicon {
	width: 24px;
	height: 24px;
	background: url(../images/navbar-icon-notifications.png) no-repeat;
	display: inline-block;
	margin-left: 20px;
}
.profile-head {
	margin: 40px 0;
}
.profile-pic {
	width: 165px;
	height: 165px;
}
.profile-pic img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.username {
	font-size: 25px;
	font-weight: 400;
	color: #3b4743;
	line-height: 25px;
	margin-top: 25px;
}
.username span {
	font-size: 15px;
	font-weight: 400;
	color: #838e88;
}
.button-connect {
	padding: 10px 30px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #35ad45;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 15px;
}
.button-connect:hover {
	color: #fff;
}
.intrestdiv {
	font-size: 15px;
	color: #838e88;
	margin-top: 25px;
}
.intrestdiv span {
	color: #1086bf;
}
.login-time {
	font-size: 15px;
	color: #838e88;
	margin-top: 25px;
}
.profile-heading {
	font-size: 28px;
	color: #97a8b1;
	font-weight: 300;
	margin-bottom: 20px;
}
