@font-face {
    font-family: LatoLight;
    src: url(/content/images/landingpage/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(/content/images/landingpage/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoItalic;
    src: url(/content/images/landingpage/fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(/content/images/landingpage/fonts/Lato-Regular.ttf);
}
.latoitalic{
    font-family: LatoItalic;
}
.latobold{
    font-family: LatoBold;
}
.latolight{
    font-family: LatoLight;
}
.latoregular{
    font-family: LatoRegular;
}


.main-nav{
    margin: 2% 4%;
}
/*NAVBAR-------*/
#nav-toggle span{
 background: black;
}
#main-navigation ul.navbar-nav{
    width: 45%;
}
.nav-links{
    width: 20%;
    text-align: center;
}
.nav-links:hover a{
    background: transparent !important;
    color: #ff3a54;
}
/*NAV ICONS ANIMATION*/
.nav-links:after {
    display:block;
    content: '';
    border-bottom: 2px solid #ff3a54;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}
.nav-links:hover:after {
    transform: scaleX(1);
}
.nav-links:after{
    transform-origin:  0% 50%;
}
/*NAV ICONS ANIMATION*/

.nav-links.login span{
    border: 1px solid;
    padding: 6px 12px;
    border-radius: 5px;
}
 .nav-links > *{
     color: #63577f;
     font-weight: 400;
     font-size: small;
 }

/*NAVBAR-------*/

/* BUILD YOUR DREAM SECTION*/
#BuildYourDream{
    margin: 0% 5%;
}
#BuildYourDream form{
    margin-bottom: 1em;
}
.BYD-col{
    margin-top: 1%;
    margin-bottom: 8%;
}
.BYD-heroText {
    color: #5f5b88;
}
.BYD-sub-heading{
    width: 70%;
    color: #5f5b88;
}


.BYD-heroText span {
    color:#00d9da;
}
.BYD-sub-heading span{
    color: #ff3a54;
    font-style: italic;
}

.custom-input{
    height: 40px;
    min-height: 3em;
    padding: 1em;
    border: 1px solid #e8edf1;
    font-size: 1.2em;
    border-radius: 5px;
    color: #9495ad;
}
.custom-input::-webkit-input-placeholder {  color:    #aaa6b6;  }
.custom-input:-moz-placeholder { color:    #aaa6b6;  }
.custom-input::-moz-placeholder {  color:    #aaa6b6; }

.custom-button{
    min-height: 2.6em;
    letter-spacing: 1px;
    border: 1px solid #e7edf1;
    border-radius: 5px;
}

.custom-button.sign-up{
    font-family: 'Open Sans', sans-serif;
    background: #00d9da;
    color: white;
    font-weight: 600;
    width: 191px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #08c3c3;
    height: 40px;
}

.custom-button.white-background-btn{
    background: white;
    letter-spacing: 1px;
    /*padding: 1em;*/
    border: 1px solid #e7edf1;
    color:#aaa6b6 ;
    font-weight: 400;
    font-size: 1.1em;
    text-align: left;
    width: 160px;
}
.custom-button.social-media .fa{
    color:#76728d ;

}
#BuildYourDream .terms{
    color:#aaa6b6 ;
    font-weight: 400;
}
#BuildYourDream .terms span{
    color:#76728d ;
    font-weight: 400;
}

/* BUILD YOUR DREAM SECTION*/
/*Manage life goals section*/


#ManageLifeGoals .card{

 }
#ManageLifeGoals .card-block{
    padding: 1em;
}
.MLG-card-image{
    height: 15em;
    background-size: cover;
    background-position-x: center;
}
.MLG-col-right{
    margin-top: -10em;
}
.MLG-col-right .card{
    width: 60%;
    margin: auto;
}
.MLG-col-right .card .card-block .card-title{
    margin-top: 1.5em;
}

.MLG-sub-heading{
    color: #00504d;
}
.MLG-heroText span{
    color:#00d9da;
}
.MLG-sub-heading{
    width: 100%;
}
.MLG-sub-heading span{
    color: #ff3a54;
    font-style: italic;
}
.MLG-heroText{
    color: #5f5b88;
}
/*Manage life goals section*/

/*build your dream team*/

.BUDT-heroText{
    color: #ff3a54;
}

.BUDT-sub-heading{
    color: #00514e;
}
.BUDT-sub-heading span{
    color: #176262;
    font-weight: 400;
    font-style: bold;
}
.BUDT-media{
    width: 60%;
}
.BUDT-media .media-left{
    width: 20%;
    vertical-align: middle;
}
.BUDT-media .media-left img{
    width: 75px;
    height: 75px;
}
.BUDT-media .media-body{
    width: 80%;
    vertical-align: middle;
}
.BUDT-media .media-body .media-body-icons{
    width: 25%;
    text-align: center;
}
/*build your dream team*/
/*Real time collaboration*/
.RTC-heroText{
    color: #5f5b7e;
}

.RTC-sub-heading{
    color: #005351;
}

.RTC-col .card{
    background: white;
    width: 100%;
    margin: 1em 0em 2em 0em
}
.RTC-col .card-block{
    padding: 1em;
}

/*Real time collaboration*/

/*MoniterAndDriveSuccess*/
.MADS-heroText{
    color: #00d9da ;
}

.MADS-sub-heading{
    color: #005251;
}
.MADS-dropdown .dropdown-toggle:hover , .MADS-dropdown .dropdown-toggle:focus ,.MADS-dropdown .dropdown-toggle:active,.MADS-dropdown.open button{
    background: #F5FAFD;
    color: gray !important;
}

/*MoniterAndDriveSuccess*/
/*Get inspiration*/
.GI-heroText{
    color: white ;
}
.GI-card-image{
    height: 15em;
    background-size: cover;
    background-position-x: center;
}
.GI-sub-heading{
    color: white;
}
#GetInspiration .GI-tab-box{
    background: white;
}
.GI-tab-box .tab-content{
    margin: 1em 0em;
}
.GI-tab-box {
    padding: 4em;
    width: 95%;
}
.GI-tab-box .tab-content{
    min-height: 12em;
}
.GI-tab-box .tab-content .tab-pane .card{
    border:none;
}
.GI-tab-box .tab-content .tab-pane .card-block{
    padding: 1em;
}
.GI-tab-box ul.nav-tabs li a{
    color:#608699 !important;
    font-weight: 200 !important;
}
.GI-tab-box ul.nav-tabs li.active a{
    border: none !important;
    border-bottom: 4px solid #608699 !important;
}
.GI-tab-box ul.nav-tabs li .dropdown .dropdown-toggle:focus {
    background: white;
}
.GI-dropdown.open button{
    color: gray !important;
}

.icon-with-circle-border{
    padding: 30px;
    border-radius: 200px;
    float: left;
    height: 30px;
    width: 30px;
    display: table;
    color: white;
    border: 3px solid;
}

.social-media-icon-with-circle-border{
    padding: 10px;
    border-radius: 50%;
    float: left;
    height: 30px;
    width: 30px;
    display: table;
    color: white;
    border: 3px solid;
}


/*Get inspiration*/
/*Create influence*/
.CI-heroText{
    color: #ff3a54;
}
#CreateInfluence .snippet{
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
}
/*Create influence*/
/*DISCOVER EXPERTS*/
.DE-heroText span{
    color: #00d9da ;
}
.DE-sub-heading{
    color: #005251;
}
/*DISCOVER EXPERTS*/

/**/
.custom-media .media-left{
    width: 20%;
    vertical-align: middle;
}
.custom-media .media-left img{
    width: 55px;
    height: 55px;
}
.custom-media .media-body{
    width: 80%;
    vertical-align: middle;
}

.sign-up-heroText span{
    color: #00d9da ;
}

.customform{
    width: 209px;
    margin-right: 1%;
    float: left;
}

.customsignup{
    font-size: 18px;
    float: left;
}

.customlogin{
    font-size: 18px;
    float: left;
    margin-right: 2%;
}

/*text rotate*/

/*Vertical Sliding*/
.slidingVertical{
    display: inline;
}
.slidingVertical span{
    font-family: LatoBold;
    animation: topToBottom 13.5s linear infinite 0s;
    -ms-animation: topToBottom 13.5s linear infinite 0s;
    -webkit-animation: topToBottom 13.5s linear infinite 0s;
    color: #5f5b88;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    font-size: 43px;
    font-weight: 900;
}
.slidingVertical span:nth-child(2){
    animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
}
.slidingVertical span:nth-child(3){
    animation-delay: 9s;
    -ms-animation-delay: 9s;
    -webkit-animation-delay: 9s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -moz-transform: translateY(-50px); }
    10% { opacity: 1; -moz-transform: translateY(0px); }
    25% { opacity: 1; -moz-transform: translateY(0px); }
    30% { opacity: 0; -moz-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-50px); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 1; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
    0% { opacity: 0; }
    5% { opacity: 0; -ms-transform: translateY(-50px); }
    10% { opacity: 1; -ms-transform: translateY(0px); }
    25% { opacity: 1; -ms-transform: translateY(0px); }
    30% { opacity: 0; -ms-transform: translateY(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}


/*Card Animation*/
/*Horizontal Sliding*/
.slidingHorizontal{
    display: inline;
}
.slidingHorizontal span{
    animation: leftToRight 13.5s linear infinite 0s;
    -ms-animation: leftToRight 13.5s linear infinite 0s;
    -webkit-animation: leftToRight 13.5s linear infinite 0s;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.slidingHorizontal span:nth-child(2){
    animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
    width: 100%;
}
.slidingHorizontal span:nth-child(3){
    animation-delay: 9s;
    -ms-animation-delay: 9s;
    -webkit-animation-delay: 9s;
    width: 100%;
}

/*leftToRight Animation*/
@-moz-keyframes leftToRight{
    0% { opacity: 0; }
    5% { opacity: 0; -moz-transform: translateX(-50px); }
    10% { opacity: 1; -moz-transform: translateX(0px); }
    25% { opacity: 1; -moz-transform: translateX(0px); }
    30% { opacity: 0; -moz-transform: translateX(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateX(-50px); }
    10% { opacity: 1; -webkit-transform: translateX(0px); }
    25% { opacity: 1; -webkit-transform: translateX(0px); }
    30% { opacity: 0; -webkit-transform: translateX(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
    0% { opacity: 0; }
    5% { opacity: 0; -ms-transform: translateX(-50px); }
    10% { opacity: 1; -ms-transform: translateX(0px); }
    25% { opacity: 1; -ms-transform: translateX(0px); }
    30% { opacity: 0; -ms-transform: translateX(50px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.thide
{
    display: block;
}

.tshow
{
    display: none;
}

.bigshow
{
    display: block;
}

.tbigshow
{
    display: none;
}
.tinspirehide
{
    display: block;
}

.tinspireshow
{
    display: none;
}

/*
  Common
*/

/*COLORS*/
.fb-blue{
  color:#4267b2;
}
.gray{
 color: gray;
}
.yellow{
  color: #FACD00;
}
.white-bg{
  background: white;
}
.fb-bg{
  background: #4267b2;
}
.green-bg{
 background: #00ff77;
}
.gray-bg{
 background: rgba(128, 128, 128, 0.26);
}
.light-gray-bg{
  background: rgba(233, 235, 238, 0.23);
}
.gray-dark{
  color: #76728d;
}
.gray-light{
  color: #aaa6b6;
}

/* margin - padding*/
.no-padding{
  padding: 0px 0px;
}
.no-margin{
  margin: 0px 0px;
}
.margin-top-10{
  margin-top:10px !important;
}
.margin-top-100{
  margin-top:100px !important;
}
.margin-top-50{
  margin-top:50px !important;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-bottom-50{
  margin-bottom:50px;
}
.margin-left-50{
  margin-left:50px;
}
.margin-left-10{
  margin-left:10px;
}
.margin-right-10{
  margin-right:10px;
}
.margin-right-50{
  margin-right:50px;
}
.margin-all-10{
  margin: 10px
}
.padding-top-10{
  padding-top:10px;
}
.padding-left-10{
  padding-left:10px;
}
.padding-right-10{
  padding-right:10px;
}
.padding-bottom-10{
  padding-bottom:10px;
}
.padding-all-10{
  padding: 10px
}
.padding-all-1-em{
  padding: 1em;
}

/* text align */
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/* border */
.no-border{
  border:none;
}
.shadowed-box{
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 217, 216, 0.24);
}
.rounded-corner{
  border-radius: 30px;
  border: 0px;
}
.no-outline:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important ;
}

.border-bottom-gray{
  border-bottom: 1px solid rgba(128, 128, 128, 0.26)
}
.font-weight-200{
  font-weight: 200 !important;
  line-height: 1.5em;
}
.font-weight-400{
  font-weight: 400 !important;
}
.font-weight-800{
  font-weight: 800 !important;
}
/**/
.width-100{
  width: 100%;
}
.height-100{
  height: 100%;
}
.height-width-100-percent{
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image:url(/content/images/landingpage/Circles.png);
  background-repeat:no-repeat;
  background-size: 100%;
}
.float-R{
  float: right;
}
.float-L{
  float: left;
}

/**/

.center-fixed-reference-div{
  position:fixed;left: 50%;top: 50%;
}
.top-right-fixed-reference-div{
  position: fixed; left: 95%;top: 5%;
}
.top-left-fixed-reference-div{
  position: fixed; left: 5%;top: 5%;
}
.bottom-right-fixed-reference-div{
  position: fixed; left: 95%;top: 95%;

}
.bottom-left-fixed-reference-div {
  position: fixed; left: 5%;top: 95%;
}
.right-center-fixed-reference-div{
  position: fixed; left: 95%;top: 50%;
}
.left-center-fixed-reference-div {
  position: fixed; left: 5%;top: 50%;
}
.top-center-fixed-reference-div{
  position: fixed; left: 50%;top: 5%;
}
.bottom-center-fixed-reference-div{
  position: fixed; left: 50%;top: 95%;
}
.macinfluencehide{
        display: block;
    }
    .macinfluenceshow{
        display: none;
    }

.machide{
        display: none;
    }
    .macshow{
        display: none;
    }


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media   screen and (max-width: 360px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }
}

@media   screen and (min-width: 361px) and (max-width: 480px) {
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }
}

@media  screen and (min-width: 481px) and (max-width: 599px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;
    }
    .MLG-col-right{
        margin-top: 0em;
    }
}

@media  screen and  (min-width: 600px) and (max-width: 767px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }
}

@media  screen and  (min-width: 768px) and (max-width: 959px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    #main-navigation ul.navbar-nav{
        width: 60%;
    }
    .MLG-col-right{
        margin-top: 0em;
    }

.tBIGTitle
{
    margin-top: -20%;
    margin-bottom: 33%;
    width: 100%;
}

.tcustomform
{
    margin-left: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}

.tcustomlogin
{
    margin-left: 50%;
}

.tcustomtagline
{
    margin-top: 5%;
}

.tbigcard
{
    margin-top: -100%;
    width: 100% !important;
}

.tsubgoal
{
    width: 70%;
    margin-top: -15%;
    margin-left: 10%;
}

.tsubgoal2
{
    margin-top: -15%;
}

.thide
{
    display: none;
}

.tshow
{
    display: block;
}

.bigshow
{
    display: none;
}

.tbigshow
{
    display: block;
}

.tinspirehide
{
    display: none;
}

.tinspireshow
{
display: block;
}

}

@media  screen and  (min-width: 960px) and (max-width: 1199px){
    #main-navigation ul.navbar-nav{
        width: 60%;
    }

}

@media  screen and  (min-width: 1700px) and (max-width: 2880px) {
    .macinfluencehide{
        display: none;
    }
    .macinfluenceshow{
        display: block;
    }

    .thide
{
    display: none;
}

}

@media  screen and  (min-width: 1600px) and (max-width: 1680px) {
    .macinfluencehide{
        display: none;
    }
    .macinfluenceshow{
        display: block;
    }

    .thide
{
    display: none;
}

.machide{
        display: none;
    }
    .macshow{
        display: block;
    }

.tinspirehide
{
    display: block;
}
.tinspireshow
{
    display: none;
}

}
/*@media  screen and  (min-width: 1608px) {
.tinspireshow
{
    display: block;
}
}*/
/*contactus*/

.contactus {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
}
#success_message{ display: none;}
