/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .hide_for_desktop
    {
        display:none;   
    }
    .social-new .loginbtn
    {
      width: 100%;
    }
    .registration
    {
        margin-left: 22%; margin-right: 22%; color: #5d5e7c;
    }
    .registration .btn {        
        width: 360px;
    }
    #fileSelect2 span
    {
        font-size: 15px; font-weight: 400; color: #7A7C9B; padding-left:10px;
    }
}

@media only screen and (min-width: 1281px){
    .hide_for_desktop
    {
        display:none;   
    }
    .social-new .loginbtn
    {
      width: 100%;

    }
    .registration
    {
        margin-left: 22%; margin-right: 22%; color: #5d5e7c;
    }
    .registration .btn {        
        width: 360px;
    }
    #fileSelect2 span
    {
        font-size: 15px; font-weight: 400; color: #7A7C9B; padding-left:10px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
     .hide_for_tablet
    {
        display:none;   
    } 
    .social-new .btn {
    margin: 0% 0% 10% 10%;   
    width: 80%; 
    }
   .social-new input
   {
    margin: 0% 0% 2% 10%;   
    width: 80%;
   }
.social-new a
{
    margin: 0% 0% 10% 10%;  
}
.social-new .loginbtn
{
    margin: 0% 0% 10% 10%;  
    width: 80%;
}
.registration input,
.registration small, 
.registration .small,
.registration .uplodform
    {
    margin: 0% 0% 2% 10%;   
    width: 80%;   
}
.registration .pos-abs , .registration .form-control-feedback  {
    position: absolute;
    right: 12%;
    top: 2px;
}
.registration .btn {
    margin: 0% 0% 4% 2%; 
    width: 80%;
}

.social-new  .pos-abs,.social-new .form-control-feedback {
    position: absolute;
    right: 11%;
    top: 2px;
}
    .mainmenu .navbar-nav li a {
        padding: 20px 3px;
        font-size: 14px;
    }
    .mainmenu .navbar-nav li a {
        padding: 20px 3px;
        font-size: 14px;
    }
    .logo {
        text-align: center;
    }
    .single-blog img {
        width: 100%;
    }
    .pricing-box {
        margin-top: 30px;
    }
    .project-idea h2,
    .project-idea p {
        font-size: 22px;
    }
    .single-project-complete {
        margin-top: 30px;
    }
    .about-text {
        margin-top: 50px;
    }
    .section-title p {
        padding: 0;
    }

    .contact-icon {
        float: none;
    }
    .header-text p,
    .single-testi-des {
        padding: 0;
    }
    .call-to-action-small-button {
        text-align: left;
        margin-top: 25px;
    }
    #fileSelect2 span
    {
        font-size: 15px; font-weight: 400; color: #7A7C9B; padding-left:10px;
    }
}

 
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  
    .hide_for_mobile
    {
        display:none;   
    }
    .social-new
    {
        margin-top: 30%;
    }
    .social-new .btn {
        margin: 0% 0% 10% 10%;   
        width: 80%; 
        }
       .social-new input,
       .social-new .forget
       {
        margin: 0% 0% 2% 10%;   
        width: 80%;
       }
       .social-new .login a{
        border: 1px solid;
        padding: 10px 10%;
        border-radius: 5px;
        color: #63577f;
        font-weight: 400;
        font-size: small;
    }  
    .registration .btn {
        margin: -4% 0% 4% 2%;
        width: 80%;
    }
    .registration .login a{
        border: 1px solid;
        padding: 10px 10%;
        border-radius: 5px;
        color: #63577f;
        font-weight: 400;
        font-size: small;
    }  
    .login_mobile a{
        border: 1px solid;
        padding: 10px 25%;
        border-radius: 5px;
        color: #63577f;
        font-weight: 400;
        font-size: small;
    }
    .registration input,
    .registration small, 
    .registration .small,
    .registration .uplodform,
    .registration .help-block
        {
        margin: 0% 0% 2% 10%;   
        width: 80%;   
    }
    .registration .pos-abs ,.social-new .pos-abs,.social-new .form-control-feedback
    {
        position: absolute;
        right: 12%;
        top: 2px;
    }
   
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .menu-bg .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -3px;
    }
    .navbar-collapse {
            background: #039be4;
    border: 1px solid #2cb1f3 !important;
    }
    .menu-bg .navbar-collapse {
        background: #000;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        color: #fff;
    }
    .menu-bg .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .menu-bg .navbar-collapse {}
    .welcome-image-area,
    .welcome-video-area {
        padding-top: 120px;
    }
    .welcome-image-area h2,
    .single-slide-item h2,
    .welcome-video-area h2,
    .about-text h2,
    .call-to-area-text h2 {
        font-size: 24px;
    }
    .slider-control {
        display: none;
    }
    a.slide-btn {
        font-size: 12px;
        padding: 10px;
        margin-bottom: 5px;
    }
    .section-title h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .footer-social-link {
        text-align: left;
        margin-top: 20px;
    }
    .pricing-box {
        margin-top: 30px;
    }
    .single-testimonial {
        padding: 0;
    }
    .video-area-text {
        margin-top: 50px;
    }
    .footer-social-link {
        text-align: center;
    }
    .footer-area img {
        margin-bottom: 0px;
    }
    .scrollup {
        height: 40px;
        width: 40px;
        line-height: 35px;
    }
    .single-project-complete {
        margin-top: 30px;
        text-align: center;
    }
    .header-text {
        margin-top: 10px;
    }
    .footer-text h6 {
        font-size: 12px;
    }
    .footer-area {
        padding: 50px 0px;
    }
    .section-padding {
        padding: 40px 0px;
    }
    .single-testimonial {
        margin-right: 30px;
        margin-left: 30px;
    }
    .about-text {
        margin-top: 30px;
    }
    .margin-top-c {
        margin-top: 0px;
    }
    .section-title p {
        padding: 0;
    }
    .section-title h2::before {
        top: 40px;
    }
    .single-contact-details {
        margin-bottom: 30px;
    }
    .item .grid figure,
    .gallery .grid figure {
        min-width: 100%;
    }
    .header-text p,
    .single-testi-des {
        padding: 0;
    }
    .call-to-action-small-button {
        text-align: left;
        margin-top: 25px;
    }
    #fileSelect2 span
    {
        font-size: 15px; font-weight: 400; color: #7A7C9B; padding-left:10px;
    }
/* NEVIGATION */
   .logo{padding-top:0px}
   .mob-pull-left{float:left}
   .searchwidth{min-width: 0px; color:#f2f6f9; padding-left: 10px}
   .subheader-lft{display: flow-root;}
   /* GOAL DETAILS */
   .main-pad{padding: 22px 20px 20px 20px}
   .dim-img{height: 68px; width: 68px; margin-right: 0px; border-radius:50%}
   .goal-adj-01{display: inline-block; padding-left:0px}
   .goal-adj-02{display: inline-block; margin-top: 5%; padding-right: 0px; padding-left: 0px;}
   .goal-adj-03{margin-bottom: 36px}
   .goal-img{width: 43px; height: 43px; border-radius: 50px;}
   .row-fluid .span3 {width: 29.476923% !important; float: left; margin: 4px;}
   .modal-dialog{width: 100% !important;}
   .goal-adj-03{padding: 2% 18% 2% 18%;}
   .goal-adj-select{width: 100% !important; height: 29px; padding-top: 3px !important; float:left;}
   .goal-adj-input{width: 100% !important; height: 29px; padding-top: 3px !important; float:left; margin-left: 0px;}
   .goal-modal-adj-01{padding-left: 0px; padding-top: 11px;}
   .goal-adj-05{padding-left: 0px;}
   .goal-float-l{float:none}
   .goal-text-c{text-align: center}
   .goal-desc-pad{padding-left:20px !important}
   .post-adj-01{float:none; margin-top:7px}
   .post-cmnt-txt{padding-left: 23px; margin-left: -7px; margin-right: 8px; float: left; width: 90%; text-align: left}
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .registration .modal-img {
        width: 50px;
        height:50px;
        border-radius: 50%;
    }
    #fileSelect2 span
    {
        font-size: 8px; font-weight: 400; color: #7A7C9B; padding-left:8px;
    }
}

/* MEDIA QUERY START FOR RESPONSIVE DESIGN */
@media only screen and (max-width:740px) and (min-width:410px){
/* navigation */

.m-t-17{ margin-top:17px !important;}
.mob-pull-left{float:left}
}

/* MEDIA QUERY END FOR RESPONSIVE DESIGN */