/*21-4-2017,1.58PM*/
/*
body {
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%
}



.no-padding {
    padding: 0
}*/

.section-padding {
    padding: 17.5px 0px;
    margin-left: 6.55%;
    margin-right: 5.6%;
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
}

.section-title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    padding: 0px 380px;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
}

.section-title h2:before {
    position: absolute;
    left: 50%;
    top: 56px;
    height: 10px;
    width: 74px;
    margin-left: -37px;
    background: #82B440;
    content: "";
    z-index: 1;
}

a.read-more {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

.scrollup {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    z-index: 2;
    background: #82B440;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader-area {
    position: fixed;
    background: #fff;
    z-index: 11000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.spinner {
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -20px;
    top: 50%;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #82B440;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1 {
    background-color: #82B440;
}

.dot2 {
    top: auto;
    background-color: #000;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/overlay2.png);
    background-size: cover;
    /*z-index: 1;*/
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    margin-top: 60px;
}

.header-text h2 {
    color: #fff;
    font-size: 60px;
    margin-top: 10px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-text p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
    /*padding: 0px 300px;*/
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    /*padding-top: 20px;*/
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-top:18px; padding-left: 13px; height:auto;
}

.logo a p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.mainmenu .navbar-nav li {
    margin-right: 30px;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 400;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #82B440;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    background: #000;
    border: none;
}

.menu-bg .logo {
    padding-top: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .logo a p {
    color: #fff;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding-top: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    padding-bottom: 22px;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #82B440;
}

a.slide-btn {
    margin: 0px 5px;
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

a.slide-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

a.slide-btn.other-btn {
    background: transparent;
}

a.slide-btn.other-btn:hover {
    background: #82B440;
}


/*
* ----------------------------------------------------------------------------------------
* HOMEPAGE SLIDER BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 100%;
}

.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div {
    height: auto;
}

.single-slide-item-table {
    display: table;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}

.single-slide-item:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.slide-1 {
    background: url(../images/bg/call.jpg) scroll 0 0;
    background-size: cover;
}

.slide-2 {
    background: url(../images/mainbg.jpg) scroll 0 0;
    background-size: cover;
}

.slide-3 {
    background: url(../images/bg/testi-bg.jpg) scroll 0 0;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.right.slider-control {
    left: auto;
    right: -52px;
}

.left.slider-control {
    left: -52px;
}

.welcome-slider-area:hover .right.slider-control {
    right: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.welcome-slider-area:hover .left.slider-control {
    left: 30px;
    transition: .25s;
    -webkit-transition: .25s
}

.slider-control {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #82B440;
    font-size: 24px;
    width: 40px;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.slider-control:hover {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #82B440;
}

.carousel-indicators li {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    margin: 0;
    background: #82B440;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.carousel-indicators li.active {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    border: none;
    -webkit-transition: .3s;
    transition: .3s;
}




/*
* ----------------------------------------------------------------------------------------
* 06.CALL TO ACTION CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.call-to-area {
    background: url(../images/bg/call.jpg);
    background-size: cover;
    padding: 200px 0px;
    position: relative;
    z-index: 1;
}

.call-to-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.call-to-area-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 400;
}

.call-to-area-text p {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
}

.call-to-area-text a {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #82B440;
    background-color: #82B440;
    font-weight: 600;
    letter-spacing: 1px;
}

.call-to-area-text a:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #82B440;
    -webkit-transition: .3s;
    transition: .3s;
}

/* ==========================================================================
Landing page
========================================================================== */

.mar-rht{margin-right: 16.5px;}

/* GOAL DETAILS */
.main-pad{padding: 22px 20px 20px 0px}
.dim-img{height: 68px; width: 68px; margin-right: 22px;}
.goal-adj-01{display: inline-block; padding-left:0px}
.goal-adj-02{display: inline-block; margin-top: 5%; padding-right: 0px; padding-left: 28px;}

.goal-adj-select{padding-top: 3px !important; float:left; margin-top: 10px}
.goal-adj-input{padding-top: 3px !important; float:left; margin-top: 10px}
.goal-modal-adj-01{padding-left: 17px; padding-top: 11px;}
.goal-float-l{float:left;}
.post-adj-01{float:left; margin-top:7px}
.post-cmnt-txt{padding-left: 23px; margin-left: -7px; margin-right: 8px; float: left; width: 70%;}
