

body {
    font-family: "Open Sans", sans-serif;
    color: #5d537c;
    font-size:13px;

}
/*::-webkit-scrollbar{width:0;background:0 0}*/
/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
img {
  vertical-align: middle;
  outline:none !important;
  /*image-rendering: pixelated;*/
}
.no-underline{
  text-decoration: none !important;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
   outline: none !important;
   resize:none
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
   outline:none !important;
}
.imagefit{object-fit:cover; object-position:50% 0%}
.trim-info {
      max-width: 242px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      /*line-height: 15px;*/
   }
/* ==========================================================================
UIB-DATEPICKER
========================================================================== */

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

/*Terms*/
.terms-conditions {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    background-color: #fff;
    /*background: url('/content/images/circle.png');*/
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Customizations
========================================================================== */
input
{
  border-radius:5px; border: solid 1px #CCCCCC; height: 34px; padding-left: 10px;
  color: #9CA1BF;
}
.goal-collections-div
{
  text-align: center; padding-top: 75px; width: 132px; height: 115px; color: #4FA5C1; display: inline-block;
}
.footer
{
  background-color: inherit;
}
.tab
{

}
.btn
{
  padding-left: 10px;
  padding-right: 10px;
}
.btn-default
{
  background-color: #E6EFF4;
  color: #516E7E;
}
.btn-primary
{
  background-color: #34AB43;
  color: #FFFFFF;
}
.btn-primary-login
{
  background-color: #60d4d6;
  color: #FFFFFF;
}
.navbar{
  margin-bottom: 0px;
}
.well{
  padding: 0px;
  background-color: transparent;
}
.lightBlue{
  color: #2F96E1;
}
.darkBlue{
  color: #3A4C60;
}
.textboxTitle
{
  background-color: #F9FAFC;
  width: 450px;
  height: 34px;
}
.text-20 { font-size: 20px; }
.text-16 { font-size: 20px; }
.goal-title
{
  font-size: 26px;
  font-family: "Open Sans", sans-serif, "Arial";
  border: none;
  font-weight: 100;
  color: #3A4C60;

}
.textboxRegular
{
  background-color: #F9FAFC;
  font-size: 18px;
  font-family: "Open Sans", sans-serif, "Arial";
  border: none;
  color: #3A4C60;
  display: inline;
  height: 34px;
}
.textSmallGrey{
  color: #C8D1DA;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 13px;
}
.textBlue
{
  color: #4B5F66;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 16px;
}
.textBlueLight
{
  color: #95B9C9;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 16px;
}
.textWhite
{
  color: #FFF;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 12px;
}
.textWhite:hover
{
  text-decoration: underline;
}
.textWhiteLarger
{
  color: #FFF;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 16px;
}
h1
{
  color: #FFF;
  font-family: "Open Sans", sans-serif, "Arial";
  font-size: 32px;
}
.well
{
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.tabMenuPanel
{
  padding-top: 25px;
  padding-bottom: 18px;
  text-align: center;
}

.tabMenuPanel2
{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.tabMenu
{
  color: #698696;
  font-family: "Open Sans", sans-serif, "Arial";
  margin: 10px;
  font-weight: normal;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 21px;
  text-decoration: none;
}
.tabMenu:hover
{
  border-bottom: 4px solid #698696;
  text-decoration: none;
}
.tabMenuUnderline
{
  border-bottom: 4px solid #698696;
}
.vcenter {
    vertical-align: middle;
}
.searchContainer
{
  border-radius: 6px;
  /*padding: 2px; */
  background-color: #1EA5E7;
  /*font-family: Tahoma; */
  color: white;
  margin-top: 17px;
  margin-bottom:5px;
  margin-right: 2px;
}
.search{
    background-color: transparent;
    outline: none;
    border: none;
    height: 29.5px;
    padding-left: 2px;
  }

@media (max-width: 767px){
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
  }
  .logo {
      height: 45px;
  }
  .searchWidth{
    width: 245px;
  }
  .search-small{margin-left:0px; margin-right:0px}
}

@media (min-width: 768px) {
  .search-small{margin-left:30px; margin-right:15px}
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
  }
  .logo {
      margin-top: 10px;
      height: 60px;
  }
  .searchWidth{
    width: 143px;
  }

}
/* ==========================================================================
Sub header styles
========================================================================== */
.subheader-float-rht{float: right; width: 100%; text-align: right;}
.subheader-lft-01{
              text-align: left; width: 100%;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: flex-start;
              }
.subheader-lft{padding-top: 5px;
              padding-bottom: 5px;
              display: flex;                   /* establish flex container */
              flex-direction: row;             /* default value; can be omitted */
              flex-wrap: nowrap;               /* default value; can be omitted */
              justify-content: space-between;  /* switched from default (flex-start, see below) */
              padding-right: 4.3%; padding-left: 4.3%;
              }
            .subheader-float-rht .img-pad{cursor: pointer; padding-left:2px; padding-right:2px}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url('../images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
h2{
  color: #384a5e;
  font-weight: 300;
  margin: 40px 0 20px;
  /*font-weight: inherit;*/
  font-weight: 100;

}
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}
.nav-inline{
  margin: 5px 0;
  padding: 0;
}
.nav-inline li,
.nav-inline li a{
  list-style: none;
  display: inline-block;
  color: #6c7d87;
}
.nav-inline li{
  padding:0 10px;
  border-left: 1px solid #cee1e7;
}
.no_brd_lft li:first-child{
  border:0;
}

/* MARGINS & PADDINGS strt*/
.p-xxs {
  padding: 5px !important;
}
.p-xs {
  padding: 10px !important;
}
.p-sm {
  padding: 15px !important;
}

.p-m {
  padding: 20px !important;
}

.p-n {
  padding: 0px !important;
}

.p-md {
  padding: 25px !important;
}

.p-lg {
  padding: 30px !important;
}

.p-xl {
  padding: 40px !important;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-t-xxxl {
  margin-top: 60px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}

.no-border {
  border: 0px !important;
}

.no-lrp {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* MARGINS & PADDINGS end */

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

  .uib-datepicker .btn-default {
    background-color: #fafbfd;
    color: #516E7E;
}
 .uib-datepicker .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background-image: none;
    background-color: #009de4 !important;
    color: #fff;
}
.uib-datepicker .btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 5px rgb(160, 160, 160);
    box-shadow: inset 0 0px 5px rgb(162, 160, 160);
    background-color: rgba(239, 238, 239, 1);
}
.btn-danger{
    color: #9daab2;
    background-color: #d8e7ee !important;
    border-color: #d8e7ee;
}
.btn-danger:hover {
    color: #9daab2;
    background-color: #d8e7ee;
    border-color: #d8e7ee;
}
.btn-info {
    color: #fff;
    background-color: #039CE2;
    border-color: #039CE2;
}
.btn-info:hover {
    color: #fff;
    background-color: #039CE2;
    border-color: #039CE2;
}


/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */



/* ==========================================================================
Connections Section
========================================================================== */
.con_block{
  padding: 0 30px;
}
.profession {
  color: #9aa1be;
  font-size: 12px;
}
.con_block .name{
  font-size: 16px;
}
.con_block .actions a,
.con_block .actions{
  font-size: 18px;
  color: #9bacb2;
  line-height: 20px;
}
.con_block .count{
  font-size: 20px;
  color: #9bacb2;
  vertical-align: middle;
}
.no_brd li{
  border: 0;
}
.action_bar{
  background-color: #f9fafc;
  border-bottom: solid 1px #e9f1f4;
}
.cus_chkbox{
  position: relative;
  font-weight: normal;
}
.cus_chkbox input{
  opacity: 0;
  position: absolute;
  top:0;
  left: 0;
}
.cus_chkbox span{
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 5px;
}
.cus_chkbox span:after{
  position: absolute;
  font-family: 'FontAwesome';
  content: '';
  top:2px;
  left: 5px;
  color: #bfc7ca;
}
.cus_chkbox input:checked + span:after{
  content: '\f00c ';
}
.ico_input{
  position: relative;
}
.ico_input input{
  padding-right: 30px;
}
.ico_input i{
  position: absolute;
  right: 10px;
  top: 7px;
  color: #ccc;
  font-size: 20px;
}

.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.6em;
    height: 1.6em;
    float: left;
    margin-right: .5em;
}
.checkbox .cr .cr-icon{
    position: absolute;
    font-size: 13px;
    line-height: 0;
    top: 50%;
    left: 20%;
	color:green
}
.checkbox label input[type="checkbox"]{
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}
.bor-pad-bott-1{ border-bottom: 1px solid #e5ebe1; padding-bottom: 15px;}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#E8E8E8;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.connection-page label{ padding-left:0px !important}
.connection-page .img-pad{ padding-left: 5px; padding-right: 5px;}
.connection-page input{height:36px}

.connection-page .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #b1c3cc;
	font-size: 12px;
}
.connection-page .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.connection-page .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
}
.connection-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important;
}
.connection-page .panel-default {
    border-color: #fff !important;
}
.connection-page .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.connection-page .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.connection-page .mid-span{padding-left: 15px; padding-right: 15px;}
.connection-page .tab-row-pad{padding: 15px;}
.connection-page .card-title{font-size: 17px; margin-bottom: 0px; color:rgba(0,0,0,1.00)}
.connection-page .card-designation{font-size: 14px; margin-bottom: 0px; color: #b1c3cc;}
.connection-page .card-number-icon{padding: 12px 6px 12px 0px;}
.connection-page .card-number-txt{font-size: 24px; padding: 6px; color: #b1c3cc;}
.connection-page .card-plus-ic{padding: 12px 12px 12px 0px;}
.connection-page .card-delet-ic{padding: 12px 12px 12px 12px;}

/* ==========================================================================
Profile Section
========================================================================== */
.public-profile-page{margin-bottom:15px}
.public-profile-page .card-description{color: #9ba2bf;}

.public-profile-page .mid-span{padding-left: 15px; padding-right: 15px;}
.public-profile-page .tab-row-pad{padding: 15px;}
.public-profile-page .card-title{font-size: 17px; margin-bottom: 0px; color: #303752;}
.public-profile-page .card-designation{font-size: 14px; margin-bottom: 0px; color: #838e88;}
.public-profile-page .btn-success {color: #fff;
    background-color: #32a942 !important;
    border-color: #32a942 !important;
    height:30px;
}
.public-profile-page .btn{border-radius:2px !important}
.public-profile-page .card-number-icon{padding: 12px 2px 12px 0px;}
.public-profile-page .card-number-txt{font-size: 24px; padding: 6px;}
.public-profile-page .card-plus-ic{padding: 12px 12px 12px 0px;}
.public-profile-page .card-delet-ic{padding: 12px 12px 12px 12px;}
.public-profile-page .add-btn{margin-top:10px}
.public-profile-page .add-btn-inside{padding: 0px 10px 0px 10px;}
.public-profile-page .blue-color{color:#039be4}
.public-profile-page .heading-title{ font-size:28px;font-weight: 100; color: #97a8b1;}
.public-profile-page .thumbnail{ padding:0px; min-height: 420px!important;}
.public-profile-page .imagefit{object-fit:cover; object-position:50% 0%; width:276px; height:221px;}
.public-profile-page .caption-inside-row {margin:0px}
.public-profile-page .pos-rel{position:relative}
.public-profile-page .pos-abs{
    position: absolute;
    top: 10px;
    right: 6px;
    border-radius: 15%;
    padding: 0px;
    font-size: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #e39c12;
    background-color: #fdb52a;}
.public-profile-page .price-txt{font-size: 15px; font-weight: bold;}
.public-profile-page .card-number-txt1 {padding-top: 14px; font-size:11px}
.public-profile-page .img-top-radius{border-top-right-radius: 5px; border-top-left-radius: 5px;}
.public-profile-page .img-circle{height:170px !important;}
.public-profile-page .nav {
    /*left:50%;
    margin-left:-150px;*/

    position:absolute;

}
.public-profile-page .nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#e6eff3;
}
.public-profile-page .dropdown {
     background:#e6eff3;
    border-radius:4px;
    width:172px;
}
.public-profile-page .dropdown-menu>li>a {
    color:#428bca;
}
.public-profile-page .dropdown ul.dropdown-menu {
    box-shadow:none;
    margin-top:0px;
    width:172px;
	 background:#e6eff3;
}
.public-profile-page .dropdown ul.dropdown-menu { border-top:1px solid #acd0e0; border-bottom:none; border-right:none; border-left:none}
.public-profile-page .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #e6eff3;
}
.public-profile-page .glyphicon {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ==========================================================================
Goal edit section
========================================================================== */
.goal-edit-page label{ padding-left:0px !important; font-size: 18px}
.goal-edit-page .img-pad{ padding-left: 5px; padding-right: 5px;}
.goal-edit-page input{height:36px}


.goal-edit-page .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
}
.goal-edit-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important;
}
.goal-edit-page .panel-default {
    border-color: #fff !important;
}
.goal-edit-page .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.goal-edit-page .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.goal-edit-page .mid-span{padding-left: 15px; padding-right: 15px;}
.goal-edit-page .tab-row-pad{padding: 15px;}


.goal-edit-page .cmn-toggle
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.goal-edit-page .cmn-toggle + label
{
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.goal-edit-page input.cmn-toggle-round-flat + label
{
  padding: 2px;
  width: 45px;
  height: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.goal-edit-page input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after
{
  display: block;
  position: absolute;
  content: "";
}

.goal-edit-page input.cmn-toggle-round-flat + label:before
{
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.goal-edit-page input.cmn-toggle-round-flat + label:after
{
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

.goal-edit-page input.cmn-toggle-round-flat:checked + label
{
  background-color: #27A1CA;
}

.goal-edit-page input.cmn-toggle-round-flat:checked + label:after
{
  margin-left: 15px;
  background-color: #27A1CA;
}



.goal-edit-page .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.goal-edit-page .btn-info {
    color: gray;
    background-color: #fff;
    border-color: #ccc;
}
.goal-edit-page .bor-bot {border-bottom: 1px solid gainsboro; padding-bottom: 20px;}
.goal-edit-page .col-bg-color{background-color:#f9fafc}
.goal-edit-page .heading-fontsize{font-size:22px}
.goal-edit-page .mar-top-bot{margin-bottom: 15px; margin-top:5px}
.goal-edit-page .field-info{margin-top:5px;     color: #c5c5c5;}
.goal-edit-page .font-center{text-align: center;}
.goal-edit-page .new-heading{font-size:18px; font-weight:500;}
.goal-edit-page .col-mar-bg-color{padding: 2%; background-color: #f9fafc;}
.goal-edit-page .bor-right-align{border-right:1px solid #dae5e6; text-align:center; font-size:24px}
.goal-edit-page .pad-top{padding-top: 3px;}
.goal-edit-page .align-center{ text-align: right;}
/* ==========================================================================
Goal detail section
========================================================================== */

.goal-detail-page .pos-rel{position:relative}
.goal-detail-page .photo-section{position:absolute; top: 12px; left: 10px;}
.goal-detail-page .video-section{position:absolute; top: 12px; left: 52px;}
.goal-detail-page .link-section{position:absolute; top: 14px; left: 14px;}
.goal-detail-page .loaction-section{position:absolute; top: 12px; left: 128px;}
.goal-detail-page .caption-inside-row {margin:0px}
.goal-detail-page .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
	font-size: 12px;
}
.goal-detail-page .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.goal-detail-page .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
}
.goal-detail-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important;
}
.goal-detail-page .panel-default {
    border-color: #fff !important;
}
.goal-detail-page .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.goal-detail-page .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.goal-detail-page .mid-span{padding-left: 15px; padding-right: 15px;}
.goal-detail-page .tab-row-pad{padding: 15px;}
.goal-detail-page .btn {padding-left: 16px;
   padding-right: 16px;
   padding-top: 4px;
padding-bottom: 4px;}

/*.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}*/

.goal-detail-page .main-post{border:1px solid #eef4eb;}
.goal-detail-page .input-group{width: 100%; padding:10px}
.goal-detail-page .text-normal{color:rgba(123, 123, 123, .70); font-weight:normal}
.goal-detail-page .main-post-footer{background-color:#fafbfb; border-top:1px solid #eef4eb; height:50px}
.goal-detail-page .comment-section{background-color: #fff; border-top: 1px solid #eef4eb; height: 50px;}
.goal-detail-page .post-mar-08{margin:8px}
.goal-detail-page .post-mar-10{margin-top:10px}
.goal-detail-page .post-wid-pad-10{width: 100%; padding:10px}
.goal-detail-page .post-title{margin-bottom:0px;}
.goal-detail-page .post-name{font-size: 16px; color: #384b5f; font-weight: 500;}
.goal-detail-page .post-type{color:#b0b3b6; font-size:12px; padding-left:5px; padding-right:5px}
.goal-detail-page .post-blue{color:#409cdf}
.goal-detail-page .post-mar-10{margin-bottom: 10px;}
.goal-detail-page .post-mar-lft-10{margin-left: 10px;}
.goal-detail-page .post-mar-lft-25{margin-left: 25px;}
.goal-detail-page .post-font-size-13{font-size:13px}
.goal-detail-page .post-mar-top-10{margin-top:15px}
.goal-detail-page .post-text-bold{color: #303752; font-weight: 600;}
.goal-detail-page .main-post-radius{border-radius: 8px}
.goal-detail-page .post-bg{background-color:#fff}
.goal-detail-page ::-webkit-input-placeholder{color:#c6c8ce}
.goal-detail-page .text-22{font-size: 22px}

/* ==========================================================================
Goal-dashboard-page Section
========================================================================== */
.goal-dashboard-page{margin-bottom:15px; padding-left: 4.3%; padding-right: 4.3%;}
.goal-dashboard-page .mid-span{padding-left: 15px; padding-right: 15px;}
.goal-dashboard-page .tab-row-pad{padding: 15px;}
.goal-dashboard-page .card-title{font-size: 17px; margin-bottom: 0px; color:#303752}
.goal-dashboard-page .card-designation{font-size: 14px; margin-bottom: 0px;}
.goal-dashboard-page .card-number-icon{padding: 0px 0px 12px 0px;}
.goal-dashboard-page .card-number-txt{font-size: 24px; padding: 6px;}
.goal-dashboard-page .card-plus-ic{padding: 12px 12px 12px 0px;}
.goal-dashboard-page .card-delet-ic{padding: 12px 12px 12px 12px;}
.goal-dashboard-page .add-btn{margin-top:10px}
.goal-dashboard-page .add-btn-inside{padding: 0px 10px 0px 10px;}
.goal-dashboard-page .blue-color{color:#039be4}
.goal-dashboard-page .heading-title{ font-size:24px}
.goal-dashboard-page .thumbnail{ padding:0px; border: 2px solid #f3f7f9;box-shadow: 2px 2px 8px 0px;}
.goal-dashboard-page .caption-inside-row {margin:0px}
.goal-dashboard-page .pos-rel{position:relative}
.goal-dashboard-page .imagefit{object-fit:cover; object-position:50% 0%; width:276px; height:221px;}
.goal-dashboard-page .pos-abs{position:absolute; top:-2px; right:-4px; border-radius: 15%; padding: 0px; font-size:11px; width: 18px; height: 18px; text-align: center; border: 1px solid #e39c12;
    background-color: #fdb52a;}
.goal-dashboard-page img{image-rendering: pixelated;}
.goal-dashboard-page .price-txt{font-size: 15px; color:#303752}
.goal-dashboard-page .card-number-txt1 {padding: 2px 9px 14px 2px; color:#787069; font-size:11px}
.goal-dashboard-page .img-top-radius{border-top-right-radius: 5px; border-top-left-radius: 5px;}
.goal-dashboard-page .card-description{color:#9ba2bf}
.goal-dashboard-page .thumbnail .caption {
    padding: 25px 21px 21px 20px;
    color: #333;
}
.goal-dashboard-page .card-txt-color{color:#848d92}

.goal-dashboard-page .glyphicon {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.goal-dashboard-page .card-mar-top{text-align: center; margin-top: 62px; margin-bottom: 60px;}
.goal-dashboard-page .card-mar-top-2{margin-top: 2%;}
.goal-dashboard-page .card-mar-top-10{margin-top: 10px;}
.goal-dashboard-page .card-bullet-01{width:17px; height:17px; background-color:#f3dc5c; border-radius:4px}
.goal-dashboard-page .card-bullet-02{width:17px; height:17px; background-color:#88e45b; border-radius:4px}
.goal-dashboard-page .card-bullet-03{width:17px; height:17px; background-color:#83d5ea; border-radius:4px}
.goal-dashboard-page .card-bullet-04{width:17px; height:17px; background-color:#dbe8f0; border-radius:4px}
.goal-dashboard-page .card-pad-new{padding: 1px 1px 1px 16px;}
/*.goal-dashboard-page .card-btn-mar-22{margin-top: 22px; margin-bottom: 14px;} sachin code commented on  2-8-17*/
.goal-dashboard-page .card-btn-mar-22{margin-top: 37px; }
.goal-dashboard-page .card-btn-width{width:100%; background-color:#e5eef3; border-color:#e5eef3; color:#8ca2ad}
.goal-dashboard-page .thumbnail-border{border-color:#f3f7f9}


/* ==========================================================================
Dimension-detail-page Section
========================================================================== */
.dimension-detail-page{margin-bottom:15px; padding-left: 4.3%; padding-right: 4.3%;}
.dimension-detail-page .mid-span{padding-left: 15px; padding-right: 15px;}
.dimension-detail-page .tab-row-pad{padding: 5px;}
.dimension-detail-page .card-title{font-size: 17px; margin-bottom: 0px; color:#303752}
.dimension-detail-page .card-designation{font-size: 14px; margin-bottom: 0px;}
.dimension-detail-page .card-number-icon{padding: 0px 6px 12px 0px;}
.dimension-detail-page .card-number-txt{font-size: 24px; padding: 6px;}
.dimension-detail-page .card-plus-ic{padding: 12px 12px 12px 0px;}
.dimension-detail-page .card-delet-ic{padding: 12px 12px 12px 12px;}
.dimension-detail-page .add-btn{margin-top:10px}
.dimension-detail-page .add-btn-inside{padding: 0px 10px 0px 10px;}
.dimension-detail-page .blue-color{color:#039be4}
.dimension-detail-page .heading-title{ font-size:24px}
.dimension-detail-page .thumbnail{ padding:0px; border: 1px solid #f3f7f9; min-height: 420px}
.dimension-detail-page .img-center{text-align: center}
.dimension-detail-page .caption-inside-row {margin:0px}
.dimension-detail-page .pos-rel{position:relative}
.dimension-detail-page .imagefit{object-fit:cover; object-position:50% 0%; width:276px; height:221px;}
.dimension-detail-page .pos-abs{position:absolute; top:-2px; right:-4px; border-radius: 15%; padding: 0px; font-size:11px; width: 18px; height: 18px; text-align: center; border: 1px solid #e39c12;
    background-color: #fdb52a; }
.dimension-detail-page img{image-rendering: pixelated;}
.dimension-detail-page .price-txt{font-size: 15px; color:#303752}
.dimension-detail-page .card-number-txt1 {padding: 2px 9px 14px 7px; color:#787069; font-size:11px}
.dimension-detail-page .img-top-radius{border-top-right-radius: 5px; border-top-left-radius: 5px;}
.dimension-detail-page .card-description{color:#9ba2bf}
.dimension-detail-page .thumbnail .caption {
    padding: 23px 21px 21px 20px;
    color: #333;
}
.dimension-detail-page .card-txt-color{color:#848d92}

.dimension-detail-page .glyphicon {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dimension-detail-page .card-mar-top{text-align: center; margin-top: 62px; margin-bottom: 60px;}
.dimension-detail-page .card-mar-top-2{margin-top: 2%;}
.dimension-detail-page .card-mar-top-10{margin-top: 10px;}
.dimension-detail-page .card-bullet-01{width:20px; height:20px; background-color:#f3dc5c; border-radius:4px}
.dimension-detail-page .card-bullet-02{width:20px; height:20px; background-color:#88e45b; border-radius:4px}
.dimension-detail-page .card-bullet-03{width:20px; height:20px; background-color:#83d5ea; border-radius:4px}
.dimension-detail-page .card-bullet-04{width:20px; height:20px; background-color:#dbe8f0; border-radius:4px}
.dimension-detail-page .card-pad-new{padding: 1px 1px 1px 16px;}
.dimension-detail-page .card-btn-mar-22{margin-top: 22px; margin-bottom: 14px;}
.dimension-detail-page .card-btn-width{width:100%; background-color:#e5eef3; border-color:#e5eef3; color:#8ca2ad}
.dimension-detail-page .thumbnail-border{border-color:#ecf4f9}

/* ==========================================================================
 ACCOUNT-SETTING-SECTION
========================================================================== */
.account-setting-lft{border: 1px solid #f3f7fa !important; min-height: 445px!important; padding: 8.5px 0px 0px 16px;}
.setting-heading{
    color: #97a8b1 !important;
    font-weight: 300;
    margin: 46px 0 37px;
    font-weight: 100 !important;
    font-size: 28px !important;
}
.account-setting-page .caption-inside-row {margin:0px}
.account-setting-page .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #b1ccdc;
	font-size: 12px;
}
.account-setting-page .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.account-setting-page .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
    padding-bottom: 5px !important;
}
.account-setting-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important; padding-top:0px;
}
.account-setting-page .control-label{margin-top:26px !important;}
.account-setting-page .panel-default {
    border-color: #eaeaea !important;
}
.account-setting-page .form-control{height:32px!important; border: 1px solid #e8e8e8 !important; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); border-radius: 2px !important; padding: 4px 12px !important}
.account-setting-page .setting-col-md-3{width:19.0% !important}
.account-setting-page .setting-col-md-9{width:80.11% !important;  margin-left: 3px; padding-right: 10px;}

.account-setting-page .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.account-setting-page .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.account-setting-page .mid-span{padding-left: 15px; padding-right: 15px;}
.account-setting-page .tab-row-pad{padding: 15px;}
.account-setting-page .title-color{color:#97b9cb; font-size:14px; font-weight:400;}
.account-setting-page .lable-color{color:#85898e;font-size: 14px; font-weight:normal;letter-spacing: 0.1px;    padding-left: 0px; margin-left: -3px;}
.account-setting-page .panel-default {border-color: #ffffff !important;}
.account-setting-page .panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .05);
    box-shadow: 0 1px 1px rgba(255, 255, 255, .05);
}
.account-setting-page .setting-page-divider{ margin:10px; border-top: 1px solid #e1eaef;}
.account-setting-page .set-title-img-mar{padding-right: 9px;}
.account-setting-page a{ text-decoration:none;}
.account-setting-page .main-h2{color:#768c99}
.account-setting-page .mar-top-20{margin-top:21px}
.account-setting-page .light-blue{margin-right:15px; margin-top:19px; color:#039be4}
.account-setting-page .inline-input-pad{padding-left: 0px; padding-right: 0px;}
.account-setting-page .btn-prop{ width: 100%; background: #e6eff3; border-color:#e6eff3;  color: #337ab7;}
.account-setting-page .card-title{font-size:24px; font-weight:bold; color: #758c97; margin-top: 8px;}
.account-setting-page .card-designation{font-size: 14px; color: #90949c;}
.account-setting-page .img-circle{max-width: 83px !important; height: 83px !important; border-radius: 50%;}
.account-setting-page .add-more-inst{margin-right:0px; margin-top:20px; float:left; color:#039be4}
.account-setting-page .add-conn-btn{width: 100%; background: #e6eff3; border-color:#e6eff3;  color: #337ab7;}
.account-setting-page .pad-lft-10{padding-left:10px}
.account-setting-page .pad-lft-30{padding-left:30px}
.account-setting-page .set-btn{width: 164px; margin-left: 8px; margin-right: 8px;}


/* ==========================================================================
 SEARCH-RESULT-SECTION
========================================================================== */

.search-result-page label{ padding-left:0px !important}
.search-result-page .img-pad{ padding-left: 5px; padding-right: 5px;}
.search-result-page input{height:36px}

.search-result-page .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #b1c3cc;
	font-size: 12px;
}
.search-result-page .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.search-result-page .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
}
.search-result-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important;
}
.search-result-page .panel-default {
    border-color: #fff !important;
}
.search-result-page .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.search-result-page .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.search-result-page .mid-span{padding-left: 15px; padding-right: 15px;}
.search-result-page .tab-row-pad{padding: 15px;}
.search-result-page .card-title{font-size: 17px; margin-bottom: 0px; color:#303752}
.search-result-page .card-designation{font-size: 14px; margin-bottom: 0px; color: #b1c3cc;}
.search-result-page .card-number-icon{padding: 12px 6px 12px 0px; font-size:23px}
.search-result-page .card-number-txt{font-size: 24px; padding: 6px; color: #b1c3cc;}
.search-result-page .card-plus-ic{padding: 17px 65px 12px 0px;}
.search-result-page .card-delet-ic{padding: 12px 12px 12px 12px;}
.search-result-page .blue-color{color:#039be4}
.search-result-page .img-circle{height:68px !important; width:85px !important;}
/* ==========================================================================
 D0WNLOAD- COLLECTIONS GOAL PAGE
========================================================================== */
/*#goal-download .modal-dialog {
    width: 100px;
}*/

.goal-download .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
    padding: 5px 10px 5px 10px;
    width: 320px;

}
.goal-download .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 0px 6px;
    border-bottom: 0px;
}
goal-download .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}
.goal-download .modal-footer {
    padding: 15px 0px 15px 0px;
    text-align: left;
    border-top: 0px;
}
.goal-download .glyphicon {
    top: 0px;
	font-size:16px;
  right:-14px;
}
.goal-download .form-control {
  border-radius: 0px;
}
.modal {background-color: rgba(134, 249, 216, 0.1);}
.goal-download .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.3333333;
   	border-radius: 0px;
}
.goal-download .scrollbar
{
	height: 200px;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.goal-download .force-overflow
{
	min-height: 450px;
}


#style-1::-webkit-scrollbar-track
{
	/*webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-->*/
	border-radius: 3px;
	background-color: #eef6f9;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #bfdbe9;
}

/* ==========================================================================
ADD CONNECTIONS GOALS
========================================================================== */

.add-connection-goal .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
	font-size: 12px;
}
.add-connection-goal .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.add-connection-goal .panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF !important;
    border-color: #fff !important;
}
.add-connection-goal .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:#fff !important;
}
.add-connection-goal .panel-default {
    border-color: #fff !important;
}
.add-connection-goal .panel-heading{margin-top: 1%; margin-bottom: 0; margin-right: 13px;}
.add-connection-goal .tab-anchor-text{font-size: 14px; color: rgb(161, 189, 203);}
.add-connection-goal .mid-span{padding-left: 15px; padding-right: 15px;}
.add-connection-goal .tab-row-pad{padding: 15px;}
.add-connection-goal .card-title{font-size: 18px; margin-bottom: 0px; color:rgba(0,0,0,1.00)}
.add-connection-goal .card-designation{font-size: 14px; margin-bottom: 0px;}
.add-connection-goal .card-number-icon{padding: 12px 6px 12px 0px;}
.add-connection-goal .card-number-txt{font-size: 24px; padding: 6px;}
.add-connection-goal .card-plus-ic{padding: 12px 12px 12px 0px;}
.add-connection-goal .card-delet-ic{padding: 12px 12px 12px 12px;}
.add-connection-goal .pdf-thumb-box
{
display:inline-block !important;
position:relative !important;
overflow: hidden;
}
.add-connection-goal .add-connection-goal .pdf-thumb-box-overlay {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.add-connection-goal .pdf-thumb-box a{
	color:transparent;
}
.add-connection-goal .pdf-thumb-box a .pdf-thumb-box-overlay {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
    text-align:center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    width:100%;
    height:100%;
    border-radius:50%;
}
.add-connection-goal .pdf-thumb-box-overlay span {
margin: auto;
position: absolute;
top: 22px; left: 0; bottom: 0; right: 0
}
.add-connection-goal .pad-left-0{padding-left: 0px;}
.add-connection-goal .pos-abs{ position:absolute; bottom:0px; right:0px; z-index:222}

.goal-dimensions .pos-rel{position:relative}
.goal-dimensions .photo-section-01{position:absolute; top: 12px; right: 10px; padding: 5px;
    border-radius: 50%;}
.goal-dimensions .photo-section-02{position:absolute; top: 12px; right: 52px; padding: 5px;
    border-radius: 50%;}
.goal-dimensions .photo-section-03{position:absolute; top: 12px; right: 94px; padding: 5px;
    border-radius: 50%;}
.goal-dimensions .imagefit{object-fit:cover; object-position:50% 0%;    width: 285px; height:221px;}
.goal-dimensions .thumbnail{ padding:0px; min-height: 420px!important;}
.goal-dimensions .div-area{min-height: 10px;}
.goal-dimensions .word-break{word-break: break-all;}
.goal-dimensions .image-bg-center{background-color: #fff; text-align: center;}
/* ==========================================================================
DIMENSION MODAL
========================================================================== */
.dimensions-modal .modal-dialog {
    width: 377px;
}
.dimensions-modal .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}
.dimensions-modal .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 0\px 15px;
    border-bottom: 0px;
}
.dimensions-modal .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}
.dimensions-modal .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}
.dimensions-modal .glyphicon {
    top: 0px;
	font-size:16px;
}
.dimensions-modal .form-control {
  border-radius: 0px;
}
.modal {background-color: rgba(134, 249, 216, 0.1);}
.dimensions-modal .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.3333333;
   	border-radius: 0px;
}
.dimensions-modal .scrollbar
{
	height: 235px;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.dimensions-modal .force-overflow
{
	min-height: 450px;
}

 .dimension-details .heading-fontsize{font-size:28px; color:#384b5f}
 .dimension-details .pos-rel{position:relative}
 .dimension-details .photo-section-03{position:absolute; top: 12px; right: 10px; padding: 5px;
    border-radius: 50%;}
 .dimension-details .photo-section-02{position:absolute; top: 12px; right: 52px; padding: 5px;
    border-radius: 50%;}
 .dimension-details .photo-section-01{position:absolute; top: 12px; right: 94px; padding: 5px;
    border-radius: 50%;}

#style-1::-webkit-scrollbar-track
{
	/*webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-->*/
	border-radius: 3px;
	background-color: #eef6f9;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #bfdbe9;
}
.dimensions-modal .form-control{    border: 1px solid #e8e8e8; }
.dimensions-modal .post-blue{color:#409cdf}
.dimensions-modal .pad-lft-rht-0{padding-left:0px; padding-right: 0px;}
.dimensions-modal .pad-lft-0{padding-left:0px; padding-right: 0px;}
.dimensions-modal .mar-top-btm-10{margin-bottom: 10px; margin-top: 10px;}
.dimensions-modal .mar-top-20{margin-top:20px}
.dimensions-modal .pad-btm-20{padding-bottom: 20px;}
.dimensions-modal .mar-top-20{margin-top:20px}
.dimensions-modal .force-overflow{min-height: 250px !important}
.dimensions-modal .pad-border{border-bottom: 1px solid #eff0f1; padding-bottom: 10px; padding-right: 10px; padding-top: 10px;}
.dimensions-modal .pad-lft-10{padding-left: 10px;}
.dimensions-modal .pad-top-10{padding-top: 10px;}
/*.dimensions-modal ::-webkit-input-placeholder {  Chrome/Opera/Safari
  color: gray;
  font-size: 12px;
}*/
@media screen and (max-width:480px) {
	.dimensions-modal .modal-dialog {
    width: 94% !important;
}
	}
@media screen and (max-width:320px) {
	.dimensions-modal .modal-dialog {
    width: 94% !important;
}
}


.add-new {
	background: #eef7fe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 130px 20px 15px;
	position: relative;
	margin-bottom: 50px;
}
.add-new:before {
	content: "";
	background: #d1e7f4;
	width: 93%;
	height: 15px;
	position: absolute;
	left: 10px;
	top: -10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
}
.add-new:after {
	content: "";
	background: #b6d6eb;
	width: 86%;
	height: 15px;
	position: absolute;
	left: 20px;
	top: -18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -2;
}
.add-new .title {
	font-size: 17px;
	font-weight: 700;
	color: #6f8997;
	margin-top: 90px;
}
.add-new .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.dash-panel {
	background: #eef7fe;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 0;
	position: relative;
	margin-bottom: 50px;
  box-shadow: 3px 5px 10px 1px;
}
.dash-panel:before {
	content: "";
	background: #d1e7f4;
	width: 93%;
	height: 15px;
	position: absolute;
	left: 10px;
	top: -10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -1;
}
.dash-panel:after {
	content: "";
	background: #b6d6eb;
	width: 86%;
	height: 15px;
	position: absolute;
	left: 20px;
	top: -18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: -2;
}
.dash-panel .title {
	font-size: 17px;
	font-weight: 700;
	color: #303752;
	margin-top: 5px;
}
.dash-panel .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.dash-panel .inprogress, .dash-panel .complete {
	font-size: 13px;
	font-weight: 400;
	color: #303752;
}
.dash-panel .inprogress span, .dash-panel .complete span {
	font-size: 13px;
	font-weight: 700;
	padding: 0 10px;
}
.dash-panel img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.panel-area {
	padding: 20px 20px;
}
.notify {
	position: relative;
}
.globe {
	color: #a0cce0;
	font-size: 30px;
}
.numlabel {
	font-size: 11px;
	line-height: 12px;
	padding: 2px 2px;
	position: absolute;
	left: 15px;
	top: 9px;
	border: 1px solid #ed9500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}
.label-success {
	background-color: #ffae00;
}
.canvasjs-chart-credit {
	display: none;
}
.graphic {
	height: 80px;
	width: 80%;
	position: absolute;
	top: -26px;
	right: 0;
}
/*Profile*/


.profile-panel {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f3f7f9;
	padding: 0 0;
	position: relative;
	margin-bottom: 50px;
}
.profile-panel .title {
	font-size: 17px;
	font-weight: 700;
	color: #303752;
	margin-top: 15px;
}
.profile-panel .subtitle {
	font-size: 13px;
	font-weight: 400;
	color: #9ba2bf;
	margin-bottom: 15px;
}
.profile-panel .budget {
	font-size: 15px;
	font-weight: 400;
	color: #303752;
}
.profile-panel .days {
	font-size: 12px;
	font-weight: 400;
	color: #a7adc6;
	padding: 10px 0;
}
.profile-panel .likes, .profile-panel .Comments {
	font-size: 12px;
	font-weight: 400;
	color: #787069;
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
.profile-panel img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tipicon {
	width: 24px;
	height: 24px;
	background: url(../images/navbar-icon-notifications.png) no-repeat;
	display: inline-block;
	margin-left: 20px;
}
.profile-head {
	margin: 40px 0;
}
.profile-pic {
	width: 165px;
	height: 165px;
}
.profile-pic img {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.username {
	font-size: 25px;
	font-weight: 400;
	color: #3b4743;
	line-height: 25px;
	margin-top: 25px;
}
.username span {
	font-size: 15px;
	font-weight: 400;
	color: #838e88;
}
.button-connect {
	padding: 10px 30px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #35ad45;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 15px;
}
.button-connect:hover {
	color: #fff;
}
.intrestdiv {
	font-size: 15px;
	color: #838e88;
	margin-top: 25px;
}
.intrestdiv span {
	color: #1086bf;
}
.login-time {
	font-size: 15px;
	color: #838e88;
	margin-top: 25px;
}
.profile-heading {
	font-size: 28px;
	color: #97a8b1;
	font-weight: 300;
	margin-bottom: 20px;
}

/* ==========================================================================
Notifications
========================================================================== */
.notifications .list-group-contacts .list-group-item {
  padding: 10px;
}
.notifications .list-group-contacts .list-group-item img {
  border: 2px solid #F5F5F5;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 28px;
  margin-right: 10px;
}
.notifications .list-group-contacts .list-group-item .contacts-title {
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #303752;
}
.notifications .list-group-contacts .list-group-item p {
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 13px;
  color: #6e7592;
  font-weight: 400;
}
.notifications .list-group-contacts .list-group-item.active {
  background: #F5F5F5;
  border-color: #E5E5E5;
  color: #656d78;
}
.notifications .list-group-controls {
  position: absolute;
  right: 10px;
  top: 15px;
}
.notifications .list-group-status {
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 10px;
  position: relative;
}
.notifications .list-group-status:after {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 10px;
  height: 10px;
  border: 2px solid #CCC;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  background: transparent;
}
.notifications .list-group-status.status-online:after {
  border-color: #95b75d;
}
.notifications .list-group-status.status-away:after {
  border-color: #fea223;
}
.notifications .list-group-status.status-offline:after {
  border-color: #CCC;
}

.notifications a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #fafbfc;
}
.notifications .panel-heading{background-color: #fff; border:none; color:#384b5f}
.notifications .mb-0{margin-bottom: 0px !important;}
.notifications .main-title{ font-size: 28px; color:#384b5f; font-weight: 100}
.notifications .fc{font-size: 15px; font-weight: 400; color: #303752;}
.notifications .time{font-size: 13px; font-weight: 400; color: #b3b9d2 !important;}
.notifications .connection-type-space{margin-top: 10px; margin-right: 40px !important;}


/* ==========================================================================
Landing Page
========================================================================== */

.landing-page-css {margin-bottom:15px; }
.landing-page-css .mid-span{padding-left: 15px; padding-right: 15px;}
.landing-page-css .tab-row-pad{padding: 15px;}
.landing-page-css .card-title{font-size: 17px; margin-bottom: 0px; color:#303752}
.landing-page-css .card-designation{font-size: 14px; margin-bottom: 0px;}
.landing-page-css .card-number-icon{padding: 0px 6px 12px 0px;}
.landing-page-css .card-number-txt{font-size: 24px; padding: 6px;}
.landing-page-css .card-plus-ic{padding: 12px 12px 12px 0px;}
.landing-page-css .card-delet-ic{padding: 12px 12px 12px 12px;}
.landing-page-css .add-btn{margin-top:10px}
.landing-page-css .add-btn-inside{padding: 0px 10px 0px 10px;}
.landing-page-css .blue-color{color:#039be4}
.landing-page-css .heading-title{ font-size:24px}
.landing-page-css .thumbnail{ padding:0px; border: 1px solid #f3f7f9;
	-webkit-box-shadow: 0px 0px 20px 3px rgb(220, 217, 217);
    -moz-box-shadow: 0px 0px 20px 3px rgb(220, 217, 217);
     box-shadow: 0px 0px 20px 0px rgb(220, 217, 217);
}
.landing-page-css .caption-inside-row {margin:0px}
.landing-page-css .pos-rel{position:relative}
.landing-page-css .pos-abs{position:absolute; top:-2px; right:-4px; border-radius: 15%; padding: 0px; font-size:11px; width: 18px; height: 18px; text-align: center; border: 1px solid #e39c12;
    background-color: #fdb52a;}
/*.landing-page-css   img{image-rendering: pixelated;}*/
.landing-page-css .price-txt{font-size: 15px; color:#303752}
.landing-page-css  .card-number-txt1 {padding: 2px 9px 14px 7px; color:#787069; font-size:11px}
.landing-page-css  .img-top-radius{border-top-right-radius: 5px; border-top-left-radius: 5px;}
.landing-page-css  .card-description{color:#9ba2bf}
.landing-page-css  .thumbnail .caption {
    padding: 23px 21px 21px 20px;
    color: #333;
}
.landing-page-css  .card-txt-color{color:#848d92}

.landing-page-css .glyphicon {
    position: relative;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.landing-page-css .card-mar-top{text-align: center; margin-top: 62px; margin-bottom: 60px;}
.landing-page-css .card-mar-top-2{margin-top: 2%;}
.landing-page-css .card-mar-top-10{margin-top: 10px;}
.landing-page-css .card-bullet-01{width:20px; height:20px; background-color:#f3dc5c; border-radius:4px}
.landing-page-css .card-bullet-02{width:20px; height:20px; background-color:#88e45b; border-radius:4px}
.landing-page-css .card-bullet-03{width:20px; height:20px; background-color:#83d5ea; border-radius:4px}
.landing-page-css .card-bullet-04{width:20px; height:20px; background-color:#dbe8f0; border-radius:4px}
.landing-page-css .card-pad-new{padding: 1px 1px 1px 16px;}
.landing-page-css .card-btn-mar-22{margin-top: 22px; margin-bottom: 14px;}
.landing-page-css .card-btn-width{width:100%; background-color:#e5eef3; border-color:#e5eef3; color:#8ca2ad}
.landing-page-css .thumbnail-border{border-color:#ecf4f9}

.landing-page-css .home-img-01 img{width: 68px; border-radius: 50%; margin-right:8px}
.landing-page-css .home-img-02 img{ width:10px;}

.landing-page-css .home-img-01 img{width: 68px; border-radius: 50%; margin-right:8px}
.landing-page-css .home-img-02 img{ width:10px;}
.landing-page-css .network img{ width:22px}
.landing-page-css .global-network .title{margin-bottom: 0px; font-size: 15px; color:#303752; font-weight: 400; line-height: 8px;}
.landing-page-css .global-network .title-sub{margin-bottom: 0px; color:#9ba2bf}
.landing-page-css .global-network .user-ic{width: 15px; vertical-align: baseline;}
.landing-page-css .global-network .user-ic-value{font-size:21px; color:#74858f;font-weight:100}
.landing-page-css .global-network .user-ic-loc{font-size:13px; color:#737b99; vertical-align: super; font-weight: 400;}

.landing-page-css .home-img-new .img-01{width: 68px; border-radius: 50%; margin-right:8px; margin-top: 20px;}
.landing-page-css .home-img-02 img{ width:10px;}
.landing-page-css .network img{ width:22px}

.landing-page-css .col-md-2{width:12.5%; text-align: center;}
.landing-page-css .inspire-img{width:auto !important; margin-top: 25px;}

/*.home-img-new .img-01{width: 100px; border-radius: 50%; margin-right:8px}
.home-img-02 img{ width:10px;}
.network img{ width:22px}	*/

.landing-page-css .col-md-2{width:12.5%; text-align: center;}
.landing-page-css .inspire-img{width:auto !important; margin-top: 25px;}

.landing-page-css #goal-download .modal-dialog {
    width: 350px;
}

.landing-page-css .goal-download .modal-content {
    background-color: #FFF;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
    padding: 5px 10px 5px 10px;
}
.landing-page-css .goal-download .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 0px 6px;
    border-bottom: 0px;
}
.landing-page-css .goal-download .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}
.landing-page-css .goal-download .modal-footer {
    padding: 15px 0px 15px 0px;
    text-align: left;
    border-top: 0px;
}
.landing-page-css .goal-download .glyphicon {
    top: 0px;
	font-size:16px;
  right:-14px;
}
.landing-page-css .goal-download .form-control {
  border-radius: 0px;
}
.landing-page-css .modal {background-color: rgba(134, 249, 216, 0.1);}
.landing-page-css .goal-download .btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 1.3333333;
   	border-radius: 0px;
}
.landing-page-css .goal-download .scrollbar
{
	height: 300px;
	background: #fff;
	/*overflow-y: scroll;*/
	margin-bottom: 25px;
}

.landing-page-css .goal-download .force-overflow
{
	min-height: 450px;
}

.landing-page-css #style-1::-webkit-scrollbar-track
{
	border-radius: 3px;
	background-color: #eef6f9;
}

.landing-page-css #style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.landing-page-css #style-1::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: #bfdbe9;
}

 .landing-page-css .copyright { min-height:40px; color:#BCBCBC}
 .landing-page-css .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .landing-page-css .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .landing-page-css .post p { font-size:12px; color:#FFF; line-height:20px;}
 .landing-page-css .post p span { display:block; color:#8f8f8f;}
 .landing-page-css .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .landing-page-css .bottom_ul li { float:left; line-height:40px;}
 .landing-page-css .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .landing-page-css .bottom_ul li a { color:#90a8b5;  font-size:12px;}

 .landing-page-css .last .panel .panel-heading {
  padding: 10px;
}
.landing-page-css .last .panel .panel-heading .panel-title-image {
  float: left;

  margin-right: 5px;
}
.landing-page-css .last .panel .panel-heading .panel-title {
  margin-left: 7px;
}
.landing-page-css .last .panel .panel-heading .panel-title-box {
  float: left;
}
.landing-page-css .last .panel .panel-heading .panel-title-box h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #434a54;
  padding: 0px;
  margin: 0px;
}
.landing-page-css .last .panel .panel-heading .panel-title-box span {
  font-size: 12px;
  color: #a7adb5;
  font-weight: 400;
  line-height: 12px;
}
.landing-page-css .last .panel .panel-heading,
.landing-page-css .last .panel .panel-footer,
.landing-page-css .last .panel .panel-body {
  float: left;
  width: 100%;
}
.landing-page-css .last .panel .panel-body {
  padding: 15px;
  position: relative;
}
.landing-page-css .last ul.panel-controls {
  float: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
.landing-page-css .last ul.panel-controls > li {
  float: left;
}
.landing-page-css .last ul.panel-controls > li > a {
  display: block;
  float: left;

  height: 20px;
  text-align: center;
  line-height: 28px;
  color: #656d78;

  margin-left: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.landing-page-css .last ul.panel-controls > li > a.control-primary {
  color: #1D2127;
  border-color: #1D2127;
}
.landing-page-css .last ul.panel-controls > li > a.control-success {
  color: #95b75d;
  border-color: #95b75d;
}
.landing-page-css .last ul.panel-controls > li > a.control-info {
  color: #3fbae4;
  border-color: #3fbae4;
}
.landing-page-css .last ul.panel-controls > li > a.control-warning {
  color: #fea223;
  border-color: #fea223;
}
.landing-page-css .last ul.panel-controls > li > a.control-danger {
  color: #b64645;
  border-color: #b64645;
}

.landing-page-css .last .panel-hidden-controls:hover ul.panel-controls > li > a {
  opacity: 0.8;
  filter: alpha(opacity = 80);
}
.landing-page-css .last .panel-hidden-controls:hover ul.panel-controls > li > a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.landing-page-css .last ul.panel-controls > li.label-control .label,
.landing-page-css .last .glyphicon {
    position: relative;
    top: -3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs-txt{font-size: 11px; color: #688697; cursor: pointer; line-height: 9px;}
.thumb-pos-r{padding:0px; position:relative; overflow:hidden; border-radius:6px}
.corner-ticket-blue{position:absolute; top:0px; right:0px; width: 0; height: 0;    border-top: 45px solid #039be4; border-left: 45px solid transparent;}
.corner-ticket-brown{position:absolute; top:0px; right:0px; width: 0; height: 0;    border-top: 45px solid #f95e3f; border-left: 45px solid transparent;}
.corner-icon-img{position:absolute; top:-40px; right:6px;}
.thumbnail{border-radius: 6px !important}
.img-width-165{width:165px !important; height:165px !important; border-radius: 50%}
.img-width-85{width:85px !important; height:85px !important; border-radius: 50%}

/* ==========================================================================
Testimonials Page
========================================================================== */

.testimonials-searchContainer
{
  border-radius: 6px;
  /*padding: 2px; */
  background-color: #fafafc;
  /*font-family: Tahoma; */
  color: #000;
  margin-top: 17px;
  margin-bottom:5px;
  margin-right: 2px;
}

.testimonial-staron
{
  color: #f7c707;
}

.testimonial-staroff
{
  color: #afacac;
}
.testimonial-white
{
  color: #ffffff;
}
@media only screen and (max-width: 650px) and (min-width: 320px)
#dummy form {
    display:none !important;
}
