/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .searchwidth {
        min-width: 143px;
        color: #f2f6f9;
        padding-left: 10px
    }
    .new-css{
        color:#303752; font-size: 15px; margin-bottom: 0px; line-height: 16px; max-width: 150px; line-height: 19px;
    }
    .dimension-page .add-pad {
        padding: 2px 2px 2px 1px;
    }
    .goal-detail-page .w-86 {
        width: 70%
    }
    .dimension-page .dimension-search .scrollbar {
        height: 338px;
        background: #eff7fb;
        overflow-y: scroll;
        margin-bottom: 23px;
    }
    .hide_for_smalldesktop {
        display: none !important;
    }
    .connection-container-page .mar-search {
        padding-right: 0px;
        padding-left: 25px;
    }
    .connection-container-page .checkbox label {
        font-size: 11px;
    }
    .connection-container-page .no-pad,
    .dimension-page .no-pad,
    .goal-detail-page .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .goal-dimensions .imagefit {
        height: 145px;
    }
    .goal-dimensions .div-area {
        min-height: 175px;
    }
    .goal-dashboard-page .caption-inside-row .no-pad {
        padding: 0px 0px 0px 0px
    }
    .goal-dashboard-page .card-description {
        margin-top: -4px;
    }
    .canvas-margin {
        display: inline-block;
        margin-top: -10px;
        margin-right: -4px;
    }
    .trim-info {
        max-width: 170px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* line-height: 15px; */
    }
    .goal-dashboard-page .card-mar-top {
        margin-top: 28px;
        margin-bottom: 30px;
        padding: 5px;
    }
    .goal-dashboard-page .card-btn-width {
        padding-bottom: 12px;
        margin-top: -12px;
    }
    .goal-dashboard-page .card-plus-ic {
        padding: 1px 5px 12px 0px;
    }
    .goal-dashboard-page .img-top-radius {
        cursor: pointer;
        height: 203px;
        width: 100%
    }
    .goal-dashboard-page .thumbnail .card-pad {
        padding: 6px 6px 15px 6px
    }
    .goal-dashboard-page .card-title {
        cursor: pointer;
        margin-top: 4px;
    }
    .goal-dashboard-page .price-txt {
        font-size: 13px;
        color: #303752
    }
    .goal-dashboard-page .destime {
        margin-top: -4px;
        font-size: 12px
    }
    .goal-dashboard-page .top-pad {
        padding-top: 13px;
    }
    .goal-dimensions .mar-canvas {
        display: inline-block;
        margin-top: -10px;
        margin-left: 8px;
    }
    .profile-page .public-profile-page .card-title {
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .profile-page .public-profile-page ul {
        font-size: 22px;
    }
    .profile-page .pad-27 {
        padding-left: 27px;
    }
    .profile-page .goal-dashboard-page {
        padding: 0px 0px 0px 0px;
    }
    .profile-page .height_div {
        height: 236px;
    }
    .public-profile-page .add-btn-inside {
        padding: 0px 28px 0px 28px;
    }
    .profile-page .do-padding {
        padding-top: 25px;
        padding-left: 15px;
    }
    .dimension-page .avatar-title {
        padding-left: 45px;
    }
    .goal-detail-page .m-t-145 {
        margin-top: 20px;
    }
    .testimonials .equal-width {
        width: 200px;
    }
    .testimonials .fontsize {
        font-size: 22px;
        margin-top: 20px;
    }
    .testimonials .media-object {
        display: block;
        width: 70px;
        height: 70px;
    }
    .testimonials .media-heading {
        font-size: 15px;
        max-width: 138px;
    }
    .testimonials .widthper {
        width: 70%;
        font-size: 14px;
    }
    .testimonials .width_40 {
        width: 30%;
    }
    .testimonials .gray-light {
        font-size: 13px;
        max-width: 138px;
    }
    .testimonials .gray-light-date {
        font-size: 13px;
        color: #b1bab5;
    }
    .goal-detail-page .pad-left {
        padding-top: 18px;
        padding-left: 18px;
    }
    .goal-detail-page .post-add {
        padding-left: 21px;
        margin-top: 11px;
    }
    .connection-container-page .collaborators .add-pad{
        padding-left: 5px; padding-top: 4px;

    }
    .connection-container-page .collaborators .card-title,
    .connection-container-page .collaborators .card-designation span
    {
        max-width: 110px !important;
    }
    .testimonials .widthperedit {
        width: 70%;
        padding-left: 10px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 1281px) {
    .new-css{
        color:#303752; font-size: 15px; margin-bottom: 0px; line-height: 16px; max-width: 150px; line-height: 19px;
    }
    .searchwidth {
        min-width: 384px;
        color: #f2f6f9;
        padding-left: 10px
    }
    .goal-detail-page .w-86 {
        width: 86%
    }
    .dimension-page .dimension-search .scrollbar {
        height: 300px;
        background: #eff7fb;
        overflow-y: scroll;
        margin-bottom: 23px;
    }
    .goal-detail-page .p-r-20 {
        padding-right: 20px;
    }
    .goal-detail-page .m-t-145 {
        margin-top: 20px;
    }
    .dimension-page .add-pad {
        padding: 21px 21px 21px 19px;
    }
    .hide_for_bigdesktop {
        display: none !important;
    }
    .connection-container-page .mar-search {
        padding-right: 0px;
        padding-left: 25px;
    }
    .goal-dashboard-page .card-description {
        margin-top: -4px;
    }
    .canvas-margin {
        display: inline-block;
        margin-top: -10px;
        margin-right: -4px;
    }
    .goal-dashboard-page .card-mar-top {
        margin-top: 28px;
        margin-bottom: 30px;
    }
    .goal-dashboard-page .card-plus-ic {
        padding: 1px 5px 12px 0px;
    }
    .goal-dashboard-page .img-top-radius {
        cursor: pointer;
        height: 203px;
        width: 100%
    }
    .goal-dashboard-page .thumbnail .card-pad {
        padding: 6px 6px 32px 6px;
    }
    .goal-dashboard-page .card-title {
        cursor: pointer;
        margin-top: 4px;
    }
    .goal-dashboard-page .price-txt {
        font-size: 13px;
        color: #303752
    }
    .goal-dashboard-page .destime {
        margin-top: -4px;
        font-size: 12px
    }
    .goal-dashboard-page .top-pad {
        padding-top: 13px;
    }
    .goal-dimensions .mar-canvas {
        display: inline-block;
        margin-top: -10px;
        margin-left: 8px;
    }
    .profile-page .public-profile-page .card-title {
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .profile-page .public-profile-page ul {
        font-size: 22px;
    }
    .profile-page .pad-27 {
        padding-left: 27px;
    }
    .profile-page .goal-dashboard-page {
        padding: 0px 0px 0px 0px;
    }
    .profile-page .height_div {
        height: 236px;
    }
    .public-profile-page .add-btn-inside {
        padding: 0px 28px 0px 28px;
    }
    .profile-page .do-padding {
        padding-top: 25px;
        padding-left: 15px;
    }
    .dimension-page .avatar-title {
        padding-left: 25px;
    }
    .testimonials .equal-width {
        width: 200px;
    }
    .testimonials .fontsize {
        font-size: 22px;
        margin-top: 20px;
    }
    .testimonials .media-object {
        display: block;
        width: 70px;
        height: 70px;
    }
    .testimonials .media-heading {
        font-size: 15px;
        max-width: 212px;
    }
    .testimonials .widthper {
        width: 70%;
        font-size: 14px;
    }
    .testimonials .width_40 {
        width: 30%;
    }
    .testimonials .gray-light {
        font-size: 13px;
        max-width: 212px;
    }
    .testimonials .gray-light-date {
        font-size: 13px;
        color: #b1bab5;
        max-width: 212px;
    }
    .goal-detail-page .pad-left {
        padding-top: 18px;
        padding-left: 18px;
    }
    .goal-detail-page .post-add {
        padding-left: 21px;
        margin-top: 11px;
    }
    .connection-container-page .collaborators .add-pad{
        padding-left: 19px; padding-top: 4px;

    }
    .connection-container-page .collaborators .card-title,
    .connection-container-page .collaborators .card-designation span
    {
        max-width: 150px !important;
    }
    .testimonials .widthperedit {
        width: 70%;
        padding-left: 10px;
        font-size: 10px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .new-css{
        color:#303752; font-size: 15px; margin-bottom: 0px; line-height: 16px; max-width: 150px !important; line-height: 19px;
    }
    .account-setting-page .card-title {
        font-size: 17px;
    }
    .account-setting-page .lable-color,
    .account-setting-page .form-control {
        font-size: 8px;
    }
    .account-setting-page .img-circle {
        max-width: 60px !important;
        height: 60px !important;
    }
    .testimonials .fontsize {
        font-size: 22px;
    }
    .mar-t-10 {
        margin-top: 10px;
    }
    .searchwidth {
        min-width: 143px;
        color: #f2f6f9;
        padding-left: 10px
    }
    .goal-detail-page .w-86 {
        width: 86%
    }
    .dimension-page .add-pad {
        padding: 21px 21px 21px 19px;
    }
    .goal-detail-page .m-t-145 {
        margin-top: 20px;
    }
    .dimension-page .dimension-search .scrollbar {
        height: 300px;
        background: #eff7fb;
        overflow-y: scroll;
        margin-bottom: 23px;
    }
    .connection-container-page .mar-search {
        padding-right: 0px;
        padding-left: 16px;
    }
    .mar-t-18 {
        margin-top: 18px;
    }
    .trim-info {
        max-width: 180px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* line-height: 15px; */
    }
    .goal-dimensions .imagefit {
        height: 145px;
    }
    .goal-dimensions .div-area {
        min-height: 175px;
    }
    .goal-dashboard-page .card-pad-new {
        padding: 1px 1px 1px 4px;
        font-size: 11px;
    }
    .goal-dashboard-page .card-bullet-01 {
        width: 10px;
        height: 10px;
        background-color: #f3dc5c;
        border-radius: 1px;
        margin-right: 5px;
        margin-top: 4px;
    }
    .goal-dashboard-page .card-bullet-02 {
        width: 10px;
        height: 10px;
        background-color: #88e45b;
        border-radius: 1px;
        margin-right: 5px;
        margin-top: 4px;
    }
    .goal-dashboard-page .card-bullet-04 {
        width: 10px;
        height: 10px;
        background-color: #dbe8f0;
        border-radius: 1px;
        margin-right: 5px;
        margin-top: 4px;
    }
    .goal-dashboard-page .card-description {
        margin-top: -4px;
    }
    .canvas-margin {
        display: inline-block;
        margin-top: -10px;
        margin-right: -4px;
    }
    .goal-dashboard-page .card-mar-top {
        margin-top: 28px;
        margin-bottom: 30px;
        padding: 5px;
    }
    .hide_for_tablet {
        display: none !important;
    }
    .goal-dashboard-page .card-plus-ic {
        padding: 1px 5px 12px 0px;
    }
    .goal-dashboard-page .caption-inside-row .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .goal-dashboard-page .card-title {
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 2px;
    }
    .goal-dashboard-page .card-btn-width {
        padding-bottom: 12px;
        font-size: 12px;
        padding: 10px 10px 10px 5px;
        margin-top: -12px;
    }
    .goal-dashboard-page .price-txt {
        font-size: 13px;
        color: #303752
    }
    .goal-dashboard-page .img-top-radius {
        cursor: pointer;
        height: 207px;
        width: 100%
    }
    .goal-dashboard-page .destime {
        margin-top: -4px;
        font-size: 12px;
    }
    .goal-dashboard-page .top-pad {
        padding-top: 13px;
    }
    .goal-dimensions .mar-canvas {
        display: inline-block;
        margin-top: -10px;
        margin-left: 8px;
    }
    .profile-page .public-profile-page .card-title {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .profile-page .public-profile-page ul {
        font-size: 22px;
    }
    .profile-page .pad-27 {
        padding-left: 27px;
    }
    .profile-page .goal-dashboard-page {
        padding: 0px 0px 0px 0px;
    }
    .profile-page .height_div {
        height: 236px;
    }
    .public-profile-page .add-btn-inside {
        padding: 0px 28px 0px 28px;
    }
    .profile-page .do-padding {
        padding-top: 25px;
        padding-left: 15px;
    }
    .dimension-page .avatar-title {
        padding-left: 60px;
    }
    .flo-rig {
        float: right !important;
    }
    .testimonials .equal-width {
        width: 200px;
    }
    .testimonials .media-object {
        display: block;
        width: 70px;
        height: 70px;
    }
    .testimonials .media-heading {
        font-size: 15px;
        max-width: 82px;
    }
    .testimonials .widthper {
        width: 70%;
        font-size: 14px;
    }
    .testimonials .width_40 {
        width: 30%;
    }
    .testimonials .gray-light {
        font-size: 13px;max-width: 82px;
    }
    .testimonials .gray-light-date {
        font-size: 13px;
        color: #b1bab5;max-width: 82px;
    }
    .goal-detail-page .pad-left {
        padding-top: 18px;
        padding-left: 18px;
    }
    .goal-detail-page .post-add {
        padding-left: 21px;
        margin-top: 11px;
    }
    .connection-container-page .collaborators .add-pad{
        padding-left: 5px; padding-top: 4px;

    }
    .connection-container-page .collaborators .card-title,
    .connection-container-page .collaborators .card-designation span
    {
        max-width: 130px !important;
    }
    .connection-container-page .collaborators .no-pad
    {
       padding: 0px !important;
    }
    .testimonials .widthperedit {
        width: 70%;
        padding-left: 10px;
        font-size: 10px;
    }

}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /* */
    .img-width-68 {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
    }
    .new-css{
        color:#303752; font-size: 14px; margin-bottom: 0px; line-height: 16px; max-width: 110px !important; line-height: 19px;
    }
    .profile-page .container-fluid
    {
        padding-top: 40px;
    }
    .rhtt {
        right: -22px !important;
    }
    .lftt {
        left: -26px !important;
    }
    .testimonials .searchWidth {
        width: 227px;
        color: white;
    }
    .goal-detail-page .post-add {
        padding: 0px;
        margin-top: 11px;
    }
    .testimonials .gray-light {
        font-size: 10px;
        max-width: 135px;
        margin-bottom: 0px;
    }
    .testimonials .gray-light-date {
        font-size: 10px;
        color: #b1bab5;
    }
    .testimonials .widthper {
        width: 60%;
        padding-left: 10px;
        font-size: 10px;
    }
    .testimonials .widthperedit {
        width: 70%;
        padding-left: 10px;
        font-size: 10px;
    }
    .testimonials .width_40 {
        width: 40%;
    }
    .testimonials .equal-width {
        width: 200px;
    }
    .mar-t-10 {
        margin-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .notifications .connection-type-space {
        margin-top: 0px;
        margin-right: 5px !important;
    }
    .profile-page .dropdown-menu {
        min-width: 140px;
    }
    .public-profile-page .dropdown ul.dropdown-menu {
        width: 142px;
    }
    .goal-detail-page .m-t-145 {
        margin-top: 20px;
    }
    .navbar-fixed-top .tabs {
        padding: 0;
        width: 100%;
        display: table;
        table-layout: fixed;
        /* optional */
    }
    .navbar-fixed-top .tabs .cols {
        display: table-cell;
        width: auto;
        text-align: center;
    }
    .navbar-fixed-bottom .tabs {
        padding: 0;
        width: 100%;
        display: table;
        table-layout: auto;
        /* optional */
    }
    .navbar-fixed-bottom .not-text {
        width: 192px;
        font-size: 13px;
        color: #42535d;
    }
    .navbar-fixed-bottom .tabs .cols {
        display: table-cell;
        width: 70px;
        text-align: center;
    }
    .navbar-fixed-bottom .dropdown-menu:before {
        position: absolute;
        top: 55px;
        left: 48%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #501F1F;
        border-left: 7px solid transparent;
        border-bottom-color: #f4f9fb;
        content: '';
    }
    .dimension-page .dimension-search .scrollbar {
        height: 300px;
        background: #eff7fb;
        overflow-y: scroll;
        margin-bottom: 23px;
    }
    .dimension-page .add-pad {
        padding: 21px 21px 21px 19px;
    }
    .connection-container-page .mar-search {
        padding-right: 0px;
        padding-left: 0px;
    }
    .profile-page .public-profile-page .card-title {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .profile-page .profile-01 {
        height: 180px;
    }
    .canvas-margin {
        display: inline-block;
        margin-top: -5px;
        margin-right: -4px;
    }
    .goal-dimensions .imagefit {
        height: 145px;
    }
    .goal-dimensions .div-area {
        min-height: 175px;
    }
    .hide_for_mobile {
        display: none !important;
    }
    .goal-dashboard-page .card-mar-top {
        margin-top: 28px;
        margin-bottom: 30px;
    }
    .goal-dashboard-page .card-description {
        margin-top: -4px;
    }
    .trim-info {
        max-width: 185px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*line-height: 15px;*/
    }
    .goal-dashboard-page .card-plus-ic {
        padding: 1px 5px 12px 0px;
    }
    .goal-dashboard-page .img-top-radius {
        cursor: pointer;
        height: 223px;
        width: 100%
    }
    .goal-dashboard-page .no-padd {
        padding: 5px 2px 5px 2px;
    }
    .goal-dashboard-page .caption-inside-row .no-pad,
    .connection-page .no-pad,
    .profile-page .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .goal-dashboard-page .thumbnail .caption {
        padding: 5px 5px 5px 5px;
        color: #333;
    }
    .goal-dashboard-page .card-btn-width {
        /* margin-top: -16px; */
        margin-top: 0px;
    }
    .goal-dashboard-page .card-title {
        cursor: pointer;
        margin-top: 4px;
    }
    .goal-dashboard-page .price-txt {
        font-size: 13px;
        color: #303752
    }
    .goal-dashboard-page .destime {
        margin-top: -4px;
        font-size: 12px;
    }
    .goal-dashboard-page .top-pad {
        padding-top: 13px;
    }
    .goal-dimensions .mar-canvas {
        display: inline-block;
        margin-top: -10px;
        margin-left: 8px;
    }
    .profile-page .public-profile-page ul {
        font-size: 18px;
    }
    .profile-page .goal-dashboard-page .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .profile-page .height_div {
        height: 180px;
    }
    .public-profile-page .add-btn-inside {
        padding: 0px 10px 0px 10px;
    }
    .navbar-fixed-bottom .nav-note {
        position: absolute;
        top: 2px;
        right: 21px;
        height: 17px;
        width: 25px;
        border-radius: 2px;
        border: 1px solid #e39c12;
        text-align: center;
        padding-top: 0px;
        line-height: 14px;
    }
    .navbar-fixed-bottom .drop-up {
        top: auto;
        bottom: 100% !important;
    }
    .navbar-fixed-bottom .not-bg {
        /* margin-left: 15px; */
        /* margin-right: 15px; */
        background-color: #f6fafc;
    }
    .navbar-fixed-bottom .header-nav ul.dropdown-menu:before {
        bottom: -10px;
        left: 48% !important;
    }
    .navbar-fixed-bottom .dropdown-menu1:before {
        bottom: -7px;
    }
    .navbar-fixed-bottom .dropdown-notifications1 .dropdown-container,
    .navbar-fixed-bottom .dropdown-notifications1 .dropdown-menu {
        width: 345px;
    }
    .navbar-fixed-bottom .dropdown-menusetting:before {
        bottom: -3px;
        left: 74% !important;
    }
    .notifications .main-title {
        font-size: 20px;
    }
    .flo-rig {
        float: right !important;
    }
    .testimonials .media-object {
        display: block;
        width: 30px;
        height: 30px;
    }
    .testimonials .media-heading {
        font-size: 15px;
        max-width: 135px;
        margin-bottom: 0px;
    }

    .searchContainer {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%
    }
    .menuhwidth {
        width: 80%;
        color: white;
    }
    .searchwidth {
        /* height: 10px; */
        width: 90%;
        color: white;
    }
    .goal-detail-page .pad-left {
        padding-top: 18px;
        padding-left: 18px;
    }
    .goal-detail-page .goal-float-l {
        float: left !important;
    }
    .goal-detail-page .goal-text-c {
        text-align: left !important;
    }
    .dimension-page ::-webkit-input-placeholder {
        font-size: 10px!important;
     }
     .testimonials ::-webkit-input-placeholder {
        color:#9CA1BF;
     }

     .dimension-page :-moz-placeholder { /* Firefox 18- */
           font-size: 10px!important;
     }
     .testimonials :-moz-placeholder { /* Firefox 18- */
        color:#9CA1BF;
     }
     .dimension-page ::-moz-placeholder {  /* Firefox 19+ */
           font-size: 10px!important;
     }
     .testimonials::-moz-placeholder {  /* Firefox 19+ */
        color:#9CA1BF;
     }
     .tooltip {
        display: none !important;
    }
    .connection-container-page .collaborators .add-pad{
        padding-left: 0px; padding-top: 0px;

    }
    .connection-container-page .collaborators .card-title,
    .connection-container-page .collaborators .card-designation span
    {
        max-width: 120px !important;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .new-css{
        color:#303752; font-size: 11px; margin-bottom: 0px; line-height: 16px; max-width: 80px !important; line-height: 19px;
    }
    .tooltip {
        display: none !important;
    }
    .connection-container-page .collaborators .card-title,
    .connection-container-page .collaborators .card-designation span
    {
        max-width: 90px !important;
    }

    .connection-container-page .collaborators .add-pad{
        padding-left: 0px; padding-top: 0px;

    }
    .navbar-fixed-bottom .dropdown-menu:before {

        left: 47% !important;
    }
    .navbar-fixed-bottom .dropdown-menu1:before {

        left: 48% !important;
    }

    .navbar-fixed-bottom .dropdown-menusetting:before {
        bottom: -3px;
        left: 68% !important;
    }
    .goal-detail-page .mob-t-c {
        text-align: unset !important;
    }
    .goal-detail-page .goal-text-c {
        text-align: left !important;
    }
    .goal-detail-page .post-type {
        font-size: 9px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .goal-detail-page .goal-float-l {
        float: left;
    }
    .goal-detail-page .post-type {
        font-size: 9px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .goal-detail-page .pad-left,
    .goal-detail-page .post-add {
        padding: 0px !important;
    }
    .goal-detail-page .post-name {
        font-size: 10px !important;
    }
    .searchContainer {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%
    }
    .testimonials .widthperedit {
        width: 100%;
        padding-left: 10px;
        font-size: 10px;
    }
    .searchwidth {
        /* height: 10px; */
        width: 80%;
        color: white;
    }
    .goal-detail-page .col-pad {
        padding-right: 2px !important;
        padding-left: 2px !important;
    }
    .menuhwidth {
        width: 80%;
        color: white;
    }
    .goal-detail-page .avatar-img-01 {
        text-align: justify !important;
        float: none !important;
    }
    .goal-detail-page .goal-title {
        font-size: 18px !important;
        width: 192px;
        /*margin-left: 64px; vamc 26-10-17*/
        margin-left: 1%;
        word-break:normal;
    }
    .account-setting-lft {
        min-height: 263px!important;
        padding: 0px 0px 0px 0px;
    }
    .account-setting-page .add-more-inst {
        font-size: 10px;
    }
    .account-setting-page .card-title {
        font-size: 17px;
    }
    .account-setting-page .lable-color,
    .account-setting-page .form-control {
        font-size: 8px;
    }
    .account-setting-page .img-circle {
        max-width: 60px !important;
        height: 60px !important;
    }
    .account-setting-page .set-btn {
        width: 110px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .testimonials .fontsize {
        font-size: 12px;
        margin-top: 5px;
    }
    .testimonials .fsize {
        font-size: 10px;
    }
    .testimonials .equal-width {
        width: 87px;
    }
    .testimonials .media-heading {
        font-size: 12px;
            max-width: 66px;
            margin-bottom: 0px;
    }
    .testimonials .gray-light {
        font-size: 10px !important;
        max-width: 66px;
        margin-bottom: 0px;
    }
    .connection-container-page .mar-search {
        padding-right: 0px;
        padding-left: 0px;
    }
    .notifications .list-group-contacts .list-group-item p {
        font-size: 11px;
        width: 75%;
    }
    .navbar-fixed-bottom .header-nav ul.dropdown-menu:before {
        bottom: -10px;
        left: 48% !important;
    }
    .navbar-fixed-bottom .dropdown-notifications .dropdown-container,
    .navbar-fixed-bottom .dropdown-notifications .dropdown-menu {
        width: 319px;
    }
    .navbar-fixed-bottom .dropdown-notifications1 .dropdown-container,
    .navbar-fixed-bottom .dropdown-notifications1 .dropdown-menu {
        width: 231px;
    }
    .navbar-fixed-bottom .not-text {
        width: 137px;
        font-size: 10px;
        color: #42535d;
    }
    .navbar-fixed-bottom .nav-note {
        position: absolute;
        top: 4px;
        right: 1px;
        height: 17px;
        width: 25px;
        border-radius: 2px;
        border: 1px solid #e39c12;
        text-align: center;
        padding-top: 0px;
        line-height: 14px;
    }
    .profile-page .do-padding {
        padding: 1% 0px 0px 1%;
    }
    .profile-page .no-padd {
        padding: 3% 0px 0px 1%;
    }
    .profile-page .add-padd {
        padding: 5% 0px 0px 2%;
    }
    .profile-page .pad-27 {
        padding-left: 0px;
    }
    .search-result-page .no-pad,
    .connection-container-page .no-pad,
    .connection-container-page .collaborators .no-pad,
    .profile-page .no-pad,
    .goal-detail-page .no-pad,
    .collaborators .no-pad,
    .testimonials .no-pad,
    .account-setting-page .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .connection-container-page h2 {
        font-size: 20px;
        margin: 0px;
        font-weight: 100;
    }
    .search-result-page .no-pad-btm {
        padding: 0px 0px 5px 0px;
    }
    .search-result-page .checkbox label {
        font-size: 10px;
    }
    .hide_for_smallmobile {
        display: none !important;
    }
    .goal-dashboard-page img {
        image-rendering: unset;
    }
    .goal-dimensions .dash-panel .title {
        font-size: 12px;
        margin-top: 0px;
    }
    .goal-dimensions .dash-panel .subtitle {
        font-size: 11px;
        margin-bottom: 5px;
    }
    .goal-dimensions .card-plus-ic {
        font-size: 10px;
    }
    .goal-dimensions .dash-panel .inprogress span,
    .goal-dimensions .dash-panel .complete span {
        font-size: 11px;
    }
    .goal-dimensions .dash-panel .inprogress,
    .goal-dimensions .dash-panel .complete {
        font-size: 11px;
    }
    .goal-dimensions .imagefit {
        height: 115px;
    }
    .goal-dimensions .mar-canvas {
        display: inline-block;
        margin-top: 1px;
        margin-left: 8px;
    }
    .goal-dimensions .tabMenu {
        margin-left: 12px;
        margin-right: 4px;
    }
    .goal-dimensions .nameWidth
    {
        max-width: 126px;
    }
    .goal-dimensions .panel-area {
        padding: 4px 0px 0px 7px;
    }
    .goal-dimensions .div-area {
        min-height: 105px;
    }
    .goal-dashboard-page .top-pad {
        padding-top: 0px;
    }
    .goal-dashboard-page .card-btn-width {
        margin-top: -14px;
    }
    .goal-dashboard-page .pos-abs {
        font-size: 7px;
        width: 10px;
        height: 10px;
    }
    .goal-dashboard-page .card-title {
        font-size: 12px;
        margin-bottom: 2px;
        cursor: pointer;
        margin-top: 0px;
    }
    .goal-dashboard-page .card-description {
        font-size: 9px;
        margin-top: -2px;
    }
    .goal-dashboard-page .destime {
        font-size: 9px;
        margin-top: -6px;
        padding-top :5px;
    }
    .goal-dashboard-page .card-mar-top {
        padding: 2px;
        margin-top: 7px;
        margin-bottom: 4px;
    }

    .trim-info {
        max-width: 130px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*line-height: 15px;*/
    }

    .trim-info-name {
        max-width: 170px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*line-height: 15px;*/
    }

    .body {
        font-size: 10px;
    }
    .tabMenu {
        margin-left: 12px;
        margin-right: 12px;
    }
    .canvas-margin {
        display: inline-block;
        margin-right: 1px;
        margin-top: 1px;
    }
    .goal-dashboard-page .img-top-radius {
        cursor: pointer;
        height: 120px;
        width: 100%
    }
    .goal-dashboard-page .card-pad-new {
        padding: 0px 1px 1px 1px;
        font-size: 10px;
    }
    .goal-dashboard-page .card-plus-ic {
        padding: 3px 3px 0px 0px;
        font-size: 10px;
    }
    .goal-dashboard-page .card-btn-width {
        font-size: 9px;
        margin-bottom: 6px;
        padding: 10px 10px 10px 6px;
    }
    .goal-dashboard-page .card-pad-new b,
    .goal-dashboard-page .card-pad-new strong {
        font-weight: bold;
        font-size: 10px;
    }
    .goal-dashboard-page .font_size {
        margin: -4px 2px -4px 0px;
    }
    .goal-dashboard-page .font_size b,
    .goal-dashboard-page .font_size strong {
        font-weight: bold;
        font-size: 10px;
    }
    .goal-dashboard-page .caption-inside-row .imgicon {
        height: 15px;
        width: 15px;
    }

    .goal-dashboard-page .caption-inside-row .imgicon2 {
        height: 15px;
        width: 40px;
    }
    .goal-dashboard-page .card-bullet-01 {
        width: 10px;
        height: 10px;
        background-color: #f3dc5c;
        border-radius: 1px;
        margin-right: 5px;
    }
    .goal-dashboard-page .card-bullet-02 {
        width: 10px;
        height: 10px;
        background-color: #88e45b;
        border-radius: 1px;
        margin-right: 5px;
    }
    .goal-dashboard-page .card-bullet-04 {
        width: 10px;
        height: 10px;
        background-color: #dbe8f0;
        border-radius: 1px;
        margin-right: 5px;
    }
    .goal-dashboard-page .price-txt {
        font-size: 10px;
        color: #303752;
        margin-top: -9px;
    }
    .public-profile-page .dropdown {
        width: 148px;
    }
    .dimension-page .avatar-title {
        padding-left: 40px;
        padding-right: 0px;
    }

    .dimension-page .add-pad {
        padding: 2px 2px 2px 1px;
    }
    .main-post .editable-wrap .editable-controls>input {
        width: 143%;
    }
    .collaborators .sizeimg {
        width: 15px;
        padding: 0px 2px 0px 2px;
    }
    .collaborators .sizeimg10 {
        width: 10px;
        margin-top: -36px;
        margin-left: 17px;
    }
    .goal-detail-page .request-ul ul li {
        padding: 0px 2px;
    }
    .notifications .list-group-contacts .list-group-item img {
        margin-right: 2px;
    }
    .goal-detail-page .post-title {
        font-size: 10px !important;
    }
    .thumbnail .caption-text {

          top: 17px !important;

      }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-fixed-bottom .dropdown-menu1:before {

        left: 48% !important;
    }

    .testimonials .fontsize {
        font-size: 16px;
        margin-top: 10px;
    }
    .account-setting-page .lable-color,
    .account-setting-page .form-control {
        font-size: 10px;
    }
    .hide_for_bigmobile {
        display: none !important;
    }
    .collaborators .sizeimg10 {
        padding: 0px 5px 0px 5px;
        margin-top: -36px;
        margin-left: 25px;
    }
    .collaborators .no-pad {
        padding: 0px 0px 0px 0px;
    }
    .collaborators .sizeimg {
        padding: 0px 5px 0px 5px;
    }
    .main-post .editable-wrap .editable-controls>input {
        width: 205%;
    }
    .profile-page .no-padd,
    .profile-page .add-padd {
        padding: 2% 0px 0px 5%;
    }
    .profile-page .do-padding {
        padding: 2% 0px 0px 5%;
    }
    .profile-page .pad-27 {
        padding-left: 12px;
    }
    .dimension-page .avatar-title {
        padding-left: 70px;
        padding-right: 0px;
    }
}


/* MEDIA QUERY START FOR RESPONSIVE DESIGN */

@media only screen and (max-width:580px) and (min-width:480px) {
    .navbar-fixed-bottom .nav-note {
        position: absolute;
        top: 2px;
        right: 13px;
        height: 17px;
        width: 25px;
        border-radius: 2px;
        border: 1px solid #e39c12;
        text-align: center;
        padding-top: 0px;
        line-height: 14px;
    }
}

@media only screen and (max-height:600px) and (min-height:450px)  {
    .navbar-fixed-bottom .dropdown-notifications .dropdown-container .dropdown-menu {
        height:220px;
    }


}
@media only screen and (max-height:450px)  {
    .navbar-fixed-bottom .dropdown-notifications .dropdown-container .dropdown-menu {
        height:180px;
    }
}
/* MEDIA QUERY END FOR RESPONSIVE DESIGN */
