
/*Pricing*/

.left-tile
{
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 5%;
    margin-top: 10%;
    height: 600px;
    float: left;
    background-image:url(/content/images/pricingImages/left.png);
    background-repeat:no-repeat;
    background-size: 100%;
    z-index: 10;
}

.blue
{
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 5%;
    margin-top: 10%;
    height: 600px;
    float: left;
    background-image:url(/content/images/pricingImages/blue.png);
    background-repeat:no-repeat;
    background-size: 100%;
    color: #fff;
    z-index: 10;
}

.orange
{
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 5%;
    margin-top: 10%;
    height: 600px;
    float: left;
    background-image:url(/content/images/pricingImages/orange.png);
    background-repeat:no-repeat;
    background-size: 100%;
    color: #fff;
    z-index: 10;
}

.right-tile
{
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom: 5%;
    margin-top: 10%;
    height: 600px;
    float: left;
    background-image:url(/content/images/pricingImages/right.png);
    background-repeat:no-repeat;
    background-size: 100%;
    z-index: 10;
}

.btn-custom
{
    background-color: #fff;
    color: #3c89db;
}

.btn-custom1
{
    background-color: #fff;
    color: #f34753;
}

.customrate{
font-size: 16px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media   screen and (max-width: 360px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }

.left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
}

@media screen and (max-width: 360px) and (orientation: landscape){}

@media   screen and (min-width: 361px) and (max-width: 480px) {
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }

    .left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
}

@media   screen and (min-width: 361px) and (max-width: 480px) and (orientation: landscape){}

@media  screen and (min-width: 481px) and (max-width: 599px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;
    }
    .MLG-col-right{
        margin-top: 0em;
    }
    .left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
}

@media  screen and (min-width: 481px) and (max-width: 599px) and (orientation: landscape){}

@media  screen and  (min-width: 600px) and (max-width: 767px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    .MLG-col-right{
        margin-top: 0em;
    }
    .left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
}

@media  screen and  (min-width: 600px) and (max-width: 767px) and (orientation: landscape){}

@media  screen and  (min-width: 768px) and (max-width: 959px){
    .BYD-sub-heading,.MLG-sub-heading{
        font-size: 15px;
        line-height: 1em;
        width: 100%;

    }
    #main-navigation ul.navbar-nav{
        width: 60%;
    }
    .MLG-col-right{
        margin-top: 0em;
    }

.left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }

}

@media  screen and  (min-width: 768px) and (max-width: 959px) and (orientation: landscape){}

@media  screen and  (min-width: 960px) and (max-width: 1199px){
    #main-navigation ul.navbar-nav{
        width: 60%;
    }

    .left-tile  {
    display: none;
}

.right-tile {
    display: none;
}
    .blue
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
    .orange
    {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 600px;
    }
}

@media  screen and  (min-width: 960px) and (max-width: 1199px) and (orientation: landscape){}

@media  only screen  and (min-width : 1200px){}

@media  only screen  and (min-width : 1200px) and (orientation: landscape) {}